Repository SerbiaStrong-220/space-station-14, pull requests merged in 2023-12, with the labels that each got.

#547 Fix game start
  Tools/package_server_build.py
Labels: No C#

#548 Новые голоса TTS
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#, Status: Needs Review

#549 Ребаланс и апдейт ивентовых вещей
  Resources/Prototypes/SS220/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/CustomItems.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/Jobs.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsERT.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsUssp.yml
Labels: No C#

#554 Хот фикс ивентового барахла
  Resources/Prototypes/SS220/Shitspawn/Ebent/Jobs.yml
Labels: No C#

#551 Nuclear reb
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: No C#

#561 Временное добавление ТК для ЯО
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
Labels: No C#

#556 New suffixes for shitspawn
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/cult.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
Labels: Changes: Localization, No C#

#564 antag_fix
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
Labels: No C#

#552 Syndie thing rename 2, missing translates
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/wintercoats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/AnomalyCore.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chapel/bibles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/emag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jaws_of_life.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
Labels: Changes: Localization, No C#

#569 Monkey ID Card fix
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/SS220/InventoryTemplates/Animals/monkey_inventory_template.yml
Labels: No C#

#571 Акцент фелинидов возможность убрать
  Resources/Prototypes/Traits/neutral.yml
Labels: No C#

#568 Admin "Add objective" button fix
  Content.Client/Administration/UI/CustomControls/UICommandButton.cs
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/AntagonistsWindow.xaml
  Content.Client/SS220/Administration/UI/CustomControls/AntagonistsListControl.xaml
  Content.Client/SS220/Administration/UI/CustomControls/AntagonistsListControl.xaml.cs
  Content.Client/SS220/Administration/UI/Tabs/AdminTab/AddObjectiveWindow.xaml
  Content.Client/SS220/Administration/UI/Tabs/AdminTab/AddObjectiveWindow.xaml.cs
  Content.Client/SS220/Administration/UI/Tabs/AdminTab/AntagonistsWindow.xaml
  Content.Client/SS220/Administration/UI/Tabs/AdminTab/AntagonistsWindow.xaml.cs
  Resources/Locale/en-US/ss220/administration/ui/add-objective-window.ftl
  Resources/Locale/ru-RU/ss220/administration/ui/add-objective-window.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#573 mshield_fix
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: No C#

#555 Smart fridge
  Content.Client/SS220/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/SS220/SmartFridge/SmartFridgeSystem.cs
  Content.Client/SS220/SmartFridge/UI/SmartFridgeMenu.xaml
  Content.Client/SS220/SmartFridge/UI/SmartFridgeMenu.xaml.cs
  Content.Server/SS220/SmartFridge/SmartFridgeSystem.cs
  Content.Shared/SS220/SmartFridge/SharedSmartFridgeSystem.cs
  Content.Shared/SS220/SmartFridge/SmartFridgeComponent.cs
  Resources/Locale/ru-RU/ss220/smartftidge.ftl
  Resources/Prototypes/SS220/Entities/Structures/Machines/powered_storage.yml
  Resources/migration.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#577 Jaws of life tile prying
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
Labels: No C#

#583 Zombifyable arachnids
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
Labels: No C#

#570 Lobbying bundle gets dressings & MORE FAKE MONEY
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/space_cash.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/misk/fakemoney.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/SpaceCashFake.yml
Labels: Changes: Localization, No C#

#586 Anomaly scanner able to scan anyEntity
  Content.Server/Anomaly/AnomalySystem.Scanner.cs
  Resources/Locale/ru-RU/anomaly/anomaly.ftl
Labels: Changes: Localization

#581 insulated gloves and tranquilizers
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: No C#

#574 Реворк системы передачи предметов между игроками
  Content.Server/SS220/ItemOfferVerb/Components/ItemReceiverComponent.cs
  Content.Server/SS220/ItemOfferVerb/Systems/ItemOfferAlertClicked.cs
  Content.Server/SS220/ItemOfferVerb/Systems/ItemOfferSystem.cs
  Content.Server/SS220/VerbHandTransfer/TransferSystem.cs
  Content.Shared/Alert/AlertType.cs
  Resources/Locale/en-US/ss220/transfering.ftl
  Resources/Locale/ru-RU/ss220/transfering.ftl
  Resources/Prototypes/SS220/ItemOffer/alert.yml
  Resources/Textures/SS220/Alerts/ItemOfferAlarm.rsi/meta.json
  Resources/Textures/SS220/Alerts/ItemOfferAlarm.rsi/mrrroew.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#589 New TTS Voices
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#591 Debug Access Configurator for mapping
  Resources/Prototypes/SS220/Entities/Debugging/access_configurator_debug.yml
  Resources/Prototypes/SS220/Entities/Debugging/id_card_debug.yml
  Resources/Textures/SS220/Debugging/debug_access_configurator.rsi/equipped-BELT.png
  Resources/Textures/SS220/Debugging/debug_access_configurator.rsi/icon.png
  Resources/Textures/SS220/Debugging/debug_access_configurator.rsi/inhand-left.png
  Resources/Textures/SS220/Debugging/debug_access_configurator.rsi/inhand-right.png
  Resources/Textures/SS220/Debugging/debug_access_configurator.rsi/meta.json
  Resources/Textures/SS220/Debugging/debug_id_card.rsi/debug-inhand-left.png
  Resources/Textures/SS220/Debugging/debug_id_card.rsi/debug-inhand-right.png
  Resources/Textures/SS220/Debugging/debug_id_card.rsi/debug.png
  Resources/Textures/SS220/Debugging/debug_id_card.rsi/meta.json
Labels: Changes: Sprites, No C#

#604 Frankenstein v k0.4
  Resources/Maps/ss220-box.yml
  Resources/Textures/SS220/ViewableMaps/Frankenstein.png
Labels: Changes: Map, No C#

#605 taserback
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/migration.yml
Labels: No C#

#584 Карта Marathon под SS220 + Убраны неиграбельные карты Ishimura, Bagel
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/ss220_marathon.yml
  Resources/Prototypes/SS220/Maps/Pools/default.yml
  Resources/Prototypes/SS220/Maps/marathon220.yml
  Resources/Textures/SS220/ViewableMaps/220Marathon.png
Labels: Changes: Map

#608 Crossbow size fix
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/crossbow.yml
Labels: No C#

#606 Небольшие фиксы
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/SS220/InventoryTemplates/Animals/monkey_inventory_template.yml
Labels: No C#

#607 Add new tile crafts
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Recipes/Crafting/tiles.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/tiles.yml
  Resources/Prototypes/SS220/Recipes/Construction/Structures/tiles.yml
Labels: No C#

#601 Text fixing 2
  Resources/Locale/en-US/armor/armor-examine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/toolboxes.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/decoration/flora.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/pai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/toolbox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Datasets/Names/atv.yml
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/SS220/Entities/Objects/Vehicles/paramedic-atv.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#595 Shapochki
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/SS220/InventoryTemplates/Animals/ian_inventory_template.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Hats/beret_cmo.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/beret_cmo.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/beret_engineering.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/beret_engineering.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/beret_hos.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/beret_hos.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/beret_security.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/capcap.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/captain.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/captain.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/casa.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/casa.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/centcom.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/centcom.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/comcap.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/comcap.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/hopcap.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/hopcap.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/ushanka.rsi/equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hats/ushanka.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/ushanka.rsi/up-equipped-HELMET-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/black.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/black.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/blue.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/blue.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/brown.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/brown.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/centcom.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/centcom.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/green.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/green.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/orange.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/orange.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/purple.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/purple.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/red.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/red.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/syndiegreen.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/syndiegreen.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/zebra.rsi/equipped-NECK-dog.png
  Resources/Textures/Clothing/Neck/Scarfs/zebra.rsi/meta.json
Labels: Changes: Sprites, No C#

#614 Helmet fix
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: No C#

#623 gamma
  Resources/Locale/ru-RU/station-events/events/cargo-gifts.ftl
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
Labels: Changes: Localization, No C#

#613 Добавление питомца для Агента Внутренних Дел (Прошлый пулл был совмещен с предыдущими пулами по моей ошибке)
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss220/mobs/ghost-role-pets.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/SS220/AutoPetGhostRole/ghost_role_pet_spawner.yml
  Resources/Prototypes/SS220/AutoPetGhostRole/ghost_role_pets.yml
Labels: Changes: Localization, No C#

#619 Power Unit Identificator
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/SS220/name_identifier_groups.yml
Labels: No C#

#620 Bring back delta shuttle
  Resources/Maps/Shuttles/emergency_delta220.yml
  Resources/Prototypes/SS220/Maps/delta.yml
Labels: No C#

#625 Реворк нового ящика карго
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
Labels: No C#

#626 Починил работу игрушечных+Владовских энергомечей
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/e-hammer.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/e-sickle.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/CustomItems.yml
Labels: No C#
