Repository SerbiaStrong-220/space-station-14, pull requests merged in 2023-10, with the labels that each got.

#383 fix HoP play time requirements
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: No C#

#382 Дополнительные замены пиратскому акценту
  Resources/Locale/ru-RU/accent/pirate.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: Localization, No C#

#384 Picture viewer fix
  Content.Client/SS220/PictureViewer/PictureViewer.xaml.cs
  Content.Client/SS220/ViewableStationMap/UI/ViewableStationMapWindow.xaml.cs
Labels: Changes: UI

#375 новая раса Фелинидов [SS220]
  Resources/Audio/Voice/Felinid/attributions.yml
  Resources/Audio/Voice/Felinid/cat_growl1.ogg
  Resources/Audio/Voice/Felinid/cat_hiss1.ogg
  Resources/Audio/Voice/Felinid/cat_hiss2.ogg
  Resources/Audio/Voice/Felinid/cat_meow1.ogg
  Resources/Audio/Voice/Felinid/cat_meow2.ogg
  Resources/Audio/Voice/Felinid/cat_meow3.ogg
  Resources/Audio/Voice/Felinid/cat_mew1.ogg
  Resources/Audio/Voice/Felinid/cat_mew2.ogg
  Resources/Audio/Voice/Felinid/cat_purr1.ogg
  Resources/Audio/Voice/Felinid/cat_scream1.ogg
  Resources/Audio/Voice/Felinid/cat_scream2.ogg
  Resources/Audio/Voice/Felinid/cat_scream3.ogg
  Resources/Audio/Voice/Felinid/cat_wilhelm.ogg
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
  Resources/Prototypes/SS220/spo9k/Entities/Body/Prototypes/felinid.yml
  Resources/Prototypes/SS220/spo9k/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/SS220/spo9k/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/SS220/spo9k/SoundCollections/felinid.yml
  Resources/Prototypes/SS220/spo9k/Species/felinid.yml
  Resources/Prototypes/SS220/spo9k/Voice/speech_emote_sounds.yml
  Resources/Prototypes/SS220/spo9k/Voice/speech_emotes.yml
Labels: No C#

#391 Upstream merge 31
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/Temperature/Components/ContainerTemperatureDamageThresholdsComponent.cs
  Content.Server/Temperature/Components/EntityHeaterComponent.cs
  Content.Server/Temperature/Components/TemperatureComponent.cs
  Content.Server/Temperature/Systems/EntityHeaterSystem.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/Doors/Systems/SharedDoorBoltSystem.cs
  Content.Shared/Sericulture/SericultureComponent.cs
  Content.Shared/Temperature/SharedEntityHeater.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Locale/en-US/temperature/entity-heater.ftl
  Resources/Maps/cluster.yml
  Resources/Maps/kettle.yml
  Resources/Maps/omega.yml
  Resources/Maps/packed.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Structures/Machines/grill.yml
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_kobold_ears.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/Structures/Machines/electric_grill.rsi/high.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/icon.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/low.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/medium.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: Localization

#392 Frankenstein update
  Resources/Maps/ss220-box.yml
Labels: Changes: Map, No C#

#393 Убрал пиво из акцента дворфов
  Resources/Locale/ru-RU/accent/dwarf.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: Localization, No C#

#394 TTS rework
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/SS220/AnnounceTTS/AnnounceTTSSystem.cs
  Content.Client/SS220/TTS/Commands/TtsQueueResetCommand.cs
  Content.Client/SS220/TTS/HumanoidProfileEditor.TTS.cs
  Content.Client/SS220/TTS/TTSSystem.Announce.cs
  Content.Client/SS220/TTS/TTSSystem.cs
  Content.Client/VoiceMask/VoiceMaskNameChangeWindow.xaml.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/SS220/TTS/Commands/TtsQueueResetCommand.cs
  Content.Server/SS220/TTS/TTSManager.cs
  Content.Server/SS220/TTS/TTSSystem.Commands.cs
  Content.Server/SS220/TTS/TTSSystem.SSML.cs
  Content.Server/SS220/TTS/TTSSystem.Sanitize.cs
  Content.Server/SS220/TTS/TTSSystem.cs
  Content.Server/SS220/TTS/VoiceMaskSystem.TTS.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/SS220/TTS/Commands/SharedCommandEvents.cs
  Content.Shared/SS220/TTS/PlayTTSEvent.cs
  Content.Shared/SS220/TTS/RequestGlobalTTSEvent.cs
  Content.Shared/SS220/TTS/SharedVoiceMaskSystem.cs
  Content.Shared/SS220/TTS/TTSComponent.cs
  Content.Shared/SS220/TTS/TTSVoicePrototype.cs
Labels: Changes: UI

#395 glorfcode translation
  Resources/Locale/ru-RU/damage/damage-force-say.ftl
Labels: Changes: Localization, No C#

#399 Бочка с пивом
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Textures/SS220/Structures/Storage/Tanks/barrel.rsi/barrel.png
  Resources/Textures/SS220/Structures/Storage/Tanks/barrel.rsi/meta.json
Labels: Changes: Sprites, No C#

#400 Фикс акцента дворфов 2
  Resources/Locale/ru-RU/accent/dwarf.ftl
Labels: Changes: Localization, No C#

#401 Деревянный ящик
  Resources/Prototypes/SS220/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/storage/cratewood.yml
  Resources/Prototypes/SS220/Recipes/Crafting/crates.yml
  Resources/Textures/SS220/Structures/Storage/Crates/wood_crate.rsi/base.png
  Resources/Textures/SS220/Structures/Storage/Crates/wood_crate.rsi/closed.png
  Resources/Textures/SS220/Structures/Storage/Crates/wood_crate.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/Crates/wood_crate.rsi/open.png
Labels: Changes: Sprites, No C#

#404 Note severity loc change
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/ServerInfo/Guidebook/Engineering/NetworkConfigurator.xml
Labels: Changes: UI, Changes: Localization

#406 Фикс бочки
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Tanks/tanks.yml
Labels: No C#

#405 Новые уши для расы Фелинидов
  Resources/Prototypes/SS220/Entities/Mobs/Customization/Markings/cat_LinaSun.yml
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_big_inner.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_big_outer.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_food_inner.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_food_outer.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_nyshka_inner.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_nyshka_outer.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_pirsing_inner.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_pirsing_outer.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_vini_inner.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/ears_vini_outer.png
  Resources/Textures/SS220/Mobs/Customization/felinid_parts.rsi/meta.json
Labels: Changes: Sprites, No C#

#410 Возможность строительства гермозатвора
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/blastdoor.yml
  Resources/Prototypes/SS220/Recipes/Construction/Structures/blastdoor.yml
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/assembly.png
  Resources/Textures/Structures/Doors/Shutters/blastdoor.rsi/meta.json
Labels: Changes: Sprites, No C#

#408 Переработка аплинка
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#415 Frankenstein update
  Resources/Maps/ss220-box.yml
Labels: Changes: Map, No C#

#416 Cart system
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/SS220/Cart/CartAttachDoAfterEvent.cs
  Content.Shared/SS220/Cart/CartAttachEvent.cs
  Content.Shared/SS220/Cart/CartDeattachDoAfterEvent.cs
  Content.Shared/SS220/Cart/CartDeattachEvent.cs
  Content.Shared/SS220/Cart/CartPullerSystem.cs
  Content.Shared/SS220/Cart/CartSystem.cs
  Content.Shared/SS220/Cart/Components/CartComponent.cs
  Content.Shared/SS220/Cart/Components/CartPullerComponent.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/ss220/verbs/verb-system.ftl
  Resources/Locale/ru-RU/ss220/verbs/verb-system.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_structures.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Kitchen/foodcarts.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/wireless_surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: Changes: Localization

#417 Помидор-убийца
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/Botany/Systems/MutationSystem.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/SS220/Body/Organs/tomatokillers.yml
  Resources/Prototypes/SS220/Body/Prototypes/tomatokillers.yml
  Resources/Prototypes/SS220/Chemistry/metabolizer_types.yml
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/tomatokiller.yml
  Resources/Textures/SS220/Mobs/Animals/tomato_killer.rsi/meta.json
  Resources/Textures/SS220/Mobs/Animals/tomato_killer.rsi/mobdead.png
  Resources/Textures/SS220/Mobs/Animals/tomato_killer.rsi/stomach.png
  Resources/Textures/SS220/Mobs/Animals/tomato_killer.rsi/tomatokiller.png
Labels: Changes: Sprites

#420 Remove revs and adjust weights
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#422 hot fix
  Resources/Prototypes/SS220/ReagentInjector/reagents_capsule.yml
  Resources/Prototypes/SS220/ReagentInjector/unical_reagents.yml
Labels: No C#

#424 Ребаланс снаряжения СБ
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#425 Озвучка эмоций для фелинидов
  Resources/Audio/Voice/Human/female_cough_1.ogg
  Resources/Audio/Voice/Human/female_cough_2.ogg
  Resources/Prototypes/SS220/spo9k/Voice/speech_emote_sounds.yml
Labels: No C#

#428 Убрать эту чертову мышь с дев карты! :xulypizdish:
  Resources/Maps/Test/dev_map.yml
Labels: No C#

#434 Corvax cherry pick 20
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/advertisements/vending/curadrobe.ftl
  Resources/Locale/ru-RU/botany/components/seed-component.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/ru-RU/hands/hands-system.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/slime.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/mobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/asteroidcrab.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/crystal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/elemental.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/human.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/baked/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/containers/tin.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pinpointer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/vending_machines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/anomalies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/signs/signs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/xenoarchaeology/artifact-hints.ftl
Labels: Changes: Localization

#427 Синдром туретта
  Content.Server/SS220/TouretteSyndrome/TouretteAccentComponent.cs
  Content.Server/SS220/TouretteSyndrome/TouretteAccentSystem.cs
  Content.Shared/SS220/TouretteSyndrome/TouretteCollectionPrototype.cs
  Resources/Locale/ru-RU/ss220/accent/TouretteAccent.ftl
  Resources/Locale/ru-RU/ss220/traits.ftl
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_station/medical/med_rep_psych_tourette.xml
  Resources/Prototypes/SS220/TouretteCollection/aggressive.yml
  Resources/Prototypes/SS220/TouretteCollection/confusing.yml
  Resources/Prototypes/SS220/TouretteCollection/cute.yml
  Resources/Prototypes/SS220/TouretteCollection/second.yml
  Resources/Prototypes/SS220/TouretteCollection/squeaks.yml
  Resources/Prototypes/SS220/TouretteCollection/swearing.yml
  Resources/Prototypes/SS220/tourette_trait.yml
Labels: Changes: Localization, Status: Needs Review

#440 Brig timer description
  Content.Client/MachineLinking/UI/SignalTimerBoundUserInterface.cs
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml.cs
  Content.Server/DeviceLinking/Components/SignalTimerComponent.cs
  Content.Server/DeviceLinking/Systems/SignalTimerSystem.cs
  Content.Shared/MachineLinking/SharedSignalTimerComponent.cs
  Resources/Locale/en-US/ss220/machine-linking/components/signal-timer-component.ftl
  Resources/Locale/ru-RU/ss220/machine-linking/components/signal-timer-component.ftl
Labels: Changes: UI, Changes: Localization

#446 Good soap textures
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/deluxe.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/gibs.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/nt.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/omega.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/soap.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/syndie.png
Labels: Changes: Sprites, No C#

#447 better quality logo
  Resources/Textures/Logo/logo-ru.png
Labels: No C#

#439 Сб апдате
  Resources/Locale/ru-RU/ss220/documents/pilot-briefing.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/SS220/Entities/pilot_goal.yml
  Resources/Prototypes/SS220/Roles/Jobs/security_pilot.yml
Labels: Changes: Localization, No C#

#453 debuf Tomato killer
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/tomatokiller.yml
Labels: No C#

#452 Ebaka
  Content.Client/DoAfter/DoAfterOverlay.cs
  Content.Client/DoAfter/DoAfterSystem.cs
  Content.Client/SS220/DarkReaper/DarkReaperSystem.cs
  Content.Server/SS220/DarkReaper/DarkReaperSystem.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/SS220/DarkReaper/DarkReaperActions.cs
  Content.Shared/SS220/DarkReaper/DarkReaperComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperRuneComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperRuneSharedSystem.cs
  Content.Shared/SS220/DarkReaper/DarkReaperSharedSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Resources/Audio/SS220/DarkReaper/jnec_dead.ogg
  Resources/Audio/SS220/DarkReaper/jnec_eat.ogg
  Resources/Audio/SS220/DarkReaper/jnec_gate_ambience.ogg
  Resources/Audio/SS220/DarkReaper/jnec_gate_close.ogg
  Resources/Audio/SS220/DarkReaper/jnec_gate_open.ogg
  Resources/Audio/SS220/DarkReaper/jnec_levelup.ogg
  Resources/Audio/SS220/DarkReaper/jnec_rolf.ogg
  Resources/Audio/SS220/DarkReaper/jnec_scrm.ogg
  Resources/Audio/SS220/DarkReaper/jnec_start.ogg
  Resources/Audio/SS220/DarkReaper/jnec_strike1.ogg
  Resources/Audio/SS220/DarkReaper/jnec_strike1_hit.ogg
  Resources/Audio/SS220/DarkReaper/jnec_strike2.ogg
  Resources/Audio/SS220/DarkReaper/jnec_strike2_hit.ogg
  Resources/Audio/SS220/DarkReaper/jnec_strike3.ogg
  Resources/Audio/SS220/DarkReaper/jnec_strike3_hit.ogg
  Resources/Audio/SS220/DarkReaper/license.txt
  Resources/Audio/SS220/DarkReaper/rofl1t.ogg
  Resources/Audio/SS220/DarkReaper/rofl2t.ogg
  Resources/Audio/SS220/DarkReaper/rofl3t.ogg
  Resources/Prototypes/SS220/DemonRofler/actions.yml
  Resources/Prototypes/SS220/DemonRofler/alert.yml
  Resources/Prototypes/SS220/DemonRofler/mob.yml
  Resources/Prototypes/SS220/DemonRofler/portal.yml
  Resources/Prototypes/SS220/DemonRofler/rune.yml
  Resources/Prototypes/SS220/GameRules/midround_antags.yml
  Resources/Prototypes/SS220/SoundCollections/dark_reaper.yml
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/eyes_glow.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/eyes_solo.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/icon_jneceat.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/icon_jnecscream.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/jnec_s1.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/jnec_s2.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/jnec_s3.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/jnecexit.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/meta.json
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/rune.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_1-1.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_1-2.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_1-3.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_2-1.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_2-2.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_2-3.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_2-4.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_2-5.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_2-6.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_2-7.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/ds_2-8.png
  Resources/Textures/SS220/DemonRofler/deadscore.rsi/meta.json
Labels: Changes: Sprites

#458 Temporary disabling felinid
  Resources/Prototypes/SS220/spo9k/Species/felinid.yml
Labels: No C#

#456 Энергетические арбалеты
  Resources/Audio/SS220/Weapons/Guns/MagIn/attributions.yml
  Resources/Audio/SS220/Weapons/Guns/MagIn/draw_bow2.ogg
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss220/weapons/crossbow.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/crossbow.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/crossbow.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/crossbow.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/crossbow.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/crossbow.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/crossbow.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/crossbow.rsi/wielded-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/minicrossbow.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/minicrossbow.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/minicrossbow.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Crossbow/minicrossbow.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles.rsi/cbbolt.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#459 Ebaka 2
  Content.Client/SS220/DarkReaper/DarkReaperSystem.cs
  Content.Server/SS220/DarkReaper/DarkReaperMajorRuleComponent.cs
  Content.Server/SS220/DarkReaper/DarkReaperMajorRuleSystem.cs
  Content.Server/SS220/DarkReaper/DarkReaperSystem.cs
  Content.Shared/SS220/DarkReaper/DarkReaperActions.cs
  Content.Shared/SS220/DarkReaper/DarkReaperComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperRuneComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperRuneSharedSystem.cs
  Content.Shared/SS220/DarkReaper/DarkReaperSharedSystem.cs
  Resources/Locale/ru-RU/ss220/darkreaper.ftl
  Resources/Prototypes/SS220/Antags/DarkReaper.yml
  Resources/Prototypes/SS220/Decals/darkreaper.yml
  Resources/Prototypes/SS220/GameRules/midround_antags.yml
  Resources/Prototypes/SS220/game_presets.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/meta.json
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/randomgibs.png
Labels: Changes: Sprites, Changes: Localization

#448 Квадроцикл для парамедика
  Resources/Audio/SS220/Paramedic-atv/attributions.yml
  Resources/Audio/SS220/Paramedic-atv/weeoo1.ogg
  Resources/Locale/ru-RU/ss220/paramedic-atv.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/markings/Spawners/paramedic-atv.yml
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_paramedic_ATV.yml
  Resources/Prototypes/SS220/Catalog/Fills/paramedic-atv.yml
  Resources/Prototypes/SS220/Entities/Objects/Vehicles/paramedic-atv.yml
  Resources/Textures/SS220/Objects/Vehicles/paramedic_atv.rsi/keys.png
  Resources/Textures/SS220/Objects/Vehicles/paramedic_atv.rsi/meta.json
  Resources/Textures/SS220/Objects/Vehicles/paramedic_atv.rsi/vehicle.png
Labels: Changes: Sprites, Changes: Localization, No C#

#462 Изменения в аплинке 1/4
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#455 НТ забыло принять дерективу
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
Labels: No C#

#472 Corvax cherry pick 21
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/ui/admin-erase.ftl
  Resources/Locale/ru-RU/administration/ui/admin-menu-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/ame/components/ame-controller-component.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/cargo/qm-clipboard.ftl
  Resources/Locale/ru-RU/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/corvax/changelog/changelog-window.ftl
  Resources/Locale/ru-RU/corvax/speech/speech-chatsan.ftl
  Resources/Locale/ru-RU/darts/darts-popup.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/ru-RU/generic.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/machine/machine.ftl
  Resources/Locale/ru-RU/markings/reptilian.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/research/components/research-console-component.ftl
  Resources/Locale/ru-RU/shell.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/carp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/meals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/taco.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/igniter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/darts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/paper.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/security.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/ServerInfo/Guidebook/Science/Technologies.xml
  Resources/Textures/Interface/Alerts/human_alive.rsi/health0.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health1.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health2.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health3.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health4.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#473 Banner Retexture
  Resources/Textures/Structures/Decoration/banner.rsi/banner.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_cargo.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_engineering.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_medical.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_science.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_security.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_syndicate.png
  Resources/Textures/Structures/Decoration/banner.rsi/meta.json
Labels: Changes: Sprites, No C#

#474 Решаем проблемы с башкой
  Resources/Locale/ru-RU/ss220/reagents/meta/medicine.ftl
  Resources/Prototypes/SS220/Reagents/medicine.yml
  Resources/Prototypes/SS220/Recipes/Reactions/medicine.yml
Labels: Changes: Localization, No C#

#475 Ebaka v3
  Content.Shared/SS220/DarkReaper/DarkReaperComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperSharedSystem.cs
  Resources/Prototypes/SS220/DemonRofler/mob.yml
  Resources/Prototypes/SS220/GameRules/midround_antags.yml
  Resources/Prototypes/secret_weights.yml
Labels: Status: Needs Review

#476 Lizard hissing fix
  Resources/Audio/SS220/Emotes/lizard_hissing.ogg
  Resources/Audio/SS220/Emotes/lizardhissing/lizard_hissing_1.ogg
  Resources/Audio/SS220/Emotes/lizardhissing/lizard_hissing_2.ogg
  Resources/Audio/SS220/Emotes/lizardhissing/lizard_hissing_3.ogg
  Resources/Audio/SS220/Emotes/lizardhissing/lizard_hissing_4.ogg
  Resources/Prototypes/SS220/SoundCollections/emotes.yml
Labels: No C#, Status: Needs Review

#478 New nuke music
  Resources/Audio/SS220/StationEvents/attributions.yml
  Resources/Audio/SS220/StationEvents/broken.ogg
  Resources/Audio/SS220/StationEvents/ourclasstrial.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: No C#

#481 fix job selector
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

#482 Zippo Lighters
  Resources/Audio/SS220/Items/zippoclose.ogg
  Resources/Audio/SS220/Items/zippolight.ogg
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/tools/lighters.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/blueshield_lockers.yml
  Resources/Prototypes/SS220/SoundCollections/zippo_sounds.yml
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/lighter_flame.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/meta.json
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/off-inhand-left.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/off-inhand-right.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/on-inhand-left.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/on-inhand-right.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-1.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-2.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-3.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-4.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-5.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_detective.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_map.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_nanotrasen.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_shield.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_syndicate.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_syndicate_map.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_top.png
Labels: Changes: Sprites, Changes: Localization, No C#

#485 Ebent fixes
  Content.Client/SS220/AdmemeEvents/EventRoleIcons.cs
  Content.Shared/SS220/AdmemeEvents/EventRoleComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/e-hammer.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/e-sickle.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/Jobs.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsERT.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsUssp.yml
  Resources/Prototypes/SS220/StatusIcons/antag.yml
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/IOTCombatant.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/IOTCommand.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/IOTEngineerOfficer.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/IOTMedic.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/IOTMedicalOfficer.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/NTCombatant.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/NTEngineerOfficer.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/NTMedic.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/NTMedicalOfficer.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/NTSpecOpsOfficer.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/USSPCombatant.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/USSPEngineerOfficer.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/USSPMarshal.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/USSPMedic.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/USSPMedicalOfficer.png
  Resources/Textures/SS220/Interface/Misc/event-job-icons.rsi/meta.json
Labels: Changes: Sprites

#471 Пилот и прочее
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/PilotBeret.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/ArmorBobmer.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Mundir.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/OfficerMundir.yml
  Resources/Prototypes/SS220/Maps/delta.yml
  Resources/Prototypes/SS220/Roles/Jobs/security_pilot.yml
  Resources/Textures/SS220/Clothing/Head/Hats/beret_pilot.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_pilot.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_pilot.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_pilot.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_pilot.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_pilot.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/secbomber.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/secbomber.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/secbomber.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/secbomber.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/secbomber.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Mundir.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Mundir.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Mundir.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Mundir.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Mundir.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Mundir.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/OfficerMundir.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/OfficerMundir.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/OfficerMundir.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/OfficerMundir.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/OfficerMundir.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/OfficerMundir.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/podpil.png
  Resources/Textures/Structures/Storage/closet.rsi/podpil_door.png
  Resources/Textures/Structures/Storage/closet.rsi/podpil_open.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#487 GhostRole ban
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Resources/Locale/ru-RU/ss220/ghost-role-system.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/SS220/Roles/Jobs/ghost.yml
  Resources/Prototypes/SS220/Roles/play_time_trackers.yml
Labels: Changes: UI, Changes: Localization

#488 Убрал фамилию Ктулху из эгоистических побуждений
  Resources/Prototypes/Datasets/Names/arachnid_last.yml
Labels: No C#
