Repository SerbiaStrong-220/space-station-14, pull requests merged in 2023-07, with the labels that each got.

#95 Mech localisation update
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/mech.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mech_construction.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mecha_equipment.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mechs.ftl
Labels: Changes: Localization, No C#

#74 Ability to copy admin logs
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
Labels: Changes: UI, Status: Needs Review

#104 twitch friendly
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#103 cargo dolg is now here
  Content.Server/SS220/aw_cargodolg/CargoDolgCommand.cs
Labels: Status: Needs Review

#98 Added unlimited technologies to R&D
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
Labels: Status: Needs Review

#96 Diona Pacifist fix
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
Labels: No C#

#101 Настройка для выключения звука AHelp
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Changes: Localization

#111 Telescopichka
  Content.Server/SS220/SwitchableWeapon/SwitchableWeaponSystem.cs
  Content.Shared/SS220/SwitchableWeapon/SwitchableWeaponComponent.cs
  Resources/Audio/SS220/Weapons/telescopichka/attributions.yml
  Resources/Audio/SS220/Weapons/telescopichka/batonextend.ogg
  Resources/Audio/SS220/Weapons/telescopichka/bonk-sound-effect.ogg
  Resources/Locale/ru-RU/ss220/swichableweapon.ftl
  Resources/Locale/ru-RU/ss220/weapons/telescopichka.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/telescopichka.yml
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/off-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/off-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/on-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/on-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/telescope_off.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/telescope_on.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#41 Some objects can be placed on placeable surfaces
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Placeable/PlaceableSurfaceSystem.cs
  Content.Shared/Placeable/UnPlaceableComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: bug, Status: Needs Review

#91 Fixed computer ui component RU translation
  Resources/Locale/ru-RU/components/base-computer-ui-component.ftl
Labels: Changes: Localization, No C#, Status: Needs Review

#63 Настройки для звуков AHelp.
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#113 Extend logs
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Resources/Locale/en-US/administration/ui/admin-logs.ftl
  Resources/Locale/ru-RU/administration/ui/admin-logs.ftl
Labels: Changes: UI, Changes: Localization

#89 Возможность складывать вещи в вендоматы
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Status: Needs Review

#115 Removes the captain's card and pointer from the locker.
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#118 Отображение должности в каналах на рации
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
Labels: Changes: Localization

#117 Fixed vending machine test fail
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#116 Added new telescopic baton sound
  Resources/Audio/SS220/Weapons/telescopichka/attributions.yml
  Resources/Audio/SS220/Weapons/telescopichka/woodhit.ogg
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/telescopichka.yml
  Resources/Prototypes/SS220/SoundCollections/baton.yml
Labels: No C#

#123 Fixed 2 test fails
  Content.Server/Explosion/EntitySystems/TriggerSystem.Proximity.cs
  Resources/Prototypes/Maps/core.yml
Labels: Changes: Map

#121 Military police
  Resources/Locale/en-US/ss220/prototypes/entities/clothing/head/MilitaryPolice/helmets.ftl
  Resources/Locale/en-US/ss220/prototypes/entities/clothing/outerclothing/MilitaryPolice/armor.ftl
  Resources/Locale/en-US/ss220/prototypes/entities/clothing/shose/MilitaryPolice/specific.ftl
  Resources/Locale/en-US/ss220/prototypes/entities/clothing/uniforms/MilitaryPolice/jumpsuits.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/head/MilitaryPolice/helmets.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/outerclothing/MilitaryPolice/armor.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/shoes/MilitaryPolice/specific.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/uniforms/MilitaryPolice/jumpsuits.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Head/MilitaryPolice/helmets.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/MilitaryPolice/armor.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/MilitaryPolice/specific.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/MilitaryPolice/jumpsuits.yml
  Resources/Textures/Clothing/Head/Helmets/mpolice.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/mpolice.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/mpolice.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/mpolice.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/mpolice.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/mpolice_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/mpolice_armor.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/mpolice_armor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/mpolice_armor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/mpolice_armor.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Specific/mboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Specific/mboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Specific/mboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Specific/mboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Specific/mboots.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mpolice.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mpolice.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mpolice.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mpolice.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/mpolice.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#131 laser slots fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#

#129 Readded IAA stamp texture
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-iaa.png
Labels: Changes: Sprites, No C#

#133 [ДО ДЕПЛОЯ ИНАЧЕ ПИЗДА] Revert "Banreason adminname"
  Content.Client/Administration/UI/Tabs/AdminTab/BanWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/BanWindow.xaml.cs
  Content.Server.Database/Migrations/Postgres/20230723015518_UpdateBans.Designer.cs
  Content.Server.Database/Migrations/Postgres/20230723015518_UpdateBans.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20230723015511_UpdateBans.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20230723015511_UpdateBans.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Database/ServerBanDef.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/ban-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/ban-window.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: Changes: UI, Changes: Localization

#134 Migrated old mining shuttle
  Resources/Maps/Shuttles/mining.yml
Labels: No C#

#137 Enable roundstart arachnids
  Resources/Prototypes/Species/arachnid.yml
Labels: No C#

#142 Update station-goal-component.ftl
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
Labels: Changes: Localization, No C#

#140 Added ghost role pet spawners, new animal accents and new pets
  Resources/Locale/ru-RU/ss220/accent/additionalAnimalAccents.ftl
  Resources/Locale/ru-RU/ss220/mobs/ghost-role-pets.ftl
  Resources/Locale/ru-RU/ss220/mobs/pet-parrots.ftl
  Resources/Locale/ru-RU/ss220/mobs/security-kangaroo.ftl
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/InventoryTemplates/kangaroo_inventory_template.yml
  Resources/Prototypes/SS220/Accents/additionalAnimalAccents.yml
  Resources/Prototypes/SS220/AutoPetGhostRole/ghost_role_pet_spawner.yml
  Resources/Prototypes/SS220/AutoPetGhostRole/ghost_role_pets.yml
  Resources/Prototypes/SS220/Mobs/AdditionalSpawners.yml
  Resources/Prototypes/SS220/Mobs/PetParrots.yml
  Resources/Prototypes/SS220/Mobs/SecurityKangaroo.yml
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/equipped-HAND-kangaroo.png
  Resources/Textures/Clothing/Hands/Gloves/combat.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/security.rsi/equipped-HELMET-kangaroo.png
  Resources/Textures/Clothing/Head/Helmets/security.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#143 Urgent box fixes
  Resources/Maps/box.yml
Labels: Changes: Map, No C#

#148 Corvax cherry pick 3
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/ru-RU/guidebook/guidebook.ftl
  Resources/Locale/ru-RU/implant/implant.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-supervisors.ftl
  Resources/Locale/ru-RU/mass-media/news-ui.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/pda/Ringer/ringer-component.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/fun/figurines.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/drinks/drinks_flasks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/briefcases.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_jar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/antimatter_part.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/gas_tanks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/cartridges/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/projectiles/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/ammunition/speedloaders/magnum.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/ame.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/pa/emitter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: Localization, No C#

#147 TTS queue reset commands
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Corvax/TTS/Commands/TtsQueueResetCommand.cs
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Server/Corvax/TTS/Commands/TtsQueueResetCommand.cs
  Content.Server/Corvax/TTS/TTSSystem.Commands.cs
  Content.Shared/Corvax/TTS/Commands/SharedCommandEvents.cs
  Resources/Locale/ru-RU/ss220/commands/tts-request-queue-reset.ftl
Labels: Changes: UI, Changes: Localization

#146 Small animal tweaks
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/SS220/Mobs/SecurityKangaroo.yml
Labels: No C#

#152 Added Vulpkanins
  Resources/Locale/en-US/ss220/markings/vulpkanin.ftl
  Resources/Locale/en-US/ss220/prototypes/body/mechanisms/vulpkanin.ftl
  Resources/Locale/en-US/ss220/prototypes/body/organs/vulpkanin.ftl
  Resources/Locale/en-US/ss220/prototypes/body/parts/vulpkanin.ftl
  Resources/Locale/en-US/ss220/prototypes/entities/mobs/player/vulpkanin.ftl
  Resources/Locale/en-US/ss220/prototypes/entities/mobs/species/vulpkanin.ftl
  Resources/Locale/en-US/ss220/species/species.ftl
  Resources/Locale/ru-RU/ss220/markings/vulpkanin.ftl
  Resources/Locale/ru-RU/ss220/prototypes/body/mechanisms/vulpkanin.ftl
  Resources/Locale/ru-RU/ss220/prototypes/body/organs/vulpkanin.ftl
  Resources/Locale/ru-RU/ss220/prototypes/body/parts/vulpkanin.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/mobs/player/vulpkanin.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/mobs/species/vulpkanin.ftl
  Resources/Locale/ru-RU/ss220/species/species.ftl
  Resources/Prototypes/SS220/Body/Organs/vulpkanin.yml
  Resources/Prototypes/SS220/Body/Parts/vulpkanin.yml
  Resources/Prototypes/SS220/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/SS220/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Prototypes/SS220/Entities/Mobs/Player/vulpkanin.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/SS220/Species/vulpkanin.yml
  Resources/Textures/SS220/Mobs/Customization/vulpkanin_parts.rsi/Vulpkanin_ears.png
  Resources/Textures/SS220/Mobs/Customization/vulpkanin_parts.rsi/Vulpkanin_tail.png
  Resources/Textures/SS220/Mobs/Customization/vulpkanin_parts.rsi/meta.json
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/full.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/head_f.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/head_m.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/l_arm.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/l_foot.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/l_hand.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/l_leg.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/meta.json
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/r_arm.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/r_foot.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/r_hand.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/r_leg.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/torso_f.png
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/torso_m.png
Labels: Changes: Sprites, Changes: Localization, No C#

#154 Fix chat filter
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Shared/Speech/SpeechComponent.cs
  Content.Shared/Speech/SpeechSystem.cs
Labels: Status: Needs Review

#156 Drone Fix
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#

#158 added USSP backpacks
  Resources/Prototypes/SS220/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/SS220/Clothing/Back/Backpacks/ussp.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/ussp.rsi/icon.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/ussp.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/ussp.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/ussp.rsi/meta.json
  Resources/Textures/SS220/Clothing/Back/Duffels/ussp_back.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Clothing/Back/Duffels/ussp_back.rsi/icon.png
  Resources/Textures/SS220/Clothing/Back/Duffels/ussp_back.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Back/Duffels/ussp_back.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Back/Duffels/ussp_back.rsi/meta.json
  Resources/Textures/SS220/Clothing/Back/Satchels/ussp_satchels/equipped-BACKPACK.png
  Resources/Textures/SS220/Clothing/Back/Satchels/ussp_satchels/icon.png
  Resources/Textures/SS220/Clothing/Back/Satchels/ussp_satchels/inhand-left.png
  Resources/Textures/SS220/Clothing/Back/Satchels/ussp_satchels/inhand-right.png
  Resources/Textures/SS220/Clothing/Back/Satchels/ussp_satchels/meta.json
Labels: Changes: Sprites, No C#
