Repository SerbiaStrong-220/space-station-14, pull requests merged in 2023-08, with the labels that each got.

#160 Added map pool
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/SS220/Maps/Pools/default.yml
  Resources/Prototypes/SS220/Maps/delta.yml
Labels: Changes: Map, No C#

#48 PDA: Messenger program system
  Content.Client/CartridgeLoader/Cartridges/Messenger/MessengerUi.cs
  Content.Client/CartridgeLoader/Cartridges/Messenger/MessengerUiChatItem.xaml
  Content.Client/CartridgeLoader/Cartridges/Messenger/MessengerUiChatItem.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/Messenger/MessengerUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/Messenger/MessengerUiFragment.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/Messenger/MessengerUiMessageItem.xaml
  Content.Client/CartridgeLoader/Cartridges/Messenger/MessengerUiMessageItem.xaml.cs
  Content.Server/CartridgeLoader/Cartridges/MessengerClientCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/MessengerClientCartridgeSystem.cs
  Content.Server/Messenger/MessengerServerComponent.cs
  Content.Server/Messenger/MessengerServerSystem.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/MessengerUiMessageEvent.cs
  Content.Shared/CartridgeLoader/Cartridges/MessengerUiMessageState.cs
  Content.Shared/Messenger/MessengerState.cs
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Locale/en-US/messenger/messenger-entity.ftl
  Resources/Locale/en-US/messenger/messenger-errors.ftl
  Resources/Locale/en-US/messenger/messenger-ui.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/messenger/messenger-entity.ftl
  Resources/Locale/ru-RU/messenger/messenger-errors.ftl
  Resources/Locale/ru-RU/messenger/messenger-ui.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/cartridges.ftl
  Resources/Prototypes/Device/devicenet_frequencies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Machines/messenger_server.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#126 Forked RSI validator to add our CLA and OFL
  .github/workflows/validate-rsis.yml
  Schemas/rsi.json
  Schemas/validate_rsis.py
Labels: No C#

#164 Added PDA message server to Box tcomms
  Resources/Maps/box.yml
Labels: Changes: Map, No C#

#166 Upstream merge 5
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.IntegrationTests/Tests/Toolshed/ToolshedTest.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Resources/Maps/bagel.yml
  Resources/Maps/infiltrator.yml
  Resources/Maps/origin.yml
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/panel.png
  Resources/engineCommandPerms.yml
Labels: Changes: Sprites, Changes: Map

#168 Now mentor can see admin chat
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Shared/Administration/AdminFlags.cs
Labels: Status: Needs Review

#170 Add ebent items
  Resources/Prototypes/SS220/Shitspawn/Ebent/CustomItems.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/Jobs.yml
  Resources/Prototypes/SS220/Shitspawn/SyndicateSegwaySpawn.yml
Labels: No C#

#169 Добавил возможность убирать случайные ивенты в игровых пресетах
  Content.Server/GameTicking/Presets/GamePresetPrototype.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Resources/Locale/en-US/station-events/station-event-system.ftl
  Resources/Locale/ru-RU/station-events/station-event-system.ftl
  Resources/Prototypes/game_presets.yml
Labels: Changes: Localization

#171 Allow NT in english filter
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
Labels: Status: Needs Review

#174 Fixed ebent items
  Resources/Locale/ru-RU/ss220/ebent-1/iron-squad.ftl
  Resources/Prototypes/SS220/Shitspawn/Ebent/CustomItems.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/Jobs.yml
Labels: Changes: Localization, No C#

#179 shitty mining shuttle with fans
  Resources/Maps/Shuttles/mining.yml
Labels: No C#

#184 official pickaxe
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/pickaxe.png
Labels: Changes: Sprites, No C#

#187 fix achat access
  Content.Server/Chat/Commands/AdminChatCommand.cs
Labels: Status: Needs Review

#188 now artifacts are good
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
Labels: Status: Needs Review

#192 Fixed delta shuttle
  Resources/Maps/Shuttles/emergency_delta.yml
Labels: No C#

#177 Передача предметов в руки другому персонажу (техническое задание)
  Content.Server/SS220/VerbHandTransfer/TransferSystem.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Hands/Components/HandHelpers.cs
  Resources/Locale/en-US/ss220/transfering.ftl
  Resources/Locale/ru-RU/ss220/transfering.ftl
Labels: Changes: Localization

#195 Developer features
  .gitignore
  runserver_ou.bat
Labels: No C#

#191 Added AdminGhost Actions for casting and removing GhostRoles from entities.
  Content.Client/SS220/GhostRoleCast/GhostRoleCastSystem.cs
  Content.Client/SS220/GhostRoleCast/GhostRoleCastUIController.cs
  Content.Client/SS220/GhostRoleCast/GhostRoleCastWindow.xaml
  Content.Client/SS220/GhostRoleCast/GhostRoleCastWindow.xaml.cs
  Content.Shared/SS220/GhostRoleCast/GhostRoleCastComponent.cs
  Resources/Locale/en-US/ss220/actions/GhostRoleCast.ftl
  Resources/Locale/ru-RU/ss220/actions/GhostRoleCast.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Textures/SS220/Interface/actions/GhostRoleCast.png
  Resources/Textures/SS220/Interface/actions/GhostRoleRemove.png
  Resources/Textures/SS220/Interface/actions/GhostRoleSettings.png
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#199 Removed 4 Senior-job roles from Box map.
  Resources/Prototypes/Corvax/Maps/avrite.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
Labels: Changes: Map, No C#

#202 CLA header fix 2
  Resources/Textures/SS220/Mobs/Customization/vulpkanin_parts.rsi/meta.json
  Resources/Textures/SS220/Mobs/Species/Vulpkanin/parts.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/toner_cartridge.rsi/meta.json
  Resources/Textures/SS220/Objects/Tools/pipe_painter.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/cryopodSSD.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/photocopier.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/ssdStorageConsole.rsi/meta.json
  Resources/Textures/SS220/small_skull.rsi/meta.json
Labels: No C#

#203 1984 kesha and largo ghost role
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/SS220/Mobs/PetParrots.yml
Labels: No C#

#209 Test fix
  Resources/migration.yml
Labels: No C#

#211 largo and anatoly now cant speak
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#213 Typing indicator hotfix
  Resources/Prototypes/typing_indicator.yml
Labels: No C#

#210 Remote server control
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/SS220/BackendApi/ControllerConsole.cs
  Content.Server/SS220/BackendApi/ServerControlController.cs
Labels: Status: Needs Review

#216 Corvax cherry pick 8
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Resources/Locale/ru-RU/actions/actions/borgs.ftl
  Resources/Locale/ru-RU/actions/actions/crit.ftl
  Resources/Locale/ru-RU/alerts/alerts.ftl
  Resources/Locale/ru-RU/borg/borg.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/construction/conditions/any-conditions.ftl
  Resources/Locale/ru-RU/devices/device-network.ftl
  Resources/Locale/ru-RU/emotes/emotes.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-nukeops-traitor.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/headset/headset-component.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/nuke/nuke-component.ftl
  Resources/Locale/ru-RU/power-cell/components/power-cell-component.ftl
  Resources/Locale/ru-RU/power/teg.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/robotics/mmi.ftl
  Resources/Locale/ru-RU/sensor-monitoring/sensor-monitoring.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/body/parts/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/base_borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/door_remote.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/mousetrap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/station_map.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mech_construction.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/mech/mechs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/defib.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healthanalyzer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/research/anomaly.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/endoskeleton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/mmi.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/cable_coils.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/stations/nanotrasen.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/teg.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Prototypes/radio_channels.yml
Labels: Changes: Localization

#217 Fix ritual chair deconstruction
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/ritualseat.yml
Labels: No C#

#221 head_antag
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: No C#

#224 anomaly_rad
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
Labels: No C#

#222 Yaoi features
  Content.Server/Communications/CommunicationConsoleUsed.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/SS220/WarFeatures/ConsoleNukeSystem.cs
  Content.Server/Shuttles/Events/ConsoleFTLAttemptEvent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/StationEvents/Events/LoneOpsSpawnRule.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/SS220/WarFeatures/ConsoleNukeComponent.cs
  Content.Shared/SS220/WarFeatures/LoneNukeOperativeComponent.cs
  Resources/Locale/ru-RU/ss220/nukeconsole.ftl
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: Localization, Status: Needs Review

#226 fix_combat
  Resources/Prototypes/Actions/types.yml
Labels: No C#

#228 flesh_fix
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
Labels: No C#

#194 Новые цели станции
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/ss220/paper.ftl
  Resources/Locale/ru-RU/ss220/station-goals/additional-goals.ftl
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_station/goal/goal_capsule.xml
  Resources/PhotocopierForms/nanotrasen_station/goal/goal_expedition.xml
  Resources/PhotocopierForms/nanotrasen_station/goal/goal_guests.xml
  Resources/PhotocopierForms/nanotrasen_station/goal/goal_simple.xml
  Resources/Prototypes/SS220/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/SS220/Objectives/goals.yml
  Resources/Textures/SS220/DepartmentIcons/goal.png
  Resources/Textures/SS220/Interface/Paper/nanotrasen_goal_form_header.png
Labels: Changes: Localization

#231 windows_rad
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
Labels: No C#

#235 remove some last names
  Resources/Prototypes/Datasets/Names/last_female.yml
  Resources/Prototypes/Datasets/Names/last_male.yml
Labels: No C#

#239 new backgrounds
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/deep-in-spiders.png
  Resources/Textures/SS220/LobbyScreens/deep-in-spiders.png.yml
  Resources/Textures/SS220/LobbyScreens/nude-hopla.jpg
  Resources/Textures/SS220/LobbyScreens/nude-hopla.jpg.yml
Labels: No C#

#237 Beerflavour
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
Labels: Changes: Localization, No C#

#241 fix delta proto
  Resources/Prototypes/SS220/Maps/delta.yml
Labels: No C#

#243 Добавить защиту от дурака в админ-панель
  Content.Client/Administration/UI/CustomControls/CommandButton.cs
  Content.Client/Administration/UI/Tabs/AdminTab/AdminShuttleWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml
  Content.Client/Administration/UI/Tabs/RoundTab/RoundTab.xaml
  Content.Client/Administration/UI/Tabs/ServerTab.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/ObserveWarningWindow.xaml
Labels: Changes: UI

#240 box_fix
  Resources/Maps/box.yml
Labels: Changes: Map, No C#

#246 wallmap hotfix
  Content.Client/SS220/PictureViewer/PictureViewer.xaml.cs
  Content.Client/SS220/ViewableStationMap/ViewableStationMapBoundUi.cs
  Resources/Prototypes/SS220/Entities/Structures/Wallmount/wall_maps.yml
Labels: Changes: UI

#247 Update wallmap
  Resources/Textures/SS220/ViewableMaps/Frankenstein.png
Labels: No C#

#249 Remove dialog window on most admin commands
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Administration/UI/Tabs/RoundTab/RoundTab.xaml
  Content.Client/Administration/UI/Tabs/ServerTab.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/ObserveWarningWindow.xaml
Labels: Changes: UI, No C#

#251 Frankenstein Update 1
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Maps/ss220-box.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/SS220/Entities/Structures/Furniture/blinds.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/warderobes.yml
Labels: Changes: Map

#252 frank_eng_fix
  Resources/Maps/ss220-box.yml
Labels: Changes: Map, No C#

#258 Автовызов шаттла
  Content.Server/GameTicking/Rules/Components/EmergencyShuttleAutoCallRuleComponent.cs
  Content.Server/GameTicking/Rules/EmergencyShuttleAutoCallRuleSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Status: Needs Review

#257 Зомби в наручниках
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: Status: Needs Review

#260 Frankenstein update 2
  Content.Server/SS220/AutoEngrave/AutoEngravingComponent.cs
  Content.Server/SS220/AutoEngrave/AutoEngravingSystem.cs
  Content.Server/SS220/AutoEngrave/EngraveNameOnOpenComponent.cs
  Content.Server/SS220/AutoEngrave/EngraveNameOnOpenSystem.cs
  Resources/Locale/ru-RU/ss220/auto-engravings.ftl
  Resources/Maps/ss220-box.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/small_drain.yml
  Resources/Prototypes/SS220/Entities/Structures/Decorations/onair_sign.yml
  Resources/Prototypes/SS220/Entities/Structures/Decorations/signs.yml
  Resources/Prototypes/SS220/Entities/Structures/Wallmount/department_signs.yml
  Resources/Prototypes/SS220/Entities/Structures/Wallmount/wall_maps.yml
  Resources/Prototypes/SS220/Entities/Weapons/Guns/hosgun.yml
  Resources/Textures/SS220/Objects/Specific/small_drain.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Specific/small_drain.rsi/icon.png
  Resources/Textures/SS220/Objects/Specific/small_drain.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/bobross.png
  Resources/Textures/SS220/Structures/Decorations/signs.rsi/bobross.png
  Resources/Textures/SS220/Structures/Decorations/signs.rsi/court.png
  Resources/Textures/SS220/Structures/Decorations/signs.rsi/meta.json
  Resources/Textures/SS220/Structures/Wallmounts/department_signs.rsi/armory.png
  Resources/Textures/SS220/Structures/Wallmounts/department_signs.rsi/meta.json
  Resources/Textures/SS220/Structures/Wallmounts/department_signs.rsi/sec.png
  Resources/Textures/SS220/Structures/Wallmounts/onair_sign.rsi/meta.json
  Resources/Textures/SS220/Structures/Wallmounts/onair_sign.rsi/none.png
  Resources/Textures/SS220/Structures/Wallmounts/wallmap.rsi/frank_map.png
  Resources/Textures/SS220/Structures/Wallmounts/wallmap.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: Localization

#254 Cock skalka
  Resources/Locale/ru-RU/ss220/weapons/chiefbat.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/chiefbat.yml
  Resources/Textures/SS220/Objects/Weapons/Melee/chiefbat.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/chiefbat.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/chiefbat.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/chiefbat.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#266 Frankenstein: winterdrobes and bench fixes
  Resources/Maps/ss220-box.yml
  Resources/Prototypes/SS220/Entities/Structures/Furniture/chairs.yml
Labels: Changes: Map, No C#

#270 Frankenstein brig QoL
  Resources/Maps/ss220-box.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/additional_warden_locker.yml
Labels: Changes: Map, No C#

#272 Таск кинетика наконец настоялся
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
Labels: No C#

#273 Frankenstein update
  Resources/Maps/ss220-box.yml
Labels: Changes: Map, No C#

#274 Frankenstein: add roundstart borgs
  Resources/Maps/ss220-box.yml
  Resources/Prototypes/SS220/Maps/frankenstein.yml
Labels: Changes: Map, No C#

#276 Fix borg locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/cyborgs/base_borg_chassis.ftl
Labels: Changes: Localization, No C#

#279 USSP ebent stuff
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/ss220/clothing/ussp.ftl
  Resources/Locale/ru-RU/ss220/misc/encryption-keys.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/SS220/Entities/Clothing/Masks/ussp.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/ussp_pda.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/ussp.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-ussp-medical.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-ussp.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/ussp.png
  Resources/Textures/SS220/Clothing/Mask/ussp-gas-mask.rsi/equipped-MASK.png
  Resources/Textures/SS220/Clothing/Mask/ussp-gas-mask.rsi/icon.png
  Resources/Textures/SS220/Clothing/Mask/ussp-gas-mask.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Mask/ussp-gas-mask.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Mask/ussp-gas-mask.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/ussp_computer.png
  Resources/Textures/Structures/Machines/computers.rsi/ussp_generic_keyboard.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/ussp.png
  Resources/Textures/Structures/Storage/closet.rsi/ussp_door.png
  Resources/Textures/Structures/Storage/closet.rsi/ussp_open.png
Labels: Changes: Sprites, Changes: Localization, No C#

#281 Corvax cherry pick 20
  Content.Server/Corvax/Objectives/Conditions/HijackShuttleCondition.cs
  Resources/Locale/ru-RU/accent/italian.ftl
  Resources/Locale/ru-RU/accessories/human-hair.ftl
  Resources/Locale/ru-RU/administration/admin-verbs.ftl
  Resources/Locale/ru-RU/administration/bwoink.ftl
  Resources/Locale/ru-RU/administration/ui/admin-notes.ftl
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/markings/arachnid.ftl
  Resources/Locale/ru-RU/mind/components/mind-component.ftl
  Resources/Locale/ru-RU/speech/speech-effects.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/snacks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/parts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/sheets/metal.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/ServerInfo/Guidebook/Writing.xml
Labels: Changes: Localization

#285 Add frankenstein to main pool
  Resources/Prototypes/SS220/Maps/Pools/default.yml
Labels: No C#

#293 Fixed some IAA-related things
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
Labels: No C#

#296 Corvax cherry pick 13
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/war_declarator.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/accent/dwarf.ftl
  Resources/Locale/ru-RU/accent/italian.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/corvax/accent/italian.ftl
  Resources/Locale/ru-RU/corvax/paper/book-busido.ftl
  Resources/Locale/ru-RU/corvax/paper/book-rulebook.ftl
  Resources/Locale/ru-RU/discord/round-notifications.ftl
  Resources/Locale/ru-RU/generic.ftl
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/lathe/ui/lathe-menu.ftl
  Resources/Locale/ru-RU/node-container/node-container-component.ftl
  Resources/Locale/ru-RU/nukeops/war-declarator.ftl
  Resources/Locale/ru-RU/nukeops/war-ops.ftl
  Resources/Locale/ru-RU/power/components/generator.ftl
  Resources/Locale/ru-RU/preferences/ui/flavor-text.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/salvage/fulton-system.ftl
  Resources/Locale/ru-RU/speech/melee-speech.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/items/belt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/catalog/fills/books/busido.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/lavaland.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/war_declarator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/fulton.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/generation/portable_generator.ftl
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Corvax/Catalog/Fills/Books/busido.yml
  Resources/Textures/Corvax/Objects/Misc/books.rsi/book_busido.png
  Resources/Textures/Corvax/Objects/Misc/books.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#
