Repository SerbiaStrong-220/space-station-14, pull requests merged in 2023-11, with the labels that each got.

#490 Transfer verb mast
  Content.Server/SS220/VerbHandTransfer/TransferSystem.cs
  Resources/Locale/en-US/ss220/transfering.ftl
  Resources/Locale/ru-RU/ss220/transfering.ftl
Labels: Changes: Localization

#492 Disable closet skeleton station event
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#491 Произошёл хот..фикс?
  Content.Server/SS220/VerbHandTransfer/TransferSystem.cs
  Resources/Locale/en-US/ss220/transfering.ftl
  Resources/Locale/ru-RU/ss220/transfering.ftl
Labels: Changes: Localization

#495 unitemize felinid
  Resources/Prototypes/SS220/spo9k/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/SS220/spo9k/Species/felinid.yml
Labels: No C#

#494 Turned off doors logic signals
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
Labels: Status: Needs Review

#497 Camera map fixes
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
Labels: Changes: UI

#500 Flags and capturable points for event
  Content.Server/SS220/EventCapturePoint/EventCapturePointSystem.cs
  Content.Shared/SS220/EventCapturePoint/EventCapturePointComponent.cs
  Content.Shared/SS220/EventCapturePoint/EventCapturePointFlagComponent.cs
  Resources/Prototypes/SS220/Entities/Structures/Specific/EventPointCapture/flags.yml
  Resources/Prototypes/SS220/Entities/Structures/Specific/EventPointCapture/postament.yml
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/flags_folded.rsi/flag_nt_folded.png
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/flags_folded.rsi/flag_synd_folded.png
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/flags_folded.rsi/flag_ussr_folded.png
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/flags_folded.rsi/meta.json
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/flags_unfolded.rsi/flag_nt_up.png
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/flags_unfolded.rsi/flag_synd_up.png
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/flags_unfolded.rsi/flag_ussr_up.png
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/flags_unfolded.rsi/meta.json
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/postament.rsi/meta.json
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/postament.rsi/with_flag.png
  Resources/Textures/SS220/Structures/Specific/PointCaptureEvent/postament.rsi/without_flag.png
Labels: Changes: Sprites

#501 Новые TTS голоса
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#498 Фикс спавнера квадроцикла парамедика
  Resources/Locale/ru-RU/ss220/paramedic-atv.ftl
  Resources/Prototypes/SS220/Entities/markers/Spawners/paramedic-atv.yml
Labels: Changes: Localization, No C#

#503 Replace ghost role timelocks with official solution
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/SS220/Ghost/Roles/Components/GhostPlayTimeRestrictComponent.cs
  Resources/Locale/en-US/ss220/ghost-role-system.ftl
  Resources/Locale/ru-RU/ss220/ghost-role-system.ftl
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/SS220/Mobs/PetParrots.yml
Labels: Changes: Localization

#499 Cart pulling speed fix
  Content.Shared/SS220/Cart/CartSystem.cs
Labels: Status: Needs Review

#512 Новые голоса TTS
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#511 Floppa cloak
  Resources/Prototypes/SS220/Entities/Clothing/FloppaCloak/Floopa.yml
  Resources/Prototypes/SS220/Entities/Clothing/FloppaHood/HoodF.yml
  Resources/Textures/SS220/Clothing/CloakF.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/CloakF.rsi/icon.png
  Resources/Textures/SS220/Clothing/CloakF.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/CloakF.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/CloakF.rsi/meta.json
  Resources/Textures/SS220/Clothing/HoodF.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/HoodF.rsi/icon.png
  Resources/Textures/SS220/Clothing/HoodF.rsi/meta.json
Labels: Changes: Sprites, No C#

#509 Cloth blue shield
  Resources/Prototypes/SS220/Entities/Clothing/Masks/BlueShieldSWAT.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/BlueShieldCloak.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Blueshield_uniform.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/blueshield_lockers.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/suit_storage.yml
  Resources/Textures/SS220/Clothing/Mask/Blue-shield-mask.rsi/equipped-MASK.png
  Resources/Textures/SS220/Clothing/Mask/Blue-shield-mask.rsi/icon.png
  Resources/Textures/SS220/Clothing/Mask/Blue-shield-mask.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Mask/Blue-shield-mask.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Mask/Blue-shield-mask.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Cloaks/Blueshield.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/Blueshield.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/Blueshield.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/Blueshield.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/Blueshield.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Blueshield_uniform.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Blueshield_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Blueshield_uniform.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Blueshield_uniform.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Blueshield_uniform.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Blueshield_uniform.rsi/meta.json
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, No C#

#510 Плащи для спонсоров
  Resources/Prototypes/SS220/Entities/Clothing/Cloaks/Heart.yml
  Resources/Prototypes/SS220/Entities/Clothing/hoods/Hood.yml
  Resources/Textures/SS220/Clothing/Cloaks.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Cloaks.rsi/icon.png
  Resources/Textures/SS220/Clothing/Cloaks.rsi/meta.json
  Resources/Textures/SS220/Clothing/hoods.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/hoods.rsi/icon.png
  Resources/Textures/SS220/Clothing/hoods.rsi/meta.json
Labels: Changes: Sprites, No C#

#517 Added stamina resist on cybersun hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#518 Fix cloaks
  Resources/Prototypes/SS220/Entities/Clothing/Cloaks/FloopaCloack.yml
  Resources/Prototypes/SS220/Entities/Clothing/Cloaks/Heart.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/FloppaHat.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/HeartHood.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/blueshield_lockers.yml
  Resources/Textures/SS220/Clothing/Head/Hats/FloppaHat.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/FloppaHat.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/FloppaHat.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/HeartHood.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/HeartHood.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/HeartHood.rsi/meta.json
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/equipped-MASK.png
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/icon.png
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Cloaks/AlisaCloak.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/AlisaCloak.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/AlisaCloak.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Cloaks/FloppaCloak.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/FloppaCloak.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/FloppaCloak.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/FloppaCloak.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/FloppaCloak.rsi/meta.json
Labels: Changes: Sprites, No C#

#519 Вещмешкам синдиката возвращено расширенное пространство
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
Labels: No C#

#523 Update Blueshield_uniform.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Blueshield_uniform.yml
Labels: No C#

#521 Frankenstein v k0.1
  Resources/Maps/ss220-box.yml
Labels: Changes: Map, No C#

#524 Parallax Fix
  Resources/Textures/Parallaxes/land.png
Labels: No C#

#533 Фикс старого объема сумок на новой системе хранения
  Resources/Prototypes/Corvax/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Back/satchel.yml
Labels: No C#

#531 Minor fixes
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/blueshield_hardsuit.yml
Labels: No C#

#532 Frankenstein v k0.2
  Resources/Maps/ss220-box.yml
Labels: Changes: Map, No C#

#507 Different ghosts play time trackers and more
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/SS220/GhostRoleMarkerRole/GhostRoleMarkerRoleTimeTracker.cs
  Content.Shared/Players/PlayTimeTracking/PlayTimeTrackingShared.cs
  Resources/Locale/en-US/players/play-time/play-time-commands.ftl
  Resources/Locale/ru-RU/players/play-time/play-time-commands.ftl
  Resources/Prototypes/SS220/Roles/play_time_trackers.yml
Labels: Changes: Localization, Status: Needs Review

#536 Переименование вещей синдиката, чтобы это не мешало РП и антуражу игры
  Resources/Locale/ru-RU/forensics/fibers.ftl
  Resources/Locale/ru-RU/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/general.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/pai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/power/powersink.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/emag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jammer.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/jaws_of_life.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/buckleable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/vehicles/keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/explosives/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/revolvers/revolvers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/grenades.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/bombs.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization, No C#

#541 fix discord link command generate
  Content.Client/SS220/UserInterface/DiscordLink/DiscordLinkWindow.xaml.cs
Labels: Changes: UI

#539 Add stamina damage to rubberbullets.20
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
Labels: No C#

#540 Anonymous denunciation form
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_station/law/law_anonymousdenunciation.xml
Labels: No C#

#545 Criminal records filter fix
  Content.Client/SS220/CriminalRecords/UI/RecordList.xaml.cs
Labels: Changes: UI
