Repository SerbiaStrong-220/space-station-14, pull requests merged in 2023-09, with the labels that each got.

#301 Brigmedic loadout fix
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#305 Corvax cherry pick 14
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/game-ticking/game-presets/preset-deathmatch.ftl
  Resources/Locale/ru-RU/game-ticking/game-rules/rules.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/nukeops/war-declarator.ftl
  Resources/Locale/ru-RU/nukeops/war-ops.ftl
  Resources/Locale/ru-RU/points/points.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/war_declarator.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/healing.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/weapon_toolbox.ftl
  Resources/Locale/ru-RU/store/currency.ftl
  Resources/Locale/ru-RU/tiles/tiles.ftl
Labels: Changes: Localization, No C#

#306 Nuke fix
  Resources/Maps/infiltrator.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: Map, No C#

#307 Ebent items 4
  Resources/Locale/ru-RU/ss220/ebent-1/ussp.ftl
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/CustomItems.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsUssp.yml
Labels: Changes: Localization, No C#

#308 Локализация озвученных эмоций
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#309 Removed ebent ghostroles
  Resources/Prototypes/SS220/Shitspawn/Ebent/Jobs.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsUssp.yml
Labels: No C#

#310 Secglasses now have HUD functionality
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: No C#

#312 Ebent item tweaks and ert presets
  Resources/Locale/ru-RU/ss220/ebent-1/spec-ops.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Ears/ussp_headset.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsERT.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsUssp.yml
Labels: Changes: Localization, No C#

#314 Add cane
  Resources/Prototypes/SS220/cane.yml
  Resources/Prototypes/SS220/expensive_cane.yml
  Resources/Textures/SS220/Objects/Weapons/Melee/expensivestick.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/expensivestick.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/expensivestick.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/expensivestick.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/expensivestick.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/expensivestick.rsi/wielded-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/walkingstick.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/walkingstick.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/walkingstick.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/walkingstick.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/walkingstick.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/walkingstick.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#315 Announcement fix
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
Labels: Changes: Localization, No C#

#313 Salvage magnet bugfix
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Shared/Tools/Components/ToolComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Resources/Locale/en-US/ss220/salvage/salvage-system.ftl
  Resources/Locale/ru-RU/ss220/salvage/salvage-system.ftl
Labels: Changes: Localization

#325 Revert "Signal Button Resprite (#18712)"
  Resources/Textures/Structures/Wallmounts/switch.rsi/dead.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/switch.rsi/off.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/on.png
Labels: Changes: Sprites, No C#

#326 Drinking from containers bugfix
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Resources/Locale/en-US/ss220/nutrition/components/drink-component.ftl
  Resources/Locale/ru-RU/ss220/nutrition/components/drink-component.ftl
Labels: Changes: Localization

#328 Added new art
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/pizdec.png
  Resources/Textures/SS220/LobbyScreens/pizdec.png.yml
Labels: No C#

#331 Added new lobby art
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/nukeart.png
  Resources/Textures/SS220/LobbyScreens/nukeart.png.yml
Labels: No C#

#336 change hijack rule
  Resources/ServerInfo/RulesSS220.txt
Labels: No C#

#339 More fixes
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/objectives/traitorObjectives.ftl
  Resources/Prototypes/Corvax/Objectives/traitorObjectives.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Changes: Localization, No C#

#330 Added shitspawn stuff
  Resources/Prototypes/SS220/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/SS220/Entities/Clothing/Masks/ussp.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/heavy_sssp_hardsuit.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/SS220/Entities/Objects/bed.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/hammer.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/sickle.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/CustomItems.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsUssp.yml
  Resources/Prototypes/SS220/Shitspawn/Reagents/superStim.yml
  Resources/Prototypes/SS220/Shitspawn/Reagents/superStimMedipen.yml
  Resources/Prototypes/SS220/Shitspawn/SyndicateSegwaySpawn.yml
  Resources/Textures/Objects/Misc/bedsheets.rsi/meta.json
  Resources/Textures/Objects/Misc/bedsheets.rsi/sheetUSSP.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/ebentpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/ebentpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Bedsheets/USSP.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Bedsheets/USSP.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Bedsheets/USSP.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Bedsheets/USSP.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/icon-on.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/on-equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/on-inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/magboots-ussp.rsi/on-inhand-right.png
  Resources/Textures/SS220/Objects/Medical/USSRhypo.rsi/hypo.png
  Resources/Textures/SS220/Objects/Medical/USSRhypo.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Medical/USSRhypo.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Medical/USSRhypo.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Grenades/usspnade.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Grenades/usspnade.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Grenades/usspnade.rsi/primed.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_hammer.rsi/equipped-BELT.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_hammer.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_hammer.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_hammer.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_hammer.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_sickle.rsi/equipped-BELT.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_sickle.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_sickle.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_sickle.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/combat_sickle.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/ussp_generic_keyboard.png
Labels: Changes: Sprites, No C#

#346 Own uplink for LoneOps without reinforcement
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#352 update readme.md
  README.md
  logo.png
Labels: No C#

#349 Cargo rebalance
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  Resources/Prototypes/Recipes/Lathes/botany.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: No C#

#355 remove drone ghost role
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#

#353 Security database and functional security HUD
  Content.Client/CrewManifest/UI/CrewManifestListing.cs
  Content.Client/Overlays/ShowSecurityIconsSystem.cs
  Content.Client/SS220/CriminalRecords/CriminalRecordsBoundUserInterface.cs
  Content.Client/SS220/CriminalRecords/UI/CharacterVisualisation.xaml
  Content.Client/SS220/CriminalRecords/UI/CharacterVisualisation.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/CriminalRecordDisplay.xaml
  Content.Client/SS220/CriminalRecords/UI/CriminalRecordDisplay.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/CriminalRecordsWindow.xaml
  Content.Client/SS220/CriminalRecords/UI/CriminalRecordsWindow.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/RecordDetails.xaml
  Content.Client/SS220/CriminalRecords/UI/RecordDetails.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/RecordList.xaml
  Content.Client/SS220/CriminalRecords/UI/RecordList.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/RecordListEntry.xaml
  Content.Client/SS220/CriminalRecords/UI/RecordListEntry.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/RecordListGroup.cs
  Content.Client/SS220/CriminalRecords/UI/RecordListGroupBasic.xaml
  Content.Client/SS220/CriminalRecords/UI/RecordListGroupBasic.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/RecordListGroupCriminal.xaml
  Content.Client/SS220/CriminalRecords/UI/RecordListGroupCriminal.xaml.cs
  Content.Client/SS220/Photocopier/UI/IconButton.xaml.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleBoundUserInterface.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Server/SS220/CriminalRecords/CriminalRecordSystem.cs
  Content.Server/SS220/CriminalRecords/CriminalRecordsConsoleSystem.cs
  Content.Server/SS220/CryopodSSD/SSDStorageConsoleSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/CrewManifest/SharedCrewManifestSystem.cs
  Content.Shared/SS220/CriminalRecords/CriminalRecord.cs
  Content.Shared/SS220/CriminalRecords/CriminalRecordsConsoleComponent.cs
  Content.Shared/SS220/CriminalRecords/CriminalStatusPrototype.cs
  Content.Shared/StationRecords/GeneralStationRecord.cs
  Resources/Audio/SS220/Consoles/SecurityConsoleAction.ogg
  Resources/Audio/SS220/Consoles/license.txt
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Locale/ru-RU/ss220/criminal-records/criminal-records.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/SS220/StatusEffects/sechud.yml
  Resources/Prototypes/SS220/criminal_statuses.yml
  Resources/Textures/SS220/Interface/Misc/down.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/execute.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/meta.json
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/monitor.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/search.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/wanted.png
  Resources/Textures/SS220/Interface/Misc/up.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization

#360 Urgent revert
  Content.Client/Guidebook/Controls/GuidebookControl.xaml
  Content.Client/Guidebook/Controls/GuidebookControl.xaml.cs
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/UserInterface/Systems/Guidebook/GuidebookUIController.cs
  Resources/manifest.yml
Labels: Changes: UI

#363 changed logo to ss220
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
  Resources/Textures/Logo/logo-ru.png
  Resources/Textures/Logo/logo-ru.png.yml
Labels: No C#

#364 Perdet' vechno
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Audio/SS220/Emotes/fart.ogg
  Resources/Locale/ru-RU/ss220/chat/sanitizer-replacements.ftl
  Resources/Prototypes/SS220/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: Localization

#366 species locale hotfix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/base.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/species/base.ftl
Labels: Changes: Localization, No C#

#351 Пак медалей 1
  Resources/Locale/ru-RU/ss220/clothing/medalpack1.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Neck/medalpack1.yml
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Broken.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Broken.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Broken.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Chocolate.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Chocolate.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Chocolate.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Hydra.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Hydra.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Hydra.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Plastic.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Plastic.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Plastic.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PlasticSpecial.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PlasticSpecial.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PlasticSpecial.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarI.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarI.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarI.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarII.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarII.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarII.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarIII.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarIII.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/PolarIII.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/SSSP.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/SSSP.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/SSSP.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Syndie.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Syndie.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/Medalpack1/Syndie.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#368 Increase playtime requirements
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#370 Ebent stuff
  Resources/Locale/ru-RU/ss220/storage/lockers.ftl
  Resources/Prototypes/SS220/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/e-hammer.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/e-sickle.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsUssp.yml
  Resources/Prototypes/SS220/Shitspawn/Reagents/superStim.yml
  Resources/Prototypes/SS220/Shitspawn/monolith.yml
  Resources/Prototypes/SS220/Shitspawn/pie.yml
  Resources/Textures/SS220/Objects/Weapons/Melee/e_hammer.rsi/e_hammer.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_hammer.rsi/e_hammer_blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_hammer.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_hammer.rsi/inhand-left-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_hammer.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_hammer.rsi/inhand-right-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_hammer.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_hammer.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sickle.rsi/e_sickle.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sickle.rsi/e_sickle_blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sickle.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sickle.rsi/inhand-left-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sickle.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sickle.rsi/inhand-right-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sickle.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sickle.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/Crates/ussp_crate.rsi/base.png
  Resources/Textures/SS220/Structures/Storage/Crates/ussp_crate.rsi/closed.png
  Resources/Textures/SS220/Structures/Storage/Crates/ussp_crate.rsi/icon.png
  Resources/Textures/SS220/Structures/Storage/Crates/ussp_crate.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/Crates/ussp_crate.rsi/open.png
  Resources/Textures/SS220/Structures/Storage/Crates/ussp_crate.rsi/sparking.png
  Resources/Textures/SS220/Structures/Storage/Crates/ussp_crate.rsi/welded.png
  Resources/Textures/Structures/Decoration/statues.rsi/meta.json
  Resources/Textures/Structures/Decoration/statues.rsi/monolith.png
Labels: Changes: Sprites, Changes: Localization, No C#

#372 fix ghost role restrict msg
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Resources/Locale/en-US/ss220/ghost-role-system.ftl
  Resources/Locale/ru-RU/ss220/ghost-role-system.ftl
Labels: Changes: Localization

#369 Напоминание о потери смерти
  Content.Client/SS220/DeathReminder/UI/DeathReminderEui.cs
  Content.Client/SS220/DeathReminder/UI/DeathReminderWindow.cs
  Content.Server/Mobs/DeathgaspSystem.cs
  Content.Server/SS220/Deathreminder/DeathReminderEui.cs
  Resources/Locale/ru-RU/cloning/accept-cloning-window.ftl
  Resources/Locale/ru-RU/emotes/death-reminder.ftl
  Resources/Locale/ru-RU/ss220/death-reminder-window.ftl
Labels: Changes: Localization

#373 Added ussp clothing
  Resources/Prototypes/SS220/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/heavy_sssp_hardsuit.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/shinel.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/ussp_uniform.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/off-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/off-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/on-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/sssp_heavy_2.rsi/on-inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/shinel.rsi/equipped-OUTERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/shinel.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/shinel.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/shinel.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/shinel.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/shinel.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy_2.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy_2.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy_2.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy_2.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/sssp_heavy_2.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/ussp_uniform.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/ussp_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/ussp_uniform.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/ussp_uniform.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/ussp_uniform.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/ussp_uniform.rsi/meta.json
Labels: Changes: Sprites, No C#

#371 Инъектор капсул-имплантов (ееееее)
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/SS220/ReagentImplanter/ReagentCapsuleComponent.cs
  Resources/Locale/ru-RU/ss220/reagentinjector/capsules.ftl
  Resources/Locale/ru-RU/ss220/reagentinjector/reagents_implanter.ftl
  Resources/Prototypes/SS220/ReagentInjector/reagents_capsule.yml
  Resources/Prototypes/SS220/ReagentInjector/reagents_implanter.yml
  Resources/Prototypes/SS220/ReagentInjector/unical_reagents.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/adrenaline.png
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/capsule.png
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/capsule_mask.png
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/capsule_used.png
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/combat.png
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/dab.png
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/dead.png
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/meta.json
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/nanite.png
  Resources/Textures/SS220/Objects/ReagentInjector/capsules.rsi/reanim.png
  Resources/Textures/SS220/Objects/ReagentInjector/injector.rsi/icon_death.png
  Resources/Textures/SS220/Objects/ReagentInjector/injector.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/ReagentInjector/injector.rsi/injector.png
  Resources/Textures/SS220/Objects/ReagentInjector/injector.rsi/injector_full.png
  Resources/Textures/SS220/Objects/ReagentInjector/injector.rsi/injector_full_mask.png
  Resources/Textures/SS220/Objects/ReagentInjector/injector.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#377 Старославянский акцент
  Content.Server/Speech/Components/SlavicAccentComponent.cs
  Content.Server/Speech/EntitySystems/SlavicAccentSystem.cs
  Resources/Locale/ru-RU/ss220/accent/SlavicAccent.ftl
  Resources/Locale/ru-RU/traits/traits.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Changes: Localization

#376 rod_buf_and_rus
  Content.Server/StationEvents/Components/ImmovableRodRuleComponent.cs
  Resources/Locale/ru-RU/ss220/station-events/events/immovable-rod.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Localization

#378 ebent item fix
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/shinel.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/ussp_uniform.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/e-hammer.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/e-sickle.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/Jobs.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsERT.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/JobsUssp.yml
Labels: No C#

#379 Add ussp hypo
  Resources/Prototypes/SS220/Entities/Objects/Medical/ussp_hypo.yml
Labels: No C#

#380 Улучшение спрайтов катаны
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/Objects/Weapons/Melee/katana.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/katana.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/katana.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/katana.rsi/meta.json
Labels: Changes: Sprites, No C#
