Repository SerbiaStrong-220/space-station-14, pull requests merged in 2023-06, with the labels that each got.

#51 Added new sounds to repository
  Resources/Audio/Ambience/Antag/pirate_start.ogg
  Resources/Audio/Ambience/Antag/zombie_start.ogg
Labels: No C#

#57 Round notifications system now sends embeds
  Content.Server/Corvax/RoundNotifications/RoundNotificationsSystem.cs
  Resources/Locale/ru-RU/corvax/round-notifications/notifications.ftl
Labels: Changes: Localization

#47 Added input in manifest to filter
  Content.Client/CrewManifest/CrewManifestEui.cs
  Content.Client/CrewManifest/CrewManifestUi.xaml
  Content.Client/CrewManifest/CrewManifestUi.xaml.cs
  Resources/Locale/en-US/crew-manifest/crew-manifest.ftl
  Resources/Locale/ru-RU/crew-manifest/crew-manifest.ftl
Labels: Changes: UI, Changes: Localization

#54 Delay button in admin-panel
  Content.Client/Administration/UI/Tabs/RoundTab.xaml
  Content.Client/Administration/UI/Tabs/RoundTab.xaml.cs
  Content.Server/GameTicking/Commands/DelayStartCommand.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/administration/ui/tabs/round-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/round-tab.ftl
Labels: Changes: UI, Changes: Localization

#53 Change typing notification behavior for OOC and LOOC chat.
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
Labels: Changes: UI

#50 Фиксы и доработки функционала TTS
  Content.Client/Corvax/TTS/TTSSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Corvax/TTS/TTSManager.cs
  Content.Server/Corvax/TTS/TTSSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Content.Shared/Corvax/TTS/PlayTTSEvent.cs
  Resources/Locale/ru-RU/corvax/tts/tts-ui.ftl
Labels: Changes: UI, Changes: Localization

#64 Added Russian localisation for authorbooks
  Resources/Locale/ru-RU/paper/book-authorbooks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/authorbooks.ftl
Labels: Changes: Localization, No C#

#58 add: cryopod for SSD
  Content.Client/SS220/CryopodSSD/CryopodSSDBoundUserInterface.cs
  Content.Client/SS220/CryopodSSD/CryopodSSDSystem.cs
  Content.Client/SS220/CryopodSSD/CryopodSSDWindow.xaml
  Content.Client/SS220/CryopodSSD/CryopodSSDWindow.xaml.cs
  Content.Server/Mind/Mind.cs
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
  Content.Server/Objectives/Conditions/KillRandomPersonCondition.cs
  Content.Server/SS220/CryopodSSD/CryopodSSDSystem.cs
  Content.Server/SS220/CryopodSSD/SSDStorageConsoleSystem.cs
  Content.Shared/SS220/CryopodSSD/CryopodSSDComponent.cs
  Content.Shared/SS220/CryopodSSD/SSDStorageConsoleComponent.cs
  Content.Shared/SS220/CryopodSSD/SSDStorageConsoleState.cs
  Content.Shared/SS220/CryopodSSD/SharedCryopodSSDSystem.cs
  Resources/Locale/ru-RU/actions/actions/cryopodSSD.ftl
  Resources/Locale/ru-RU/ss220/cryopodSSD/cryopodSSD.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/SS220/CryopodSSD/CryopodSSD.yml
  Resources/Textures/SS220/Structures/Machines/cryopodSSD.rsi/cryopodSSD-closed.png
  Resources/Textures/SS220/Structures/Machines/cryopodSSD.rsi/cryopodSSD-open.png
  Resources/Textures/SS220/Structures/Machines/cryopodSSD.rsi/icon.png
  Resources/Textures/SS220/Structures/Machines/cryopodSSD.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/ssdStorageConsole.rsi/icon.png
  Resources/Textures/SS220/Structures/Machines/ssdStorageConsole.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/ssdStorageConsole.rsi/ssdStorageConsole.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization, Status: Needs Review

#65 Tweak: commented sandbox preset and gamerule
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#

#67 fix: bunch of fixes for cryopods
  Content.Client/SS220/CryopodSSD/CryopodSSDBoundUserInterface.cs
  Content.Client/SS220/CryopodSSD/CryopodSSDSystem.cs
  Content.Client/SS220/CryopodSSD/CryopodSSDWindow.xaml
  Content.Client/SS220/CryopodSSD/CryopodSSDWindow.xaml.cs
  Content.Server/SS220/CryopodSSD/CryopodSSDSystem.cs
  Content.Server/SS220/CryopodSSD/SSDStorageConsoleSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/SS220/CryopodSSD/CryopodSSDComponent.cs
  Content.Shared/SS220/CryopodSSD/SSDStorageConsoleComponent.cs
  Content.Shared/SS220/CryopodSSD/SSDStorageConsoleState.cs
  Content.Shared/SS220/CryopodSSD/SharedCryopodSSDSystem.cs
  Resources/Prototypes/SS220/CryopodSSD/CryopodSSD.yml
Labels: Changes: UI

#79 Fixed tags in species protos after zombies tweak
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#

#78 Added an uplink for players PDA in Deathmatch mode
  Content.Server/GameTicking/Rules/Components/DeathMatchRuleComponent.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
Labels: Status: Needs Review

#73 Added pipe painter
  Content.Client/SS220/PipePainter/PipePainterBoundUserInterface.cs
  Content.Client/SS220/PipePainter/UI/PipePainterWindow.xaml
  Content.Client/SS220/PipePainter/UI/PipePainterWindow.xaml.cs
  Content.Server/SS220/PipePainter/PipePainterSystem.cs
  Content.Shared/SS220/PipePainter/PipePainterComponent.cs
  Content.Shared/SS220/PipePainter/PipePainterShared.cs
  Resources/Locale/en-US/ss220/pipe-painter/pipe-painter.ftl
  Resources/Locale/ru-RU/ss220/pipe-painter/pipe-painter.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/SS220/PipePainter/pipe_painter.yml
  Resources/Textures/SS220/Objects/Tools/pipe_painter.rsi/icon.png
  Resources/Textures/SS220/Objects/Tools/pipe_painter.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, Changes: Localization

#77 add: configurable teleport to cryo for disconnected players
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/SS220/CryopodSSD/AfkSSDSystem.cs
  Content.Server/SS220/CryopodSSD/CryopodSSDSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/SS220/CryopodSSD/SharedCryopodSSDSystem.cs
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/SS220/CryopodSSD/CryopodSSD.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#82 Changes in behavior of whisper in radio TTS events.
  Content.Server/Corvax/TTS/TTSSystem.cs
Labels: Status: Needs Review

#81 Ушки, прически не только спонсорам.
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/fox_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/slime_fox_parts.yml
  Resources/Prototypes/Corvax/sponsor.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
Labels: No C#, Status: Needs Review

#80 add: кнопка "Наблюдать" в чате у гостов
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/SS220/Commands/OrbitCommand.cs
Labels: Changes: UI, Status: Needs Review

#76 Blueshield Russian localisation and fixes
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
Labels: Changes: Localization, No C#

#90 Больше вариантов в настройках масштаба интерфейса
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#86 CentcomIDCard fix
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#85 Edited ban messages
  Content.Server/Database/ServerBanDef.cs
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: Changes: Localization
