Repository SerbiaStrong-220/space-station-14, pull requests merged in 2023-05, with the labels that each got.

#3 feat: добавил локализацию для команды
  Content.Server/SS220/Discord/Commands/DiscordCommand.cs
  Resources/Locale/en-US/ss220/discord/discordmanager.ftl
  Resources/Locale/ru-RU/ss220/discord/discordmanager.ftl
Labels: Changes: Localization

#7 feat: регулировка громкости аннонсов в ТТС
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/SS220/AnnounceTTS/AnnounceTTSSystem.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Resources/Locale/ru-RU/corvax/tts/tts-ui.ftl
Labels: Changes: UI, Changes: Localization

#10 fix: исправил описание ТТС
  Resources/Locale/ru-RU/corvax/tts/tts-ui.ftl
Labels: Changes: Localization, No C#

#15 death popup for entity
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Resources/Locale/en-US/visual_effects.ftl
  Resources/Locale/ru-RU/visual_effects.ftl
Labels: Changes: Localization

#13 feat: time panel
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/TimePanelWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/TimePanelWindow.xaml.cs
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/time-panel-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/time-panel-window.ftl
Labels: Changes: UI, Changes: Localization

#20 localization: admin panel
  Content.Client/Administration/UI/Tabs/AdminTab/BanWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/TeleportWindow.xaml
  Content.Client/Administration/UI/Tabs/AtmosTab/AddAtmosWindow.xaml
  Content.Client/Administration/UI/Tabs/AtmosTab/AddGasWindow.xaml
  Content.Client/Administration/UI/Tabs/AtmosTab/AtmosTab.xaml
  Content.Client/Administration/UI/Tabs/AtmosTab/FillGasWindow.xaml
  Content.Client/Administration/UI/Tabs/AtmosTab/SetTemperatureWindow.xaml
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml
  Content.Client/Administration/UI/Tabs/RoundTab.xaml
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/ban-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/teleport-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/atmos-tab/add-atmos-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/atmos-tab/add-gas-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/atmos-tab/atmos-actions-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/object-tab.ftl
  Resources/Locale/en-US/administration/ui/tabs/player-tab.ftl
  Resources/Locale/en-US/administration/ui/tabs/round-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/ban-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/admin-tab/teleport-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/atmos-tab/add-atmos-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/atmos-tab/add-gas-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/atmos-tab/atmos-actions-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/atmos-tab/fill-gas-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/atmos-tab/set-temperature-window.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/object-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/round-tab.ftl
Labels: Changes: UI, Changes: Localization, No C#

#24 fix: quick objects tab loc fix
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml
Labels: Changes: UI, No C#

#28 add: character sprites to StationRecordConsole
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/StationRecords/GeneralStationRecord.cs
Labels: Changes: UI

#36 GasAnalyzer на поясе инежнера и СИ
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#40 Blueshield
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Clothing/Eyes/Glasses/bsglasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/bsglasses.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/bsglasses.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/bsglasses.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/bsglasses.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/beret_navyblue.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_navyblue.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_navyblue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/blueshield.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/blueshield.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/blueshield.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/blueshield.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/blueshield.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/blueshield.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/meta.json
Labels: Changes: Sprites, No C#
