Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-07, with the labels that each got.

#1134 DoorElectronicsConfigurator Fix
  Content.Client/Doors/Electronics/DoorElectronicsBoundUserInterface.cs
  Content.Shared/Access/AccessLevelPrototype.cs
  Resources/Locale/ru-RU/ss220/prototypes/access/access.ftl
  Resources/Prototypes/Access/cargo.yml
  Resources/Prototypes/Access/centcomm.yml
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/engineering.yml
  Resources/Prototypes/Access/medical.yml
  Resources/Prototypes/Access/research.yml
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Access/syndicate.yml
  Resources/Prototypes/SS220/Access/centcomm.yml
  Resources/Prototypes/SS220/Entities/Debugging/access_configurator_debug.yml
  Resources/Prototypes/SS220/Entities/Debugging/id_card_debug.yml
Labels: Changes: Localization

#1212 botany-white-jumpskirt-fix
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydrowhite.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydrowhite.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydrowhite.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydrowhite.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydrowhite.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#1214 Centcom-Forms-Update
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_arrival.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_evac.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_exec.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_goal.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_goal_rep.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_hire.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_law.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_shift_end.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_sitrep.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_sop.xml
Labels: No C#

#1215 Sentence
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_station/security/sec_prig.xml
Labels: No C#

#1222 Holster to neck
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Maps/EventShuttles/BFSVisitor.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/iron/jobs_IronSquad.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/iron/other_Items_IronSquad.yml
  Resources/Textures/Clothing/Belt/holster.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Belt/holster.rsi/meta.json
  Resources/Textures/Clothing/Belt/syndieholster.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Belt/syndieholster.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1225 Increase automatic rifles spread
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: No C#, Status: Needs Review

#1244 Curtains and fancy tables recepie fix
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/curtains.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: No C#

#1247 new-security-status
  Resources/Locale/ru-RU/ss220/criminal-records/criminal-records.ftl
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/SS220/StatusEffects/sechud.yml
  Resources/Prototypes/SS220/criminal_statuses.yml
  Resources/ServerInfo/Guidebook/Security/CriminalRecords.xml
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/demote.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/discharged.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/incarcerated.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/meta.json
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/monitor.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/paroled.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/suspected.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/wanted.png
Labels: Changes: Sprites, Changes: Localization, No C#

#1254 Новые биолюминисцентные растения
  Resources/Locale/en-US/ss220/prototypes/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/ss220/prototypes/structures/furniture/potted_plants.ftl
  Resources/Prototypes/SS220/Entities/Structures/Furniture/potted_plants.yml
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/meta.json
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-01.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-02.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-03.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-04.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-05.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-06.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-07.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-08.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-09.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-10.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-11.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-12.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-13.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-14.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-15.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-16.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-17.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-18.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-19.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-20.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-21.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-22.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-23.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-24.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-25.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-26.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-27.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-28.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-29.png
  Resources/Textures/SS220/Structures/Furniture/potted_plants.rsi/plant-30.png
Labels: Changes: Sprites, Changes: Localization, No C#

#1268 Duck
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/toys.yml
  Resources/Textures/SS220/Objects/Fun/ducky.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Objects/Fun/ducky.rsi/icon.png
  Resources/Textures/SS220/Objects/Fun/ducky.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Fun/ducky.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Fun/ducky.rsi/meta.json
  Resources/Textures/SS220/Objects/Fun/ducky_alt.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Objects/Fun/ducky_alt.rsi/icon.png
  Resources/Textures/SS220/Objects/Fun/ducky_alt.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Fun/ducky_alt.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Fun/ducky_alt.rsi/meta.json
Labels: Changes: Sprites, No C#

#1269 Fix textures unati tails
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_large.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_large_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_behind_primary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_behind_secondary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_secondary.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes_behind.png
Labels: Changes: Sprites, No C#

#1217 Mime relic
  Content.Server/SS220/MimeRelic/MimeRelicComponent.cs
  Content.Server/SS220/MimeRelic/MimeRelicSystem.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/specific/sacredrelics.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/SacredRelics/Relics.yml
  Resources/Textures/SS220/Objects/Specific/SacredRelics/SacredRelicMime.rsi/icon.png
  Resources/Textures/SS220/Objects/Specific/SacredRelics/SacredRelicMime.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/SacredRelics/SacredRelicMime.rsi/relic.png
Labels: Changes: Sprites, Changes: Localization

#1277 Move rules to new system
  Resources/Prototypes/SS220/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSS220.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC0.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC1.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC10.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC2.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC3.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC4.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC5.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC6.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC7.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC8.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC9.xml
  Resources/ServerInfo/RulesSS220.txt
Labels: No C#

#1266 Fix Orange diagonal shuttle wall
  Resources/Prototypes/SS220/Entities/Structures/walls.yml
Labels: No C#

#1239 NewFolders
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/misk/paper.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/folders.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/paper.yml
  Resources/Textures/SS220/Objects/Misc/bureaucracy.rsi/folder-hop.png
  Resources/Textures/SS220/Objects/Misc/bureaucracy.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1245 SalvageSpecialist-Loadout-fix
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/turtleneck.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/turtleneck.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_turtle.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_turtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_turtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_turtle.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1265 Corpses equipment fix
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/SS220/Roles/Jobs/standartGear.yml
Labels: No C#, Status: Needs Review

#1279 Rename RXBZZ to RXBZ
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/ss220/prototypes/access/access.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#1286 Resprite-Stunbaton
  Resources/Locale/ru-RU/ss220/weapons/telescopichka.ftl
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/telescopichka.yml
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/off-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/off-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/on-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/on-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_off.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_on.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/off-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/off-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/on-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/on-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/telescope_off.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/telescope_on.png
Labels: Changes: Sprites, Changes: Localization, No C#

#1281 Cargonovich
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cargonovich.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cargonovich.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cargonovich.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cargonovich.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cargonovich.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cargonovich.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1208 Crafr Diagonal shuttle window
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window_diagonal.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#1283 Fix inhands shinel HoS
  Resources/Textures/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/hos_greatcoat.rsi/meta.json
Labels: Changes: Sprites, No C#

#1285 MewFigurine
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/figurines.yml
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/admiral.png
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/diplomat.png
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/field_officer_centcom.png
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/meta.json
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/officer_centcom.png
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/qm.png
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/senior_scientist.png
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/zombie.png
Labels: Changes: Sprites, No C#

#1233 Ss220 telepathy
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/SS220/Chat/Command/Telepathy/TelepathyCommand.cs
  Content.Server/SS220/Telepathy/TelepathySystem.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/SS220/Telepathy/TelepathyChannelPrototype.cs
  Content.Shared/SS220/Telepathy/TelepathyComponent.cs
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/chat/ui/chat-box.ftl
  Resources/Prototypes/SS220/telepahy_channels.yml
Labels: Changes: UI, Changes: Localization

#1202 respriteRatkingAction
  Resources/Prototypes/Datasets/rat_king_commands.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/SS220/Actions/Ghost.yml
  Resources/Prototypes/SS220/Actions/GhostRoleCast.yml
  Resources/Prototypes/SS220/CQC/Actions.yml
  Resources/Textures/SS220/Interface/Actions/CQCCombat/blowback.png
  Resources/Textures/SS220/Interface/Actions/CQCCombat/disarm.png
  Resources/Textures/SS220/Interface/Actions/CQCCombat/longsleep.png
  Resources/Textures/SS220/Interface/Actions/CQCCombat/punch.png
  Resources/Textures/SS220/Interface/Actions/GhostRoleCast.png
  Resources/Textures/SS220/Interface/Actions/GhostRoleRemove.png
  Resources/Textures/SS220/Interface/Actions/GhostRoleSettings.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/attack.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/attackOff.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/follow.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/followOff.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/loose.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/looseOff.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/stay.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/stayOff.png
  Resources/Textures/SS220/Interface/Actions/respawn.png
Labels: Changes: Sprites, No C#

#1267 pilot-capcap
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/security-pilot.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security-pilot.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
  Resources/Textures/SS220/Clothing/Head/Hats/pilot_capcap.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/pilot_capcap.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/pilot_capcap.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/pilot_capcap.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/pilot_capcap.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1284 CentComm Map update v0.4
  Resources/Maps/SS220/admin-shuttles/ss220_NT_CBURN.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_CENT.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_DS.yml
  Resources/Maps/SS220/ss220-centcomm.yml
Labels: No C#, Status: Needs Review

#1290 fix: Унатх не умел рычать
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: No C#

#1296 AdminComforts
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#1297 Update rules
  Resources/ServerInfo/Guidebook/ServerRules/RulesSS220.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC0.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC2.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC3.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC4.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC6.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC7.xml
Labels: No C#

#1299 fix: Исправлено отображение рюкзаков СЕ в снаряжении
  Resources/Prototypes/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#

#1287 syndicate-diplomatist
  Resources/Locale/ru-RU/ss220/clothing/Jumpskirt/jumpskirt.ftl
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/syndicate_diplomatist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/syndicate_diplomatist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/syndicate_diplomatist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/syndicate_diplomatist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/syndicate_diplomatist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/syndicate_diplomatist.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_diplomatist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_diplomatist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_diplomatist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_diplomatist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_diplomatist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_diplomatist.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1298 Fract War Update V0.6.1
  Resources/Audio/SS220/Weapons/Guns/Gunshots/blaster_nt.ogg
  Resources/Maps/SS220/EventShuttles/FractWarEbent/IronSquad.yml
  Resources/Maps/SS220/EventShuttles/FractWarEbent/NT.yml
  Resources/Maps/SS220/EventShuttles/FractWarEbent/USSP.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/Ammunitions/boxes.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/Ammunitions/impacts.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/Ammunitions/magazines.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/Ammunitions/powercells.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/Ammunitions/projectiles.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/blasters.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/smgs.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/lockers.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/ert/other_Items_ERT.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/other_Items.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/ussp/new_Items_sssp.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ert_magblaster.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ert_magblaster.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ert_magblaster.rsi/o1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ert_magblaster.rsi/o2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ussp_magppsh.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ussp_magppsh.rsi/mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ussp_magppsh.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/redprojectile.rsi/impact_laser_red.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/redprojectile.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/redprojectile.rsi/redlaser.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/base-unshaded.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-5.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-unshaded-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-unshaded-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/mag-unshaded-5.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ert_blaster.rsi/wielded-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/bolt-open.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/ussp_ppsh.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, No C#

#1300 Centcomm Name Hot Fix
  Resources/Maps/SS220/ss220-centcomm.yml
Labels: No C#

#1305 fix: Исправлен обход джоб бана фелинидов
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

#1307 DeleteSecurityLetal
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#1312 new battle maps
  Resources/Locale/ru-RU/ss220/tacmap.ftl
  Resources/Prototypes/SS220/Entities/Structures/Furniture/tacmap.yml
  Resources/Textures/SS220/Objects/Misc/sec_tacmap.rsi/map_axioma.png
  Resources/Textures/SS220/Objects/Misc/sec_tacmap.rsi/map_eclipse.png
  Resources/Textures/SS220/Objects/Misc/sec_tacmap.rsi/map_nox.png
  Resources/Textures/SS220/Objects/Misc/sec_tacmap.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/sec_tacmap_tabletop.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/sec_tacmap_tabletop.rsi/tabletop_axioma.png
  Resources/Textures/SS220/Objects/Misc/sec_tacmap_tabletop.rsi/tabletop_eclipse.png
  Resources/Textures/SS220/Objects/Misc/sec_tacmap_tabletop.rsi/tabletop_nox.png
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1313 fix: Исправлено отображение некоторых имплантов после использования
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: No C#

#1316 Add new lobby art from NORKA
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/Destruction.png
  Resources/Textures/SS220/LobbyScreens/Destruction.png.yml
  Resources/Textures/SS220/LobbyScreens/attributions.yml
Labels: No C#

#1319 Maps attribution fix
  Resources/map_attributions.txt
Labels: No C#

#1336 bugfix #1334 by alchi
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: Changes: Localization, No C#

#1342 clownPDA fix
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#1347 Handmade guns mini rework
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/improvised_shotgun.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/improvised_shotgun_shell.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/improvised/handmade_shotgun.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/improvised/makeshift_laser_pistol.yml
  Resources/Prototypes/SS220/tags.yml
Labels: No C#

#1350 cc arrival form fix
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_arrival.xml
Labels: No C#

#1352 Cart system fix
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
Labels: No C#

#1331 IAA-Loadout
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/iaa.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/wildcards.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/iaa.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/iaa.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/gloves.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ntr_uniform.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ntr_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ntr_uniform.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ntr_uniform.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ntr_uniform.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ntr_uniform.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1329 fix: Исправлено кол-во предметов для кражи у вора
  Resources/Prototypes/Objectives/thief.yml
Labels: No C#, Status: Needs Review

#1356 power-cell-fix
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
Labels: No C#

#1357 TrustedLawyerUniform
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/iaa.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/trusted_lawyer.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/trusted_lawyer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/trusted_lawyer.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/trusted_lawyer.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/trusted_lawyer.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/trusted_lawyer.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1360 HoS&BlueShield-holster
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
Labels: No C#

#1358 AtmosCasualResprite
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/atmos_casual.rsi/meta.json
Labels: Changes: Sprites, No C#

#1359 Gloves&Shoes Color Edited
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
  Resources/Textures/Clothing/Hands/Gloves/latex.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/latex.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/latex.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/latex.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/latex.rsi/meta.json
Labels: Changes: Sprites, No C#

#1363 New Wirless Telescreen
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/SS220/Entities/Structures/Wallmount/monitors_televisions.yml
Labels: No C#

#1370 Normal holster whitelist added
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#1371 White-Cap-Fix
  Resources/Prototypes/SS220/Entities/Clothing/Hand/hands.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/captain-hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/whitecapoutclothing.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/whitecapuniform.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/captain_white.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/captain_white.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/captain_white.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/captain_white.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/captain_white.rsi/meta.json
Labels: Changes: Sprites, No C#

#1372 Psychologist-Loadoust-Fix
  Resources/Prototypes/Corvax/Roles/Jobs/Wildcards/psychologist.yml
Labels: No C#

#1373 cat-emotes
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/shadows.yml
  Resources/Prototypes/SS220/Voice/speech_emote_sounds.yml
Labels: No C#

#1361 Ensnareable Tweak
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Resources/Locale/ru-RU/ensnare/ensnare-component.ftl
Labels: Changes: Localization

#1366 Shutlefromthepast
  Resources/Maps/SS220/EventShuttles/ShuttleFromThePast/shuttlefromthepast.yml
Labels: No C#

#1375 add ban command completion
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
  Resources/Locale/ru-RU/info/ban.ftl
Labels: Changes: Localization

#1379 Add Harai reagent
  Resources/Locale/ru-RU/ss220/reagents/meta/medicine.ftl
  Resources/Prototypes/SS220/Flavors/flavors.yml
  Resources/Prototypes/SS220/Reagents/medicine.yml
  Resources/Prototypes/SS220/Recipes/Reactions/medicine.yml
Labels: Changes: Localization, No C#

#1383 SS220-Inhand-position-fix
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/atmospheric_technician_turtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/atmospheric_technician_turtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/centcom_officer.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/chemist_turtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/chemist_turtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/clown.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/clown.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/colorturtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/colorturtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/colorturtle.rsi/trinkets-inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/colorturtle.rsi/trinkets-inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/colorturtle_alt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/colorturtle_alt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/colorturtle_alt.rsi/trinkets-inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/colorturtle_alt.rsi/trinkets-inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydroblue.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydroblue.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydrowhite.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hydrowhite.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/paramedic_turtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/paramedic_turtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/admiral.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/admiral.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/atmospheric_technician_turtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/atmospheric_technician_turtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/captain_white.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/centcom_officer.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clown.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clown.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydro-overalls-blue.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydro-overalls-blue.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydro-overalls-green.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydro-overalls-white.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydro-overalls-white.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydroblue.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydroblue.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydrowhite.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/hydrowhite.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/journalistred.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen_diplomat.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen_diplomat.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen_officer.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen_officer.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ntr_uniform.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ntr_uniform.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_turtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_turtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_diplomatist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_diplomatist.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#1376 Wrist Watch
  Content.Client/SS220/WristWatch/UI/WristWatchBoundUserInterface.cs
  Content.Client/SS220/WristWatch/UI/WristWatchMenu.xaml
  Content.Client/SS220/WristWatch/UI/WristWatchMenu.xaml.cs
  Content.Client/SS220/WristWatch/WristWatchComponent.cs
  Content.Client/SS220/WristWatch/WristWatchStyle.cs
  Content.Client/SS220/WristWatch/WristWatchSystem.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/SS220/WristWatch/WristWatchComponent.cs
  Content.Server/SS220/WristWatch/WristWatchSystem.cs
  Content.Shared/SS220/WristWatch/SharedWristWatchComponent.cs
  Content.Shared/SS220/WristWatch/SharedWristWatchSystem.cs
  Resources/Fonts/SS220/WristWatch/SS220-Electronika-Watch-Digits-16.ttf
  Resources/Fonts/SS220/WristWatch/SS220-Electronika-Watch-Digits-20.ttf
  Resources/Fonts/SS220/WristWatch/SS220-Watch-Digits-16.ttf
  Resources/Fonts/SS220/WristWatch/SS220-Watch-Digits-22.ttf
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/SS220/Entities/Clothing/Hand/watches.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/rackshelf.yml
  Resources/Prototypes/SS220/Recipes/Lathes/misc.yml
  Resources/Prototypes/SS220/RewardGroups/RewardGroups.yml
  Resources/Textures/SS220/Clothing/Hands/WristWatch/nt-watch-gold.rsi/equipped-HAND.png
  Resources/Textures/SS220/Clothing/Hands/WristWatch/nt-watch-gold.rsi/icon.png
  Resources/Textures/SS220/Clothing/Hands/WristWatch/nt-watch-gold.rsi/meta.json
  Resources/Textures/SS220/Clothing/Hands/WristWatch/nt-watch.rsi/equipped-HAND.png
  Resources/Textures/SS220/Clothing/Hands/WristWatch/nt-watch.rsi/icon.png
  Resources/Textures/SS220/Clothing/Hands/WristWatch/nt-watch.rsi/meta.json
  Resources/Textures/SS220/Interface/WristWatch/WristWatchPanel.png
  Resources/Textures/SS220/Interface/WristWatch/WristWatchPanelElectronika.png
  Resources/Textures/SS220/Interface/WristWatch/WristWatchPanelGold.png
  Resources/Textures/SS220/Interface/WristWatch/license.txt
Labels: Changes: Sprites, Changes: UI

#1306 Seniors again
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/SS220/Entities/Clothing/senior_service/senior_service_head.yml
  Resources/Prototypes/SS220/Entities/Clothing/senior_service/senior_service_skirt.yml
  Resources/Prototypes/SS220/Entities/Clothing/senior_service/service_senior_suit.yml
  Resources/Prototypes/SS220/Entities/JobSpawners/seniorMark.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/senior_service.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/senior_medical.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/senior_rnd.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/senior_officer.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_engineer.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_medical.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_rnd.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_sec.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_service.yml
  Resources/Prototypes/SS220/Roles/play_time_trackers.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/SeniorService.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-seniorservice.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idseniorservice.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/seniorsercap.rsi/equipped-HELMET-dog.png
  Resources/Textures/SS220/Clothing/Head/Hats/seniorsercap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/seniorsercap.rsi/equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hats/seniorsercap.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/seniorsercap.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/seniorsercap.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/seniorsercap.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/seniorsercap.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/senior_service.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/senior_service.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/senior_service.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/senior_service.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/senior_service.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/senior_service.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/senior_service.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/senior_service.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/senior_service.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/senior_service.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/senior_service.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/senior_service.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1387 Cherry-pick upgrade station goal system
  Content.Server/Corvax/StationGoal/StationGoalCommand.cs
  Content.Server/Corvax/StationGoal/StationGoalComponent.cs
  Content.Server/Corvax/StationGoal/StationGoalPaperSystem.cs
  Content.Server/Corvax/StationGoal/StationGoalPrototype.cs
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Corvax/Entities/Stations/base.yml
  Resources/Prototypes/Corvax/Objectives/goals.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/SS220/Maps/axioma.yml
  Resources/Prototypes/SS220/Maps/eclipse.yml
  Resources/Prototypes/SS220/Maps/frankenstein.yml
  Resources/Prototypes/SS220/Maps/nox.yml
Labels: Changes: Localization

#1388 HotFix Senior Migration
  Resources/migration.yml
Labels: No C#

#1339 fix: Исправлены крысиные слуги
  Content.Shared/RatKing/SharedRatKingSystem.cs
Labels: Status: Needs Review

#1401 Fix access for Senior Officers and Senior Service Worker
  Resources/Prototypes/SS220/Roles/Jobs/senior_sec.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_service.yml
Labels: No C#

#1404 Station goals HotFix
  Resources/Prototypes/SS220/Maps/axioma.yml
  Resources/Prototypes/SS220/Maps/eclipse.yml
  Resources/Prototypes/SS220/Maps/frankenstein.yml
  Resources/Prototypes/SS220/Objectives/goals.yml
Labels: No C#

#1405 Seniors HotFix
  Resources/Locale/ru-RU/ss220/loadout-groups/senior_engineer.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/senior_medical.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/senior_officer.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/senior_scientist.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/senior_service.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/senior_service.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_engineer.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_medical.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_rnd.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_sec.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_service.yml
Labels: Changes: Localization, No C#

#1229 Felinid`s-Power
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/felinid.yml
Labels: No C#

#1409 NTR-Uniform-Fix
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/iaa.yml
Labels: Changes: Localization, No C#

#1412 Blueshield-Storage-Fix
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
Labels: No C#

#1413 Running In fixes
  Resources/Audio/SS220/StationEvents/attributions.yml
  Resources/Audio/SS220/StationEvents/meat.ogg
  Resources/Audio/SS220/StationEvents/running-in.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#1416 Add lobbyart by TTTomaTTT
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/RatKing.png
  Resources/Textures/SS220/LobbyScreens/RatKing.png.yml
  Resources/Textures/SS220/LobbyScreens/attributions.yml
Labels: No C#, Status: Needs Review

#1417 fix: Исправлена невозможность выбрать ботинки у ведущего инженера
  Resources/Prototypes/SS220/Roles/Jobs/senior_engineer.yml
Labels: No C#

#1418 fix: Исправлено взятие инструктора СБ за фелинида
  Resources/Prototypes/SS220/Species/felinid.yml
Labels: No C#

#1419 QM-Drip
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Locale/ru-RU/ss220/clothing/OuterClothing/coats.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Textures/SS220/Clothing/Head/Hats/qm_warehouseman.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/qm_warehouseman.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/qm_warehouseman.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/qm_warehouseman.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/qm_warehouseman.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/qm_warehouseman.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/qm_warehouseman.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/qm_warehouseman.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/qm_warehouseman.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/qm_warehouseman.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/qm_warehouseman.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/qm_warehouseman.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/qm_warehouseman.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/qm_warehouseman.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/qm_warehouseman.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1402 Cryo migration
  Content.Client/Bed/Cryostorage/CryostorageMenu.xaml
  Content.Client/SS220/CryopodSSD/CryopodSSDBoundUserInterface.cs
  Content.Client/SS220/CryopodSSD/CryopodSSDSystem.cs
  Content.Client/SS220/CryopodSSD/CryopodSSDWindow.xaml
  Content.Client/SS220/CryopodSSD/CryopodSSDWindow.xaml.cs
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/SS220/CryopodSSD/AfkSSDSystem.cs
  Content.Server/SS220/CryopodSSD/CryopodSSDSystem.cs
  Content.Server/SS220/CryopodSSD/SSDStorageConsoleSystem.cs
  Content.Server/SS220/TeleportAFKtoCryoSystem/TeleportAFKtoCryoSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Bed/Cryostorage/CryostorageComponent.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/SS220/CryopodSSD/CryopodSSDComponent.cs
  Content.Shared/SS220/CryopodSSD/SSDStorageConsoleComponent.cs
  Content.Shared/SS220/CryopodSSD/SSDStorageConsoleState.cs
  Content.Shared/SS220/CryopodSSD/SharedCryopodSSDSystem.cs
  Content.Shared/SS220/TeleportAFKtoCryoSystem/SharedTeleportAFKtoCryoSystem.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Structures/cryopod.yml
  Resources/Prototypes/SS220/CryopodSSD/CryopodSSD.yml
  Resources/Textures/SS220/Structures/Machines/cryopodSSD.rsi/cryopodSSD-closed.png
  Resources/Textures/SS220/Structures/Machines/cryopodSSD.rsi/cryopodSSD-open.png
  Resources/Textures/SS220/Structures/Machines/cryopodSSD.rsi/icon.png
  Resources/Textures/SS220/Structures/cryostorage.rsi/meta.json
  Resources/Textures/SS220/Structures/cryostorage.rsi/sleeper_0.png
  Resources/Textures/SS220/Structures/cryostorage.rsi/sleeper_1.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: UI

#1420 engineer-resprite
  Resources/Textures/Clothing/Uniforms/Jumpskirt/engineering.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/engineering.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/engineering.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/engineering.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/engineering.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/engineering.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/meta.json
Labels: Changes: Sprites, No C#

#1421 atmos-resprite
  Resources/Textures/Clothing/Uniforms/Jumpskirt/atmosf.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/atmosf.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/atmosf.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/atmosf.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/atmosf.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/atmosf.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/meta.json
Labels: Changes: Sprites, No C#

#1427 fix: Синди худы снова отображаются на лице
  Resources/Prototypes/SS220/Entities/Clothing/Eyes/hud.yml
Labels: No C#

#1428 fix: Фелиниды теперь слепнут от вспышек
  Resources/Prototypes/SS220/Entities/Mobs/Player/felinid.yml
Labels: No C#

#1430 Fix Jumpskirts 220
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/CE_dark.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/color_turtle.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/color_turtle_alt.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/turtleneck.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/jumpskirt.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/startrek_skirt.yml
Labels: No C#

#1272 Dark Reaper consume fix
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Shared/SS220/DarkReaper/CannotBeConsumedComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperSharedSystem.cs
  Resources/Prototypes/SS220/Mobs/BloodCultSpawner.yml
Labels: Status: Needs Review

#1423 fix: Исправлены описания некоторым должностям
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/ss220/job/job-description.ftl
  Resources/Prototypes/SS220/Roles/Jobs/senior_service.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#1438 add: Добавлены чайники в алкомат
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
Labels: No C#

#1385 Quicksand
  Resources/Audio/SS220/Effects/Footsteps/quicksand1.ogg
  Resources/Audio/SS220/Effects/Footsteps/quicksand2.ogg
  Resources/Audio/SS220/Effects/Footsteps/quicksand3.ogg
  Resources/Audio/SS220/Effects/Footsteps/quicksand4.ogg
  Resources/Locale/ru-RU/ss220/prototypes/entities/tiles/quicksand.ftl
  Resources/Prototypes/SS220/Entities/Tile/lowquicksand.yml
  Resources/Prototypes/SS220/Entities/Tile/quicksand.yml
  Resources/Prototypes/SS220/SoundCollections/footsteps.yml
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/full.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/meta.json
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand0.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand1.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand2.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand3.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand4.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand5.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand6.png
  Resources/Textures/SS220/Tiles/Planet/lowquicksand.rsi/quicksand7.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/full.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/meta.json
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand0.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand1.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand2.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand3.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand4.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand5.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand6.png
  Resources/Textures/SS220/Tiles/Planet/quicksand.rsi/quicksand7.png
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1433 add: Уникальность сообщений, задержка перед отправкой
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Status: Needs Review

#1443 Crowbar on belt
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: No C#

#1445 Centcom-EmagLatheRecipes-Fix
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/SS220/Recipes/Lathes/clothing.yml
Labels: No C#

#1451 Catwalk-noRot-tweak
  Resources/Prototypes/SS220/Entities/Structures/catwalk.yml
Labels: No C#

#1131 Thermal Vision
  Content.Client/SS220/Thermals/ThermalVisionOverlay.cs
  Content.Client/SS220/Thermals/ThermalVisionSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/SS220/Thermals/ThermalVisionClothingComponent.cs
  Content.Server/SS220/Thermals/ThermalVisionClothingSystem.cs
  Content.Server/SS220/Thermals/ThermalVisionImplantComponent.cs
  Content.Server/SS220/Thermals/ThermalVisionImplantSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/SS220/Thermals/ThermalVisionComponent.cs
  Content.Shared/SS220/Thermals/ThermalVisionSystem.cs
  Resources/Locale/ru-RU/clothing/glasses.ftl
  Resources/Locale/ru-RU/ss220/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss220/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionGoogles/ThermalVisionProto.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionImplant/SubdermalThermalVisionImplant.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionImplant/ThermalVisionAction.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionImplant/ThermalVisionImplanter.yml
  Resources/Prototypes/SS220/Recipes/Lathes/devices.yml
  Resources/Prototypes/SS220/Research/experimental.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Clothing/Eyes/secthermalglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/SS220/Clothing/Eyes/secthermalglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/SS220/Clothing/Eyes/secthermalglasses.rsi/equipped-EYES.png
  Resources/Textures/SS220/Clothing/Eyes/secthermalglasses.rsi/icon.png
  Resources/Textures/SS220/Clothing/Eyes/secthermalglasses.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Eyes/secthermalglasses.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Eyes/secthermalglasses.rsi/meta.json
  Resources/Textures/SS220/Misc/ThermalEye.rsi/EyeOFF.png
  Resources/Textures/SS220/Misc/ThermalEye.rsi/EyeON.png
  Resources/Textures/SS220/Misc/ThermalEye.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#1444 fix: Парамедику теперь не выпадает цель на портативный монитор
  Resources/Prototypes/Objectives/traitor.yml
Labels: No C#

#1455 Assistant roles count fix
  Resources/Prototypes/SS220/Maps/axioma.yml
  Resources/Prototypes/SS220/Maps/eclipse.yml
Labels: No C#

#1458 Torch error fix
  Resources/Prototypes/Entities/Objects/Misc/torch.yml
Labels: No C#

#1462 Wrist Watch Store Hotfix
  Resources/Prototypes/SS220/Entities/Clothing/Hand/watches.yml
Labels: No C#

#1463 glasses-more-transparent
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/glasses.rsi/meta.json
Labels: Changes: Sprites, No C#

#1464 Add cryo action
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/SS220/TeleportAFKtoCryoSystem/TeleportAFKtoCryoSystem.cs
  Content.Shared/Bed/Cryostorage/CryostorageComponent.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
  Content.Shared/SS220/Cryo/CryoAction.cs
  Resources/Locale/ru-RU/actions/actions/cryopodSSD.ftl
  Resources/Locale/ru-RU/ss220/actions/cryopod.ftl
  Resources/Prototypes/SS220/CryopodSSD/cryo.yml
Labels: Changes: Localization

#1465 add: РИТЭГ теперь периодически теряет свой запас радиации
  Content.Server/SS220/RadiationDecrease/RadiationDecreaseSystem.cs
  Content.Shared/SS220/RadiationDecrease/RadiationDecreaseComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
Labels: Status: Needs Review

#1469 Muzzle-Bullet-Resprite
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles_ss220.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles_ss220.rsi/muzzle_bullet.png
Labels: Changes: Sprites, No C#

#1472 Duster-Resprite
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Shuttles/launcher.rsi/exp-2100g.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shuttles/launcher.rsi/mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shuttles/launcher.rsi/mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shuttles/launcher.rsi/mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shuttles/launcher.rsi/mag-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shuttles/launcher.rsi/mag-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shuttles/launcher.rsi/mag-5.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shuttles/launcher.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1468 New cargo shuttle blast doors hotfix
  Resources/Maps/SS220/Shuttles/cargo.yml
Labels: No C#

#1467 fix: Some minor fixes
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Voice/speech_verbs.yml
Labels: No C#, Status: Needs Review

#1483 Tacticool s resprite
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tacticool_s.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tacticool.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tacticool.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tacticool.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tacticool.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tacticool.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tacticool.rsi/meta.json
Labels: Changes: Sprites, No C#

#1484 CapHeadLoadoutsChanges
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/captain.yml
Labels: No C#

#1485 Security Loadout Update
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_officer.yml
Labels: No C#

#1491 SnuffBox
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/consumable/Smokeables/snuff-box.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Smokeables/case.yml
  Resources/Prototypes/Stacks/consumable_stacks.yml
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/closed.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/open.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/snuff1.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/snuff2.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/snuff3.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/snuff4.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/snuff5.png
  Resources/Textures/SS220/Objects/Consumable/Smokeables/Snuff/snuff-box.rsi/snuff6.png
Labels: Changes: Sprites, Changes: Localization, No C#

#1052 Carpet&Natural Tiles
  Resources/Locale/ru-RU/ss220/tiles/tiles.ftl
  Resources/Prototypes/SS220/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/SS220/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/SS220/Tiles/floors.yml
  Resources/Prototypes/SS220/Tiles/planet.yml
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-black-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-black-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-black.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-blue-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-blue-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-blue.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-cyan-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-cyan-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-cyan.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-green-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-green-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-green.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-magenta-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-magenta-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-magenta.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-orange-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-orange-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-orange.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-purple-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-purple-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-purple.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-red-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-red-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-red.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-white-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-white-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/carpet-white.png
  Resources/Textures/SS220/Objects/Tiles/tile_sh.rsi/meta.json
  Resources/Textures/SS220/Tiles/Planet/dirty_water.rsi/dirty_water.png
  Resources/Textures/SS220/Tiles/Planet/dirty_water.rsi/meta.json
  Resources/Textures/SS220/Tiles/Planet/stagnant_water.rsi/meta.json
  Resources/Textures/SS220/Tiles/Planet/stagnant_water.rsi/stagnant_water.png
  Resources/Textures/SS220/Tiles/attributions.yml
  Resources/Textures/SS220/Tiles/carpetblack.png
  Resources/Textures/SS220/Tiles/carpetblue.png
  Resources/Textures/SS220/Tiles/carpetcyan.png
  Resources/Textures/SS220/Tiles/carpetgreen.png
  Resources/Textures/SS220/Tiles/carpetmagenta.png
  Resources/Textures/SS220/Tiles/carpetorange.png
  Resources/Textures/SS220/Tiles/carpetpurple.png
  Resources/Textures/SS220/Tiles/carpetred.png
  Resources/Textures/SS220/Tiles/carpetwhite.png
  Resources/Textures/SS220/Tiles/mud.png
  Resources/Textures/SS220/Tiles/rocks.png
  Resources/Textures/SS220/Tiles/wasteland.png
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review
