Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-04, with the labels that each got.

#862 День дурака
  Resources/Audio/SS220/Admin_sounds/ahelp_sound.ogg
  Resources/Audio/SS220/ahelp_sound.ogg
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: No C#

#856 Fulls_day_tasts
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/special_pie.yml
  Resources/Prototypes/SS220/Shitspawn/pie.yml
  Resources/Textures/SS220/Objects/Consumable/Food/special_pie.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Food/special_pie.rsi/pie.png
Labels: Changes: Sprites, No C#

#864 Fulls_days_tasks2
  Content.Server/SS220/StationEvents/CableRandomSpawnRule.cs
  Content.Server/SS220/StationEvents/CableRandomSpawnRuleComponent.cs
  Resources/Locale/ru-RU/ss220/station-events/events/cable-random.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/special_pie.yml
  Resources/Prototypes/SS220/GameRules/events.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/ebent/flapjackbanana.yml
  Resources/Prototypes/SS220/Recipes/Crafting/flapjackbanana.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization

#865 Goal fix
  Resources/Locale/ru-RU/ss220/station-goals/additional-goals.ftl
Labels: Changes: Localization, No C#

#868 Удаление группы целей на воровство животных
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: No C#

#869 Исправление ломания измельчителя при помощи мышеловки
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: No C#

#870 хотфикс звука АХ
  Resources/Audio/SS220/Admin_sounds/ahelp_sound.ogg
Labels: No C#

#859 DeathSquad BackPack Fix
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
Labels: No C#

#861 Med resprite
  Resources/Textures/Clothing/Belt/medical.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/medical.rsi/icon.png
  Resources/Textures/Clothing/Belt/medical.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/medical.rsi/inhand-right.png
  Resources/Textures/Clothing/Belt/medical.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/brigmedic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/genetics.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/virology.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/genetics.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/virology.rsi/meta.json
Labels: Changes: Sprites, No C#

#860 Syndie Borg esword fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/e_sword.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_double-inhands.rsi/inhand-left-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_double-inhands.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_double-inhands.rsi/inhand-right-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_double-inhands.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_double-inhands.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#852 fakeCont
  Resources/Audio/SS220/Music/Requiem.ogg
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/SS220/Entities/Objects/FakeСontraband/EmagFake.yml
  Resources/Prototypes/SS220/Entities/Objects/FakeСontraband/EmagFakeList.yml
  Resources/Prototypes/SS220/Entities/Objects/FakeСontraband/FakeContraband.yml
  Resources/Textures/SS220/Misc/idcase.rsi/idcase.png
  Resources/Textures/SS220/Misc/idcase.rsi/meta.json
Labels: Changes: Sprites, No C#

#871 Remove jobs restricts
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: No C#

#854 Rename края (edges) в соединения (edges) as here edges are meant in the sense of graph
  Resources/Locale/ru-RU/xenoarchaeology/artifact-analyzer.ftl
  Resources/ServerInfo/Guidebook/Science/ArtifactReports.xml
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
Labels: Changes: Localization, No C#, Status: Needs Review

#878 Blueshield Fix
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/blueshield_lockers.yml
Labels: No C#

#876 PilotsGloves
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/SS220/Roles/Jobs/security_pilot.yml
Labels: No C#

#875 UplinkFixStore
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#, Status: Needs Review

#879 Шаттл для ивента торговцев
  Resources/Maps/EventShuttles/Traider-scavenger/UC-SPTR_Scavenger.yml
  Resources/Maps/EventShuttles/Traider-scavenger/UC-SPTR_Scavenger_GRID.yml
  Resources/Maps/EventShuttles/Traider-scavenger/UC-СVMR_Beatle.yml
  Resources/Maps/EventShuttles/Traider-scavenger/UC-СVMR_Вeatle_GRID.yml
Labels: No C#

#891 Ебент шаттлы
  Resources/Maps/EventShuttles/Ne_Trogat_Blyat/NT.yml
  Resources/Maps/EventShuttles/Ne_Trogat_Blyat/Syndy.yml
  Resources/Maps/EventShuttles/Ne_Trogat_Blyat/USSP.yml
  Resources/Prototypes/fonts.yml
Labels: No C#

#893 Откат первоапрельских шутеек
  Resources/Audio/SS220/Admin_sounds/ahelp_sound.ogg
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: No C#

#894 The_end_of_fulls_day
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/special_pie.yml
  Resources/Prototypes/SS220/GameRules/events.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/ebent/flapjackbanana.yml
  Resources/Prototypes/SS220/Recipes/Crafting/flapjackbanana.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#892 VodkaKazaki
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/vodkakazaki.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/alcohol.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/fill-5.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/icon_open.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/vodkakazaki.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#883 Giggle update
  Resources/Audio/SS220/Emotes/giggles/femalegiggle.ogg
  Resources/Audio/SS220/Emotes/giggles/malegiggle.ogg
  Resources/Prototypes/SS220/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#

#885 Add detective camera
  Content.Server/SS220/Detective/Camera/AttachedCameraComponent.cs
  Content.Server/SS220/Detective/Camera/AttachedCameraSystem.cs
  Content.Server/SS220/Detective/Camera/DetectiveCameraAttachSystem.cs
  Content.Server/SS220/Detective/Camera/DetectiveCameraComponent.cs
  Content.Server/SS220/Detective/Camera/DetectiveCameraSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/SS220/Detective/Camera/DetectiveCameraAttachComponent.cs
  Content.Shared/SS220/Detective/Camera/DetectiveCameraAttachDoAfterEvent.cs
  Content.Shared/SS220/Detective/Camera/DetectiveCameraDetachDoAfterEvent.cs
  Content.Shared/SS220/Detective/Camera/SharedDetectiveCameraAttachSystem.cs
  Resources/Locale/en-US/ss220/detective/camera/detective-camera.ftl
  Resources/Locale/ru-RU/ss220/detective/camera/detective-camera.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/detective/detective-camera.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/SS220/Detective/Camera/detective_hidden_camera.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/Objects/Tools/dec_cam.rsi/icon.png
  Resources/Textures/Objects/Tools/dec_cam.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#887 Fix goals text
  Resources/Locale/ru-RU/ss220/station-goals/additional-goals.ftl
  Resources/PhotocopierForms/nanotrasen_station/goal/goal_robotisation.xml
Labels: Changes: Localization, No C#, Status: Needs Review

#895 Meatwheat fixed
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/SS220/Hydroponics/seeds.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/food/ClumpToMeat.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/dead.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/harvest.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/produce.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/seed.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/stage-1.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/stage-2.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/stage-3.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/stage-4.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/stage-5.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/meatwheat.rsi/stage-6.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#897 Giggle volume fix
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#

#845 Fixes and changes
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/power/chargers.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
Labels: Changes: Localization, No C#

#829 Vehicle fix
  Content.Shared/Movement/Systems/FrictionContactsSystem.cs
  Content.Shared/SS220/Movement/VehicleMovementSpeedModifierComponent.cs
  Content.Shared/SS220/Vehicle/SharedVehicleSystem.cs
  Resources/Locale/ru-RU/ss220/vehicle/vehicle.ftl
Labels: Changes: Localization

#899 Deleted chance of bananaRain event
  Resources/Prototypes/SS220/GameRules/events.yml
Labels: No C#

#901 Duster rework
  Resources/Locale/dusternewrammo/dusternewammo.ftl
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Magazines/grenade.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Localization, No C#

#905 WhiteHole_Grenade fix
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#909 Buff hypopen
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: No C#

#849 Tables Update
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/tables/tables.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Prototypes/SS220/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/SS220/Recipes/Construction/Furniture/tables.yml
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/full.png
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/meta.json
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/state_0.png
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/state_1.png
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/state_2.png
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/state_3.png
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/state_4.png
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/state_5.png
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/state_6.png
  Resources/Textures/SS220/Structures/Furniture/Tables/rp_glass.rsi/state_7.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/full.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/meta.json
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/state_0.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/state_1.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/state_2.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/state_3.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/state_4.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/state_5.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/state_6.png
  Resources/Textures/SS220/Structures/Furniture/Tables/ru_glass.rsi/state_7.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/full.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/meta.json
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/state_0.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/state_1.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/state_2.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/state_3.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/state_4.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/state_5.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/state_6.png
  Resources/Textures/SS220/Structures/Furniture/Tables/u_glass.rsi/state_7.png
Labels: Changes: Sprites, Changes: Localization, No C#

#913 Radio for event
  Content.Client/SS220/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Client/SS220/Radio/UI/HandheldRadioMenu.xaml
  Content.Client/SS220/Radio/UI/HandheldRadioMenu.xaml.cs
  Content.Shared/SS220/Radio/Components/HandheldRadioComponent.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/radio.ftl
  Resources/Locale/ru-RU/ss220/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/SS220/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/SS220/radio_channels.yml
Labels: Changes: UI, Changes: Localization

#911 Captain's Cap tweak
  Resources/Maps/EventShuttles/Traider-scavenger/UC-СVMR_Beatle.yml
  Resources/Maps/EventShuttles/Traider-scavenger/UC-СVMR_Вeatle_GRID.yml
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: No C#

#915 lone_ops_comms
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/nukeops/war-declarator.ftl
  Resources/Maps/Shuttles/ss220_nuke_lone.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/Syndicate_Gadgets/war_declarator.yml
  Resources/Prototypes/SS220/Entities/Structures/Machines/computers.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#921 Lone ops hotfix
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Prototypes/SS220/Entities/Objects/Devices/Syndicate_Gadgets/war_declarator.yml
Labels: Changes: Localization, No C#

#889 TweakDamageSpecies
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/SS220/spo9k/Entities/Mobs/Species/felinid.yml
Labels: No C#, Status: Needs Review

#918 WardenJuggernaut
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#924 Added changing standart scrubber filter
  Content.Server/Atmos/Piping/Unary/Components/GasVentScrubberComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Prototypes/SS220/Entities/Structures/unary.yml
Labels: Status: Needs Review

#930 FigurineBlueShield
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/figurines.yml
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/blueshield.png
  Resources/Textures/SS220/Objects/Fun/figurines.rsi/meta.json
Labels: Changes: Sprites, No C#

#929 terminator_suicide
  Resources/Prototypes/Entities/Mobs/Player/terminator.yml
Labels: No C#

#916 add arsenal shelf, magazin textures and balance shuttle gun
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Magazines/grenade.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Entities/Structures/Shuttles/shuttle_gun220.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/artammoshelf.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Explosives/nar.rsi/emp.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Explosives/nar.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Explosives/nar.rsi/pent.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Explosives/nar.rsi/spent.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/mag-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/mag-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/mag-5.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/newdustcart.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/box-0.png
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/box-1.png
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/box-2.png
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/box-3.png
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/box-4.png
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/box-5.png
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/box-6.png
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/icon.png
  Resources/Textures/SS220/Structures/Storage/arta_shelf.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-0.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-1.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-2.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-3.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-4.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-5.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-6.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-7.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/box-8.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/icon.png
  Resources/Textures/SS220/Structures/Storage/cartr_shelf.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#928 DOS Harmony patch
  Content.Server/Content.Server.csproj
  Content.Server/Entry/EntryPoint.cs
  Content.Server/SS220/EnginePatches/PacketLogging.cs
  Content.Server/SS220/EnginePatches/PatchManager.cs
  Directory.Packages.props
Labels: Status: Needs Review

#939 New Atmos Mask
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/SS220/Entities/Clothing/Masks/atmos_mask.yml
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/equipped-MASK.png
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/icon.png
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/meta.json
Labels: Changes: Sprites, No C#

#938 addAdminTools
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
Labels: No C#

#943 Tile&Puff
  Resources/Locale/ru-RU/ss220/chairs.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/SS220/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/SS220/Recipes/Construction/Furniture/pouffe.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/furniture/pouffe.yml
  Resources/Prototypes/SS220/Recipes/Lathes/tiles.yml
  Resources/Prototypes/SS220/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/SS220/Tiles/floors.yml
  Resources/Textures/SS220/Objects/Tiles/kitchenred.rsi/kitchenred.png
  Resources/Textures/SS220/Objects/Tiles/kitchenred.rsi/meta.json
  Resources/Textures/SS220/Structures/Furniture/pouffe.rsi/meta.json
  Resources/Textures/SS220/Structures/Furniture/pouffe.rsi/pouffe-cyan.png
  Resources/Textures/SS220/Structures/Furniture/pouffe.rsi/pouffe-red.png
  Resources/Textures/SS220/Tiles/attributions.yml
  Resources/Textures/SS220/Tiles/kitchen_red.png
Labels: Changes: Sprites, Changes: Localization, No C#

#947 Thief hotfix
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: No C#

#944 weaponBalance
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#952 RemoveFormalSkirtLoadouts
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#

#955 NT shuttles and their fixes
  Resources/Maps/Shuttles/ss220_NT_CBURN.yml
  Resources/Maps/Shuttles/ss220_NT_CENT.yml
  Resources/Maps/Shuttles/ss220_NT_DS.yml
  Resources/Maps/Shuttles/ss220_NT_OBR.yml
  Resources/Maps/Shuttles/ss220_NT_OSO.yml
Labels: No C#, Status: Needs Review
