Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-11, with the labels that each got.

#2208 Species Height Patch
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: Prototypes, Status: Needs Review

#2105 IonStromRework
  Content.Server/StationEvents/Events/IonStormRule.cs
  Resources/Prototypes/SS220/Datasets/ion_storm.yml
Labels: Changes: Localization, Status: Needs Review, Need to be discussed

#2205 FIX: Magboots with jet w/o gravity on tile
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Resources/Locale/ru-RU/ss220/movement/jetpacks.ftl
Labels: Changes: Localization, Changes: C#

#2204 FIX: Kudzu can slow down Nymph's
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: Prototypes

#2189 Free operative jumpsuit
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Prototypes, Status: Needs Review

#2207 FIX: Mech grabber can grab other mech
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
Labels: Status: Needs Review, Changes: C#

#2197 Lobby Screens MadSkaven
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/GloryToNanoTrasen.png
  Resources/Textures/SS220/LobbyScreens/GloryToNanoTrasen.yml
  Resources/Textures/SS220/LobbyScreens/PapersPlease.png
  Resources/Textures/SS220/LobbyScreens/PapersPlease.yml
  Resources/Textures/SS220/LobbyScreens/attributions.yml
Labels: Changes: Prototypes, Status: Needs Review

#2211 ButtScan Fix
  Resources/Prototypes/SS220/Entities/Objects/Misc/buttscan.yml
Labels: Changes: Prototypes, Status: Needs Review

#2206 Disarm comp fix
  Content.Shared/SS220/Weapons/Melee/Components/DisarmOnAttackComponent.cs
  Content.Shared/SS220/Weapons/Melee/KnockingWeaponOutOfHands/Components/KnockingWeaponOutOfHandsComponent.cs
  Content.Shared/SS220/Weapons/Melee/KnockingWeaponOutOfHands/Systems/KnockingWeaponOutOfHandsSystem.cs
  Content.Shared/SS220/Weapons/Melee/Systems/DisarmOnAttackSystem.cs
Labels: Changes: C#

#2176 C4 instant detonation back
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
Labels: Changes: Prototypes, Status: Needs Review, Need to be discussed

#1734 Roundstart Wrecks, Ruins and NT Objects
  Resources/Maps/SS220/Ruins/Arena_SS220.yml
  Resources/Maps/SS220/Ruins/Broadaxe_SS220.yml
  Resources/Maps/SS220/Ruins/CargoOutpost_SS220.yml
  Resources/Maps/SS220/Ruins/Prison_SS220.yml
  Resources/Maps/SS220/Ruins/WarshuttleWreck_SS220.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: Map, Changes: Prototypes, Status: Needs Review

#2213 Disposal Unit AI interactible fix
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: Changes: Prototypes, Status: Needs Review, Need to be discussed

#2215 Envelope PaperCraft
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/paper.yml
Labels: Changes: Prototypes, Status: Needs Review

#2216 Dice sounds tweak
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
Labels: Changes: Prototypes, Status: Needs Review

#2190 Tape recorder for iaa and lawyer
  Resources/Prototypes/Corvax/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/SS220/Catalog/Fills/Items/briefcases.yml
Labels: Changes: Prototypes, Status: Needs Review

#2191 Detective kit in cargo
  Resources/Locale/ru-RU/ss220/prototypes/catalog/cargo/cargo-security.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/crates/security.ftl
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/SS220/Catalog/Fills/Crates/security.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2203 FIX: Shield damage activated
  Content.Server/SS220/ItemToggle/ItemToggleBlockingDamageComponent.cs
  Content.Server/SS220/ItemToggle/ItemToggleBlockingDamageSystem.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Changes: Prototypes, Status: Needs Review, Changes: C#

#2224 FIX: Borg can offer item to another
  Content.Server/SS220/ItemOfferVerb/Systems/ItemOfferSystem.cs
Labels: Changes: C#

#2229 FIX: Dark Reaper in context menu until material
  Content.Shared/SS220/DarkReaper/DarkReaperSharedSystem.cs
  Resources/Prototypes/SS220/DemonRofler/mob.yml
Labels: Changes: Prototypes, Changes: C#

#2235 Fix deadlock for exclusive open doors (which are usually placed when you walk out in space)
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
Labels: Changes: C#

#2237 TTK Tweaks 2
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: Changes: Prototypes, Status: Needs Review

#2238 Fix magboots with jet on grid
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Resources/Locale/ru-RU/ss220/movement/jetpacks.ftl
Labels: Changes: Localization, Status: Needs Review, Changes: C#

#2231 Добавление опции "выдачи рандомного антага" [AdminTool]
  Content.Server/SS220/Commands/AdminRandomMakeAntagSystem.cs
  Resources/Locale/ru-RU/ss220/Command/command.ftl
Labels: Changes: Localization, Status: Needs Review, Changes: C#

#2234 Fix SM garbage and nearby garbage
  Content.Server/GameTicking/Rules/VariationPass/Components/EntitySpawnVariationPassComponent.cs
  Content.Server/GameTicking/Rules/VariationPass/EntitySpawnVariationPassSystem.cs
  Resources/Prototypes/GameRules/variation.yml
Labels: Changes: Prototypes, Status: Needs Review, Test required, Changes: C#

#2173 More ammo recipies to lathes
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/guns/ammunition/magazines/pistol.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/SS220/Recipes/Lathes/security.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2259 Added reptilian sprite to WeldingGas mask
  Resources/Textures/Clothing/Mask/welding-gas.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/welding-gas.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#2262 pistol magnum mags new sprite + sprite fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/mag-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/mag-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/mag-5.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/piercing.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/practice.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/red-icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/red.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/rubber.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/uranium.png
Labels: Changes: Sprites, Changes: Prototypes

#2264 trashcan label fix
  Resources/Prototypes/SS220/Entities/Structures/Storage/trashcan.yml
Labels: Changes: Prototypes

#2263 acidifier and raffle hiddendesc fix
  Resources/Locale/ru-RU/corvax/hidden-description/hiddenDescription.ftl
Labels: Changes: Localization, Changes: Prototypes

#2265 AddMechToClothing
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Mech/Systems/MechEquipmentSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/SS220/MechClothing/MechClothingSystem.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/SharedMech.cs
  Content.Shared/SS220/MechClothing/MechClothingComponent.cs
  Content.Shared/SS220/MechRobot/MechRobotComponent.cs
  Resources/Locale/ru-RU/ss220/clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ss220/mech/mech.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/SS220/Actions/mech.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/mechClothing.yml
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/mech_loader.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/mech_loader.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/mech_loader.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/mech_loader.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/mech_loader.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/actions_mecha.rsi/mech_grab.png
  Resources/Textures/SS220/Interface/Actions/actions_mecha.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2267 RevenantFix
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
Labels: Changes: C#

#2228 FIX: Interaction without hands
  Content.Shared/Interaction/Components/InteractionPopupComponent.cs
  Content.Shared/Interaction/InteractionPopupSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
Labels: Changes: Prototypes, Status: Needs Review, Changes: C#

#2233 addBackShield
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Blocking/Components/BlockingComponent.cs
Labels: Status: Needs Review, Changes: C#

#2272 piercing screwdriver
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: Changes: Prototypes

#2271 muzhik-jumpsuit-fix
  Resources/Textures/SS220/Clothing/Sponsor/Uniform/Jumpsuit/muzhik.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

#2257 dq-update
  Resources/Audio/SS220/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/SS220/Weapons/Guns/Gunshots/hidg_rifle.ogg
  Resources/Audio/SS220/Weapons/Guns/Gunshots/rifle.ogg
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/devices/pinpointer.ftl
  Resources/Prototypes/SS220/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/meta.json
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinonalert.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinonalertdirect.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinonalertnull.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinonclose.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinondirect.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinondirectlarge.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinondirectsmall.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinondirectxtrlarge.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinonfar.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinonmedium.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinonnull.png
  Resources/Textures/SS220/Objects/Devices/pinpointer.rsi/pinpointer-nuclear.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/pulseheavylaser.png
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/heal-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/heal-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/heal-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/heal-mag-unshaded-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/pulse-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/pulse-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/pulse-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/pulse_shotgun.rsi/pulse-mag-unshaded-4.png
  Resources/Textures/SS220/Objects/Weapons/Melee/chainsword.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/chainsword.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/chainsword.rsi/inhand-right.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2273 remove extremist things
  Resources/Locale/en-US/holiday/greet/holiday-greet.ftl
  Resources/Locale/ru-RU/holiday/greet/holiday-greet.ftl
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
  Resources/Prototypes/holidays.yml
Labels: Changes: Localization, Changes: Prototypes

#2162 Spider queen antag v0.3
  Content.Server/SS220/Atmos/ItemGasSpawnerComponent.cs
  Content.Server/SS220/Atmos/ItemGasSpawnerSystem.cs
  Content.Server/SS220/SpiderQueen/Components/SpiderEggComponent.cs
  Content.Server/SS220/SpiderQueen/Systems/SpiderCocoonSystem.cs
  Content.Server/SS220/SpiderQueen/Systems/SpiderEggSystem.cs
  Content.Server/SS220/SpiderQueen/Systems/SpiderQueenSystem.cs
  Content.Shared/Damage/Components/DamageContactsComponent.cs
  Content.Shared/Damage/Components/DamagedByContactComponent.cs
  Content.Shared/Damage/Systems/DamageContactsSystem.cs
  Content.Shared/SS220/SpiderQueen/Components/SpiderCocoonComponent.cs
  Content.Shared/SS220/SpiderQueen/SharedSpiderQueenEvents.cs
  Content.Shared/SS220/SpiderQueen/Systems/SharedSpiderQueenSystem.cs
  Resources/Locale/ru-RU/ss220/actions/spider-actions.ftl
  Resources/Locale/ru-RU/ss220/chat/telepathy.ftl
  Resources/Locale/ru-RU/ss220/headset-component.ftl
  Resources/Locale/ru-RU/ss220/mobs/spider-queen.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/SS220/Actions/Spider_actions.yml
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/spider_queen.yml
  Resources/Prototypes/SS220/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/spider_eggs.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/SS220/Entities/Structures/Specific/spider_structures.yml
  Resources/Prototypes/SS220/NPCs/mob.yml
  Resources/Prototypes/SS220/radio_channels.yml
  Resources/Prototypes/SS220/telepahy_channels.yml
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/tile_spawn.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2270 walls-sprite-update-v5
  Resources/Locale/ru-RU/ss220/strucrure/walls.ftl
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/SS220/Entities/Structures/walls.yml
  Resources/Prototypes/SS220/Recipes/Construction/structures.yml
  Resources/Textures/SS220/Structures/Walls/beton.rsi/beton0.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/beton1.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/beton2.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/beton3.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/beton4.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/beton5.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/beton6.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/beton7.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/beton.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/brick.rsi/brick0.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/brick1.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/brick2.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/brick3.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/brick4.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/brick5.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/brick6.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/brick7.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/brick.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2269 resprite-syndihypo
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/SS220/Objects/Specific/Medical/syndihypo.rsi/hypo.png
  Resources/Textures/SS220/Objects/Specific/Medical/syndihypo.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/syndihypo.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/syndihypo.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2275 New loadout rnd academy
  Resources/Locale/ru-RU/ss220/clothing/Jumpskirt/jumpskirt.ftl
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/research_assistant.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/assistant_bachelor_uniform.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/assistant_bachelor_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/assistant_bachelor_uniform.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/assistant_bachelor_uniform.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/assistant_bachelor_uniform.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/assistant_bachelor_uniform.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/associate_professor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/associate_professor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/associate_professor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/associate_professor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/associate_professor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/associate_professor.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/phd_candidate.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/phd_candidate.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/phd_candidate.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/phd_candidate.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/phd_candidate.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/phd_candidate.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/professor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/professor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/professor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/professor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/professor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/professor.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/assistant_bachelor_uniform.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/assistant_bachelor_uniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/assistant_bachelor_uniform.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/assistant_bachelor_uniform.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/assistant_bachelor_uniform.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/assistant_bachelor_uniform.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/associate_professor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/associate_professor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/associate_professor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/associate_professor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/associate_professor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/associate_professor.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/phd_candidate.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/phd_candidate.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/phd_candidate.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/phd_candidate.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/phd_candidate.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/phd_candidate.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/professor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/professor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/professor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/professor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/professor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/professor.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2268 fix tts loud and improvements
  Content.Client/SS220/TTS/TTSSystem.Announce.cs
  Content.Client/SS220/TTS/TTSSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/SS220/TTS/TTSManager.cs
  Content.Server/SS220/TTS/TTSSystem.cs
  Content.Shared/SS220/TTS/PlayTTSEvent.cs
Labels: Changes: C#

#2277 bandolier rework
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: Prototypes, Status: Needs Review

#2280 Ruins & VGroid distance
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: Prototypes

#2274 skladowshik-new-skirt
  Resources/Locale/ru-RU/ss220/clothing/Jumpskirt/jumpskirt.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/qm_warehouseman_skirt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/qm_warehouseman_skirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/qm_warehouseman_skirt.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/qm_warehouseman_skirt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/qm_warehouseman_skirt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/qm_warehouseman_skirt.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2279 cburn commander hardsuit fix
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: Prototypes

#2282 TTS logs tweak
  Content.Server/SS220/TTS/TTSManager.cs
Labels: Status: Needs Review, Changes: C#

#1724 Tajpan
  Resources/Maps/SS220/EventMaps/Tajpan.yml
  Resources/Maps/SS220/EventShuttles/TajpanShuttles/Kobra5.yml
  Resources/Maps/SS220/EventShuttles/TajpanShuttles/Kudarcov13.yml
  Resources/Maps/SS220/EventShuttles/TajpanShuttles/Mul5.yml
Labels: Changes: Map, Changes: Prototypes
