Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-05, with the labels that each got.

#951 admin_memes
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/SS220/Shitspawn/EncryptionKey.yml
  Resources/Prototypes/SS220/Shitspawn/pie.yml
  Resources/Prototypes/SS220/radio_channels.yml
  Resources/Textures/SS220/Clothing/Back/Backpacks/admin_backpacks.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/admin_backpacks.rsi/icon.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/admin_backpacks.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/admin_backpacks.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/admin_backpacks.rsi/meta.json
Labels: Changes: Sprites, No C#

#962 HotFixFormalDress
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
Labels: No C#

#961 Bags fix
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
Labels: No C#

#967 BorgDate
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Robotics/Janitorial/trashbag.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/SS220/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/SS220/Recipes/Lathes/robotics.yml
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-ProtoKinetic-gun.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: Sprites, No C#

#963 BrickInnerDecals
  Resources/Prototypes/SS220/Decals/Overlays/grayscale.yml
  Resources/Textures/SS220/Decals/Overlays/greyscale.rsi/brick_inner_ne.png
  Resources/Textures/SS220/Decals/Overlays/greyscale.rsi/brick_inner_nw.png
  Resources/Textures/SS220/Decals/Overlays/greyscale.rsi/brick_inner_se.png
  Resources/Textures/SS220/Decals/Overlays/greyscale.rsi/brick_inner_sw.png
  Resources/Textures/SS220/Decals/Overlays/greyscale.rsi/meta.json
Labels: Changes: Sprites, No C#

#966 Ebent4
  Content.Client/Antag/AntagStatusIconSystem.cs
  Content.Server/SS220/Commands/Helpers/ClearEbentTrashCommand.cs
  Resources/Prototypes/SS220/Entities/Objects/bed.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/ert/hardsuit_helmets_ERT.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/ert/hardsuits_ERT.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/ert/jobs_ERT.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/ert/new_Items_ERT.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/hardsuit_helmets_base.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/hardsuits_base.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/iron/hardsuit_IronSquad.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/iron/hardsuit_helmets_IronSquad.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/iron/jobs_IronSquad.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/iron/new_Items_IronSquad.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/sssp/hardsuit_helmets_sssp.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/sssp/hardsuits_sssp.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/sssp/jobs_sssp.yml
  Resources/Prototypes/SS220/Shitspawn/Ebent/sssp/new_Items_sssp.yml
  Resources/Prototypes/SS220/StatusIcons/antag.yml
  Resources/Textures/Objects/Misc/bedsheets.rsi/meta.json
  Resources/Textures/Objects/Misc/bedsheets.rsi/sheetUSSP.png
  Resources/Textures/SS220/Clothing/Neck/Bedsheets/USSP.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Bedsheets/USSP.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Bedsheets/USSP.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe.rsi/energyaexe_blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe.rsi/energyaxe.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe_inhands.rsi/inhand-left-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe_inhands.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe_inhands.rsi/inhand-right-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe_inhands.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe_inhands.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe_inhands.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_axe_inhands.rsi/wielded-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_double.rsi/e_sword_double.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_double.rsi/e_sword_double_blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_double.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_double.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_inhands_double.rsi/inhand-left-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_inhands_double.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_inhands_double.rsi/inhand-right-blade.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_inhands_double.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_inhands_double.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_inhands_double.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/e_sword_ebent_inhands_double.rsi/wielded-inhand-right.png
Labels: Changes: Sprites

#965 Салями в каждый дом
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/SS220/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#782 Add job icon changer
  Content.Client/SS220/AdmemeEvents/JobIconChangerBoundUserInterface.cs
  Content.Client/SS220/AdmemeEvents/UI/JobIconChangerWindow.xaml
  Content.Client/SS220/AdmemeEvents/UI/JobIconChangerWindow.xaml.cs
  Content.Server/SS220/AdmemeEvents/JobIconChangerComponent.cs
  Content.Server/SS220/AdmemeEvents/JobIconChangerSystem.cs
  Content.Shared/SS220/AdmemeEvents/SharedJobIconChangerComponent.cs
  Resources/Locale/en-US/ss220/admeme-events/ui/job-icon-changer-window.ftl
  Resources/Locale/ru-RU/ss220/admeme-events/ui/job-icon-changer-window.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/tools/job-icon-changer.ftl
  Resources/Prototypes/SS220/Shitspawn/Ebent/job_icon_changer.yml
Labels: Changes: UI, Changes: Localization

#969 Ивентовый шаттл мафии (очередная попытка)
  Resources/Maps/EventShuttles/mafia_shuttle.yml
Labels: No C#

#968 reSpriteColorUniformsRemake
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-alt-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-alt-icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-alt-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-alt-inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-alt-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-alt-icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-alt-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-alt-inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-inhand-right.png
Labels: Changes: Sprites, No C#

#970 fixUplinkAntag
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#971 Admeme ebent icons fixes
  Content.Client/SS220/AdmemeEvents/EventRoleIcons.cs
  Content.Client/SS220/AdmemeEvents/JobIconChangerBoundUserInterface.cs
  Content.Client/SS220/AdmemeEvents/UI/JobIconChangerWindow.xaml.cs
  Content.Server/SS220/AdmemeEvents/JobIconChangerComponent.cs
  Content.Server/SS220/AdmemeEvents/JobIconChangerSystem.cs
  Content.Shared/SS220/AdmemeEvents/SharedJobIconChangerComponent.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/tools/job-icon-changer.ftl
  Resources/Prototypes/SS220/Shitspawn/Ebent/job_icon_changer.yml
  Resources/Prototypes/SS220/StatusIcons/antag.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#734 Colorful ghosts
  Content.Client/Ghost/GhostSystem.cs
Labels: Status: Needs Review

#978 New naming system for species
  Resources/Prototypes/Datasets/Names/moth_first_female.yml
  Resources/Prototypes/Datasets/Names/moth_first_male.yml
  Resources/Prototypes/Datasets/Names/moth_last_female.yml
  Resources/Prototypes/Datasets/Names/moth_last_male.yml
  Resources/Prototypes/SS220/Datasets/Names/dwarf_female.yml
  Resources/Prototypes/SS220/Datasets/Names/dwarf_last.yml
  Resources/Prototypes/SS220/Datasets/Names/dwarf_male.yml
  Resources/Prototypes/SS220/Datasets/Names/moth_first_female.yml
  Resources/Prototypes/SS220/Datasets/Names/moth_first_male.yml
  Resources/Prototypes/SS220/Datasets/Names/moth_last.yml
  Resources/Prototypes/SS220/Datasets/Names/slime_female_first.yml
  Resources/Prototypes/SS220/Datasets/Names/slime_last.yml
  Resources/Prototypes/SS220/Datasets/Names/slime_male_first.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/slime.yml
Labels: No C#

#979 TweakSecurityWebbing
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#

#980 Jukebox Music update
  Resources/Audio/SS220/Music/Junk_Recyclers.ogg
  Resources/Audio/SS220/Music/Life_At_The_Station.ogg
  Resources/Audio/SS220/Music/Terminated_Contracts.ogg
  Resources/Audio/SS220/Music/Your_Green_Eyes.ogg
  Resources/Audio/SS220/Music/attributions.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: No C#

#981 Ai Cult Mapping update
  Resources/Prototypes/SS220/Catalog/Fills/Backpacks/StartingGear/CultistBackpack.yml
  Resources/Prototypes/SS220/Mobs/BloodCultSpawner.yml
  Resources/Prototypes/SS220/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/ai_factions.yml
Labels: No C#

#972 freeMobFelinid
  Resources/Prototypes/SS220/spo9k/Species/felinid.yml
Labels: No C#

#983 MindSlave
  Content.Client/Antag/AntagStatusIconSystem.cs
  Content.Client/SS220/MindSlave/MindSlaveSystem.cs
  Content.Client/SS220/MindSlave/UI/MindSlaveNotificationEui.cs
  Content.Client/SS220/MindSlave/UI/MindSlaveNotificationWindow.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Implants/ImplanterSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/Objectives/Systems/TargetObjectiveSystem.cs
  Content.Server/Roles/RoleSystem.cs
  Content.Server/SS220/MindSlave/MindSlaveSystem.cs
  Content.Server/SS220/MindSlave/UI/MindSlaveNotificationEui.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/SS220/MindSlave/MindSlaveComponent.cs
  Content.Shared/SS220/MindSlave/MindSlaveMasterComponent.cs
  Content.Shared/SS220/MindSlave/MindSlaveNotificationMessage.cs
  Content.Shared/SS220/MindSlave/MindSlaveRoleComponent.cs
  Resources/Locale/ru-RU/ss220/implant/mindslave.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/SS220/Alerts/mindslave.yml
  Resources/Prototypes/SS220/Antags/mindslave.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/SS220/Objectives/mindslave.yml
  Resources/Prototypes/SS220/StatusIcons/antag.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Alerts/MindSlave.rsi/alert.png
  Resources/Textures/SS220/Alerts/MindSlave.rsi/icon.png
  Resources/Textures/SS220/Alerts/MindSlave.rsi/meta.json
  Resources/Textures/SS220/Interface/Misc/mindslave-job-icon.rsi/master.png
  Resources/Textures/SS220/Interface/Misc/mindslave-job-icon.rsi/meta.json
  Resources/Textures/SS220/Interface/Misc/mindslave-job-icon.rsi/slave.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#985 Winter boots resprite
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssyndicate.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssyndicate.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssyndicate.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsweb.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsweb.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsweb.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#993 Fix access centcomm
  Resources/Prototypes/SS220/Entities/Structures/doors.yml
Labels: No C#

#995 CentComm Map v0.2: Small pretty fixes
  Resources/Maps/SS220/admin-shuttles/ss220_NT_DS.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_OBR.yml
  Resources/Maps/SS220/ss220-centcomm.yml
Labels: No C#

#994 FaxResprite from TG
  Resources/Textures/Structures/Machines/fax_machine.rsi/icon.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/idle.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_hamster.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_mothroach.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_mouse.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/Structures/Machines/fax_machine.rsi/printing.png
Labels: Changes: Sprites, No C#

#989 New&Resprite Glass Floors
  Resources/Locale/ru-RU/ss220/tiles/tiles.ftl
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/SS220/Tiles/floors.yml
  Resources/Textures/SS220/Tiles/attributions.yml
  Resources/Textures/SS220/Tiles/damagedGlass.png
  Resources/Textures/SS220/Tiles/pglass.png
  Resources/Textures/SS220/Tiles/redglass.png
  Resources/Textures/SS220/Tiles/rpglass.png
  Resources/Textures/SS220/Tiles/ruglass.png
  Resources/Textures/SS220/Tiles/shuttleglass.png
  Resources/Textures/SS220/Tiles/uglass.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/glass.png
  Resources/Textures/Tiles/rglass.png
Labels: Changes: Localization, No C#

#996 blood add
  Resources/Prototypes/SS220/Decals/blood.yml
  Resources/Textures/SS220/Decals/blood.rsi/blood1.png
  Resources/Textures/SS220/Decals/blood.rsi/blood2.png
  Resources/Textures/SS220/Decals/blood.rsi/blood3.png
  Resources/Textures/SS220/Decals/blood.rsi/meta.json
Labels: Changes: Sprites, No C#

#804 Barricades construction and occlusion fixes
  Resources/Prototypes/SS220/Entities/Structures/barricade.yml
  Resources/Prototypes/SS220/Recipes/Construction/Structures/barricade.yml
Labels: No C#, Status: Needs Review

#997 Fast fix accesses
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#998 Fixed scrubber filter setting
  Content.Server/Atmos/Piping/Unary/Components/GasVentScrubberComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Resources/Prototypes/SS220/Entities/Structures/unary.yml
Labels: Status: Needs Review

#1003 New ways to produce lead
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
Labels: No C#

#1001 Увеличение длительности курения сигар и курительной трубки
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/joints.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/SS220/Entities/Sponsor/items.yml
Labels: No C#

#1006 Dangerous Chemistry Update
  Resources/Locale/en-US/reagents/dangerchemistry.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/dangerchemistry.ftl
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/SS220/Recipes/Reactions/medicine.yml
Labels: Changes: Localization, No C#

#1009 RevertSecurityWebbing
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: No C#

#881 Autoinjectors220
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/SS220/Autoinjector/AutoinjectorComponent.cs
  Content.Server/SS220/Autoinjector/AutoinjectorSystem.cs
  Content.Shared/Chemistry/SharedAfterHypoEvent.cs
  Resources/Locale/ru-RU/ss220/autoinjector/autoinjector.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/SS220/Chemistry/autoinjectors.yml
  Resources/Textures/SS220/Objects/Misc/autoinjectors.rsi/autoinjector.png
  Resources/Textures/SS220/Objects/Misc/autoinjectors.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#1020 Zombie chance tweak
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#1024 Tomato size fix
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
Labels: No C#

#1026 MindSlave pacifism && death fix
  Content.Server/SS220/MindSlave/MindSlaveSystem.cs
Labels: Status: Needs Review

#1036 Made MindShield removable
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Status: Needs Review

#1015 Minimum players for Survival preset
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: No C#

#1031 Centcom comms circuitboard
  Resources/Locale/en-US/ss220/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/devices/circuitboards/computer.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: Changes: Localization, No C#

#1023 Brigmedic loadout add
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Medical/brigmedic.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/brigmedic.yml
Labels: Changes: Localization, No C#

#1019 Рецепты начос и слаймового супа
  Resources/Prototypes/SS220/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#1013 Better Knifes Update
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/meta.json
Labels: Changes: Sprites, Changes: Map, Changes: UI, Changes: Localization, No C#

#1016 Syndie Chembox Update
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemistry-vials.ftl
  Resources/Locale/ru-RU/ss220/clothing/hud.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/vials.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Chemistry/vials.yml
  Resources/Prototypes/SS220/Entities/Clothing/Eyes/hud.yml
  Resources/Textures/SS220/Clothing/Eyes/syndchem.rsi/equipped-EYES.png
  Resources/Textures/SS220/Clothing/Eyes/syndchem.rsi/icon.png
  Resources/Textures/SS220/Clothing/Eyes/syndchem.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Eyes/syndchem.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Eyes/syndchem.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1030 CanBeerForSale
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/SS220/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Objects/Misc/6pack.rsi/6pack1.png
  Resources/Textures/SS220/Objects/Misc/6pack.rsi/6pack2.png
  Resources/Textures/SS220/Objects/Misc/6pack.rsi/6pack3.png
  Resources/Textures/SS220/Objects/Misc/6pack.rsi/6pack4.png
  Resources/Textures/SS220/Objects/Misc/6pack.rsi/6pack5.png
  Resources/Textures/SS220/Objects/Misc/6pack.rsi/6pack6.png
  Resources/Textures/SS220/Objects/Misc/6pack.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/6pack.rsi/plastic-thingy.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#1035 NewDrinksSprites
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/bankatejar.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/brokenjar.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/fill-5.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/icon_open.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bankatejar.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_bankate.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_bankate.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_bankate.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_bankate.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_bankate.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_bankate.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_bankate.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Drinks/posca.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/posca.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/posca.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/posca.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/posca.rsi/fill-5.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/posca.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/posca.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/posca.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Drinks/sakeplate.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sakeplate.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sakeplate.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sakeplate.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sakeplate.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sakeplate.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sakeplate.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/TrashDrinks/brokenjar.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/TrashDrinks/brokenjar.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1018 Conducting Gloves Shock Buff
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
Labels: No C#

#1037 Jian
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/belt/belt.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/melee/swords.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/jian_sword.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Clothing/Belt/jian_sheath.rsi/equipped-BELT.png
  Resources/Textures/SS220/Clothing/Belt/jian_sheath.rsi/meta.json
  Resources/Textures/SS220/Clothing/Belt/jian_sheath.rsi/sheath-jian-equipped-BELT.png
  Resources/Textures/SS220/Clothing/Belt/jian_sheath.rsi/sheath-jian.png
  Resources/Textures/SS220/Clothing/Belt/jian_sheath.rsi/sheath.png
  Resources/Textures/SS220/Objects/Weapons/Melee/jian_sword.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/jian_sword.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/jian_sword.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/jian_sword.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1011 Clown Stump add
  Resources/Locale/en-US/ss220/stamps.ftl
  Resources/Locale/ru-RU/ss220/stamps.ftl
  Resources/Prototypes/SS220/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/theatre_lockers.yml
  Resources/Textures/SS220/Objects/Storage/clownstampbox.rsi/clownstampbox.png
  Resources/Textures/SS220/Objects/Storage/clownstampbox.rsi/clownstampbox_unfolded.png
  Resources/Textures/SS220/Objects/Storage/clownstampbox.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1028 Crystal Resprite
  Resources/Prototypes/Entities/Markers/Spawners/Random/crystal.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Structures/Decoration/crystals.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/lighting.yml
  Resources/Textures/Objects/Materials/Shards/crystal.rsi/meta.json
  Resources/Textures/Objects/Materials/Shards/crystal.rsi/shard.png
  Resources/Textures/Objects/Materials/Shards/crystal.rsi/shard1.png
  Resources/Textures/Objects/Materials/Shards/crystal.rsi/shard2.png
  Resources/Textures/Objects/Materials/Shards/crystal.rsi/shard3.png
  Resources/Textures/Structures/Decoration/crystal.rsi/crystal1.png
  Resources/Textures/Structures/Decoration/crystal.rsi/crystal2.png
  Resources/Textures/Structures/Decoration/crystal.rsi/crystal3.png
  Resources/Textures/Structures/Decoration/crystal.rsi/crystal_grey.png
  Resources/Textures/Structures/Decoration/crystal.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1021 CentComm Map 0.3: Hot Fix "Zero" Day
  Resources/Maps/SS220/admin-shuttles/ss220_NT_CENT.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_DS.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_OBR.yml
  Resources/Maps/SS220/ss220-centcomm.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/pen.yml
Labels: No C#

#1029 Delta 5 min
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: No C#

#1046 RemoveClosetSkeleton from Disaster event
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#

#1051 Add new voices
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#1053 Chief Engineer loadout
  Resources/Locale/ru-RU/ss220/clothing/CE_dark.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/CE_dark_cloakandmantle.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/CE_dark.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Textures/SS220/Clothing/Neck/Cloaks/CE_dark/ce_dark.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/CE_dark/ce_dark.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/CE_dark/ce_dark.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/CE_dark/ce_dark.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/CE_dark/ce_dark.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Cloaks/CEmantle_dark.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/CEmantle_dark.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/CEmantle_dark.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpskirt/ce_dark.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpskirt/ce_dark.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpskirt/ce_dark.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpskirt/ce_dark.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpskirt/ce_dark.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpskirt/ce_dark.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpsuit/ce_dark.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpsuit/ce_dark.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpsuit/ce_dark.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpsuit/ce_dark.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpsuit/ce_dark.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpsuit/ce_dark.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpsuit/ce_dark.rsi/s-equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpsuit/ce_dark.rsi/s.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpskirt/ce_dark_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpskirt/ce_dark_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpskirt/ce_dark_turtle.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpskirt/ce_dark_turtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpskirt/ce_dark_turtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpskirt/ce_dark_turtle.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpsuit/ce_dark_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpsuit/ce_dark_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpsuit/ce_dark_turtle.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpsuit/ce_dark_turtle.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpsuit/ce_dark_turtle.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark_turtle/jumpsuit/ce_dark_turtle.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1057 fix tts voice selector
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: UI, Changes: Localization

#1059 Убрать ограничения для верхней одежды
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: No C#

#1056 add game card's/Добавление игровых карт.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/cards.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Objects/Fun/cards.rsi/InHand.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b10.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b2.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b3.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b4.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b5.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b6.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b7.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b8.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/b9.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/bd.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/bk.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/bt.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/bv.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/closedCard.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/colode.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h10.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h2.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h3.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h4.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h5.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h6.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h7.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h8.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/h9.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/hd.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/hk.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/ht.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/hv.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k10.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k2.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k3.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k4.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k5.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k6.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k7.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k8.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/k9.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/kd.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/kk.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/kt.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/kv.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/meta.json
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p10.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p2.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p3.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p4.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p5.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p6.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p7.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p8.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/p9.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/pd.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/pk.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/pt.png
  Resources/Textures/SS220/Objects/Fun/cards.rsi/pv.png
Labels: Changes: Sprites, No C#

#1060 Emergency Shuttles fixes
  Resources/Maps/SS220/Shuttles/emergency/emergency_axioma.yml
  Resources/Maps/SS220/Shuttles/emergency/emergency_frankenstein.yml
  Resources/Maps/SS220/Shuttles/emergency/emergency_nox.yml
  Resources/Prototypes/SS220/Maps/NTvsSSSP.yml
  Resources/Prototypes/SS220/Maps/axioma.yml
  Resources/Prototypes/SS220/Maps/frankenstein.yml
  Resources/Prototypes/SS220/Maps/nox.yml
Labels: No C#

#1058 RespriteCMOTurtleneck
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/cmo_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1062 Измененные резисты полевой формы флота и комбинезона офицера NT
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/OfficerFieldUniform.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/CentCommOfificer_uniform.yml
Labels: No C#

#1066 Remove DisasterEvent before rules
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: No C#

#1063 Цель экспедиции
  Resources/Locale/ru-RU/ss220/station-goals/additional-goals.ftl
Labels: Changes: Localization, No C#

#1067 Handwraps and Footwraps
  Resources/Locale/ru-RU/ss220/clothing/footwraps.ftl
  Resources/Locale/ru-RU/ss220/clothing/handwraps.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Hand/handwraps.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/footwraps.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/wraps.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/footwraps.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/handwraps.yml
  Resources/Prototypes/SS220/Recipes/Crafting/footwraps.yml
  Resources/Prototypes/SS220/Recipes/Crafting/handwraps.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsblack.rsi/icon.png
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsblack.rsi/meta.json
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsblue.rsi/icon.png
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsblue.rsi/meta.json
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsgreen.rsi/icon.png
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsgreen.rsi/meta.json
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsred.rsi/icon.png
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsred.rsi/meta.json
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsyellow.rsi/icon.png
  Resources/Textures/SS220/Clothing/Coloredwraps/wrapsyellow.rsi/meta.json
  Resources/Textures/SS220/Clothing/Hands/handwraps.rsi/equipped-HAND-vox.png
  Resources/Textures/SS220/Clothing/Hands/handwraps.rsi/equipped-HAND.png
  Resources/Textures/SS220/Clothing/Hands/handwraps.rsi/icon.png
  Resources/Textures/SS220/Clothing/Hands/handwraps.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Hands/handwraps.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Hands/handwraps.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Specific/footwraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/footwraps.rsi/equipped-FEET-vox.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/footwraps.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/footwraps.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/footwraps.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/footwraps.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/footwraps.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1072 Psychologist's stamp in the locker
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/psychologist_lockers.yml
Labels: No C#

#1068 Stunbaton Pacifism Fix
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: No C#

#1074 Fixed JobIconChanger not changing RoleGroup
  Content.Server/SS220/AdmemeEvents/JobIconChangerSystem.cs
Labels: Status: Needs Review
