Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-02, with the labels that each got.

#694 Small bugfixes
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/SS220/Entities/Structures/walls.yml
Labels: No C#

#697 Update dog Roxi
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/SS220/Entities/markers/Spawners/mobs.yml
  Resources/Prototypes/SS220/Voice/speech_sounds.yml
  Resources/Prototypes/SS220/Voice/speech_verbs.yml
Labels: No C#

#700 (Ebent) Add presets
  Resources/Prototypes/SS220/Roles/play_time_trackers.yml
  Resources/Prototypes/SS220/Shitspawn/SpaceWarsEbent/Jobs.yml
Labels: No C#

#696 NewBarricade
  Resources/Prototypes/Entities/Structures/barricades.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/SS220/Entities/Structures/barricade.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/barriacdewooden.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/barricadeplasteel.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/barricadesteel.yml
  Resources/Prototypes/SS220/Recipes/Construction/Structures/barricade.yml
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_plasteel.png
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_plasteel_directional.png
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_plasteel_floor.png
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_steel.png
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_steel_directional.png
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_steel_floor.png
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_wooden.png
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_wooden_directional.png
  Resources/Textures/SS220/Structures/barricades.rsi/barricade_wooden_floor.png
  Resources/Textures/SS220/Structures/barricades.rsi/meta.json
Labels: Changes: Sprites, No C#

#698 MinorTweaks
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/blueshield_lockers.yml
Labels: No C#

#701 Update ebent presets
  Resources/Prototypes/SS220/Shitspawn/SpaceWarsEbent/Jobs.yml
Labels: No C#

#703 Fixed Ghost role in Computerid
  Resources/Prototypes/SS220/Roles/Jobs/ghost.yml
Labels: No C#

#709 Salt Riot
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
Labels: No C#

#708 Возвращение удаленного космического медипена
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: No C#

#704 frez
  Resources/Prototypes/Atmospherics/gases.yml
Labels: No C#

#712 Убрана возможность сломать Windoor руками.
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: No C#

#711 Unusable Cloaks Resprite
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/neck/cloaks.ftl
  Resources/Textures/Clothing/Neck/Cloaks/ace.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/ace.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/ace.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/ace.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/ace.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/aro.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/aro.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/aro.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/aro.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/aro.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/bi.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/bi.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/bi.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/bi.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/bi.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/enby.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/enby.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/enby.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/enby.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/enby.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/gay.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/gay.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/gay.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/gay.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/gay.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/intersex.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/intersex.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/intersex.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/intersex.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/intersex.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/les.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/les.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/les.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/les.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/les.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/pan.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/pan.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/pan.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/pan.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/pan.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/trans.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/trans.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/trans.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/trans.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/trans.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#714 FloorBarricade
  Resources/Prototypes/SS220/Entities/Structures/barricade.yml
Labels: No C#

#721 Исправлен баг, который не позволял сломать обычный Windoor [После ПР #712]
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: No C#

#722 Teleporter grid restriction
  Content.Server/Teleportation/HandTeleporterSystem.cs
  Content.Shared/Teleportation/Components/HandTeleporterComponent.cs
  Resources/Locale/ru-RU/ss220/hand-teleporter-component.ftl
Labels: Changes: Localization

#720 Admin log timer
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Resources/Locale/ru-RU/ss220/administration/ui/add-logs.ftl
Labels: Changes: UI, Changes: Localization

#723 Fix readme.md badges
  README.md
Labels: No C#

#733 Добавление новой музыки для нюки
  Resources/Audio/SS220/StationEvents/attributions.yml
  Resources/Audio/SS220/StationEvents/meat.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: No C#

#735 Sleeping on chairs
  Content.Server/SS220/AddSleepAction/AddSleepActionComponent.cs
  Content.Server/SS220/AddSleepAction/AddSleepActionSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Status: Needs Review

#737 Добавлено новое оформление лобби
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/attributions.yml
  Resources/Textures/SS220/LobbyScreens/default-RND-shift.png
  Resources/Textures/SS220/LobbyScreens/default-RND-shift.png.yml
  Resources/Textures/SS220/LobbyScreens/tired-shift.png
  Resources/Textures/SS220/LobbyScreens/tired-shift.png.yml
Labels: No C#

#736 Add smes bound ui
  Content.Client/SS220/SMES/SmesBoundUserInterface.cs
  Content.Client/SS220/SMES/UI/SmesWindow.xaml
  Content.Client/SS220/SMES/UI/SmesWindow.xaml.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/SS220/SMES/SmesConsoleSystem.cs
  Content.Shared/SMES/SharedSmesComponent.cs
  Resources/Locale/en-US/battery/components/examinable-battery-component.ftl
  Resources/Locale/ru-RU/battery/components/examinable-battery-component.ftl
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: Changes: UI, Changes: Localization

#739 Add rule 6 additional info
  Resources/ServerInfo/RulesSS220.txt
Labels: No C#

#742 Обновление карты Marathon
  Resources/Maps/ss220_marathon.yml
  Resources/Prototypes/SS220/Maps/marathon220.yml
Labels: Changes: Map, No C#

#741 No death
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Mobs/CritMobActionsSystem.cs
  Content.Shared/Ghost/GhostComponent.cs
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/SS220/Actions/Ghost.yml
  Resources/Prototypes/SS220/Research/civilianservices.yml
  Resources/Textures/SS220/Interface/actions/respawn.png
  Resources/migration.yml
Labels: Changes: Localization, Status: Needs Review

#746 fix power monitor window size
  Content.Client/Power/PowerMonitoringWindow.xaml.cs
Labels: Changes: UI

#745 Reb arm
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: No C#

#750 Добавление новой шляпы для ХоСа (из 13 станции)
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hosbighat.yml
  Resources/Textures/SS220/Clothing/Head/Hats/hosbigcap.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/hosbigcap.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/hosbigcap.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/hosbigcap.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/hosbigcap.rsi/meta.json
Labels: Changes: Sprites, No C#

#749 Third update of special sounds
  Content.Server/SS220/Speech/SpecialSoundsSystem.cs
  Content.Server/Speech/EntitySystems/VocalSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/SS220/Speech/SpecialSoundsComponent.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Audio/SS220/Voice/Bandit/attributions.yml
  Resources/Audio/SS220/Voice/Bandit/male_bandit_laugh_1.ogg
  Resources/Audio/SS220/Voice/Bandit/male_bandit_laugh_2.ogg
  Resources/Audio/SS220/Voice/Bandit/male_bandit_laugh_3.ogg
  Resources/Audio/SS220/Voice/Evil/attributions.yml
  Resources/Audio/SS220/Voice/Evil/female_evil_laugh_1.ogg
  Resources/Audio/SS220/Voice/Evil/female_evil_laugh_2.ogg
  Resources/Audio/SS220/Voice/Evil/female_evil_laugh_3.ogg
  Resources/Audio/SS220/Voice/Whitemane/attributions.yml
  Resources/Audio/SS220/Voice/Whitemane/whitemane_giggle_1.ogg
  Resources/Audio/SS220/Voice/Whitemane/whitemane_giggle_2.ogg
  Resources/Audio/SS220/Voice/Whitemane/whitemane_laugh_1.ogg
  Resources/Audio/SS220/Voice/Whitemane/whitemane_laugh_2.ogg
  Resources/Audio/SS220/Voice/Whitemane/whitemane_laugh_3.ogg
  Resources/Audio/SS220/Voice/Whitemane/whitemane_laugh_4.ogg
  Resources/Locale/ru-RU/ss220/special-sounds.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/SS220/SoundCollections/emotes.yml
  Resources/Prototypes/SS220/Voice/speech_special_emote_sounds.yml
  Resources/Textures/SS220/Interface/VerbIcons/special_emote.svg
  Resources/Textures/SS220/Interface/VerbIcons/special_emote.svg.192dpi.png
  Resources/Textures/SS220/Interface/VerbIcons/special_emote.svg.192dpi.png.yml
Labels: Changes: Localization, Status: Needs Review

#751 1984: mapping shit, redo it
  Resources/Prototypes/SS220/Maps/Pools/default.yml
Labels: No C#

#756 Adding .gitignore console_output.txt
  .gitignore
Labels: No C#

#761 Revert "Уши лисы есть, а хвоста нет."
  Resources/Locale/ru-RU/ss220/Entities/Mobs/customization/fox_tail.ftl
  Resources/Prototypes/SS220/Entities/Mobs/Customization/Markings/foxtail.yml
  Resources/Textures/SS220/Mobs/Customization/foxtail.rsi/meta.json
  Resources/Textures/SS220/Mobs/Customization/foxtail.rsi/tail_fox_main.png
  Resources/Textures/SS220/Mobs/Customization/foxtail.rsi/tail_fox_second.png
  Resources/Textures/SS220/Mobs/Customization/foxtail.rsi/tail_fox_third.png
Labels: Changes: Sprites, Changes: Localization, No C#

#760 Added new lobby music
  Resources/Audio/SS220/Lobby/attributions.yml
  Resources/Audio/SS220/Lobby/dark-veider.ogg
  Resources/Audio/SS220/Lobby/retro-chill.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#

#563 CQC, Books && Missable systems
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/SS220/CQC/CQCCombatSystem.cs
  Content.Shared/Actions/ActionEvents.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/SS220/CQC/CQCCombatComponent.cs
  Content.Shared/SS220/CQC/CQCCombatInfosComponent.cs
  Content.Shared/SS220/CQC/CQCCombatSpellPrototype.cs
  Content.Shared/SS220/CQC/CQCCombatSystemShared.cs
  Content.Shared/SS220/Missable/MissableComponent.cs
  Content.Shared/SS220/Missable/MissableSharedSystem.cs
  Content.Shared/SS220/UseableBook/UseableBookComponent.cs
  Content.Shared/SS220/UseableBook/UseableBookReadDoAfterEvent.cs
  Content.Shared/SS220/UseableBook/UseableBookSystem.cs
  Content.Shared/Weapons/Melee/Events/AttackEvent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/en-US/ss220/cqc_cannotlearn.ftl
  Resources/Locale/en-US/ss220/useablebook/notifieswhenuse.ftl
  Resources/Locale/ru-RU/ss220/cqc/actions.ftl
  Resources/Locale/ru-RU/ss220/cqc/ent.ftl
  Resources/Locale/ru-RU/ss220/cqc/infos_popups.ftl
  Resources/Locale/ru-RU/ss220/missable/popup.ftl
  Resources/Locale/ru-RU/ss220/useablebook/notifieswhenuse.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/SS220/CQC/Actions.yml
  Resources/Prototypes/SS220/CQC/Spells.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/crossbow.yml
  Resources/Prototypes/SS220/UseableBook/basebook.yml
  Resources/Textures/SS220/Interface/actions/CQCCombat/blowback.png
  Resources/Textures/SS220/Interface/actions/CQCCombat/disarm.png
  Resources/Textures/SS220/Interface/actions/CQCCombat/longsleep.png
  Resources/Textures/SS220/Interface/actions/CQCCombat/punch.png
  Resources/Textures/SS220/Objects/Misc/books.rsi/cqc.png
  Resources/Textures/SS220/Objects/Misc/books.rsi/meta.json
  client_output.txt
Labels: Changes: Sprites, Changes: Localization

#724 Рефактор химимплантов
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/SS220/ChemicalImplant/ChemicalImplantComponent.cs
  Content.Shared/SS220/ReagentImplanter/ReagentCapsuleComponent.cs
  Resources/Locale/ru-RU/ss220/chemicalimplant/chemimplant.ftl
  Resources/Locale/ru-RU/ss220/chemicalimplant/chemimplanters.ftl
  Resources/Locale/ru-RU/ss220/chemicalimplant/store.ftl
  Resources/Locale/ru-RU/ss220/reagentinjector/capsules.ftl
  Resources/Locale/ru-RU/ss220/reagentinjector/reagents_implanter.ftl
  Resources/Prototypes/SS220/ChemicalImplants/chemimplanters.yml
  Resources/Prototypes/SS220/ChemicalImplants/chemimplants.yml
  Resources/Prototypes/SS220/ChemicalImplants/uplink.yml
  Resources/Prototypes/SS220/ReagentInjector/reagents_capsule.yml
  Resources/Prototypes/SS220/ReagentInjector/reagents_implanter.yml
  Resources/Prototypes/SS220/ReagentInjector/unical_reagents.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/SS220/Objects/ChemicalImplants/implanters.rsi/icon_death.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implanters.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implanters.rsi/implanter.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implanters.rsi/implanter_full.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implanters.rsi/implanter_full_mask.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implanters.rsi/meta.json
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/adrenaline.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/combat.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/dab.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/dead.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/implant.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/implant_mask.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/implant_used.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/meta.json
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/nanite.png
  Resources/Textures/SS220/Objects/ChemicalImplants/implants.rsi/reanim.png
  Resources/migration.yml
Labels: Changes: Sprites, Changes: Localization

#766 Добавление новых целей станции ( II итерация)
  Resources/Locale/ru-RU/ss220/station-goals/additional-goals.ftl
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_station/goal/goal_robotisation.xml
  Resources/PhotocopierForms/nanotrasen_station/hr/cmd_ept.xml
  Resources/Prototypes/SS220/Objectives/goals.yml
Labels: Changes: Localization, No C#

#771 CqCFix
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
Labels: No C#

#755 fixed fireaxe and wirecutter prying
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
Labels: No C#, Status: Needs Review

#775 New tiles and resprite
  Resources/Prototypes/SS220/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/SS220/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/SS220/Tiles/floors.yml
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/darkreinf-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/darkreinf-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/darkreinf.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/dutch-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/dutch-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/dutch.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/dutchmini.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/steelreinf-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/steelreinf-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/steelreinf.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/whitereinf-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/whitereinf-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/whitereinf.png
  Resources/Textures/SS220/Tiles/attributions.yml
  Resources/Textures/SS220/Tiles/dark_reinforced.png
  Resources/Textures/SS220/Tiles/dutch.png
  Resources/Textures/SS220/Tiles/dutch_horizontal.png
  Resources/Textures/SS220/Tiles/dutch_horizontal_mini.png
  Resources/Textures/SS220/Tiles/dutch_mini.png
  Resources/Textures/SS220/Tiles/steel_maint_mono.png
  Resources/Textures/SS220/Tiles/steel_reinforced.png
  Resources/Textures/SS220/Tiles/tech_maint_drain.png
  Resources/Textures/SS220/Tiles/tech_maint_drain_horizontal.png
  Resources/Textures/SS220/Tiles/tech_maint_drain_middle.png
  Resources/Textures/SS220/Tiles/tile-reference-sheet.png
  Resources/Textures/SS220/Tiles/white_reinforced.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/tech_maint.png
  Resources/Textures/Tiles/wood_large.png
Labels: Changes: Sprites, No C#

#778 Mapping Light Fix, Neon Crystals
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: No C#

#779 Old craft for ghostburger
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#780 Wycc lobby screen
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/SpaceFather.jpeg
  Resources/Textures/SS220/LobbyScreens/SpaceFather.yml
  Resources/Textures/SS220/LobbyScreens/attributions.yml
Labels: No C#
