Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-06, with the labels that each got.

#1076 Фикс слота баллона и оружия для верхней одежды из Шлёп'О'Венда
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/base.yml
Labels: No C#

#1071 Increased time for an event.
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
Labels: Status: Needs Review

#1077 Wraps_Fix
  Resources/Prototypes/SS220/Entities/Clothing/Hand/handwraps.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/footwraps.yml
Labels: No C#

#1069 Bola Buff
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
Labels: No C#, Status: Needs Review

#1084 Sticking label in my morgue.
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
Labels: No C#

#1081 Axe structural buff
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: No C#

#1085 Dark Reaper component "raffle:" with default longtime added
  Resources/Prototypes/SS220/DemonRofler/rune.yml
Labels: No C#

#1086 Emotes Menu Fix
  Content.Client/Chat/UI/EmotesMenu.xaml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/SS220/Voice/speech_emotes.yml
  Resources/Prototypes/SS220/spo9k/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/SS220/spo9k/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: UI, No C#

#1079 RespriteThruster
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Textures/SS220/Structures/Shuttles/thruster.rsi/base.png
  Resources/Textures/SS220/Structures/Shuttles/thruster.rsi/meta.json
  Resources/Textures/SS220/Structures/Shuttles/thruster.rsi/thrust.png
  Resources/Textures/SS220/Structures/Shuttles/thruster.rsi/thrust_burn_unshaded.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#1088 The psychologist's color fix in the chat
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#

#1083 Beret CE
  Resources/Locale/ru-RU/ss220/clothing/beretCE.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/beret_ce.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Textures/SS220/Clothing/Head/Hats/beret_ce.rsi/equipped-HELMET-dog.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_ce.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_ce.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_ce.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_ce.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_ce.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_ce.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1090 Edit TTS voices gender
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#1091 Demote status and show sec icons fix
  Content.Client/Overlays/ShowCriminalRecordIconsSystem.cs
  Resources/Locale/ru-RU/ss220/criminal-records/criminal-records.ftl
  Resources/Prototypes/SS220/StatusEffects/sechud.yml
  Resources/Prototypes/SS220/criminal_statuses.yml
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/demote.png
  Resources/Textures/SS220/Interface/Misc/sechud.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#1092 RemoveUnknownShuttlesEvent
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: No C#

#1094 Fix cirboard PA
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/particle_accelerator.ftl
Labels: Changes: Localization, No C#

#1097 Autoinjector fixes + Needle Protection
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/SS220/Autoinjector/NeedleProtectionComponent.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Resources/Locale/ru-RU/ss220/autoinjector/autoinjector.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/SS220/Chemistry/autoinjectors.yml
Labels: Changes: Localization, Status: Needs Review

#1095 CETurtleneckResprite
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1103 TTS Upstream
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#1080 CEDarkPDA
  Resources/Locale/ru-RU/ss220/loadout-groups/ce.ftl
  Resources/Locale/ru-RU/ss220/pda.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-ce_dark.png
  Resources/Textures/SS220/Clothing/Uniforms/CE_dark/jumpskirt/ce_dark.rsi/icon.png
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1096 devils-horns
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/head/devil-horns.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/devil-horns.yml
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns-alt.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns-alt.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns-alt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns-alt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns-alt.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/devils_horns.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1106 RatBlood fix
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: No C#

#1075 Real stealth for ninja and syndie box
  Content.Shared/Clothing/Components/StealthClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/StealthClothingSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: No C#, Status: Needs Review

#1107 Add visors for borgs and add icon for borgs
  Content.Client/Overlays/ShowJobIconsSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: No C#

#1104 Last_name_fix
  Resources/Prototypes/Datasets/Names/last.yml
Labels: No C#

#1109 CharacterVisualisation fix
  Content.Client/SS220/CriminalRecords/UI/CharacterVisualisation.xaml.cs
Labels: Changes: UI

#1112 AddingIconAgentIDCards
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#1114 Fix ClothingSponsorShoesBase
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/base.yml
Labels: No C#

#1125 Game cards fix
  Content.Shared/SS220/Appearance/ToggleAppearanceOnUseComponent.cs
  Content.Shared/SS220/Appearance/ToggleAppearanceOnUseSystem.cs
  Resources/Prototypes/SS220/Entities/Objects/Fun/cards.yml
Labels: Status: Needs Review

#1144 RespriteJanitor
  Resources/Textures/Clothing/Head/Hoods/Coat/hoodjani.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hoods/Coat/hoodjani.rsi/icon.png
  Resources/Textures/Clothing/Head/Hoods/Coat/hoodjani.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Bio/janitor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Bio/janitor.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Bio/janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Bio/janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Bio/janitor.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatjani.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janitor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janitor.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janitor.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/janitor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/janitor.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/janitor.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/janitor.png
  Resources/Textures/Markers/jobs.rsi/meta.json
Labels: Changes: Sprites, No C#

#1142 fix-letters-door-engineering
  Resources/Textures/Structures/Doors/Airlocks/Glass/engineering.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/engineering.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/engineering.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/engineering.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/engineering.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/engineering.rsi/opening.png
Labels: Changes: Sprites, No C#

#1145 botanytoolsResprite
  Resources/Textures/Objects/Tools/Hydroponics/clippers.rsi/icon.png
  Resources/Textures/Objects/Tools/Hydroponics/clippers.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/Hydroponics/clippers.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/Hydroponics/clippers.rsi/meta.json
  Resources/Textures/Objects/Tools/Hydroponics/disk.rsi/disk.png
  Resources/Textures/Objects/Tools/Hydroponics/hatchet.rsi/icon.png
  Resources/Textures/Objects/Tools/Hydroponics/hatchet.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/Hydroponics/hatchet.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/Hydroponics/hatchet.rsi/meta.json
  Resources/Textures/Objects/Tools/Hydroponics/hoe.rsi/icon.png
  Resources/Textures/Objects/Tools/Hydroponics/hoe.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/Hydroponics/hoe.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/Hydroponics/hoe.rsi/meta.json
  Resources/Textures/Objects/Tools/Hydroponics/scythe.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tools/Hydroponics/scythe.rsi/icon.png
  Resources/Textures/Objects/Tools/Hydroponics/scythe.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/Hydroponics/scythe.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/Hydroponics/scythe.rsi/meta.json
  Resources/Textures/Objects/Tools/Hydroponics/spade.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/Hydroponics/spade.rsi/icon.png
  Resources/Textures/Objects/Tools/Hydroponics/spade.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/Hydroponics/spade.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/Hydroponics/spade.rsi/meta.json
  Resources/Textures/Objects/Tools/Hydroponics/sprays.rsi/deathspray.png
  Resources/Textures/Objects/Tools/Hydroponics/sprays.rsi/meta.json
  Resources/Textures/Objects/Tools/Hydroponics/sprays.rsi/nolabelspray.png
  Resources/Textures/Objects/Tools/Hydroponics/sprays.rsi/pestspray.png
  Resources/Textures/Objects/Tools/Hydroponics/sprays.rsi/plantbgone.png
  Resources/Textures/Objects/Tools/Hydroponics/sprays.rsi/sprayparts.png
  Resources/Textures/Objects/Tools/Hydroponics/sprays.rsi/weedspray.png
Labels: Changes: Sprites, No C#

#1150 Crates labels fix
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Crates/crates.yml
Labels: No C#

#1151 BlueshieldLoadouts
  Resources/Locale/ru-RU/ss220/loadout-groups/blueshield.ftl
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/blueshield.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
Labels: Changes: Localization, No C#

#1152 Felinid Arm Fix
  Resources/Prototypes/SS220/Entities/Body/Prototypes/felinid.yml
Labels: No C#

#1158 DiscordLinkWindow typo update
  Content.Client/SS220/UserInterface/DiscordLink/DiscordLinkWindow.xaml
Labels: Changes: UI, No C#

#1159 Felinid jobban (for real this time)
  Resources/Prototypes/SS220/Species/felinid.yml
Labels: No C#, Status: Needs Review

#1155 fix-fixtures-mop-bucket
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
Labels: No C#

#1164 loneOpFix
  Resources/Maps/SS220/Shuttles/ss220-nukelone.yml
Labels: No C#

#1193 HotFixLoadoutsCE&Captain
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: No C#

#1195 Fix ECrossbow
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
Labels: No C#

#1203 Hamlet&VoxMaskSprited
  Resources/Textures/Clothing/Mask/clown_banana.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/clown_banana.rsi/meta.json
  Resources/Textures/Clothing/Mask/ert.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/ert.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascaptain.rsi/equipped-MASK-hamlet.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/meta.json
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/equipped-MASK-hamlet.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/meta.json
  Resources/Textures/Clothing/Mask/gassecurity.rsi/equipped-MASK-hamlet.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/meta.json
  Resources/Textures/Clothing/Mask/medicalsecurity.rsi/equipped-MASK-hamlet.png
  Resources/Textures/Clothing/Mask/medicalsecurity.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/medicalsecurity.rsi/meta.json
  Resources/Textures/Clothing/Mask/swat.rsi/equipped-MASK-hamlet.png
  Resources/Textures/Clothing/Mask/swat.rsi/meta.json
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/equipped-MASK-hamlet.png
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/equipped-MASK-vox.png
  Resources/Textures/SS220/Clothing/Mask/atmos_mask.rsi/meta.json
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/equipped-MASK-Vulpkanin.png
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/equipped-MASK-hamlet.png
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/equipped-MASK-reptilian.png
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/equipped-MASK-vox.png
  Resources/Textures/SS220/Clothing/Mask/blue-shield-mask.rsi/meta.json
  Resources/Textures/SS220/Clothing/Mask/moryak.rsi/equipped-MASK-vox.png
  Resources/Textures/SS220/Clothing/Mask/moryak.rsi/meta.json
  Resources/Textures/SS220/Clothing/Mask/ysatyu.rsi/equipped-MASK-vox.png
  Resources/Textures/SS220/Clothing/Mask/ysatyu.rsi/meta.json
Labels: Changes: Sprites, No C#

#1204 fix&new-patch
  Resources/Textures/Clothing/Eyes/Hud/beerpatch.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Hud/beerpatch.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/beerpatch.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Hud/diagpatch.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Hud/diagpatch.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/diagpatch.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Hud/medpatch.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Hud/medpatch.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/medpatch.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Hud/secpatch.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Hud/secpatch.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/secpatch.rsi/meta.json
Labels: Changes: Sprites, No C#

#1205 Change nokturine description
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization, No C#, Status: Needs Review

#1246 fix: Жнец не лечил порезы при поедании существа
  Resources/Prototypes/SS220/DemonRofler/mob.yml
Labels: No C#
