Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-01, with the labels that each got.

#628 Chiefs belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#627 Zippo rewrite
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/tools/lighters.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/lighters.yml
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/meta.json
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/off-inhand-left.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/off-inhand-right.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/on-inhand-left.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/on-inhand-right.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo-inhand-left-flame.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo-inhand-left.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo-inhand-right-flame.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo-inhand-right.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_detective_icon_base.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_detective_open.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-1.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-2.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-3.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-4.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base-5.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_base.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_detective.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_map.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_nanotrasen.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_shield.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_syndicate.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_syndicate_map.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_icon_top.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_nt_icon_base.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_nt_open.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_shield_icon_base.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_shield_open.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_syndi_icon_base.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_syndi_open.png
  Resources/Textures/SS220/Objects/Tools/lighters.rsi/zippo_top.png
Labels: Changes: Sprites, Changes: Localization, No C#

#634 Stairs rewrite
  Resources/Prototypes/SS220/Entities/Structures/stairs.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/darksteelstairs.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/steelstairs.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/woodstairs.yml
  Resources/Prototypes/SS220/Recipes/Construction/Structures/stairs.yml
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/left.png
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/meta.json
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/middle.png
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/right.png
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/solo.png
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/left.png
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/meta.json
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/middle.png
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/right.png
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/solo.png
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/left.png
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/meta.json
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/middle.png
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/right.png
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/solo.png
  Resources/migration.yml
Labels: Changes: Sprites, No C#

#593 Add tier info get
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/SS220/Discord/DiscordPlayerInfoManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/SS220/Discord/DiscordPlayerManager.cs
  Content.Shared/SS220/Discord/DiscordSponsorInfo.cs
  Content.Shared/SS220/Discord/MsgUpdatePlayerDiscordStatus.cs
  Content.Shared/SS220/Discord/SponsorTier.cs
Labels: Status: Needs Review

#633 fix status icon bounds
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: No C#

#624 Revert delete TilePrying from Syndicate JOL
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
Labels: No C#

#643 Fix textures after upstream
  Resources/Textures/Clothing/Head/Hats/beret_hos.rsi/meta.json
  Resources/Textures/Structures/Piping/disposal.rsi/condisposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-charge.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-full.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-ready.png
  Resources/Textures/Structures/Piping/disposal.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/Lighting/light_small.rsi/glow.png
Labels: Changes: Sprites, No C#

#650 Remove bonus TK
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
Labels: No C#

#651 Remove delta from pull
  Resources/Prototypes/SS220/Maps/Pools/default.yml
Labels: No C#

#640 GlassesSecurity
  Resources/Prototypes/Corvax/Roles/Jobs/Command/centcom_admiral.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#646 Upd Marathon
  Resources/Maps/ss220_marathon.yml
Labels: Changes: Map, No C#

#652 zombietime
  Resources/Prototypes/Roles/Antags/zombie.yml
Labels: No C#

#644 Помощница офицеров новый пёсик Рокси
  Resources/Audio/SS220/Voice/Roxi/attributions.yml
  Resources/Audio/SS220/Voice/Roxi/dog_bark1.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_bark2.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_bark3.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_growl1.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_growl2.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_growl3.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_snarl1.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_snarl2.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_snarl3.ogg
  Resources/Audio/SS220/Voice/Roxi/dog_whine.ogg
  Resources/Audio/SS220/Voice/Roxi/license.txt
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Entities/markers/Spawners/mobs.yml
  Resources/Prototypes/SS220/InventoryTemplates/Animals/secdog_inventory_template.yml
  Resources/Prototypes/SS220/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/equipped-EYES-secdog.png
  Resources/Textures/Clothing/Eyes/Glasses/meson.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/Clothing/Eyes/Glasses/secglasses.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/Clothing/Eyes/Glasses/sunglasses.rsi/meta.json
  Resources/Textures/Clothing/Mask/breath.rsi/equipped-MASK-secdog.png
  Resources/Textures/Clothing/Mask/breath.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/emergency.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_double.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/emergency_double.rsi/meta.json
  Resources/Textures/Objects/Tanks/generic.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-secdog.png
  Resources/Textures/Objects/Tanks/yellow.rsi/meta.json
  Resources/Textures/SS220/Mobs/Animals/Roxi.rsi/meta.json
  Resources/Textures/SS220/Mobs/Animals/Roxi.rsi/secdog.png
  Resources/Textures/SS220/Mobs/Animals/Roxi.rsi/secdog_crit.png
  Resources/Textures/SS220/Mobs/Animals/Roxi.rsi/secdog_dead.png
Labels: Changes: Sprites, No C#

#590 New debug tools
  Resources/Prototypes/SS220/Entities/Debugging/debugKnife.yml
  Resources/Prototypes/SS220/Entities/Debugging/debugTargets.yml
Labels: No C#

#659 Ретекстур шахмат, шашек и доски для них
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/checkers.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/chess.yml
  Resources/Textures/SS220/Objects/Fun/Tabletop/checker_pieces.rsi/b_checker_crown.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/checker_pieces.rsi/b_checker_piece.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/checker_pieces.rsi/meta.json
  Resources/Textures/SS220/Objects/Fun/Tabletop/checker_pieces.rsi/w_checker_crown.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/checker_pieces.rsi/w_checker_piece.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/b_bishop.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/b_king.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/b_knight.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/b_pawn.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/b_queen.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/b_rook.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/meta.json
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/w_bishop.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/w_king.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/w_knight.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/w_pawn.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/w_queen.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chess_pieces.rsi/w_rook.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chessboard.rsi/chessboard.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chessboard.rsi/meta.json
  Resources/Textures/SS220/Objects/Fun/Tabletop/chessboard_tabletop.rsi/chessboard_tabletop.png
  Resources/Textures/SS220/Objects/Fun/Tabletop/chessboard_tabletop.rsi/meta.json
Labels: Changes: Sprites, No C#

#654 Added functionality to handheld radio.
  Content.Client/SS220/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Client/SS220/Radio/UI/HandheldRadioMenu.xaml
  Content.Client/SS220/Radio/UI/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/SS220/Radio/Components/HandheldRadioComponent.cs
  Content.Shared/SS220/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/devices/radio.ftl
  Resources/Locale/en-US/ss220/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/radio.ftl
  Resources/Locale/ru-RU/ss220/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/SS220/radio_channels.yml
  Resources/Prototypes/radio_channels.yml
  Resources/migration.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#618 Glintwine
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/physical-desc.ftl
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/Glintwine.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/SS220/Recipes/Reactions/drinks.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/glintveinglass.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glintveinglass.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#663 engReb
  Resources/Locale/en-US/prototypes/catalog/fills/crates/engines-crates.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/crates/engines.ftl
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/SS220/Catalog/Fills/Crates/engines.yml
  Resources/migration.yml
Labels: Changes: Localization, No C#

#661 solars resprite
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/broken.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/normal.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/solar_assembly.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/solar_tracker.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/static.png
Labels: Changes: Sprites, No C#

#658 upd Marathon
  Resources/Maps/ss220_marathon.yml
Labels: Changes: Map, No C#

#656 Новая карта The Hive, Gate Stations на переработке...
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Shuttles/NTES_Seal.yml
  Resources/Maps/ss220_hive.yml
  Resources/Prototypes/SS220/Maps/Pools/default.yml
  Resources/Prototypes/SS220/Maps/ss220hive.yml
  Resources/Textures/SS220/ViewableMaps/220Hive.png
Labels: Changes: Map

#666 Shlepovend
  Content.Client/SS220/Shlepovend/ShlepovendBoundUserInterface.cs
  Content.Client/SS220/Shlepovend/ShlepovendSystem.cs
  Content.Client/SS220/Shlepovend/UI/ShlepovendGroup.xaml
  Content.Client/SS220/Shlepovend/UI/ShlepovendGroup.xaml.cs
  Content.Client/SS220/Shlepovend/UI/ShlepovendItemButton.xaml
  Content.Client/SS220/Shlepovend/UI/ShlepovendItemButton.xaml.cs
  Content.Client/SS220/Shlepovend/UI/ShlepovendWindow.xaml
  Content.Client/SS220/Shlepovend/UI/ShlepovendWindow.xaml.cs
  Content.Server/SS220/Discord/DiscordPlayerManager.cs
  Content.Server/SS220/Shlepovend/ShlepovendSystem.cs
  Content.Shared/Players/ContentPlayerData.cs
  Content.Shared/SS220/CCVars/CCVars220.cs
  Content.Shared/SS220/Shlepovend/SharedShlepovendSystem.cs
  Content.Shared/SS220/Shlepovend/ShlepaRewardGroupPrototype.cs
  Content.Shared/SS220/Shlepovend/ShlepovendComponent.cs
  Resources/Locale/ru-RU/ss220/shlepovend.ftl
  Resources/Prototypes/SS220/Entities/Structures/Machines/shlepovend.yml
  Resources/Prototypes/SS220/RewardGroups/RewardGroups.yml
  Resources/Textures/SS220/Interface/Misc/sponsor_cash.rsi/icon.png
  Resources/Textures/SS220/Interface/Misc/sponsor_cash.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/sponsor_machine.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/sponsor_machine.rsi/normal-unshaded.png
  Resources/Textures/SS220/Structures/Machines/sponsor_machine.rsi/off.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization

#655 Rebalance Cargo
  Resources/Locale/ru-RU/ss220/cargo/bounties.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/SS220/Catalog/Cargo/Bounties/bounties.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Localization, No C#

#668 Убавил звук криков ученых
  Resources/Audio/SS220/Voice/Scientist/male_scientist_choke_1.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_choke_2.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_choke_3.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_choke_4.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_scream_1.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_scream_2.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_scream_3.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_scream_4.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_scream_5.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_scream_6.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_scream_7.ogg
  Resources/Audio/SS220/Voice/Scientist/male_scientist_scream_8.ogg
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#

#669 The Hive fix 1.1
  Resources/Maps/ss220_hive.yml
Labels: Changes: Map, No C#, Status: Needs Review

#674 New TTS Voices
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#676 Shlepovend bugfix
  Content.Client/SS220/Shlepovend/UI/ShlepovendItemButton.xaml
  Content.Client/SS220/Shlepovend/UI/ShlepovendItemButton.xaml.cs
  Content.Client/SS220/Shlepovend/UI/ShlepovendWindow.xaml
  Content.Server/SS220/Shlepovend/ShlepovendSystem.cs
Labels: Changes: UI

#677 Update tts emulator to emulate ntts
  .gitignore
  ToolsSS220/ttsServer/tts_processor.py
  ToolsSS220/ttsServer/tts_server.py
Labels: No C#

#681 Dark reaper tweaks
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Server/SS220/DarkReaper/DarkReaperSystem.cs
  Content.Shared/SS220/DarkReaper/DarkReaperComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperSharedSystem.cs
  Resources/Locale/ru-RU/ss220/darkreaper.ftl
  Resources/Prototypes/SS220/DemonRofler/gore.yml
  Resources/Prototypes/SS220/DemonRofler/mob.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/jnec_s1.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/jnec_s2.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/jnec_s3.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/jnecexit.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/meta.json
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/rune.png
Labels: Changes: Sprites, Changes: Localization

#683 fix ert callsigns
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#

#686 Уши лисы есть, а хвоста нет.
  Resources/Locale/ru-RU/ss220/Entities/Mobs/customization/fox_tail.ftl
  Resources/Prototypes/SS220/Entities/Mobs/Customization/Markings/foxtail.yml
  Resources/Textures/SS220/Mobs/Customization/foxtail.rsi/meta.json
  Resources/Textures/SS220/Mobs/Customization/foxtail.rsi/tail_fox_main.png
  Resources/Textures/SS220/Mobs/Customization/foxtail.rsi/tail_fox_second.png
  Resources/Textures/SS220/Mobs/Customization/foxtail.rsi/tail_fox_third.png
Labels: Changes: Sprites, Changes: Localization, No C#

#688 Remove bloom light mask from emergency light
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: No C#

#679 Update Marathon
  Resources/Maps/ss220_marathon.yml
  Resources/Prototypes/SS220/Maps/marathon220.yml
Labels: Changes: Map, No C#, Status: Needs Review

#690 capCardFix
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#691 New shuttle guns sounds
  Resources/Audio/SS220/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/SS220/Weapons/Guns/Gunshots/big_cannon.ogg
  Resources/Audio/SS220/Weapons/Guns/Gunshots/drujba.ogg
  Resources/Audio/SS220/Weapons/Guns/Gunshots/perforator_laser.ogg
  Resources/Audio/SS220/Weapons/Guns/Gunshots/svalin_laser.ogg
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: No C#

#692 Shuttle wall prototypes
  Resources/Locale/ru-RU/ss220/walls.ftl
  Resources/Prototypes/SS220/Entities/Structures/walls.yml
Labels: Changes: Localization, No C#

#695 SS220 чейнджлоги
  Resources/Changelog/Changelog220.yml
  Resources/Locale/ru-RU/changelog/changelog-window.ftl
Labels: Changes: Localization, No C#
