Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-12, with the labels that each got.

#2225 FIX: Revenant can unbuckle while in invisible form
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/SS220/BlockBuckleVerbsInteraction/BlockBuckleVerbsInteractionComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: Changes: Prototypes, Status: Needs Review, Changes: C#

#2289 FIX: Thief beacon double steal target
  Content.Server/Objectives/Systems/StealConditionSystem.cs
Labels: Changes: C#

#2284 Winter Nuke Outpost
  Resources/Maps/SS220/ss220-nukeoutpost.yml
Labels: Changes: Map, Status: Needs Review

#2291 adjust tts volume
  Content.Client/SS220/TTS/TTSSystem.cs
Labels: Changes: C#

#2295 MindslaveTextFix
  Content.Server/SS220/MindSlave/Systems/MindSlaveStopWordSystem.cs
  Resources/Locale/ru-RU/ss220/text/stopWordTextTempaltes.ftl
Labels: Changes: Localization, Status: Needs Review, Changes: C#

#2292 FixMechClothing-Grabber
  Content.Server/SS220/MechClothing/MechClothingSystem.cs
  Content.Shared/SS220/MechClothing/MechClothingComponent.cs
Labels: Changes: C#

#2299 FIX: Disable Clumsy if ent is dead
  Content.Shared/Clumsy/ClumsySystem.cs
Labels: Changes: C#

#2300 FIX: Loadout limits for jobs
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: Changes: Prototypes

#2301 FIX: Rack shelf delete all entity inside
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/storage/rackshelf.yml
Labels: Changes: Prototypes

#2302 FIX: Hypospray desc (10 sec -> 5 sec)
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

#2276 CMO hardsuit resprite
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/medical.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/medical.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/medical.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/medical.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/medical.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/medical.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/medical.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/medical.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/medical.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/medical.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/medical.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/medical.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/medical.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2303 FIX: Medibot can inject stealthy entities
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/PickNearbyInjectableOperator.cs
Labels: Changes: C#

#2304 FIX: Random crystal shard
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/crystal_shard.ftl
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
Labels: Changes: Localization, Changes: Prototypes

#2306 FIX: Diagonal structures created with south orientation
  Resources/Prototypes/Recipes/Construction/Graphs/structures/grille_diagonal.yml
Labels: Changes: Prototypes

#2307 FIX: Infinity spawn entities on tile
  Content.Server/Chemistry/TileReactions/CreateEntityTileReaction.cs
Labels: Changes: C#

#2308 Add more modifiers for firemodes
  Content.Shared/Weapons/Ranged/Components/BatteryWeaponFireModesComponent.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/multiphase_energy_gun.yml
Labels: Changes: Prototypes, Status: Needs Review, Changes: C#

#2309 hydro-door-resrpite
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/welded.png
Labels: Changes: Sprites

#2288 Remove cat tails and ears from human customization
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Customization/Markings/fox_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/cat_parts.yml
  Resources/Prototypes/Species/human.yml
Labels: Changes: Prototypes, Status: Needs Review, Need to be discussed

#2325 FIX: Color of cadet sec pda
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: Prototypes

#2326 FIX: Lawyer outer clothing min value
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: Changes: Prototypes

#2327 ERT shuttles
  Resources/Maps/SS220/Shuttles/centCom/ERT_cleaners.yml
  Resources/Maps/SS220/Shuttles/centCom/ERT_eng.yml
  Resources/Maps/SS220/Shuttles/centCom/ERT_meds.yml
Labels: Changes: Map

#2315 Spider queen antag v0.4
  Content.Shared/SS220/SpiderQueen/Systems/SharedSpiderQueenSystem.cs
  Resources/Locale/ru-RU/ss220/communications/terror.ftl
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/spider_queen.yml
  Resources/Prototypes/SS220/threats.yml
  Resources/Prototypes/threats.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2323 Смена времени атмос проектора до пяти минут, возвращение пультов атмосов
  Resources/Prototypes/Access/engineering.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/migration.yml
Labels: Changes: Prototypes, Status: Needs Review

#2329 Добавление фраз для шара размышлений
  Resources/Locale/ru-RU/ss220/datasets/orb.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/SS220/Datasets/orb.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2330 FIX: Mech action only to one entity
  Content.Server/SS220/MechClothing/MechClothingSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/SS220/MechClothing/MechClothingComponent.cs
Labels: Changes: C#

#2331 FIX: E-N can switch to another type
  Content.Shared/Silicons/Borgs/Components/BorgSwitchableTypeComponent.cs
  Content.Shared/Silicons/Borgs/SharedBorgSwitchableTypeSystem.cs
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
Labels: Changes: Prototypes, Changes: C#

#2333 FIX: Nanomed and another vend wall machine now eject entities take i.a. angle rotation
  Content.Server/VendingMachines/VendingMachineSystem.cs
Labels: Changes: C#

#2285 hidden-desc-fix
  Content.Server/Corvax/HiddenDescription/HiddenDescriptionContainerShowerComponent.cs
  Content.Server/Corvax/HiddenDescription/HiddenDescriptionContainerShowerSystem.cs
  Content.Server/Corvax/HiddenDescription/HiddenDescriptionSystem.cs
  Resources/Locale/ru-RU/corvax/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/ss220/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss220/implant/mindslave.ftl
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionImplant/SubdermalThermalVisionImplant.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionImplant/ThermalVisionImplanter.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2346 Xmas lamp
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Textures/SS220/Objects/Misc/Lights/lamp.rsi/christmaslamp-on.png
  Resources/Textures/SS220/Objects/Misc/Lights/lamp.rsi/christmaslamp.png
  Resources/Textures/SS220/Objects/Misc/Lights/lamp.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2347 [HOCebent] Fusee
  Resources/Locale/ru-RU/ss220/weapons/guns/ammunition/boxes/fusee.ftl
  Resources/Locale/ru-RU/ss220/weapons/guns/ammunition/cartriges/fusee.ftl
  Resources/Locale/ru-RU/ss220/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/ss220/weapons/guns/snipers/snipers.ftl
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Boxes/fusee.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/fusee.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Snipers/fusee.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Snipers/fusee.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Snipers/fusee.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Snipers/fusee.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Snipers/fusee.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Snipers/fusee.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2334 Stimulants buff
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/SS220/Reagents/medicine.yml
Labels: Changes: Prototypes, Status: Needs Review

#2344 FIX: Multi cluster grenade
  Content.Server/Explosion/Components/ClusterGrenadeComponent.cs
  Content.Server/Explosion/EntitySystems/ClusterGrenadeSystem.cs
Labels: Changes: C#

#2342 Centcomm update v0.6
  Resources/Locale/ru-RU/ss220/door.ftl
  Resources/Maps/SS220/Shuttles/centCom/ss220_NT_CBURN.yml
  Resources/Maps/SS220/Shuttles/centCom/ss220_NT_DS.yml
  Resources/Maps/SS220/ss220-centcomm.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Entities/Structures/doors.yml
Labels: Changes: Map, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2338 engineering-update-thruster
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/SS220/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/utilities/thruster_shunting.yml
  Resources/Prototypes/SS220/Recipes/Construction/utilities.yml
  Resources/Prototypes/SS220/Recipes/Lathes/electronics.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_center.rsi/base.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_center.rsi/meta.json
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_center.rsi/thrust.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_center.rsi/thrust_burn_unshaded.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_left.rsi/base.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_left.rsi/meta.json
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_left.rsi/thrust.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_left.rsi/thrust_burn_unshaded.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_right.rsi/base.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_right.rsi/meta.json
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_right.rsi/thrust.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_big_right.rsi/thrust_burn_unshaded.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_shunting.rsi/base.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_shunting.rsi/frame-base.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_shunting.rsi/meta.json
  Resources/Textures/SS220/Structures/Shuttles/thruster_shunting.rsi/thrust.png
  Resources/Textures/SS220/Structures/Shuttles/thruster_shunting.rsi/thrust_burn_unshaded.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2354 Исправление описания "Дастер"
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/shuttles/cannons.ftl
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: Changes: Localization, Changes: Prototypes

#2355 Исправление описания консоли связи
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: Localization, Changes: Prototypes

#2359 Centcomm accesses fix
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomFieldOfficier.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOfficer.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOperativeSRT.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/NanoTrasenAdmiral.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/NanoTrasenDiplomat.yml
Labels: Changes: Prototypes, Status: Needs Review

#2343 RenameStart
  Content.Client/SS220/DialogWindowDescUI/DialogWindowDesc.xaml
  Content.Client/SS220/DialogWindowDescUI/DialogWindowDesc.xaml.cs
  Content.Client/SS220/QuickDialog/QuickDialogSystem.cs
  Content.Server/Administration/QuickDialogSystem.OpenDialog.cs
  Content.Server/Administration/QuickDialogSystem.cs
  Content.Server/SS220/RenameStart/RenameStartComponent.cs
  Content.Server/SS220/RenameStart/RenameStartSystem.cs
  Content.Shared/Administration/QuickDialogOpenEvent.cs
  Resources/Locale/ru-RU/ss220/quick-dialog/quick-dialog.ftl
  Resources/Locale/ru-RU/ss220/rename-start-window/rename-start-window.ftl
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2357 Aghost pusher fix
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Changes: Prototypes, Status: Needs Review

#2358 Plunger flights fix
  Content.Server/Lube/LubedSystem.cs
Labels: Status: Needs Review, Changes: C#

#2356 Add discord link requie
  Content.Client/SS220/Discord/DiscordLinkRequiredState.cs
  Content.Client/SS220/Discord/DiscordPlayerInfoManager.cs
  Content.Client/SS220/UserInterface/DiscordLink/DiscordLinkRequiredGui.xaml
  Content.Client/SS220/UserInterface/DiscordLink/DiscordLinkRequiredGui.xaml.cs
  Content.Server/Corvax/DiscordAuth/DiscordAuthManager.cs
  Content.Server/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/SS220/Discord/DiscordPlayerManager.cs
  Content.Shared/SS220/CCVars/CCVars220.cs
  Content.Shared/SS220/Discord/MsgByPassDiscordCheck.cs
  Content.Shared/SS220/Discord/MsgDiscordLinkRequired.cs
  Content.Shared/SS220/Discord/MsgRecheckDiscordLink.cs
Labels: Changes: UI, Status: Needs Review, Changes: C#

#2349 Добавление двух карамельных трости для готовки
  Resources/Locale/ru-RU/ss220/ingridients/caramel.ftl
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/ingridients.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/food/Candybased.yml
  Resources/Prototypes/SS220/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/SS220/Objects/Consumable/Food/caramel.rsi/caramel-base.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel.rsi/caramel-green-red.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel.rsi/caramel-green.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel.rsi/caramel-red.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel.rsi/caramel.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel.rsi/double-caramel.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2362 fix set discord auth info
  Content.Server/SS220/Discord/DiscordPlayerManager.cs
Labels: Changes: C#

#2364 Snow Lawn
  Resources/Locale/ru-RU/ss220/tiles/tiles.ftl
  Resources/Prototypes/SS220/Tiles/floors.yml
Labels: Changes: Localization, Changes: Prototypes

#2341 New assistants uniform
  Resources/Locale/ru-RU/ss220/clothing/Jumpskirt/jumpskirt.ftl
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/research_assistant.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/intern.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/intern.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/intern.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/intern.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/intern.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/intern.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/science_assist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/science_assist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/science_assist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/science_assist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/science_assist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/science_assist.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tech_assist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tech_assist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tech_assist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tech_assist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tech_assist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/tech_assist.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/intern.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/intern.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/intern.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/intern.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/intern.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/intern.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/science_assist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/science_assist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/science_assist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/science_assist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/science_assist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/science_assist.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tech_assist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tech_assist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tech_assist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tech_assist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tech_assist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/tech_assist.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2366 telepathy naming fix
  Resources/Prototypes/SS220/telepathy_channels.yml
Labels: Changes: Prototypes

#2365 Telepathy for ghosts
  Content.Server/SS220/MindSlave/MindSlaveSystem.cs
  Content.Server/SS220/Telepathy/TelepathySystem.cs
  Content.Shared/SS220/Telepathy/TelepathyComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: Prototypes, Status: Needs Review, Changes: C#

#2375 [HOCebent] Fusee fix
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: Prototypes

#2371 Revert "TTS logs tweak"
  Content.Server/SS220/TTS/TTSManager.cs
Labels: Changes: C#

#2370 small Sec fix
  Resources/Prototypes/SS220/Entities/Clothing/Hand/hands.yml
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secballistic.rsi/equipped-EYES-hamster.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secballistic.rsi/equipped-EYES-secdog.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secballistic.rsi/equipped-EYES.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secballistic.rsi/icon.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secballistic.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secballistic.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secglasses.rsi/equipped-EYES.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secglasses.rsi/icon.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secglasses.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Eyes/Glasses/secglasses.rsi/inhand-right.png
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2336 Добавление кнопок консолей и доступов для ИИ
  Content.Client/Silicons/StationAi/StationAiSystem.Airlock.cs
  Resources/Locale/ru-RU/ss220/prototypes/actions/station_ai.ftl
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/SS220/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/SS220/Entities/Structures/Machines/photocopier.yml
  Resources/Prototypes/SS220/Entities/Structures/Power/Generation/Supermatter/observer.yml
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/ai_core.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/alert_console.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/bolt_door.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/camera_light.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/cargo_console.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/comms_console.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/crew_monitor.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/criminal_records.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/door_overcharge_off.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/door_overcharge_on.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/emergency_off.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/emergency_on.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/manifest.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/mass_scanner.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/power_console.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/rad_console.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/robotics_console.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/sm_console.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/solar_console.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/state_laws.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/station_map.png
  Resources/Textures/SS220/Interface/Actions/actions_ai.rsi/unbolt_door.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2111 Fireaxe cyborg module
  Resources/Locale/en-US/ss220/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss220/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss220/weapons/borg_fireaxe.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/borgFireaxe.yml
  Resources/Prototypes/SS220/Recipes/Lathes/robotics.yml
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/actions_borg.rsi/fireaxe-module.png
  Resources/Textures/SS220/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/actions_borg.rsi/syndicate-fireaxe-module.png
  Resources/Textures/SS220/Objects/Specific/Robotics/borgmodule.rsi/icon-fireaxe-flaming.png
  Resources/Textures/SS220/Objects/Specific/Robotics/borgmodule.rsi/icon-fireaxe.png
  Resources/Textures/SS220/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2379 Adapt holopad
  Content.Client/Holopad/HolopadSystem.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Holopad/HolopadUserComponent.cs
  Resources/Locale/ru-RU/holopad/holopad.ftl
  Resources/Locale/ru-RU/telephone/telephone.ftl
  Resources/Locale/ru-RU/wires/wire-names.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2345 Корпоративная одежда для глав.врача
  Resources/Locale/ru-RU/ss220/clothing/Jumpskirt/jumpskirt.ftl
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/cmo_corpW.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/cmo_corpW.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/cmo_corpW.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/cmo_corpW.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/cmo_corpW.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/cmo_corpW.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cmo_corp.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cmo_corp.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cmo_corp.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cmo_corp.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cmo_corp.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cmo_corp.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2383 Ochepyatki
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/computers/computers.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/Neck/cloaks.yml
Labels: Changes: Localization, Changes: Prototypes

#2384 vial-box/crate-localization
  Resources/Locale/ru-RU/ss220/prototypes/catalog/cargo/cargo-medical.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/crates/medical.ftl
Labels: Changes: Localization

#2385 Holopad circuitboard locale
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/holopad.ftl
Labels: Changes: Localization

#2382 Classical music for the new year to the jukebox
  Resources/Audio/SS220/Jukebox/Frédéric Chopin - Nocturne in E flat major, Op. 9 no. 2.ogg
  Resources/Audio/SS220/Jukebox/Ludwig van Beethoven - Moonlight Sonata, Op. 27 No. 2.ogg
  Resources/Audio/SS220/Jukebox/Pyotr Ilyich Tchaikovsky - Waltz of the Flowers.ogg
  Resources/Audio/SS220/Jukebox/attributions.yml
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
Labels: Changes: Prototypes, Status: Needs Review

#2389 Shuttle General Update
  Resources/Maps/SS220/Shuttles/cargo.yml
  Resources/Maps/SS220/Shuttles/mining.yml
  Resources/Maps/SS220/Shuttles/ss220-ntguardian.yml
  Resources/Maps/SS220/Shuttles/ss220-nukelone.yml
  Resources/Maps/SS220/Shuttles/ss220-nukeshuttle.yml
  Resources/Maps/SS220/Shuttles/trading_outpost.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: Map, Changes: Prototypes

#2090 Guidebook Update
  Resources/Prototypes/SS220/Entities/Objects/Misc/books.yml
  Resources/Prototypes/SS220/Guidebook/Security.yml
  Resources/Prototypes/SS220/Guidebook/rules.yml
  Resources/ServerInfo/SS220/Guidebook/Security/1xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/2xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/3xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/4xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/5xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/ArticleDirectory.xml
  Resources/ServerInfo/SS220/Guidebook/Security/LethalForce.xml
  Resources/ServerInfo/SS220/Guidebook/Security/Modificator.xml
  Resources/ServerInfo/SS220/Guidebook/Security/SpaceLaw.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC0.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC1.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC10.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC2.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC3.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC4.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC5.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC6.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC7.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC8.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RuleC9.xml
  Resources/ServerInfo/SS220/Guidebook/ServerRules/RulesSS220.xml
  Resources/Textures/SS220/Objects/Misc/books.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/books.rsi/space_law.png
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2392 Fix Target Reactive Armor
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/reactive_armor_rd.yml
  Resources/Prototypes/SS220/Objectives/traitor.yml
Labels: Changes: Prototypes

#2390 Добавление юбки сервисному работнику
  Resources/Locale/ru-RU/ss220/clothing/Uniforms/jumpskirt.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/waitress.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/waitress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/waitress.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/waitress.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/waitress.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/waitress.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2391 Добавление недостающих спрайтов для юбки ГСБ
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hos.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hos.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hos.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hos.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/hos.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2397 Перенос времени баллистических очков с офицера СБ на Службу Безопасности
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_officer.yml
Labels: Changes: Localization, Changes: Prototypes

#2396 Silicon radio TTS fix
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/Components/IntrinsicRadioReceiverComponent.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
  Content.Server/SS220/Silicons/StationAi/SetRadioReceiverToStationAiEyeComponent.cs
  Content.Server/SS220/Silicons/StationAi/SetRadioReceiverToStationAiEyeSystem.cs
  Content.Server/SS220/TTS/TTSSystem.cs
  Content.Shared/SS220/Silicons/StationAi/StationAiEyeEvents.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: Prototypes, Changes: C#

#2401 sm qol fixes
  Content.Client/SS220/SuperMatter/Emitter/Ui/SuperMatterEmitterExtensionBUI.cs
  Content.Client/SS220/SuperMatter/Emitter/Ui/SuperMatterEmitterExtensionMenu.xaml
  Content.Client/SS220/SuperMatter/Emitter/Ui/SuperMatterEmitterExtensionMenu.xaml.cs
  Content.Server/SS220/SuperMatter/Crystal/SuperMatterSystem.Database.cs
  Content.Server/SS220/SuperMatter/Crystal/SuperMatterSystem.EventHandlers.cs
  Content.Server/SS220/SuperMatter/Crystal/SuperMatterSystem.cs
  Content.Server/SS220/SuperMatter/Emitter/SuperMatterEmitterExtensionSystem.cs
  Content.Server/Singularity/Components/RadiationCollectorComponent.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
  Content.Server/StationEvents/Events/BreakerFlipRule.cs
  Content.Server/StationEvents/Events/PowerGridCheckRule.cs
  Content.Server/Tesla/Components/TeslaCoilComponent.cs
  Content.Server/Tesla/EntitySystem/TeslaCoilSystem.cs
  Content.Shared/SS220/Power/Components/HighPriorityAPCComponent.cs
  Content.Shared/SS220/SuperMatter/Ui/SuperMatterEmitterExtensionUI.cs
  Content.Shared/Singularity/Components/SharedEmitterComponent.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/power/apc.ftl
  Resources/Locale/ru-RU/ss220/ui/smEmitter.ftl
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/SS220/Entities/Structures/Power/Generation/Supermatter/smemitter.yml
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2376 BonusForFullyDiscovered
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Resources/Locale/ru-RU/prototypes/entities/objects/blueprint/blueprint.ftl
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/blueprint.yml
  Resources/Prototypes/SS220/Recipes/Lathes/devices.yml
  Resources/Prototypes/SS220/Recipes/Lathes/electronics.yml
  Resources/Prototypes/SS220/Recipes/Lathes/misc.yml
  Resources/Prototypes/SS220/Recipes/Lathes/tools.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2405 Добавление в лодаут парамедика одежду Interdyne
  Resources/Locale/ru-RU/ss220/clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Uniforms/jumpsuit.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/paramedic.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Belt/interdyne_belt.rsi/equipped-BELT.png
  Resources/Textures/SS220/Clothing/Belt/interdyne_belt.rsi/icon.png
  Resources/Textures/SS220/Clothing/Belt/interdyne_belt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Belt/interdyne_belt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Belt/interdyne_belt.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/flipped-equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/flipped-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/flipped-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/flipped-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/icon_flipped.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Soft/interdyne_cap.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/interdyne_jumpsuit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/interdyne_jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/interdyne_jumpsuit.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/interdyne_jumpsuit.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/interdyne_jumpsuit.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/interdyne_jumpsuit.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2414 SM fix
  Content.Server/SS220/SuperMatter/Crystal/SuperMatterSystem.Database.cs
Labels: Changes: C#

#2410 Thermals Into Arsenal Discipline
  Resources/Prototypes/SS220/Research/experimental.yml
Labels: Changes: Prototypes

#2418 Add cult yogg warning anouncement
  Content.Server/SS220/CultYogg/Altar/CultYoggAltarSystem.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/NyarlathotepTargetSearcherSystem.cs
  Content.Server/SS220/GameTicking/Rules/Components/CultYoggRuleComponent.cs
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
  Content.Server/SS220/Objectives/Systems/CultYoggSummonConditionSystem.cs
  Content.Shared/SS220/CultYogg/Altar/CultYoggAltarComponent.cs
  Content.Shared/SS220/CultYogg/Cultists/CultYoggEvents.cs
  Resources/Locale/ru-RU/ss220/game-ticking/game-presets/preset-cult.ftl
Labels: Changes: Localization, Status: Needs Review, Changes: C#

#2419 Block telepathy on death
  Content.Server/SS220/Telepathy/TelepathySystem.cs
  Content.Shared/Administration/SharedAdminFrozenSystem.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/SS220/Telepathy/TelepathyComponent.cs
Labels: Status: Needs Review, Changes: C#

#2413 Cult hotfix 1
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_buildings.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Locale/ru-RU/ss220/prototypes/roles/antags.ftl
  Resources/Prototypes/SS220/Body/Organs/tajaran.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/corruption.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggpod.yml
  Resources/Prototypes/SS220/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2220 Lost Souls Revive
  Resources/Locale/ru-RU/ss220/job/job-name.ftl
  Resources/Maps/SS220/Shuttles/lostSoul/civil.yml
  Resources/Maps/SS220/Shuttles/lostSoul/disaster_evacpod.yml
  Resources/Maps/SS220/Shuttles/lostSoul/honki.yml
  Resources/Maps/SS220/Shuttles/lostSoul/lost_cargo.yml
  Resources/Maps/SS220/Shuttles/lostSoul/traveling_china_cuisine.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/SS220/Entities/Mobs/Player/ShuttleRoles/roles.yml
  Resources/Prototypes/SS220/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/SS220/Entities/Mobs/Player/ShuttleRoles/spawners.yml
  Resources/Prototypes/SS220/GameRules/unknown_shuttles.yml
  Resources/Prototypes/SS220/Roles/Jobs/Fun/visitors_startinggear.yml
Labels: Changes: Map, Changes: Localization, Changes: Prototypes, Status: Needs Review, Test required

#2423 Item Offer Bind
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Server/SS220/ItemOfferVerb/Systems/ItemOfferSystem.cs
  Content.Shared/SS220/Input/KeyFunctions220.cs
  Resources/Locale/ru-RU/ss220/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ss220/itemoffer/itemoffer.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Localization, Status: Needs Review, Changes: C#

#2428 Cultists round end count fix
  Content.Server/SS220/GameTicking/Rules/Components/CultYoggRuleComponent.cs
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
Labels: Changes: C#

#2434 Cult hotfix 2
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
  Content.Shared/SS220/CultYogg/Corruption/SharedCultYoggCorruptedSystem.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_consumable.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_cultists_actions.ftl
  Resources/Locale/ru-RU/ss220/prototypes/roles/antags.ftl
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/spitballer.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2433 FIX: Deleted entity delete buckled entity
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Changes: C#

#2431 Lost souls fix
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Changes: Prototypes, Status: Needs Review

#2436 Респрайт ветровки парамедика
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/icon-open.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/open-inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/windbreaker_paramedic_220.rsi/open-inhand-right.png
Labels: Changes: Sprites, Changes: Prototypes

#2437 fix-blueshield-t-srirt
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/base_clothinguniforms.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
Labels: Changes: Prototypes

#2417 update-ntbaton
  Resources/Audio/SS220/Weapons/Melee/homerun/attributions.yml
  Resources/Audio/SS220/Weapons/Melee/homerun/homerun.ogg
  Resources/Audio/SS220/Weapons/Melee/homerun/homerunbaton.ogg
  Resources/Locale/ru-RU/ss220/weapons/ntbaton.ftl.ftl
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/ntbaton.yml
  Resources/Prototypes/SS220/SoundCollections/weapon.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2415 arachnid-lore-names
  Resources/Prototypes/Datasets/Names/arachnid_first.yml
  Resources/Prototypes/Datasets/Names/arachnid_last.yml
  Resources/Prototypes/SS220/Datasets/Names/arachnid_female.yml
  Resources/Prototypes/SS220/Datasets/Names/arachnid_last.yml
  Resources/Prototypes/SS220/Datasets/Names/arachnid_male.yml
  Resources/Prototypes/Species/arachnid.yml
Labels: Changes: Prototypes, Status: Needs Review

#2439 New years cap
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Textures/SS220/Clothing/Head/Hats/newyears_cap.rsi/cap-ghost.png
  Resources/Textures/SS220/Clothing/Head/Hats/newyears_cap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/newyears_cap.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/newyears_cap.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/newyears_cap.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2440 Secret Valid Weights
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/SS220/GameRules/roundstart.yml
  Resources/Prototypes/SS220/game_presets.yml
  Resources/Prototypes/secret_weights.yml
Labels: Changes: Prototypes
