Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-08, with the labels that each got.

#1492 Fixs Toy e-sword and Golden shlepa clown shoes
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/clothing.yml
Labels: No C#

#1474 Thermals fix
  Content.Client/SS220/Overlays/IgnoreLightVisionOverlay.cs
  Content.Client/SS220/Overlays/ThermalVisionOverlay.cs
  Content.Client/SS220/Thermals/ThermalVisionOverlay.cs
  Content.Client/SS220/Thermals/ThermalVisionSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/SS220/Thermals/ThermalVisionClothingComponent.cs
  Content.Server/SS220/Thermals/ThermalVisionImplantComponent.cs
  Content.Server/SS220/Thermals/ThermalVisionImplantSystem.cs
  Resources/Locale/ru-RU/clothing/glasses.ftl
  Resources/Locale/ru-RU/ss220/clothing/Eyes/glasses.ftl
  Resources/Prototypes/SS220/Entities/ThermalVisionGoogles/ThermalVisionProto.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionImplant/ThermalVisionAction.yml
  Resources/Prototypes/SS220/Recipes/Lathes/devices.yml
Labels: Changes: Localization

#1475 HoochEventSector
  Resources/Maps/SS220/Shuttles/hooch/ObjectEventHoochV7.yml
  Resources/Maps/SS220/Shuttles/hooch/ShuttleHoochEventV2.yml
Labels: No C#, Status: Needs Review

#1493 Add more time for next meteor event
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#1494 Return hijack objective
  Content.Server/Objectives/Systems/HijackShuttleConditionSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: Status: Needs Review

#1522 Added doafter option for foldable items
  Content.Shared/Foldable/FoldableComponent.cs
  Content.Shared/Foldable/FoldableSystem.cs
  Content.Shared/SS220/Foldable/SetFoldableStateDoAfterEvent.cs
  Resources/Prototypes/SS220/Entities/Objects/Vehicles/buckleable.yml
Labels: Status: Needs Review

#1517 Recepies fixes
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/medsec_hud.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/potato.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/improvised/makeshift_laser_pistol.yml
  Resources/Prototypes/Stacks/science_stacks.yml
Labels: No C#

#1521 Thief communicator set description fix
  Resources/Locale/ru-RU/thief/backpack.ftl
Labels: Changes: Localization, No C#

#1505 Add random voices for borgs
  Content.Server/SS220/TTS/TTSSystem.cs
  Content.Shared/SS220/TTS/RandomVoicesListPrototype.cs
  Content.Shared/SS220/TTS/TTSComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/SS220/Voice/random_voices_lists.yml
Labels: Status: Needs Review

#1157 Underused uplink stuff fix
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
Labels: Changes: Localization, No C#

#1527 Add Temporary waddle status effect
  Content.Client/Movement/Systems/WaddleAnimationSystem.cs
  Content.Shared/Clothing/EntitySystems/WaddleClothingSystem.cs
  Content.Shared/SS220/Movement/Components/TemporaryWaddleComponent.cs
  Content.Shared/SS220/Movement/Systems/TemporaryWaddleSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/SS220/StatusEffects/status_effects.yml
Labels: Status: Needs Review

#1532 Change felinid status effects
  Resources/Prototypes/SS220/Entities/Mobs/Player/felinid.yml
Labels: No C#

#1525 Locale for speaking figurines
  Resources/Locale/ru-RU/ss220/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/SS220/Datasets/ss220figurines.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/figurines.yml
Labels: Changes: Localization, No C#

#1538 Psychologist-Resprite
  Resources/Prototypes/Corvax/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/psychologist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/psychologist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/psychologist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/psychologist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/psychologist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/psychologist.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/psychologist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/psychologist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/psychologist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/psychologist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/psychologist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/psychologist.rsi/meta.json
Labels: Changes: Sprites, No C#

#1541 Make trading outpost unmovable
  Resources/Maps/SS220/Shuttles/trading_outpost.yml
Labels: Changes: Map, No C#

#1542 Change perms for exec command
  Resources/clientCommandPerms.yml
Labels: No C#

#1540 Janitor-Control
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/janitor_control.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/janitor_control.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/janitor_control.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/janitor_control.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/janitor_control.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1535 Walls-Sprite-Update
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Textures/SS220/Structures/Walls/clown.rsi/clown0.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/clown1.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/clown2.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/clown3.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/clown4.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/clown5.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/clown6.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/clown7.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/clown.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/sandstone0.png
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/sandstone1.png
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/sandstone2.png
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/sandstone3.png
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/sandstone4.png
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/sandstone5.png
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/sandstone6.png
  Resources/Textures/SS220/Structures/Walls/sandstone.rsi/sandstone7.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/wood.rsi/wood0.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/wood1.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/wood2.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/wood3.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/wood4.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/wood5.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/wood6.png
  Resources/Textures/SS220/Structures/Walls/wood.rsi/wood7.png
Labels: Changes: Sprites, No C#

#1536 Chief-Helmet-FIX
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: No C#

#1553 Add spider queen antag
  Resources/Locale/ru-RU/ss220/actions/spider-actions.ftl
  Resources/Locale/ru-RU/ss220/consumable/food.ftl
  Resources/Locale/ru-RU/ss220/headset-component.ftl
  Resources/Locale/ru-RU/ss220/materials/crystal-shard.ftl
  Resources/Locale/ru-RU/ss220/misc/spider-eggs.ftl
  Resources/Locale/ru-RU/ss220/misc/spider-implants.ftl
  Resources/Locale/ru-RU/ss220/misc/spider-web.ftl
  Resources/Locale/ru-RU/ss220/mobs/spider-queen.ftl
  Resources/Locale/ru-RU/ss220/strucrure/spider-structures.ftl
  Resources/Locale/ru-RU/ss220/weapons/projectiles.ftl
  Resources/Prototypes/SS220/Actions/Spider_actions.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/spider_queen.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/SS220/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/spider_eggs.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/spider_implants.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Entities/Structures/Specific/spider_structures.yml
  Resources/Prototypes/SS220/Entities/markers/Spawners/ghost_roles.yml
  Resources/Prototypes/SS220/GameRules/events.yml
  Resources/Prototypes/SS220/radio_channels.yml
Labels: Changes: Localization, No C#

#1556 FIX emergency medipen loadout
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: No C#

#1558 FIX wires cut not properly work
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#1561 FIX pack beer visuals
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/drinks_cans.yml
Labels: No C#

#1562 Security Jackboots Fix
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/secboots.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_officer.yml
Labels: No C#

#1537 Fix loc
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.xaml
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/dispensers/soda.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/entities/structures/machines/chem_master.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/particle-accelerator/components/ui/particle-accelerator-control-menu.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/eyes/misc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/syndicate_gadgets/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/fire_extinguisher.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/dispensers/soda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/chem_master.ftl
  Resources/Locale/ru-RU/ss220/station-events/events/meteor-swarm.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
Labels: Changes: UI, Changes: Localization, No C#

#1415 Add new highrisk to quartermaster
  Content.Server/Weapons/Melee/WeaponRandom/WeaponRandomComponent.cs
  Resources/Audio/SS220/Weapons/brassKnukles/attributions.yml
  Resources/Audio/SS220/Weapons/brassKnukles/critical-hit.ogg
  Resources/Locale/ru-RU/ss220/misc/case.ftl
  Resources/Locale/ru-RU/ss220/weapons/brass_knuckles.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/case.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/brass_knuckles.yml
  Resources/Prototypes/SS220/Objectives/stealTargetGroups.yml
  Resources/Prototypes/SS220/Objectives/traitor.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Misc/etched_brass_knuckles_case.rsi/base.png
  Resources/Textures/SS220/Misc/etched_brass_knuckles_case.rsi/brassknukles.png
  Resources/Textures/SS220/Misc/etched_brass_knuckles_case.rsi/closed.png
  Resources/Textures/SS220/Misc/etched_brass_knuckles_case.rsi/icon.png
  Resources/Textures/SS220/Misc/etched_brass_knuckles_case.rsi/locked.png
  Resources/Textures/SS220/Misc/etched_brass_knuckles_case.rsi/meta.json
  Resources/Textures/SS220/Misc/etched_brass_knuckles_case.rsi/open.png
  Resources/Textures/SS220/Misc/etched_brass_knuckles_case.rsi/unlocked.png
  Resources/Textures/SS220/Objects/Weapons/Melee/etched_brass_knuckles.rsi/equipped-HAND.png
  Resources/Textures/SS220/Objects/Weapons/Melee/etched_brass_knuckles.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/etched_brass_knuckles.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/etched_brass_knuckles.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/etched_brass_knuckles.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#1569 FIX security uniform error fix
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#

#1574 Walls-Sprite-Update-V2
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/cobblebrick0.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/cobblebrick1.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/cobblebrick2.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/cobblebrick3.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/cobblebrick4.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/cobblebrick5.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/cobblebrick6.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/cobblebrick7.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_basalt.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/cobblebrick0.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/cobblebrick1.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/cobblebrick2.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/cobblebrick3.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/cobblebrick4.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/cobblebrick5.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/cobblebrick6.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/cobblebrick7.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/cobblebrick_sand.rsi/meta.json
Labels: Changes: Sprites, No C#

#1577 Engraved knukleduster hot fix
  Resources/Locale/ru-RU/ss220/misc/case.ftl
  Resources/Locale/ru-RU/ss220/weapons/knuckleduster.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/case.yml
  Resources/Prototypes/SS220/Entities/Weapons/Melee/knuckleduster.yml
  Resources/Prototypes/SS220/Objectives/stealTargetGroups.yml
  Resources/Prototypes/SS220/Objectives/traitor.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Misc/engraved_knuckleduster_case.rsi/base.png
  Resources/Textures/SS220/Misc/engraved_knuckleduster_case.rsi/closed.png
  Resources/Textures/SS220/Misc/engraved_knuckleduster_case.rsi/icon.png
  Resources/Textures/SS220/Misc/engraved_knuckleduster_case.rsi/knuckleduster.png
  Resources/Textures/SS220/Misc/engraved_knuckleduster_case.rsi/locked.png
  Resources/Textures/SS220/Misc/engraved_knuckleduster_case.rsi/meta.json
  Resources/Textures/SS220/Misc/engraved_knuckleduster_case.rsi/open.png
  Resources/Textures/SS220/Misc/engraved_knuckleduster_case.rsi/unlocked.png
  Resources/Textures/SS220/Objects/Weapons/Melee/engraved_knuckleduster.rsi/equipped-HAND.png
  Resources/Textures/SS220/Objects/Weapons/Melee/engraved_knuckleduster.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/engraved_knuckleduster.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/engraved_knuckleduster.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/engraved_knuckleduster.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1576 FIX rev spectating
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: No C#

#1582 ADD traitor codewords highlight
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Shared/SS220/ShowCodewords/ShowCodewordsComponent.cs
Labels: Changes: UI

#1580 Texture fade overlay
  Content.Client/SS220/Overlays/OverlayStack.cs
  Content.Client/SS220/TextureFade/TextureFadeOverlay.cs
  Content.Client/SS220/TextureFade/TextureFadeOverlayComponent.cs
  Content.Client/SS220/TextureFade/TextureFadeOverlaySystem.cs
  Content.Server/SS220/TextureFade/TextureFadeOverlayComponent.cs
  Content.Shared/SS220/TextureFade/SharedTextureFadeOverlayComponent.cs
  Resources/Prototypes/SS220/Shaders/texture_fade.yml
  Resources/Textures/SS220/Shaders/texture_fade.swsl
Labels: Changes: Shaders

#1588 RoleTime 2
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/SS220/Roles/Jobs/security_pilot.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_sec.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_service.yml
Labels: No C#

#1592 Crowbar damage on hit
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: No C#

#1600 Internal Affairs
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/ss220/clothing/Ears/headset.ftl
  Resources/Locale/ru-RU/ss220/headset-component.ftl
  Resources/Locale/ru-RU/ss220/job/department-desc.ftl
  Resources/Locale/ru-RU/ss220/job/department.ftl
  Resources/Locale/ru-RU/ss220/job/job-supervisors.ftl
  Resources/Locale/ru-RU/ss220/paper.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/devices/encryption.ftl
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_station/blank/blank_regular_law.xml
  Resources/PhotocopierForms/nanotrasen_station/law/law_req.xml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/SS220/Entities/Clothing/Ears/headset.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/encryption.yml
  Resources/Prototypes/SS220/Roles/Jobs/Internal-Affairs/detective.yml
  Resources/Prototypes/SS220/Roles/Jobs/Internal-Affairs/iaa.yml
  Resources/Prototypes/SS220/Roles/Jobs/Internal-Affairs/lawyer.yml
  Resources/Prototypes/SS220/Roles/Jobs/departaments.yml
  Resources/Prototypes/SS220/radio_channels.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Detective.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Lawyer.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-iaa.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-iaa.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/alt-equipped-EARS.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/equipped-EARS.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/icon.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/icon_alt.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/meta.json
  Resources/Textures/SS220/Interface/Paper/license.txt
  Resources/Textures/SS220/Interface/Paper/nanotrasen_law_form_header.png
  Resources/Textures/SS220/Objects/Devices/encryption_keys.rsi/crypt_silver.png
  Resources/Textures/SS220/Objects/Devices/encryption_keys.rsi/lawyer_label.png
  Resources/Textures/SS220/Objects/Devices/encryption_keys.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1591 SuperSynthesizer in musician loadaut
  Resources/Prototypes/Loadouts/Miscellaneous/instruments.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/instruments.yml
Labels: No C#

#1601 Gun mode's
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: No C#

#1602 FIX: Buckle two hands
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Resources/Locale/ru-RU/ss220/buckle/components/buckle-component.ftl
Labels: Changes: Localization, Status: Needs Review

#1603 Walls-Sprite-Update-V3
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/SS220/Structures/Walls/clock.rsi/clock0.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/clock1.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/clock2.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/clock3.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/clock4.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/clock5.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/clock6.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/clock7.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/clock.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/clock.rsi/wall_gear.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/cwindow0.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/cwindow1.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/cwindow2.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/cwindow3.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/cwindow4.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/cwindow5.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/cwindow6.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/cwindow7.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/full.png
  Resources/Textures/SS220/Structures/Windows/clockwork_window.rsi/meta.json
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/full.png
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/meta.json
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/ptwindow0.png
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/ptwindow1.png
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/ptwindow2.png
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/ptwindow3.png
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/ptwindow4.png
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/ptwindow5.png
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/ptwindow6.png
  Resources/Textures/SS220/Structures/Windows/plastitanium_window.rsi/ptwindow7.png
Labels: Changes: Sprites, No C#

#1604 Revert "Internal Affairs (#1600)"
  Resources/Locale/ru-RU/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/windoors/windoor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/ss220/clothing/Ears/headset.ftl
  Resources/Locale/ru-RU/ss220/headset-component.ftl
  Resources/Locale/ru-RU/ss220/job/department-desc.ftl
  Resources/Locale/ru-RU/ss220/job/department.ftl
  Resources/Locale/ru-RU/ss220/job/job-supervisors.ftl
  Resources/Locale/ru-RU/ss220/paper.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/devices/encryption.ftl
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_station/blank/blank_regular_law.xml
  Resources/PhotocopierForms/nanotrasen_station/law/law_req.xml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/SS220/Entities/Clothing/Ears/headset.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/encryption.yml
  Resources/Prototypes/SS220/Roles/Jobs/Internal-Affairs/detective.yml
  Resources/Prototypes/SS220/Roles/Jobs/Internal-Affairs/iaa.yml
  Resources/Prototypes/SS220/Roles/Jobs/Internal-Affairs/lawyer.yml
  Resources/Prototypes/SS220/Roles/Jobs/departaments.yml
  Resources/Prototypes/SS220/radio_channels.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Detective.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Lawyer.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-iaa.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-iaa.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/alt-equipped-EARS.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/equipped-EARS.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/icon.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/icon_alt.png
  Resources/Textures/SS220/Clothing/Ears/Headsets/internal_affairs.rsi/meta.json
  Resources/Textures/SS220/Interface/Paper/license.txt
  Resources/Textures/SS220/Interface/Paper/nanotrasen_law_form_header.png
  Resources/Textures/SS220/Objects/Devices/encryption_keys.rsi/crypt_silver.png
  Resources/Textures/SS220/Objects/Devices/encryption_keys.rsi/lawyer_label.png
  Resources/Textures/SS220/Objects/Devices/encryption_keys.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1605 fix double label on chem jugs RU
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/chemical-containers.ftl
Labels: Changes: Localization, No C#, Status: Needs Review

#1608 Pill canisters names fix (try 2)
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#1609 Officer cutlass
  Resources/Locale/ru-RU/ss220/loadout-groups/head-of-security.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/items.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/belt/belt.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/melee/swords.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Catalog/Fills/belt.yml
  Resources/Prototypes/SS220/Catalog/centdrobeinventory.yml
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Clothing/Belt/cutlass_sheath.rsi/equipped-BELT.png
  Resources/Textures/SS220/Clothing/Belt/cutlass_sheath.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Clothing/Belt/cutlass_sheath.rsi/meta.json
  Resources/Textures/SS220/Clothing/Belt/cutlass_sheath.rsi/sheath-cutlass-equipped-BELT.png
  Resources/Textures/SS220/Clothing/Belt/cutlass_sheath.rsi/sheath-cutlass-equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Clothing/Belt/cutlass_sheath.rsi/sheath-cutlass.png
  Resources/Textures/SS220/Clothing/Belt/cutlass_sheath.rsi/sheath.png
  Resources/Textures/SS220/Objects/Weapons/Melee/officer_cutlass.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/officer_cutlass.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/officer_cutlass.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/officer_cutlass.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1610 Сlear some code word
  Resources/Prototypes/Datasets/adjectives.yml
Labels: No C#

#1612 Footwraps sound fix
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/footwraps.yml
Labels: No C#

#1614 ADD: 5 sec for emoting each species
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#

#1615 Fix weapon path
  Resources/Locale/ru-RU/ss220/weapons/hosgun.ftl
  Resources/Locale/ru-RU/ss220/weapons/ntbaton.ftl.ftl
  Resources/Locale/ru-RU/ss220/weapons/oldbroom.ftl
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/hosgun.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/jian_sword.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/knuckleduster.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/ntbaton.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/oldbroom.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/SS220/Entities/Weapons/Guns/oldbroom.yml
  Resources/Prototypes/SS220/Entities/Weapons/oldbroom.yml
Labels: Changes: Localization, No C#

#1611 Heal loc fix
  Resources/Locale/ru-RU/ss220/medical/components/healing-component.ftl
Labels: Changes: Localization, No C#

#1581 Add Multiphase energy gun
  Content.Client/SS220/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Shared/Weapons/Ranged/Components/BatteryWeaponFireModesComponent.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
  Resources/Locale/ru-RU/ss220/weapons/multiphase_energy_gun.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/multiphase_energy_gun.yml
  Resources/Prototypes/SS220/Objectives/stealTargetGroups.yml
  Resources/Prototypes/SS220/Objectives/traitor.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/bullet_EMP.rsi/emp.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/bullet_EMP.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/disabler-mag-unshaded-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/disabler-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/disabler-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/disabler-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/disabler-mag-unshaded-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/emp-mag-unshaded-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/emp-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/emp-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/emp-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/emp-mag-unshaded-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/equipped-BELT.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-left-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-left-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-left-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-left-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-right-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-right-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-right-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-right-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/laser-mag-unshaded-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/laser-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/laser-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/laser-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/laser-mag-unshaded-4.png
  Resources/Textures/SS220/Objects/Weapons/Guns/multiphase_energy_gun.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#1618 Temporary remove texture fade shader prototype
  Resources/Prototypes/SS220/Shaders/texture_fade.yml
Labels: No C#

#1619 TacSec Loadout Update
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/tacsec_helmet.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/security_protectgear.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/tacsec.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_officer.yml
  Resources/Textures/SS220/Clothing/Head/Helmets/opscore.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Helmets/opscore.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Helmets/opscore.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Helmets/opscore.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Helmets/opscore.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Misc/tactical.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Misc/tactical.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Misc/tactical.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Misc/tactical.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Misc/tactical.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/tacuniform.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/tacuniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/tacuniform.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/tacuniform.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/tacuniform.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/tacuniform.rsi/meta.json
Labels: Changes: Sprites, No C#

#1617 Magboots and Moonboots with jetpack fix
  Content.Shared/Clothing/EntitySystems/AntiGravityClothingSystem.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Resources/Locale/ru-RU/ss220/movement/jetpacks.ftl
Labels: Changes: Localization, Status: Needs Review

#1620 Salvage loadout update
  Resources/Locale/ru-RU/ss220/clothing/Head/bandanas.ftl
  Resources/Locale/ru-RU/ss220/clothing/Head/hardhats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Locale/ru-RU/ss220/clothing/Masks/bandanas.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/salvagespecialist.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/bandanas.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Head/Bandanas/salvage.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Bandanas/salvage.rsi/equipped-MASK.png
  Resources/Textures/SS220/Clothing/Head/Bandanas/salvage.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Bandanas/salvage.rsi/icon_mask.png
  Resources/Textures/SS220/Clothing/Head/Bandanas/salvage.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Bandanas/salvage.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Bandanas/salvage.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/light-icon.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/off-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/off-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/on-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/violet.rsi/on-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/flipped-equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/flipped-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/flipped-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/flipped-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/icon_flipped.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/salvagehat.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/flannel_salvage.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/flannel_salvage.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/flannel_salvage.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/flannel_salvage.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/flannel_salvage.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/flannel_salvage.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1623 FIX: IAA trinkets in backpack
  Resources/Locale/ru-RU/ss220/loadout-groups/iaa.ftl
  Resources/Prototypes/Corvax/Roles/Jobs/Command/iaa.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/iaa.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
Labels: Changes: Localization, No C#

#1626 Fixed texture fade shader
  Resources/Prototypes/SS220/Shaders/texture_fade.yml
  Resources/Textures/SS220/Shaders/texture_fade.swsl
Labels: No C#, Changes: Shaders

#1098 giga&ricardo hamlets
  Resources/Locale/ru-RU/ss220/mobs/gigahamlet.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/recardo-junior.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/gigahamlet.yml
  Resources/Textures/SS220/Clothing/Uniforms/recardo-junior.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/recardo-junior.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/recardo-junior.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/recardo-junior.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/recardo-junior.rsi/meta.json
  Resources/Textures/SS220/Mobs/Animals/gigahamlet.rsi/crit.png
  Resources/Textures/SS220/Mobs/Animals/gigahamlet.rsi/dead.png
  Resources/Textures/SS220/Mobs/Animals/gigahamlet.rsi/gigahamlet.png
  Resources/Textures/SS220/Mobs/Animals/gigahamlet.rsi/icon.png
  Resources/Textures/SS220/Mobs/Animals/gigahamlet.rsi/meta.json
  Resources/Textures/SS220/Mobs/Animals/ricardohamlet.rsi/crit.png
  Resources/Textures/SS220/Mobs/Animals/ricardohamlet.rsi/dead.png
  Resources/Textures/SS220/Mobs/Animals/ricardohamlet.rsi/icon.png
  Resources/Textures/SS220/Mobs/Animals/ricardohamlet.rsi/meta.json
  Resources/Textures/SS220/Mobs/Animals/ricardohamlet.rsi/ricardohamlet.png
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1631 Curse 220
  Content.Client/SS220/ResourcesFallback/RsiResourceFallbackSystem.cs
  Resources/Textures/SS220/Misc/Errors/error-curse220.rsi/error.png
  Resources/Textures/SS220/Misc/Errors/error-curse220.rsi/meta.json
Labels: Changes: Sprites

#1640 FIX: Felinid loadout fix
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
Labels: No C#

#1630 Cutlass Update
  Resources/Locale/ru-RU/ss220/loadout-groups/captain.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: Changes: Localization, No C#

#1644 Walss-Sprite-Update-V4
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/web.yml
  Resources/Prototypes/SS220/Actions/Spider_actions.yml
  Resources/Prototypes/SS220/Entities/Structures/Specific/spider_structures.yml
  Resources/Textures/SS220/Structures/Walls/gold.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/gold0.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/gold1.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/gold2.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/gold3.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/gold4.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/gold5.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/gold6.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/gold7.png
  Resources/Textures/SS220/Structures/Walls/gold.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/web.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/web.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/web.rsi/wall0.png
  Resources/Textures/SS220/Structures/Walls/web.rsi/wall1.png
  Resources/Textures/SS220/Structures/Walls/web.rsi/wall2.png
  Resources/Textures/SS220/Structures/Walls/web.rsi/wall3.png
  Resources/Textures/SS220/Structures/Walls/web.rsi/wall4.png
  Resources/Textures/SS220/Structures/Walls/web.rsi/wall5.png
  Resources/Textures/SS220/Structures/Walls/web.rsi/wall6.png
  Resources/Textures/SS220/Structures/Walls/web.rsi/wall7.png
Labels: Changes: Sprites, No C#

#1638 mindslave removed from loneop uplink
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
Labels: No C#

#1646 loadout-prototypes-cleaner-revive
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/senior_service.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/iaa.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/blueshield.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/iaa.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/senior_medical.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/research_assistant.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security-pilot.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_cadet.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/senior_officer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
Labels: No C#

#1650 ADD: Ghost Hud's
  Content.Client/Ghost/GhostSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/SS220/CriminalRecords/CriminalRecordSystem.cs
  Content.Shared/Ghost/GhostComponent.cs
  Content.Shared/SS220/Ghost/GhostHudOnOther.cs
  Resources/Locale/ru-RU/ss220/ghost/ghost-gui.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/SS220/Actions/Ghost.yml
Labels: Changes: Localization

#1627 Add antags playtime trackers
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Roles/RoleSystem.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Content.Shared/SS220/DarkReaper/DarkReaperRoleComponent.cs
  Content.Shared/SS220/Roles/AntagGroupPrototype.cs
  Content.Shared/SS220/Roles/JobRequirements/AntagGroupTimeRequirement.cs
  Content.Shared/SS220/Roles/JobRequirements/AntagTimeRequirement.cs
  Resources/Locale/ru-RU/ss220/job/antag-groups.ftl
  Resources/Locale/ru-RU/ss220/job/role-timers.ftl
  Resources/Prototypes/Roles/Antags/Thief.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/SS220/Antags/DarkReaper.yml
  Resources/Prototypes/SS220/Antags/antagGroups.yml
  Resources/Prototypes/SS220/GameRules/midround_antags.yml
  Resources/Prototypes/SS220/Roles/play_time_trackers.yml
Labels: Changes: Localization

#1641 Pet E-N
  Resources/Audio/SS220/Animals/small_robot_bark_happy.ogg
  Resources/Locale/en-US/ss220/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss220/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss220/mobs/ghost-role-pets.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/mobs/npcs/pets.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/SS220/AutoPetGhostRole/ghost_role_pet_spawner.yml
  Resources/Prototypes/SS220/Body/Organs/e-n.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Mobs/Pets/E-N/e-n.rsi/e-n.png
  Resources/Textures/SS220/Mobs/Pets/E-N/e-n.rsi/e-n_e.png
  Resources/Textures/SS220/Mobs/Pets/E-N/e-n.rsi/e-n_e_r.png
  Resources/Textures/SS220/Mobs/Pets/E-N/e-n.rsi/e-n_l.png
  Resources/Textures/SS220/Mobs/Pets/E-N/e-n.rsi/meta.json
  Resources/Textures/SS220/Mobs/Pets/E-N/organs.rsi/heart.png
  Resources/Textures/SS220/Mobs/Pets/E-N/organs.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1649 Added french-75 cocktail
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/SS220/Flavors/flavors.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/SS220/Recipes/Reactions/drinks.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/french75.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/french75.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/french75.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/french75.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/french75.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/french75.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/french75.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1657 Add new lobby art by Norka
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/attributions.yml
  Resources/Textures/SS220/LobbyScreens/secgraduating.png
  Resources/Textures/SS220/LobbyScreens/secgraduating.png.yml
Labels: No C#

#1659 Reaction info on not triggered artifact node
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Resources/Locale/ru-RU/ss220/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: Localization

#1647 double_closet
  Resources/Locale/ru-RU/ss220/storage/double_closet.ftl
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/double_closet.yml
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/armory.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/armory_armor_door.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/armory_door.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/armory_energy_gun_door.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/armory_gun_door.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/armory_steel_locker.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/bounty.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/captains_paper.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/emergency.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/emergency_door.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/emergency_open.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/fire.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/fire_door.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/fire_open.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/generic.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/generic_door.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/generic_icon.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/generic_open.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/invoice.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/locked.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/paper.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/unlocked.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/wardrobe_open.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/welded.png
Labels: Changes: Sprites, Changes: Localization, No C#

#1664 Atmos Holoprojector Buff
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
Labels: No C#

#1675 Delete client_output.txt
  client_output.txt
Labels: No C#, Status: Needs Review

#1674 Added bard loadout
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Locale/ru-RU/ss220/clothing/Outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss220/clothing/Shoes/shoes.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/musician.ftl
  Resources/Prototypes/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/beret_bard.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/bard.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/bard.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/bard_suit.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Head/Hats/beret_bard.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_bard.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_bard.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_bard.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_bard.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/apronbard.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/apronbard.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/apronbard.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/apronbard.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/apronbard.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/bardboots.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/bardboots.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/bardboots.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/bardboots.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/bardboots.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/bard.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/bard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/bard.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/bard.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/bard.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/bard.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1682 WhiteScarf
  Resources/Locale/ru-RU/ss220/clothing/Neck/scarf.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/medical.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/scarf.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
  Resources/Textures/SS220/Clothing/Neck/Scarfs/whitescarf.rsi/equipped-NECK-dog.png
  Resources/Textures/SS220/Clothing/Neck/Scarfs/whitescarf.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Scarfs/whitescarf.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Scarfs/whitescarf.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Scarfs/whitescarf.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Scarfs/whitescarf.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1684 drinks-can-resprite
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/beer_can.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/beer_can.rsi/icon_open.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/beer_can.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Drinks/sol_dry.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sol_dry.rsi/icon_open.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sol_dry.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sol_dry.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/sol_dry.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Drinks/wine_can.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/wine_can.rsi/icon_open.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/wine_can.rsi/meta.json
Labels: Changes: Sprites, No C#

#1689 fix water
  Resources/Prototypes/Entities/Tiles/water.yml
  Resources/Prototypes/SS220/Tiles/planet.yml
Labels: No C#

#1688 Drink eggnog
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/SS220/Recipes/Reactions/drinks.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1665 Add auto-form system
  Content.Shared/Paper/PaperComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/SS220/Paper/PaperAutoFormSystem.cs
Labels: Status: Needs Review

#1677 Druid loadout
  Resources/Locale/ru-RU/ss220/clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Neck/druid_amulet.ftl
  Resources/Locale/ru-RU/ss220/clothing/Shoes/shoes.ftl
  Resources/Locale/ru-RU/ss220/clothing/Uniforms/jumpsuit.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/botanist.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/druid_amulet.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/botanist.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Belt/druid_belt.rsi/equipped-BELT.png
  Resources/Textures/SS220/Clothing/Belt/druid_belt.rsi/icon.png
  Resources/Textures/SS220/Clothing/Belt/druid_belt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Belt/druid_belt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Belt/druid_belt.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/druid_tiara.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/druid_tiara.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/druid_tiara.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/druid_tiara.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/druid_tiara.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/druid_amulet.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/druid_amulet.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/druid_amulet.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/druid_amulet.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/druid_amulet.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/druidboots.rsi/equipped-FEET-vox.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/druidboots.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/druidboots.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/druidboots.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/druidboots.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/druidboots.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/druid_jumpsuit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/druid_jumpsuit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/druid_jumpsuit.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/druid_jumpsuit.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/druid_jumpsuit.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/druid_jumpsuit.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1681 ointment&brutepack-resprite
  Resources/Textures/Objects/Specific/Medical/medical.rsi/brutepack-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/brutepack-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/brutepack.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medical.rsi/ointment-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/ointment-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/ointment.png
Labels: Changes: Sprites, No C#

#1690 TTS Upstream
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: No C#

#1673 danger-coat
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/musician.yml
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/danger_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/danger_coat.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/danger_coat.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/danger_coat.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/danger_coat.rsi/meta.json
Labels: Changes: Sprites, No C#

#1686 FixAmmoSprite
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rubber.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/Ammunitions/magazines.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag10-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag_short.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag_short.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/maxim.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/maxim.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/MagazineUssp_RPK.rsi/mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/MagazineUssp_RPK.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ussp_magppsh.rsi/mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/ussp_magppsh.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1692 roxy bugfix copyright issue
  Resources/Textures/Clothing/Mask/medical.rsi/meta.json
Labels: No C#

#1693 Fix liar speech trait localization
  Resources/Locale/ru-RU/speech/speech-liar.ftl
Labels: Changes: Localization, No C#

#1687 LaserTurret
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/turrets.yml
Labels: No C#

#1696 OrangeJanitor
  Resources/Locale/ru-RU/ss220/loadout-groups/janitor.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/SS220/Entities/Clothing/Hand/hands.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/janitor.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/janitor.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Hands/Gloves/orangejanitor.rsi/equipped-HAND.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/orangejanitor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/orangejanitor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/orangejanitor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/orangejanitor.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/orangejanitor.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/orangejanitor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/orangejanitor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/orangejanitor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/orangejanitor.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/orangejanitor.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/orangejanitor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/orangejanitor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/orangejanitor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/orangejanitor.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/orangejanitor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/orangejanitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/orangejanitor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/orangejanitor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/orangejanitor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/orangejanitor.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1695 FIX CLOTHING TAGS
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/SS220/Entities/Clothing/Hand/handwraps.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/base.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/magiciansdress.yml
Labels: No C#

#1697 ADD Crocodile
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/SS220/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/SS220/Mobs/Animals/crocodile.rsi/croc-moving.png
  Resources/Textures/SS220/Mobs/Animals/crocodile.rsi/croc.png
  Resources/Textures/SS220/Mobs/Animals/crocodile.rsi/dead.png
  Resources/Textures/SS220/Mobs/Animals/crocodile.rsi/icon.png
  Resources/Textures/SS220/Mobs/Animals/crocodile.rsi/meta.json
Labels: Changes: Sprites, No C#

#1701 Eggnog&Arachne sprite fix
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-5.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/fill-6.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/eggnog.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_hot_arachne.rsi/fill-6.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_hot_arachne.rsi/meta.json
Labels: Changes: Sprites, No C#

#1707 Bodycam
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/bodycamera.yml
  Resources/Textures/SS220/Objects/Tools/bodycam.rsi/icon.png
  Resources/Textures/SS220/Objects/Tools/bodycam.rsi/meta.json
Labels: Changes: Sprites, No C#

#1708 Bugfix Galoshes Issue
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/janitor.yml
Labels: No C#

#1705 Added expeditor uniform
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Uniforms/jumpsuit.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Head/Hats/beret_salvage_specialist.rsi/equipped-HELMET-dog.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_salvage_specialist.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_salvage_specialist.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_salvage_specialist.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_salvage_specialist.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_salvage_specialist.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_salvage_specialist.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_experditor.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_experditor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_experditor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_experditor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_experditor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_experditor.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1709 VoxEyesDisplacementMap+GlassesFix
  Resources/Textures/Clothing/Eyes/Glasses/gar.rsi/alt-equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Glasses/gar.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Glasses/gar.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/gar.rsi/super-equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Glasses/jamjar.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Glasses/jamjar.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/jensen.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Glasses/jensen.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/ninjavisor.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Glasses/ninjavisor.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Glasses/outlawglasses.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Glasses/outlawglasses.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Misc/eyepatch.rsi/equipped-EYES-vox.png
  Resources/Textures/Clothing/Eyes/Misc/eyepatch.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/eyes.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
Labels: Changes: Sprites, No C#

#1710 Hand/FootWrapsMoreColor
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/wraps.yml
Labels: No C#, Status: Needs Review
