Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-09, with the labels that each got.

#1711 Lone ops random spawn remove
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#1712 FixReflects
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: No C#

#1713 Fix Ninja Stealth
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: No C#

#1714 Fix ArtAnalysator
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
Labels: No C#

#1715 Telepathy fixes and tweaks
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/SS220/Telepathy/TelepathySystem.cs
  Content.Shared/SS220/Telepathy/TelepathyComponent.cs
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/ss220/chat/telepathy.ftl
  Resources/Prototypes/SS220/telepahy_channels.yml
Labels: Changes: Localization

#1716 beachCrafting
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/fun/beachstructures.yml
  Resources/Prototypes/SS220/Recipes/Construction/fun.yml
  Resources/Prototypes/SS220/Recipes/Lathes/misc.yml
  Resources/Prototypes/SS220/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/astrodesert.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1723 HOS energy shotgun removal
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: No C#

#1733 Обновление карт обломков
  Content.Shared/Salvage/SharedSalvageSystem.Magnet.cs
  Resources/Maps/SS220/Salvage/AsteroidBase_SS220.yml
  Resources/Maps/SS220/Salvage/MediumCafeteria_SS220.yml
  Resources/Maps/SS220/Salvage/MediumChef_SS220.yml
  Resources/Maps/SS220/Salvage/MediumMedbayHall_SS220.yml
  Resources/Maps/SS220/Salvage/MediumPetHospital_SS220.yml
  Resources/Maps/SS220/Salvage/MediumXenoArch_SS220.yml
  Resources/Maps/SS220/Salvage/MediumXenoBio_SS220.yml
  Resources/Maps/SS220/Salvage/RuinCargoBase_SS220.yml
  Resources/Maps/SS220/Salvage/Small2_SS220.yml
  Resources/Maps/SS220/Salvage/Small4_SS220.yml
  Resources/Maps/SS220/Salvage/SmallBrokenSyndicate_SS220.yml
  Resources/Maps/SS220/Salvage/SmallCargoDock_SS220.yml
  Resources/Maps/SS220/Salvage/SmallCargoShuttleCrash_SS220.yml
  Resources/Maps/SS220/Salvage/SmallCargoWreck_SS220.yml
  Resources/Maps/SS220/Salvage/SmallChapel_SS220.yml
  Resources/Maps/SS220/Salvage/SmallJRBarge_SS220.yml
  Resources/Maps/SS220/Salvage/SmallRuinedPod_SS220.yml
  Resources/Maps/SS220/Salvage/SmallStoneball_SS220.yml
  Resources/Maps/SS220/Salvage/SmallTesla_SS220.yml
  Resources/Prototypes/Maps/salvage.yml
  Resources/Prototypes/SS220/Maps/salvage.yml
Labels: Changes: Map, No C#

#1735 Paperdoor sound fix
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
Labels: No C#

#1725 Added SponsorTierRequirement loadout effect
  Content.Client/SS220/Loadouts/SponsorTierRequirementLoadoutEffect.cs
  Content.Server/SS220/Loadouts/SponsorTierRequirementLoadoutEffect.cs
  Content.Shared/SS220/Loadouts/SharedSponsorTierRequirementLoadoutEffect.cs
  Resources/Locale/ru-RU/ss220/loadout-effects/sponsor-tier-requirement.ftl
  Resources/Prototypes/SS220/Loadouts/sponsor_tier_requirements.yml
Labels: Changes: Localization, Status: Needs Review

#1730 ADD: Cargo hud
  Content.Server/SS220/Overlays/ShowSupplyPriceSystem.cs
  Content.Shared/SS220/Overlays/ShowSupplyPriceComponent.cs
  Resources/Locale/ru-RU/ss220/clothing/hud.ftl
  Resources/Locale/ru-RU/ss220/overlays/hud.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/SS220/Entities/Clothing/Eyes/hud.yml
  Resources/Textures/SS220/Clothing/Eyes/supply.rsi/equipped-EYES.png
  Resources/Textures/SS220/Clothing/Eyes/supply.rsi/icon.png
  Resources/Textures/SS220/Clothing/Eyes/supply.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Eyes/supply.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Eyes/supply.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#1737 EscapePods dockind to CentCom
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Locale/ru-RU/ss220/strucrure/airlocks.ftl
  Resources/Prototypes/SS220/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Localization

#1732 Spider Action Sprite
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/eggspider.ftl
  Resources/Prototypes/Entities/Objects/Misc/eggspider.yml
  Resources/Prototypes/SS220/Actions/Spider_actions.yml
  Resources/Textures/Objects/Misc/eggspider.rsi/icon.png
  Resources/Textures/Objects/Misc/eggspider.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/clown_web_spawn.png
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/guard_spawn.png
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/hunter_spawn.png
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/little_spider_spawn.png
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/nurse_spawn.png
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/viper_spawn.png
  Resources/Textures/SS220/Interface/Actions/action_spider.rsi/web_spawn.png
Labels: Changes: Sprites, Changes: Localization, No C#

#1655 ADD: mask to TacSec group
  Resources/Locale/en-US/ss220/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/security-officer.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#1739 Added purple shoes for janitor
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: No C#, Status: Needs Review

#1741 Surgery clothing resprite
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/scrubs.yml
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_blue.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_blue.rsi/equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_blue.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_blue.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_blue.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_blue.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_blue.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_green.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_green.rsi/equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_green.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_green.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_green.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_green.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_green.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_purple.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_purple.rsi/equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_purple.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_purple.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_purple.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_purple.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/surgcap_purple.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/blue.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/blue.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/blue.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/blue.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/blue.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/green.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/green.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/green.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/green.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/green.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/green.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/purple.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/purple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/purple.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/purple.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/purple.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Scrubs/purple.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1748 CentComm update v0.5
  Resources/Maps/SS220/admin-shuttles/ss220_NT_CBURN.yml
  Resources/Maps/SS220/ss220-centcomm.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/SS220/Catalog/Fills/Backpacks/backpack.yml
Labels: Changes: Map, No C#, Status: Needs Review

#1750 Chemical Door Resprite
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/welded.png
Labels: Changes: Sprites, No C#

#1744 AME Rebalance powerup [1/3 E.R.]
  Content.Server/Ame/AmeNodeGroup.cs
Labels: Status: Needs Review

#1752 Tweak: Tropico available for ghost role
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#1745 Added overcharge field to BatteryComponent
  Content.Server/Power/Components/BatteryComponent.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
Labels: Status: Needs Review

#1754 Lock mob crates for cargo
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/crates/npc.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/SS220/Catalog/Fills/Crates/npc.yml
Labels: Changes: Localization, No C#

#1757 BodyCameraAddSprite
  Resources/Prototypes/SS220/Detective/Camera/detective_hidden_camera.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/bodycamera.yml
  Resources/Textures/SS220/Objects/Tools/bodycam.rsi/equipped-NECK.png
  Resources/Textures/SS220/Objects/Tools/bodycam.rsi/meta.json
Labels: Changes: Sprites, No C#

#1756 Spider queen v0.1
  Resources/Locale/ru-RU/ss220/actions/spider-actions.ftl
  Resources/Locale/ru-RU/ss220/mobs/spider-queen.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/spider_queen.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/SS220/Entities/markers/Spawners/ghost_roles.yml
  Resources/Prototypes/SS220/GameRules/events.yml
  Resources/Prototypes/SS220/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: Changes: Localization, No C#

#1761 Fix local CutterMachine
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
Labels: Changes: Localization, No C#

#1671 FIX stunner machine gun
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#1767 WristWatchGold Spawn Fix
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
Labels: No C#

#1770 Fix min players to start SurvivalRule
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#

#1751 Add Quartermaster goggles
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/SS220/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/SS220/Clothing/Eyes/qmglasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/SS220/Clothing/Eyes/qmglasses.rsi/equipped-EYES-secdog.png
  Resources/Textures/SS220/Clothing/Eyes/qmglasses.rsi/equipped-EYES.png
  Resources/Textures/SS220/Clothing/Eyes/qmglasses.rsi/icon.png
  Resources/Textures/SS220/Clothing/Eyes/qmglasses.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Eyes/qmglasses.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Eyes/qmglasses.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1765 Fix MedicalBelt Wrench
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#1766 FixPillCanister
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#1779 ADD: Detective noir leather backpack
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Back/backpack.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Back/Satchels/leather-noir.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Clothing/Back/Satchels/leather-noir.rsi/icon.png
  Resources/Textures/SS220/Clothing/Back/Satchels/leather-noir.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Back/Satchels/leather-noir.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Back/Satchels/leather-noir.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1781 FIX: Hidden desc implants for brigmedic
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionImplant/ThermalVisionImplanter.yml
Labels: No C#, Status: Needs Review

#1784 FIX: Criminal and Station records console crash
  Content.Client/SS220/CriminalRecords/UI/CriminalRecordsWindow.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/RecordDetails.xaml.cs
  Content.Client/SS220/CriminalRecords/UI/RecordListEntry.xaml.cs
Labels: Changes: UI

#1783 Delete ghostrole E-N
  Resources/Locale/ru-RU/ss220/mobs/ghost-role-pets.ftl
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
Labels: Changes: Localization, No C#

#1785 ADD: Channel for body camera
  Resources/Locale/ru-RU/ss220/devices/device-network.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/machines/surveillance_camera_routers.ftl
  Resources/Prototypes/Entities/Structures/Machines/surveillance_camera_routers.yml
  Resources/Prototypes/SS220/Device/devicenet_frequencies.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/bodycamera.yml
  Resources/Prototypes/SS220/Entities/Structures/Machines/surveillance_camera_routers.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#1786 Умная экипировка для кобуры
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Resources/Locale/en-US/ss220/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/ss220/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Changes: Localization

#1797 FIX: Senior jobs in agent card
  Resources/Prototypes/StatusIcon/job.yml
Labels: No C#

#1804 FIX: Mistake in changelog
  Resources/Changelog/Changelog220.yml
Labels: No C#

#1806 Added wiki && guidelines references
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: No C#

#1808 FIX: Change quantity players for map
  Resources/Prototypes/SS220/Maps/axioma.yml
  Resources/Prototypes/SS220/Maps/donuts.yml
Labels: No C#

#1811 Add antag time requiment to nukeops
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: No C#, Status: Needs Review

#1810 Revert migration for salvage shuttle console
  Resources/Prototypes/SS220/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/SS220/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/SS220/Objectives/stealTargetGroups.yml
  Resources/Prototypes/SS220/Objectives/thief.yml
  Resources/migration.yml
Labels: No C#

#1815 Add Envelope craft
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/paper.yml
  Resources/Prototypes/SS220/Recipes/Crafting/paper.yml
Labels: No C#

#1758 Fix #1729
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: No C#

#1814 Fix Mindslave status icons
  Content.Shared/SS220/MindSlave/MindSlaveComponent.cs
  Content.Shared/SS220/MindSlave/MindSlaveMasterComponent.cs
Labels: Status: Needs Review

#1824 FIX: Personalization zero count fix
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

#1816 Added exact tier & hide on insufficient field to reward group proto
  Content.Client/SS220/Shlepovend/UI/ShlepovendGroup.xaml.cs
  Content.Client/SS220/Shlepovend/UI/ShlepovendWindow.xaml.cs
  Content.Server/SS220/Shlepovend/ShlepovendSystem.cs
  Content.Shared/SS220/Loadouts/SharedSponsorTierRequirementLoadoutEffect.cs
  Content.Shared/SS220/Shlepovend/SharedShlepovendSystem.cs
  Content.Shared/SS220/Shlepovend/ShlepaRewardGroupPrototype.cs
  Resources/Prototypes/SS220/RewardGroups/RewardGroups.yml
Labels: Changes: UI, Status: Needs Review

#1826 Revert "Add antag time requiment to nukeops (#1811)"
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: No C#

#1821 Fix: Отсутствие резиновых боеприпасов в крафте
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/SS220/Recipes/Lathes/security.yml
Labels: No C#

#1828 Fix changelog
  Resources/Changelog/Changelog220.yml
Labels: No C#

#1822 FIX: Walk slower than sprint
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#, Status: Needs Review

#1833 Gauze Repsrite
  Resources/Textures/Objects/Specific/Medical/medical.rsi/gauze.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/meta.json
Labels: Changes: Sprites, No C#

#1829 Fix Vox Tail
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_stenciled.png
Labels: Changes: Sprites, No C#

#1834 Chemistry Door
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/welded.png
Labels: Changes: Sprites, No C#

#1836 Purple Hop
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/OuterClothing/coats.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/head_of_personal.yml
  Resources/Textures/SS220/Clothing/Head/Hats/silverheadband.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/silverheadband.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/silverheadband.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/silverheadband.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/silverheadband.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/purpledress.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/purpledress.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/purpledress.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/purpledress.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/purpledress.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/purpledress.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1831 add extended melee weapon logic
  Content.Shared/SS220/Weapons/Melee/KnockingWeaponOutOfHands/Components/KnockingWeaponOutOfHandsComponent.cs
  Content.Shared/SS220/Weapons/Melee/KnockingWeaponOutOfHands/Systems/KnockingWeaponOutOfHandsSystem.cs
  Content.Shared/Weapons/Melee/Events/AttackEvent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#1837 add psycho pills
  Resources/Prototypes/Corvax/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#1843 FIX: Uplink sales 0 percent off
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#1840 Fractional Clothing Resprite
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/ship_vs_ship.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_nt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_nt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_nt.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_nt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_nt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_nt.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_syndie.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_syndie.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_syndie.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_syndie.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_syndie.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/ce_syndie.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/nanotrasen.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_nt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_nt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_nt.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_nt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_nt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_nt.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_syndie.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_syndie.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_syndie.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_syndie.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_syndie.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_syndie.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_nt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_nt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_nt.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_nt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_nt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_nt.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_syndie.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_syndie.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_syndie.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_syndie.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_syndie.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/recruit_syndie.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_nt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_nt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_nt.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_nt.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_nt.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_nt.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_syndie.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_syndie.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_syndie.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_syndie.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_syndie.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/repairman_syndie.rsi/meta.json
Labels: Changes: Sprites, No C#

#1832 Paramedic&Pilot Hardsuit Vox
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/security_pilot.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/security_pilot.rsi/meta.json
Labels: Changes: Sprites, No C#

#1844 FIX: Anchorable into puddle
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: No C#

#1848 FIX: Gateway examine variables
  Resources/Prototypes/Entities/Structures/Machines/gateway.yml
Labels: No C#

#1849 FIX: Cryo button invoke save button
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
Labels: Changes: UI, Changes: Localization

#1852 Fix deutch accent TTS
  Content.Server/SS220/TTS/TTSSystem.Sanitize.cs
  Resources/Locale/ru-RU/accent/german.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Changes: Localization

#1846 Add clothing special emotes
  Content.Client/Chat/UI/EmotesMenu.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/SS220/Speech/Components/ClothingSpecialEmotesComponent.cs
  Content.Server/SS220/Speech/EntitySystems/ClothingSpecialEmotesSystem.cs
  Content.Shared/Speech/SpeechComponent.cs
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
Labels: Changes: UI

#1853 NerfCorssbow
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/crossbow.yml
Labels: No C#

#1860 Revert "FIX: Personalization zero count fix"
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

#1861 decrease-survival-box
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: No C#, Status: Needs Review

#1864 VoxHandDisplacementMap+NorthStar sprite fix
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/hand.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
  Resources/Textures/SS220/Clothing/Hands/Gloves/northstar.rsi/equipped-HAND.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/northstar.rsi/icon.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/northstar.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/northstar.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/northstar.rsi/meta.json
Labels: Changes: Sprites, No C#

#1866 FixTtsPriority
  Content.Server/SS220/TTS/TTSSystem.Sanitize.cs
  Resources/Locale/en-US/accent/german.ftl
  Resources/Locale/ru-RU/accent/german.ftl
Labels: Changes: Localization

#1867 FIX: Dark reaper middle round event
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#1868 Add lodaout grey jumpsuit cadet
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_cadet.yml
Labels: No C#

#1865 FIX: Same codewords for all traitors
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Labels: Status: Needs Review

#1870 Fixed (?) event spam
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/StationEvents/Components/BasicStationEventSchedulerComponent.cs
  Content.Server/StationEvents/EventManagerSystem.cs
Labels: Status: Needs Review

#1842 Syndie jaws of life fix of speed modifier
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
Labels: No C#, Status: Needs Review

#1871 Crusher dagger slicing food fix
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: No C#, Status: Needs Review

#1875 FIX: Diamond disappears in protolathe
  Resources/Prototypes/Reagents/Materials/materials.yml
Labels: No C#

#1876 FIX: Board in printer
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#

#1878 FIX: Dungeon config
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: No C#

#1877 Dwarf MaxAge Tweak
  Resources/Prototypes/Species/dwarf.yml
Labels: No C#, Status: Needs Review

#1881 FIX: Trash gib
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/storage/trashcan.yml
Labels: No C#, Status: Needs Review

#1873 FIX: Crossbow cooldown and stun
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/crossbow.yml
Labels: No C#, Status: Needs Review

#1882 Cloak for head developers
  Resources/Prototypes/SS220/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/clothing.yml
  Resources/Textures/SS220/Clothing/Sponsor/neck/vedicloak.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Sponsor/neck/vedicloak.rsi/icon.png
  Resources/Textures/SS220/Clothing/Sponsor/neck/vedicloak.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Sponsor/neck/vedicloak.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Sponsor/neck/vedicloak.rsi/meta.json
Labels: Changes: Sprites, No C#, Status: Needs Review

#1883 Pai with encryption keys
  Content.Server/Radio/Components/IntrinsicRadioReceiverComponent.cs
  Content.Server/Radio/Components/IntrinsicRadioTransmitterComponent.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/fun/pai.ftl
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/pai.yml
  Resources/migration.yml
Labels: Changes: Localization, Status: Needs Review

#1888 Added 1 dmg to druid spanks
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/boots.yml
Labels: No C#

#1892 Pai with encryption keys hotfix
  Resources/Prototypes/SS220/Entities/Objects/Fun/pai.yml
Labels: No C#

#1889 Trooper Hat neck-to-head loadout transfer
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#

#1893 Revert "Pai with encryption keys hotfix (#1892)"
  Resources/Prototypes/SS220/Entities/Objects/Fun/pai.yml
Labels: No C#

#1891 New upgrade system for directional windows 220
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windowdirectional.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/directionalwindows.yml
Labels: No C#

#1894 Banjo can now equip on suitStorage
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Textures/SS220/Objects/Fun/Banjo.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Fun/Banjo.rsi/meta.json
Labels: Changes: Sprites, No C#

#858 Sponsor tweak toys
  Resources/Audio/SS220/Items/Toys/BUHAAAT_wycc.ogg
  Resources/Audio/SS220/Items/Toys/BUHAT_wycc.ogg
  Resources/Prototypes/SS220/Entities/Sponsor/items.yml
  Resources/Prototypes/SS220/RewardGroups/RewardGroups.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Objects/Sponsor/wycc_overlay.rsi/icon.png
  Resources/Textures/SS220/Objects/Sponsor/wycc_overlay.rsi/meta.json
  Resources/Textures/SS220/Objects/Sponsor/wycc_overlay.rsi/wycc_axe.png
  Resources/Textures/SS220/Objects/Sponsor/wyccaxe.rsi/icon.png
  Resources/Textures/SS220/Objects/Sponsor/wyccaxe.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Sponsor/wyccaxe.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Sponsor/wyccaxe.rsi/meta.json
Labels: Changes: Sprites, No C#

#1899 Fix PR template grammar mistake
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#, Status: Needs Review

#1896 Fix Texture Intercom Panel
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/panel.png
Labels: Changes: Sprites, No C#

#1895 Add Pennywise uniform for clown
  Resources/Locale/ru-RU/ss220/clothing/clown_pennywise.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/clown.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/clown.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/equipped-MASK-hamster.png
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/equipped-MASK-monkey.png
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/equipped-MASK-reptilian.png
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/equipped-MASK-vox.png
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/equipped-MASK.png
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/icon.png
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Mask/clown_pennywise.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Ruffs/whiteruff.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Ruffs/whiteruff.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Ruffs/whiteruff.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Ruffs/whiteruff.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Ruffs/whiteruff.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Specific/clown_pennywise.rsi/equipped-FEET-vox.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/clown_pennywise.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/clown_pennywise.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/clown_pennywise.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/clown_pennywise.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Specific/clown_pennywise.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clown_pennywise.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clown_pennywise.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clown_pennywise.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clown_pennywise.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clown_pennywise.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clown_pennywise.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1886 Cloaks spawn change
  Resources/Locale/ru-RU/ss220/loadout-groups/blueshield.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/command.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/clothing.yml
  Resources/Prototypes/SS220/Entities/Sponsor/items.yml
  Resources/Prototypes/SS220/Entities/markers/Spawners/Random/clothing.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/bluehsield.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
Labels: Changes: Localization, No C#

#1904 Vox Neck&Belt DisplacementMap
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/belt.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/neck.png
Labels: Changes: Sprites, No C#

#1906 Add ability for photocopier to copy multiple papers from a folder
  Content.Server/SS220/Photocopier/PhotocopierSystem.Copying.cs
  Content.Server/SS220/Photocopier/PhotocopierSystem.cs
  Content.Shared/SS220/Photocopier/PhotocopierComponent.cs
  Content.Shared/SS220/Photocopier/PrintableDocumentData.cs
  Resources/Prototypes/SS220/Entities/Structures/Machines/photocopier.yml
Labels: Status: Needs Review

#1907 Vox displacement map meta hotfix
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
Labels: No C#

#1908 CigPack&CigarCase storage fix
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/SS220/tags.yml
Labels: No C#

#1910 Back pill canister lable
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#1913 Ammo tech fab missing .35 mags and rubber ammo add
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/SS220/Recipes/Lathes/security.yml
Labels: No C#

#1914 magistrate-door-fix
  Resources/Prototypes/SS220/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#

#1916 Add hitscan spread
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/HitscanPrototype.cs
Labels: Status: Needs Review

#1917 Raid suit stamina damage ss220 fix
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: No C#

#1918 add tanks brigmed
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: No C#

#1921 elite suit no speed debuff
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#, Status: Needs Review

#1926 no thief during nukie round fix
  Resources/Prototypes/game_presets.yml
Labels: No C#

#1927 Add army backpack by WMT
  Resources/Locale/ru-RU/ss220/clothing/Back/backpacks.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Back/backpack.yml
  Resources/Textures/SS220/Clothing/Back/Backpacks/armybackpack.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/armybackpack.rsi/icon.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/armybackpack.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/armybackpack.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Back/Backpacks/armybackpack.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#1920 Syndie visor buff
  Resources/Locale/en-US/ss220/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#1929 Directional windows visual dmg fix and damageble windoors
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/SS220/Entities/Structures/directionalwindows.yml
Labels: No C#

#1932 FIX Botanist loadout number of shoes & belt
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: No C#

#1937 Update dark reaper rule errata
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC3.xml
  Resources/ServerInfo/Guidebook/ServerRules/SS220/RuleC8.xml
Labels: No C#, Status: Needs Review

#1936 Implement cruise control
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/SS220/CruiseControl/CruiseControlSystem.cs
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/SS220/CruiseControl/CruiseControlMessage.cs
  Content.Shared/SS220/CruiseControl/ShuttleCruiseControlComponent.cs
  Resources/Locale/ru-RU/ss220/shuttle/cruise-control.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review

#1940 Shlepa Iteration two fix
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Roles/Jobs/Security/security_pilot.yml
  Resources/Prototypes/SS220/Roles/Jobs/Security/senior_sec.yml
  Resources/Textures/SS220/Clothing/Sponsor/Cloak/ss220.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Sponsor/Cloak/ss220.rsi/meta.json
  Resources/Textures/SS220/Objects/Sponsor/cigs/floppa-zippo.rsi/meta.json
  Resources/Textures/SS220/Objects/Sponsor/cigs/floppa-zippo.rsi/zippo-inhand-left-flame.png
  Resources/Textures/SS220/Objects/Sponsor/cigs/floppa-zippo.rsi/zippo-inhand-left.png
  Resources/Textures/SS220/Objects/Sponsor/cigs/floppa-zippo.rsi/zippo-inhand-right-flame.png
  Resources/Textures/SS220/Objects/Sponsor/cigs/floppa-zippo.rsi/zippo-inhand-right.png
Labels: Changes: Sprites, No C#

#1934 Ore processor balance
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#1930 Elite suit rebalance HotFix
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#1941 Security officer vaas loadout
  Resources/Locale/ru-RU/ss220/clothing/Uniforms/jumpsuit.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_officer.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/vaas.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/vaas.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/vaas.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/vaas.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/vaas.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/vaas.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1952 Cloak 1984
  Resources/Prototypes/SS220/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/SS220/Clothing/Neck/Cloaks/shitty-1984.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/shitty-1984.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/shitty-1984.rsi/meta.json
Labels: Changes: Sprites, No C#

#1946 diagonal grilles laser fix
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
Labels: No C#

#1950 fix taxibot desc
  Resources/Locale/ru-RU/ss220/mobs/ghost-role-pets.ftl
Labels: Changes: Localization, No C#

#1947 QM formal resprite
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/meta.json
Labels: Changes: Sprites, No C#

#1957 Transfer Detective To Security
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Detective.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, No C#

#1958 Detective return hotfixes
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: No C#, Status: Needs Review

#1928 Add clothing by WMT
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/OuterClothing/coats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Uniforms/jumpsuit.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Textures/SS220/Clothing/Head/Hats/kiver.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/kiver.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/kiver.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/kiver.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/kiver.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/pith_helmet.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/pith_helmet.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/pith_helmet.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/pith_helmet.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/pith_helmet.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bluetunic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bluetunic.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bluetunic.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bluetunic.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bluetunic.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/redtunic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/redtunic.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/redtunic.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/redtunic.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/redtunic.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/bluesoldier.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/bluesoldier.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/bluesoldier.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/bluesoldier.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/bluesoldier.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/redsoldier.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/redsoldier.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/redsoldier.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/redsoldier.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/redsoldier.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#1963 Brigmedic SurvivalBox Fix
  Resources/Locale/ru-RU/ss220/loadout-groups/brigmedic.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Medical/brigmedic.yml
  Resources/Prototypes/SS220/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: Changes: Localization, No C#

#1964 Fix ClownHammer wideAnimation
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#1965 fix-tree-collision
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: No C#

#1967 Added filling to druid belt
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
Labels: No C#

#1969 FIX bullet show
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
Labels: No C#

#1973 light-bulbs-trashbag-fix
  Resources/Prototypes/Entities/Objects/Power/lights.yml
Labels: No C#
