Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-10, with the labels that each got.

#1982 Magic Lamp Migration
  Resources/migration.yml
Labels: No C#

#1970 syndie chem med hud buff
  Resources/Prototypes/SS220/Entities/Clothing/Eyes/hud.yml
Labels: No C#, Status: Needs Review

#1989 fingerlessinsuls-resprite
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/fingerlessinsuls.rsi/meta.json
Labels: Changes: Sprites, No C#

#1988 Dallas mask fix
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/Masks/masks.yml
Labels: No C#

#1995 FixCabbageTaco
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
Labels: No C#

#1869 Salvage Hardsuit Repsrite
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/luxury.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/luxury.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/luxury.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/luxury.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/luxury.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/luxury.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/luxury.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/salvage.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/salvage.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/salvage.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/salvage.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/salvage.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/salvage.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/salvage.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/spatio.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/spatio.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/spatio.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/spatio.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/spatio.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/spatio.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/spatio.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/luxury.rsi/equipped-OUTERCLOTHING-unshaded-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/luxury.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/luxury.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/luxury.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/luxury.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/luxury.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING-unshaded-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/salvage.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/salvage.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/salvage.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING-unshaded-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING-unshaded.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/spatio.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/spatio.rsi/meta.json
Labels: Changes: Sprites, No C#

#1997 Сокрытие законов Антимова из агентского аплинка.
  Resources/Locale/ru-RU/station-laws/laws.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Localization, No C#

#2001 Fix WindoorSecureCaptainLocked
  Resources/Prototypes/SS220/Entities/Structures/windoors.yml
Labels: No C#

#2002 Fix tacmap frank
  Resources/Prototypes/SS220/Entities/Structures/Furniture/tacmap.yml
  Resources/Textures/SS220/Objects/Misc/sec_tacmap_tabletop.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/sec_tacmap_tabletop.rsi/tabletop.png
  Resources/Textures/SS220/Objects/Misc/sec_tacmap_tabletop.rsi/tabletop_frank.png
Labels: Changes: Sprites, No C#

#2005 Additional paperwork
  Resources/Locale/en-US/ss220/stamps.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss220/stamps.ftl
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_central_command/blank/blank_registered_letter_cc.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_ailaw.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_hhc.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_reply.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_roi.xml
  Resources/PhotocopierForms/nanotrasen_central_command/main/cc_cmd_dcr_uvd.xml
  Resources/PhotocopierForms/nanotrasen_station/medical/med_rep_hhc.xml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/command.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Textures/SS220/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/stamps.rsi/stamp-blue-shield.png
Labels: Changes: Sprites, Changes: Localization, No C#

#2008 VendoAmmo Nerf Spawn Quatity
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#1802 ReactiveTeleportArmorRD
  Content.Server/SS220/ReactiveTeleportArmor/ReactiveTeleportArmorComponent.cs
  Content.Server/SS220/ReactiveTeleportArmor/ReactiveTeleportArmorSystem.cs
  Content.Server/SS220/ReactiveTeleportArmor/TeleportOnDamageComponent.cs
  Resources/Locale/ru-RU/ss220/clothing/OuterClothing/armor.ftl
  Resources/Locale/ru-RU/ss220/clothing/components/reactivearnor-component.ftl
  Resources/Locale/ru-RU/ss220/objectives/steal-target-groups.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/outerclothing/reactivearmor.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/reactive_armor_rd.yml
  Resources/Prototypes/SS220/Objectives/stealTargetGroups.yml
  Resources/Prototypes/SS220/Objectives/traitor.yml
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/icon-on.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/on-equipped-OUTERCLOTHING.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#2007 Added DoAfter to currency insertion
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Shared/SS220/Store/InsertCurrencyDoAfterEvent.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Resources/Prototypes/Store/presets.yml
Labels: Status: Needs Review

#2013 Mark 1984 cloak as a shitspawn
  Resources/Prototypes/SS220/Entities/Clothing/Neck/cloaks.yml
Labels: No C#

#2014 FixChameleonMaskInterface
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
Labels: No C#

#2015 Delete BodyCameraBase from proto
  Resources/Prototypes/SS220/Detective/Camera/detective_hidden_camera.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/bodycamera.yml
Labels: No C#

#1968 Ss220 uplink minor fixes and discounts
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#2022 Fix the inability to break some junk
  Resources/Prototypes/SS220/Entities/Structures/Specific/broken_entities.yml
Labels: No C#

#2012 Alert Announcments Changes
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
Labels: Changes: Localization

#2025 TajaranChat-speech-verbFix
  Resources/Locale/ru-RU/ss220/managers/chat-manager.ftl
Labels: Changes: Localization, No C#

#2026 KeanHearing fix & small Tajaran Fix
  Content.Client/SS220/Overlays/IgnoreLightVisionOverlay.cs
  Content.Client/SS220/Overlays/KeenHearingOverlay.cs
  Resources/Prototypes/SS220/Actions/types.yml
  Resources/Prototypes/SS220/Body/Prototypes/tajaran.yml
  Resources/Prototypes/SS220/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/tajaran.yml
  Resources/Textures/SS220/Mobs/Customization/Tajaran/tajaran_parts.rsi/meta.json
  Resources/Textures/SS220/Mobs/Customization/Tajaran/tajaran_parts.rsi/tajaran_tail_icon.png
Labels: Changes: Sprites

#2027 AirlockSecurityLawyerFix
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
Labels: No C#

#2036 Changes prison shoes black to orange color
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/wardrobe.yml
Labels: No C#

#2029 Law Sec Door
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/SS220/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/assembly.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/bolted_open_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/bolted_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/closed.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/closed_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/closing.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/closing_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/deny_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/emergency_open_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/emergency_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/meta.json
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/open.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/open_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/opening.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/opening_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/panel_closed.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/panel_closing.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/panel_open.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/panel_opening.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/sparks.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/sparks_broken.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/sparks_damaged.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/sparks_open.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Glass/law_sec.rsi/welded.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/assembly.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/bolted_open_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/bolted_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/closed.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/closed_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/closing.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/closing_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/deny_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/emergency_open_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/emergency_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/meta.json
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/open.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/open_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/opening.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/opening_unlit.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/panel_closed.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/panel_closing.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/panel_open.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/panel_opening.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/sparks.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/sparks_broken.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/sparks_damaged.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/sparks_open.png
  Resources/Textures/SS220/Structures/Doors/Airlocks/Standart/law_sec.rsi/welded.png
Labels: Changes: Sprites, No C#

#2038 Adding to tajaran the ability to eat plant-based food FIX
  Resources/Prototypes/SS220/Body/Organs/tajaran.yml
  Resources/Prototypes/SS220/Body/Prototypes/tajaran.yml
Labels: No C#

#2039 Return of the Mime's space medipen
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: No C#

#2030 BriefcaseMagistrate
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/items.ftl
  Resources/Prototypes/SS220/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/SS220/Roles/Jobs/Law/magistrate.yml
Labels: Changes: Localization, No C#

#2032 ADD: Highlights for words in Chat
  Content.Client/SS220/UserInterface/System/Chat/Controls/HighlightButton.cs
  Content.Client/SS220/UserInterface/System/Chat/Controls/HighlightPopup.xaml
  Content.Client/SS220/UserInterface/System/Chat/Controls/HighlightPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChatInputBox.xaml.cs
  Resources/Textures/SS220/Interface/Nano/highlight-button.png
Labels: Changes: UI

#2037 PrisonerIDCard
  Resources/Locale/ru-RU/ss220/job/job-description.ftl
  Resources/Locale/ru-RU/ss220/job/job-name.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/misc/identification_cards.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/wardrobe.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Roles/Jobs/Security/prisoner.yml
  Resources/Prototypes/SS220/Roles/play_time_trackers.yml
Labels: Changes: Localization, No C#

#1905 Revenant buff
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Shared/Electrocution/Components/ElectrifiedComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: No C#, Status: Needs Review

#2024 Minor things
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/ss220/reagents/medicine.ftl
  Resources/Locale/en-US/ss220/reagents/narcotics.ftl
  Resources/Locale/ru-RU/reagents/meta/narcotics.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/janitorial/soap.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/narcotics.ftl
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/SS220/Reagents/medicine.yml
  Resources/Prototypes/SS220/Reagents/narcotics.yml
  Resources/Textures/SS220/Objects/Specific/Janitorial/soap.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/Janitorial/soap.rsi/snot-1.png
  Resources/Textures/SS220/Objects/Specific/Janitorial/soap.rsi/snot-2.png
  Resources/Textures/SS220/Objects/Specific/Janitorial/soap.rsi/snot-3.png
  Resources/Textures/SS220/Objects/Specific/Janitorial/soap.rsi/snot-4.png
  Resources/Textures/SS220/Objects/Specific/Janitorial/soap.rsi/snot-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Janitorial/soap.rsi/snot-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Janitorial/soap.rsi/snotlet.png
Labels: Changes: Sprites, Changes: Localization, No C#

#2045 FIX: Cartridge Messenger in PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#2046 Fix #2009
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#2047 FIX the tourniquet and the medic's belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/SS220/tags.yml
Labels: No C#

#1960 Add LyingDownOnBuckledEntityComponent for pets
  Content.Shared/SS220/LyingDownOnBuckledEntity/Components/LyingDownOnBuckledEntityComponent.cs
  Content.Shared/SS220/LyingDownOnBuckledEntity/Components/UnderLyingPetComponent.cs
  Content.Shared/SS220/LyingDownOnBuckledEntity/Systems/LyingDownOnBuckledEntitySystem.cs
  Resources/Locale/ru-RU/ss220/actions/lying-down.ftl
  Resources/Locale/ru-RU/ss220/pet-lying-down.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/SS220/Actions/Lying_down.yml
  Resources/Prototypes/SS220/Entities/Mobs/Misc/lying_down.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/Mobs/Pets/bingus.rsi/bingus_rest.png
  Resources/Textures/Mobs/Pets/bingus.rsi/meta.json
  Resources/Textures/Mobs/Pets/cat.rsi/cak_rest.png
  Resources/Textures/Mobs/Pets/cat.rsi/cat2_rest.png
  Resources/Textures/Mobs/Pets/cat.rsi/cat_rest.png
  Resources/Textures/Mobs/Pets/cat.rsi/kitten_rest.png
  Resources/Textures/Mobs/Pets/cat.rsi/meta.json
  Resources/Textures/Mobs/Pets/cat.rsi/spacecat_rest.png
Labels: Changes: Sprites, Changes: Localization

#2055 Lying pet fix
  Content.Shared/SS220/LyingDownOnBuckledEntity/Systems/LyingDownOnBuckledEntitySystem.cs
Labels: Status: Needs Review

#2048 Moderator Neck
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/Neck/cloaks.yml
  Resources/Prototypes/SS220/Loadouts/sponsor_loadout_group.yml
  Resources/Prototypes/SS220/Loadouts/sponsor_loadouts.yml
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/moder.rsi/equipped-NECK-vox.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/moder.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/moder.rsi/icon.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/moder.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/moder.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/moder.rsi/meta.json
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/spriter.rsi/equipped-NECK.png
Labels: Changes: Sprites, No C#

#2058 toy swords tweak
  Resources/Locale/en-US/ss220/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/fun/toys.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/toys.yml
Labels: Changes: Localization, No C#

#2062 FTL ALL SHUTTLE UPD
  Resources/Maps/SS220/Shuttles/cargo.yml
  Resources/Maps/SS220/Shuttles/ss220-DonutsGuardian.yml
  Resources/Maps/SS220/Shuttles/ss220-ntguardian.yml
  Resources/Maps/SS220/Shuttles/ss220-nukeshuttle.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_CBURN.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_CENT.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_DS.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_OBR.yml
  Resources/Maps/SS220/admin-shuttles/ss220_NT_OSO.yml
  Resources/Maps/Shuttles/mining.yml
Labels: Changes: Map, No C#, Status: Needs Review

#2069 Spider queen gamerule hotfix
  Resources/Prototypes/SS220/GameRules/midround_antags.yml
Labels: No C#

#2073 Departments hidden fix
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#

#2075 Chat color ERT tweak
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#

#2077 Fix Decal JR
  Resources/Textures/SS220/Decals/JRSigns.rsi/JR_bw6.png
Labels: Changes: Sprites, No C#

#2082 Recyclable plastic pistols
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#2079 MeatWheatFix
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: No C#

#2085 Workflow changes
  .github/labeler.yml
  .github/workflows/labeler-untriaged.yml
Labels: No C#

#2074 SolidSecretDoor recipe changed
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Changes: Prototypes

#2078 raid suit resprite
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/SS220/Clothing/Head/Helmets/syndie-raid-helmet.rsi/equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Helmets/syndie-raid-helmet.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Helmets/syndie-raid-helmet.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Helmets/syndie-raid-helmet.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Helmets/syndie-raid-helmet.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Helmets/syndie-raid-helmet.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/light-overlay.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/syndie-raid.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2088 Add produce oxygen in desoxyephedrine
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2094 reactive-armor-sprite-fix
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/icon-on.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Armor/reactive_armor.rsi/on-equipped-OUTERCLOTHING.png
Labels: Changes: Sprites

#2093 SeniorService rename
  Resources/Locale/ru-RU/ss220/job/job-description.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/senior_service.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpskirt/jumpskirts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Roles/Jobs/senior_service.yml
Labels: Changes: Localization, Status: Needs Review

#2091 Thirst and Hunger huds fix
  Content.Client/Overlays/ShowThirstIconsSystem.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
Labels: Status: Needs Review

#1862 TTK Update №1
  Content.Shared/SS220/DarkReaper/DarkReaperComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
Labels: Changes: Prototypes, Status: Needs Review

#2097 centcom-human-preset-fix
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomFieldOfficier.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOfficer.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOperativeSRT.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/NanoTrasenAdmiral.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/NanoTrasenDiplomat.yml
Labels: Changes: Prototypes

#2101 Janitor new loadout
  Resources/Locale/en-US/ss220/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss220/clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ss220/clothing/Hands/gloves.ftl
  Resources/Locale/ru-RU/ss220/clothing/Head/hardhats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Locale/ru-RU/ss220/clothing/Shoes/shoes.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/janitor.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Hand/hands.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Belt/janitor_jr_webbing.rsi/equipped-BELT.png
  Resources/Textures/SS220/Clothing/Belt/janitor_jr_webbing.rsi/icon.png
  Resources/Textures/SS220/Clothing/Belt/janitor_jr_webbing.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Belt/janitor_jr_webbing.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Belt/janitor_jr_webbing.rsi/meta.json
  Resources/Textures/SS220/Clothing/Hands/Gloves/janitor_jr.rsi/equipped-HAND.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/janitor_jr.rsi/icon.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/janitor_jr.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/janitor_jr.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/janitor_jr.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/light-icon.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/off-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/off-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/on-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hardhats/janitor_jk.rsi/on-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/flipped-equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/flipped-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/flipped-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/icon_flipped.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/janitor_jr.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/janitor_jr.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/janitor_jr.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/janitor_jr.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/janitor_jr.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/janitor_jr.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/janitor_jr.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/janitor_jr.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/janitor_jr.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/janitor_jr.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/janitor_jr.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#2092 RnD Balance revert
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
  Resources/Locale/en-US/ss220/portal/portal.ftl
  Resources/Locale/ru-RU/ss220/portal/portal.ftl
Labels: Changes: Localization, Status: Needs Review

#2076 Fix Airlocks on NukeOps Outpost
  Resources/Maps/SS220/ss220-nukeoutpost.yml
Labels: Changes: Map, Changes: Prototypes, Status: Needs Review

#2096 Vox not rotting
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/base.yml
Labels: Changes: Prototypes, Status: Needs Review, Need to add Wiki220

#2106 Atmos Threshold configued
  Content.Server/Atmos/Piping/Unary/Components/GasVentPumpComponent.cs
Labels: Status: Needs Review

#2080 Emagged SecTech
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
Labels: Changes: Prototypes, Status: Needs Review, Need to add Wiki220

#2102 Vox Beak
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Textures/Mobs/Species/Vox/parts.rsi/beak.png
  Resources/Textures/Mobs/Species/Vox/parts.rsi/meta.json
Labels: Changes: Sprites

#2117 Correction of errors in the description of JR clothing
  Resources/Locale/ru-RU/ss220/clothing/Head/hardhats.ftl
Labels: Changes: Localization

#2107 Fix ghost roles entering cryostorage
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/SS220/TeleportAFKtoCryoSystem/TeleportAFKtoCryoSystem.cs
  Resources/Locale/ru-RU/bed/cryostorage/cryogenic-storage.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: Changes: Localization, Status: Needs Review

#2089 Meat crates and cooking supplies event
  Resources/Locale/en-US/ss220/station-events/events/cargo-gifts.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/crates/meat_crates.ftl
  Resources/Locale/ru-RU/ss220/station-events/events/cargo-gifts.ftl
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/SS220/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/SS220/Catalog/Fills/Crates/food.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2120 FixTrouble's JR Janitor's
  Resources/Locale/ru-RU/ss220/clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/flipped-equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/flipped-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/flipped-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/icon_flipped.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Soft/janitor_jr_soft.rsi/inhand-right.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#2129 SM test map update / relocate files
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/SS220/Shuttles/centCom/ss220_NT_CBURN.yml
  Resources/Maps/SS220/Shuttles/centCom/ss220_NT_CENT.yml
  Resources/Maps/SS220/Shuttles/centCom/ss220_NT_DS.yml
  Resources/Maps/SS220/Shuttles/centCom/ss220_NT_OBR.yml
  Resources/Maps/SS220/Shuttles/centCom/ss220_NT_OSO.yml
  Resources/Maps/SS220/Test/SM_Test.yml
  Resources/Maps/SS220/ss220-centcomm.yml
  Resources/Prototypes/SS220/Entities/Structures/Power/Generation/Supermatter/crystal.yml
  Resources/Prototypes/SS220/Maps/debug.yml
Labels: Changes: Map

#2134 JRJanitorShoesRussianLanguageIssue
  Resources/Locale/ru-RU/ss220/clothing/Shoes/shoes.ftl
Labels: Changes: Localization

#2131 Touch grass [cherrypick from CP14]
  Resources/Locale/en-US/ss220/tiles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss220/tiles/tiles.ftl
  Resources/Prototypes/SS220/Tiles/natural.yml
  Resources/Textures/SS220/Tiles/Grass/attribution.yml
  Resources/Textures/SS220/Tiles/Grass/double_edge_E.png
  Resources/Textures/SS220/Tiles/Grass/double_edge_N.png
  Resources/Textures/SS220/Tiles/Grass/double_edge_S.png
  Resources/Textures/SS220/Tiles/Grass/double_edge_W.png
  Resources/Textures/SS220/Tiles/Grass/grass.png
  Resources/Textures/SS220/Tiles/Grass/single_edge_NE.png
  Resources/Textures/SS220/Tiles/Grass/single_edge_NW.png
  Resources/Textures/SS220/Tiles/Grass/single_edge_SE.png
  Resources/Textures/SS220/Tiles/Grass/single_edge_SW.png
  Resources/Textures/SS220/Tiles/GrassLight/attribution.yml
  Resources/Textures/SS220/Tiles/GrassLight/double_edge_E.png
  Resources/Textures/SS220/Tiles/GrassLight/double_edge_N.png
  Resources/Textures/SS220/Tiles/GrassLight/double_edge_S.png
  Resources/Textures/SS220/Tiles/GrassLight/double_edge_W.png
  Resources/Textures/SS220/Tiles/GrassLight/grass.png
  Resources/Textures/SS220/Tiles/GrassLight/single_edge_NE.png
  Resources/Textures/SS220/Tiles/GrassLight/single_edge_NW.png
  Resources/Textures/SS220/Tiles/GrassLight/single_edge_SE.png
  Resources/Textures/SS220/Tiles/GrassLight/single_edge_SW.png
  Resources/Textures/SS220/Tiles/GrassTall/attribution.yml
  Resources/Textures/SS220/Tiles/GrassTall/double_edge_E.png
  Resources/Textures/SS220/Tiles/GrassTall/double_edge_N.png
  Resources/Textures/SS220/Tiles/GrassTall/double_edge_S.png
  Resources/Textures/SS220/Tiles/GrassTall/double_edge_W.png
  Resources/Textures/SS220/Tiles/GrassTall/grass.png
  Resources/Textures/SS220/Tiles/GrassTall/single_edge_NE.png
  Resources/Textures/SS220/Tiles/GrassTall/single_edge_NW.png
  Resources/Textures/SS220/Tiles/GrassTall/single_edge_SE.png
  Resources/Textures/SS220/Tiles/GrassTall/single_edge_SW.png
Labels: Changes: Localization

#2132 Fix 220 error
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/open_unlit.png
Labels: Changes: Sprites

#2136 WaterBottle Resprite
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon-4.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon-5.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon-6.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon-7.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/icon_open.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left-fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/inhand-right-fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/inhand-right-fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/waterbottle.rsi/meta.json
Labels: Changes: Sprites

#2130 Cc id show fix
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomFieldOfficier.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOfficer.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOperativeSRT.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/NanoTrasenAdmiral.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/NanoTrasenDiplomat.yml
Labels: Changes: Localization, Changes: Prototypes

#2139 CyberVestSecurity Fix
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/OuterClothing/coats.yml
Labels: Changes: Prototypes

#2141 ClownClassicJumpsuitLoadout
  Resources/Locale/ru-RU/ss220/clothing/Jumpsuit/jumpsuit.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/clown.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clownypants.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clownypants.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clownypants.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clownypants.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clownypants.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/clownypants.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization

#2145 TwoColoredReptilianTails&LegClaws
  Resources/Locale/ru-RU/ss220/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/SS220/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/l_leg_claws.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/meta.json
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/r_leg_claws.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_dtiger_primary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_dtiger_secondary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_dtiger_wagging_primary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_dtiger_wagging_secondary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_large_primary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_large_secondary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_ltiger_primary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_ltiger_secondary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_ltiger_wagging_primary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_ltiger_wagging_secondary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_spikes_primary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_spikes_secondary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_spikes_wagging_primary.png
  Resources/Textures/SS220/Mobs/Customization/reptilian.rsi/tail_spikes_wagging_secondary.png
Labels: Changes: Sprites, Changes: Localization, Status: Needs Review

#2150 Labeler changes
  .github/labeler.yml
Labels: Status: Needs Review

#2151 FIX: Formatted symbols in ID card name
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
Labels: Changes: UI

#2149 InverterGoodBye
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/swapper.ftl
  Resources/Prototypes/Entities/Objects/Devices/swapper.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/migration.yml
Labels: Changes: Localization, Changes: Prototypes

#2156 Revert "Buff hypopen (#909)"
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Changes: Prototypes, Status: Needs Review

#2157 Mindslave nerf
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/implanters.yml
Labels: Changes: Prototypes, Status: Needs Review

#2158 Dragon telepathy
  Resources/Locale/ru-RU/ss220/chat/telepathy.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/SS220/telepahy_channels.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2159 Playtime format fix
  Content.Client/Info/PlaytimeStats/PlaytimeStatsEntry.cs
  Content.Client/Info/PlaytimeStats/PlaytimeStatsWindow.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Resources/Locale/en-US/_lib.ftl
  Resources/Locale/en-US/info/playtime-stats.ftl
  Resources/Locale/en-US/job/role-requirements.ftl
Labels: Changes: Localization, Changes: C#

#2164 Playtime localization fix
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/info/playtime-stats.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
Labels: Changes: Localization

#2112 Incendary ammo rebalance
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: Changes: Prototypes, Status: Needs Review

#2144 ReaperUpgrade
  Content.Server/SS220/DarkReaper/DarkReaperSystem.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperActions.cs
  Content.Shared/SS220/DarkReaper/DarkReaperComponent.cs
  Content.Shared/SS220/DarkReaper/DarkReaperSharedSystem.cs
  Resources/Prototypes/SS220/DemonRofler/actions.yml
  Resources/Prototypes/SS220/DemonRofler/bloodmist.yml
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/icon_bloodmist.png
  Resources/Textures/SS220/DemonRofler/dark_reaper.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review, Need to be discussed, Changes: C#

#2043 Raid suit rework
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Changes: Prototypes

#2114 Tweak: Sort ChemWindow buffer by Name
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Resources/Locale/ru-RU/ss220/chemistry/components/chem-master-component.ftl
Labels: Changes: UI, Changes: Localization, Status: Needs Review, Changes: C#

#2175 FIX: Highlight words not working on default chat box
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Changes: C#

#2174 Updated vox neck displacement map
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/neck.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Scarfs/scarf-tube.rsi/equipped-NECK-vox.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Scarfs/scarf-tube.rsi/meta.json
Labels: Changes: Sprites

#2178 Inflatable walls in fire lockers
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/misc.yml
Labels: Changes: Prototypes

#2161 change height and fixtures radius of races
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: Prototypes, Status: Needs Review, Need to be discussed, Test required

#2169 Spicy Update
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Locale/ru-RU/ss220/spicyupd.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_single.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Throwable/spicypizza.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/SS220/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/SS220/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/spicy-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/spicy.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Need to add Wiki220

#2167 FIX: Stunbaton stamina damage toggle
  Content.Server/Damage/Components/DamageOtherOnHitComponent.cs
  Content.Server/SS220/ItemToggle/ItemToggleDamageOtherOnHitComponent.cs
  Content.Server/SS220/ItemToggle/ItemToggleDamageOtherOnHitSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Changes: Prototypes, Status: Needs Review, Changes: C#

#2182 add vox some coat and hood sprites
  Resources/Textures/Clothing/Head/Hoods/cult.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hoods/cult.rsi/meta.json
  Resources/Textures/Clothing/Head/Hoods/goliathcloak.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hoods/goliathcloak.rsi/meta.json
  Resources/Textures/Clothing/Head/Hoods/voidcloak.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hoods/voidcloak.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/gentlecoat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/gentlecoat.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#2172 Tape recorder
  Content.Client/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/TapeRecorder/Ui/TapeRecorderBoundUserInterface.cs
  Content.Client/TapeRecorder/Ui/TapeRecorderWindow.xaml
  Content.Client/TapeRecorder/Ui/TapeRecorderWindow.xaml.cs
  Content.Server/SS220/TTS/TTSSystem.cs
  Content.Server/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/TapeRecorder/Components/TapeCassetteComponent.cs
  Content.Shared/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/TapeRecorder/Events/TapeRecorderEvents.cs
  Content.Shared/TapeRecorder/SharedTapeRecorderSystem.cs
  Content.Shared/TapeRecorder/TapeCassetteRecordedMessage.cs
  Resources/Audio/Items/Taperecorder/attributions.yml
  Resources/Audio/Items/Taperecorder/taperecorder_play.ogg
  Resources/Audio/Items/Taperecorder/taperecorder_rewind.ogg
  Resources/Audio/Items/Taperecorder/taperecorder_stop.ogg
  Resources/Locale/en-US/taperecorder/taperecorder.ftl
  Resources/Locale/ru-RU/ss220/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/law.yml
  Resources/Textures/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_empty.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_idle.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_playing.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_recording.png
  Resources/Textures/Objects/Devices/tape_recorder.rsi/taperecorder_rewinding.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2183 Ame Resprite
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/control.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/control_critical.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/control_fuck.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/control_on.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/control_warning.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/core.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/core_strong.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/core_weak.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/meta.json
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_0.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_1.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_10.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_11.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_12.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_13.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_14.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_15.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_2.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_3.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_4.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_5.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_6.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_7.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_8.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/shield_9.png
  Resources/Textures/SS220/Structures/Power/Generation/ame.rsi/static.png
Labels: Changes: Sprites, Changes: Prototypes

#2184 CyberHud&Glasses Fix
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/Eyes/glasses.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/Eyes/hud.yml
Labels: Changes: Prototypes

#2177 WatermelonInHands
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/Objects/Specific/Hydroponics/watermelon.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/watermelon.rsi/produce-inhand-left.png
  Resources/Textures/Objects/Specific/Hydroponics/watermelon.rsi/produce-inhand-right.png
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2187 Dragon devour fix
  Content.Server/Devour/DevourSystem.cs
  Content.Shared/Devour/Components/DevourerComponent.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: Changes: Prototypes, Status: Needs Review, Changes: C#

#2185 Sevastopol Local.
  Resources/Locale/ru-RU/administration/ui/admin-announce-window.ftl
  Resources/Locale/ru-RU/alert-levels/alert-levels.ftl
  Resources/Locale/ru-RU/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
Labels: Changes: Localization, Status: Needs Review

#2146 Silent shoes
  Resources/Locale/en-US/ss220/prototypes/entities/clothing/shoes/MilitaryPolice/specific.ftl
  Resources/Locale/en-US/ss220/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/en-US/ss220/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/ss220/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/specific.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review
