Repository SerbiaStrong-220/space-station-14, pull requests merged in 2024-03, with the labels that each got.

#788 Fix criminal record texture path
  Resources/Prototypes/SS220/StatusEffects/sechud.yml
Labels: No C#

#789 Extended changes
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#790 floppa fix
  Resources/Prototypes/SS220/Entities/Sponsor/items.yml
Labels: No C#

#792 Civ dec
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Detective.png
Labels: Changes: Sprites, No C#

#777 Hiding bodies for admin ghosts
  Content.Client/Ghost/GhostSystem.cs
  Content.Server/Administration/Commands/AGhost.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Ghost/GhostComponent.cs
  Resources/Prototypes/SS220/Actions/Ghost.yml
Labels: Status: Needs Review

#781 Gun Safe Resprite
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/Structures/Storage/gunsafe.rsi/locked.png
  Resources/Textures/Structures/Storage/gunsafe.rsi/meta.json
  Resources/Textures/Structures/Storage/gunsafe.rsi/shotguncase.png
  Resources/Textures/Structures/Storage/gunsafe.rsi/shotguncase_door.png
  Resources/Textures/Structures/Storage/gunsafe.rsi/shotguncase_open.png
  Resources/Textures/Structures/Storage/gunsafe.rsi/unlocked.png
  Resources/Textures/Structures/Storage/gunsafe.rsi/welded.png
Labels: Changes: Sprites, No C#

#796 Best poster ever
  Resources/Prototypes/SS220/Entities/Structures/Wallmount/poster_who.yml
  Resources/Textures/SS220/Structures/Wallmounts/poster_who.rsi/icon.png
  Resources/Textures/SS220/Structures/Wallmounts/poster_who.rsi/meta.json
Labels: Changes: Sprites, No C#

#797 fix job icons prototypes
  Resources/Prototypes/StatusEffects/job.yml
Labels: No C#, Status: Needs Review

#799 New Crystals and small fixes
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/decoration/crystals.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/crystal.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Decoration/crystals.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/lighting.yml
  Resources/Prototypes/Recipes/Construction/lighting.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Localization, No C#

#800 fix q
  Content.Client/Corvax/JoinQueue/QueueGui.xaml.cs
  Content.Client/Corvax/JoinQueue/QueueState.cs
  Content.Server/Corvax/JoinQueue/JoinQueueManager.cs
  Content.Server/GameTicking/GameTicker.Player.cs
Labels: Changes: UI

#803 Flippolighter fix
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: No C#

#776 Экспансия плиток: Реворк Лист-мастер 2000
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss220/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/tiles.yml
  Resources/Prototypes/Recipes/Crafting/tiles.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/structures/tiles.yml
  Resources/Prototypes/SS220/Recipes/Construction/Structures/tiles.yml
  Resources/Prototypes/SS220/Recipes/Lathes/categories.yml
  Resources/Prototypes/SS220/Recipes/Lathes/tiles.yml
Labels: Changes: Localization, No C#, Status: Needs Review

#809 Fix antag list dublicate
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

#811 updated wiki in readme
  README.md
Labels: No C#

#812 New advanced laser revolver sprite
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_revolver.rsi/meta.json
Labels: Changes: Sprites, No C#

#817 [DO NOT MERGE] Update Lone Nukeops shuttle
  Content.Server/StationEvents/Components/LoneOpsSpawnRuleComponent.cs
  Resources/Maps/Shuttles/ss220_nuke_lone.yml
Labels: Status: Needs Review

#816 Tile Resprite and new Circuit Tiles
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/SS220/Recipes/Lathes/tiles.yml
  Resources/Prototypes/SS220/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/SS220/Tiles/floors.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/bcircuit-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/bcircuit-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/bcircuit.png
  Resources/Textures/Objects/Tiles/tile.rsi/gcircuit-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/gcircuit-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/gcircuit.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/ocircuit-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/ocircuit-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/ocircuit.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/pcircuit-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/pcircuit-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/pcircuit.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/rcircuit-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/rcircuit-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/rcircuit.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/ycircuit-inhand-left.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/ycircuit-inhand-right.png
  Resources/Textures/SS220/Objects/Tiles/tile.rsi/ycircuit.png
  Resources/Textures/SS220/Tiles/attributions.yml
  Resources/Textures/SS220/Tiles/orange_circuit.png
  Resources/Textures/SS220/Tiles/purple_circuit.png
  Resources/Textures/SS220/Tiles/red_circuit.png
  Resources/Textures/SS220/Tiles/yellow_circuit.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/blue_circuit.png
  Resources/Textures/Tiles/green_circuit.png
  Resources/Textures/Tiles/rock_vault.png
  Resources/Textures/Tiles/shuttleblack.png
  Resources/Textures/Tiles/shuttlegrey.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#738 Rufood
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/juice.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_single.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/cheburek.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/shawarma.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/SS220/Flavors/flavors.yml
  Resources/Prototypes/SS220/Hydroponics/seeds.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/SS220/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/SS220/Recipes/Reactions/drinks.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_apple.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_apple.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_berry.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/glass_berry.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Food/bowl.rsi/borsch.png
  Resources/Textures/SS220/Objects/Consumable/Food/bowl.rsi/bowl.png
  Resources/Textures/SS220/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Food/bowl.rsi/okroshka.png
  Resources/Textures/SS220/Objects/Consumable/Food/bowl.rsi/okroshkaKvass.png
  Resources/Textures/SS220/Objects/Consumable/Food/bowl.rsi/shchi.png
  Resources/Textures/SS220/Objects/Consumable/Food/bowl.rsi/vinaigrette.png
  Resources/Textures/SS220/Objects/Consumable/Food/cheburek.rsi/cheburek.png
  Resources/Textures/SS220/Objects/Consumable/Food/cheburek.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Food/shawarma.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Food/shawarma.rsi/shawarma.png
  Resources/Textures/SS220/Objects/Consumable/Food/shawarma.rsi/shawarmaGrill.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/dead.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/harvest.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/produce.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/seed.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/stage-1.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/stage-2.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/stage-3.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/stage-4.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/stage-5.png
  Resources/Textures/SS220/Objects/Specific/Hydroponics/beet.rsi/stage-6.png
Labels: Changes: Sprites, Changes: Localization, No C#, Status: Needs Review

#820 Blueshield update
  Resources/Locale/en-US/ss220/blueshield-briefing.ftl
  Resources/Locale/ru-RU/ss220/documents/blueshield-briefing.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Blueshield_uniform.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/blueshield_lockers.yml
  Resources/Prototypes/SS220/Entities/blueshield_goal.yml
  Resources/migration.yml
Labels: Changes: Localization, No C#

#828 Added new radio to the BorgModuleMining
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: No C#

#830 Nitrogen tanks return in emergency lockers
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: No C#

#831 Sponsor cigs now counts as trash for trashbag
  Resources/Prototypes/SS220/Entities/Sponsor/items.yml
Labels: No C#

#802 Added grid restriction for fulton
  Content.Shared/Salvage/Fulton/SharedFultonSystem.cs
  Resources/Locale/ru-RU/ss220/fulton-system.ftl
Labels: Changes: Localization

#832 NukeOps ExtraFix
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Resources/Locale/ru-RU/nukeops/war-declarator.ftl
  Resources/Maps/NukeOps/ss220_Nuke_outpost_noshuttle.yml
  Resources/Maps/NukeOps/ss220_Nuke_shuttle_grid.yml
  Resources/Prototypes/Entities/Stations/SS220_syndicate.yml
  Resources/Prototypes/SS220/Maps/SS220_syndicate.yml
  client_output.txt
Labels: Changes: Localization, Status: Needs Review

#837 Secret weight fix
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#844 Moved Segway into Deception
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
Labels: No C#

#842 roxFix
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#840 Изменен крафт переработчика биомассы
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#846 Hot bug fix
  Resources/Locale/ru-RU/ss220/chairs.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/blueshield_hardsuit_helmet.yml
  Resources/Prototypes/SS220/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/SS220/Recipes/Construction/Furniture/chairplastic.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/furniture/chairplastic.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/piercing.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/uranium.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/blueshield.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/Sponsor/mafia/black/suit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Structures/Furniture/plasticchair.rsi/meta.json
  Resources/Textures/SS220/Structures/Furniture/plasticchair.rsi/plastic-overlay.png
  Resources/Textures/SS220/Structures/Furniture/plasticchair.rsi/plastic.png
Labels: Changes: Sprites, Changes: Localization, No C#

#839 brigMed
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Roles/Jobs/Medical/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Brigmedic.png
Labels: Changes: Sprites, No C#, Status: Needs Review

#835 Pilot security hardsuit
  Resources/Locale/ru-RU/ss220/clothing/security_pilot.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/security_pilot_helmet_hs.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/security_pilot_hs.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/off-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/off-inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/on-inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/security_pilot.rsi/on-inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/security_pilot.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/security_pilot.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/security_pilot.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/security_pilot.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/security_pilot.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#810 (Готово) new jobs block
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/SS220/RoleSpeciesRestrict/RoleSpeciesRestrictSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Roles/JobRequirements.cs
  Resources/Prototypes/SS220/spo9k/Species/felinid.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/dwarf.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: Status: Needs Review
