Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-04, with the labels that each got.

#2769 ADD КАСАДОР СПАВЕНРЫ
  Resources/Locale/ru-RU/ss220/prototypes/entities/markings/Spawners/mobs.ftl
  Resources/Prototypes/SS220/Mobs/giantfly.yml
Labels: Changes: Localization, Changes: Prototypes

#2768 April Fool Renames 2
  Content.Server/Corvax/ChatFilter/ChatSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: Changes: Prototypes, Changes: C#

#2770 Fix syn pin
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/knuckleduster.yml
Labels: Changes: Prototypes

#2771 Fix entity storage atmosphere merge
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
Labels: Changes: C#

#2736 LimitationRevive
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/SS220/DefibrillatorSkill/DefibrillatorSkillComponent.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveComponent.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
  Content.Shared/Medical/DefibrillatorComponent.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Resources/Locale/ru-RU/ss220/damage/damage-types.ftl
  Resources/Locale/ru-RU/ss220/medical/components/defibrillator.ftl
  Resources/Locale/ru-RU/ss220/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/boxes/medical.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/specific/chemistry-bottles.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/medicine.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Damage/groups.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Roles/Jobs/Command/blue_shield.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Medical/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/SS220/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/SS220/Damage/types.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/SS220/Reagents/medicine.yml
  Resources/Prototypes/SS220/Recipes/Reactions/medicine.yml
  Resources/Prototypes/SS220/trait_after_death.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/Survival.xml
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Need to be discussed, Need to add Wiki220, Changes: C#

#2757 Cult update 1
  Content.Server/SS220/Clothing/SpawnOnUnequippedComponent.cs
  Content.Server/SS220/Clothing/SpawnOnUnequippedSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Resources/Audio/SS220/CultYogg/attributions.yml
  Resources/Audio/SS220/CultYogg/lurbo_kill.ogg
  Resources/Audio/SS220/CultYogg/lurbo_unequip.ogg
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_animals.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_consumable.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_seeds.ftl
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/corruptedAnimals.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/eggs.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/CultYogg/LubroShroom.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/fungus.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/spikegun.yml
  Resources/Prototypes/SS220/GameRules/roundstart.yml
  Resources/Textures/SS220/Objects/CultYogg/boot_fish_used.rsi/icon.png
  Resources/Textures/SS220/Objects/CultYogg/boot_fish_used.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/CultYogg/boot_fish_used.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/CultYogg/boot_fish_used.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/dead.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/equipped-FEET.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/harvest.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/icon.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/produce.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/seed.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/stage-1.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/stage-2.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/stage-3.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/stage-4.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/stage-5.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/stage-6.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom.rsi/stage-7.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom_dead.rsi/icon.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom_dead.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom_dead.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/CultYogg/lurbo_shroom_dead.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Changes: C#

#2775 HotFix возможности ведущего врача дефибриллировать
  Resources/Prototypes/SS220/Roles/Jobs/senior_medical.yml
Labels: Changes: Prototypes

#2780 SynergisticEnergyGun Resprite
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/enhanced-mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/enhanced-mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/enhanced-mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/enhanced-mag-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/enhanced-mag-unshaded-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/enhanced-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/enhanced-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/enhanced-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/equipped-BELT.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/laser-mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/laser-mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/laser-mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/laser-mag-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/laser-mag-unshaded-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/laser-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/laser-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/laser-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_energy_gun.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/enhanced-mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/enhanced-mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/enhanced-mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/enhanced-mag-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/enhanced-mag-unshaded-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/enhanced-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/enhanced-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/enhanced-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/equipped-BELT.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-left-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-left-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-left-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-left-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-right-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-right-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-right-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-right-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/laser-mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/laser-mag-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/laser-mag-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/laser-mag-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/laser-mag-unshaded-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/laser-mag-unshaded-1.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/laser-mag-unshaded-2.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Battery/synergistic_enetgy_gun.rsi/laser-mag-unshaded-3.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles_cev.rsi/impact_u_laser.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles_cev.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles_cev.rsi/muzzle_u_laser.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Projectiles/projectiles_cev.rsi/u_laser.png
Labels: Changes: Sprites, Changes: Prototypes

#2776 hotfix: LimitationReviveForCult
  Content.Server/SS220/CultYogg/MiGo/CultYoggHealSystem.cs
  Resources/Prototypes/Corvax/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/actions.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggpod.yml
  Resources/Prototypes/SS220/Reagents/medicine.yml
Labels: Changes: Prototypes, Changes: C#

#2773 Fix ghost visibility for other entities
  Content.Client/Ghost/GhostSystem.cs
Labels: Changes: C#

#2789 Исправление частоты обновления ряда панелей BUI
  Content.Client/Atmos/Consoles/AtmosAlertsComputerBoundUserInterface.cs
  Content.Client/Instruments/UI/InstrumentBoundUserInterface.cs
  Content.Client/MassMedia/Ui/NewsWriterBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Nuke/NukeBoundUserInterface.cs
  Content.Client/Power/PowerMonitoringConsoleBoundUserInterface.cs
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraSetupBoundUi.cs
Labels: Changes: C#

#2790 Diona lang
  Resources/Prototypes/Body/Organs/diona.yml
Labels: Changes: Prototypes

#2794 Med Changes after few days
  Content.Server/SS220/DefibrillatorSkill/DefibrillatorSkillComponent.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveComponent.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
  Resources/Prototypes/Corvax/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomFieldOfficier.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOfficer.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOperativeSRT.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/NanoTrasenAdmiral.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/NanoTrasenDiplomat.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/SS220/trait_after_death.yml
Labels: Changes: Prototypes, Changes: C#

#2801 New scars
  Resources/Locale/ru-RU/ss220/markings/scars.ftl
  Resources/Prototypes/SS220/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/meta.json
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_above_eyebrow_left.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_above_eyebrow_right.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_across_nose.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_across_nose_mirrored.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_cheek_left.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_cheek_right.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_half_face_left.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_half_face_right.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_rib_left.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_rib_right.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_side_eye_left.png
  Resources/Textures/SS220/Mobs/Customization/scars.rsi/scar_side_eye_right.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2752 [Deploy] 2nd Language iteration
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/SS220/Language/LanguageMessageTag.cs
  Content.Client/SS220/Language/LanguageSystem.cs
  Content.Client/SS220/UserInterface/System/Chat/Controls/LanguageSettings/LanguageSettingsPopup.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
  Content.Server/SS220/Language/LanguageSystem.Paper.cs
  Content.Server/SS220/Language/LanguageSystem.cs
  Content.Server/SS220/TTS/TTSSystem.cs
  Content.Server/Speech/EntitySystems/ListeningSystem.cs
  Content.Server/Speech/ListenEvent.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMicrophoneSystem.cs
  Content.Server/TapeRecorder/TapeRecorderSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/SS220/Language/Components/LanguageComponent.cs
  Content.Shared/SS220/Language/EncryptionMethods/SyllablesScrambleMethod.cs
  Content.Shared/SS220/Language/LanguageManager.cs
  Content.Shared/SS220/Language/LanguageNetMessages.cs
  Content.Shared/SS220/Language/LanguagesPrototype.cs
  Content.Shared/SS220/Language/Systems/SharedLanguageSystem.Sanitizer.cs
  Content.Shared/SS220/Language/Systems/SharedLanguageSystem.cs
  Content.Shared/SS220/Language/Systems/ShatedLanguageSystem.Paper.cs
  Content.Shared/SS220/Paper/SharedDocumentHelperSystem.cs
  Content.Shared/TapeRecorder/TapeCassetteRecordedMessage.cs
  Resources/Prototypes/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
Labels: Changes: UI, Changes: Prototypes, Changes: C#

#2791 Fix TTS playing of not visible by PVS entities
  Content.Client/SS220/TTS/TTSSystem.cs
Labels: Changes: C#

#2805 Revert "Fix TTS playing of not visible by PVS entities (#2791)"
  Content.Client/SS220/TTS/TTSSystem.cs
Labels: Changes: C#

#2806 language hotfixes
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

#2807 refactor: LimitationRevive
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/SS220/CultYogg/MiGo/CultYoggHealSystem.cs
  Content.Server/SS220/DefibrillatorSkill/DefibrillatorSkillSystem.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveComponent.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
Labels: Changes: C#

#2800 Fast extended or full access on ID card console
  Content.Client/Access/UI/IdCardConsoleBoundUserInterface.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/ru-RU/access/components/id-card-console-component.ftl
Labels: Changes: UI, Changes: Localization, Changes: C#

#2802 Fract war ebent update v0.8
  Content.Client/SS220/AdmemeEvents/EventRoleIcons.cs
  Content.Server/SS220/AdmemeEvents/JobIconChangerSystem.cs
  Content.Shared/SS220/AdmemeEvents/EventRole/EventRoleComponent.cs
  Content.Shared/SS220/AdmemeEvents/EventRole/EventRoleSystem.cs
  Content.Shared/SS220/AdmemeEvents/EventRoleComponent.cs
  Resources/Prototypes/SS220/Maps/fract_war.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/blasters.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/smgs.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Melee/admirals_weapon.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/ert/jobs_ERT.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/iron/jobs_IronSquad.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/other_Items.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/ussp/jobs_sssp.yml
Labels: Changes: Map, Changes: Prototypes, Changes: C#

#2147 Electrical chair
  Content.Server/SS220/ElectricalChair/ElectricalChairComponent.cs
  Content.Server/SS220/ElectricalChair/ElectricalChairSystem.cs
  Resources/Audio/SS220/Machines/Switch/attributions.yml
  Resources/Audio/SS220/Machines/Switch/knife_switch.ogg
  Resources/Locale/ru-RU/ss220/strucrure/electrical-chair.ftl
  Resources/Locale/ru-RU/ss220/switch.ftl
  Resources/Prototypes/SS220/Entities/Structures/Machines/electrical_chair.yml
  Resources/Prototypes/SS220/Entities/Structures/Wallmount/switch.yml
  Resources/Textures/SS220/Structures/Furniture/electrical_chair.rsi/base.png
  Resources/Textures/SS220/Structures/Furniture/electrical_chair.rsi/meta.json
  Resources/Textures/SS220/Structures/Furniture/electrical_chair.rsi/overlay.png
  Resources/Textures/SS220/Structures/Wallmounts/knife_switch.rsi/base.png
  Resources/Textures/SS220/Structures/Wallmounts/knife_switch.rsi/meta.json
  Resources/Textures/SS220/Structures/Wallmounts/knife_switch.rsi/off.png
  Resources/Textures/SS220/Structures/Wallmounts/knife_switch.rsi/on.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Changes: C#

#2810 CherryPick: Fix prying shut unpowered doors (Wizden#35380)
  Content.Shared/Doors/DoorEvents.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Changes: C#

#2812 Fract war ebent update v0.8.1
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/blasters.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/smgs.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/iron/jobs_IronSquad.yml
Labels: Changes: Prototypes

#2811 LimitationReviveTimerFix
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
Labels: Changes: C#

#2815 Заспавни крокодила! Заспавни крокодила!
  Resources/Locale/ru-RU/ss220/prototypes/entities/markings/Spawners/mobs.ftl
  Resources/Prototypes/SS220/Entities/Markers/Spawners/mobs.yml
Labels: Changes: Localization, Changes: Prototypes

#2814 Поглядьте крокодила (пожалуйста)
  Resources/Audio/SS220/Animals/attributions.yml
  Resources/Audio/SS220/Animals/crocodile_fun.ogg
  Resources/Locale/ru-RU/ss220/interaction/interaction-popup-component.ftl
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/space.yml
Labels: Changes: Localization, Changes: Prototypes

#2818 Back pen for IAA
  Resources/Prototypes/Corvax/Catalog/Fills/Items/briefcases.yml
Labels: Changes: Prototypes

#2795 Make name and job in PDA crew manifest listing be copyable
  Content.Client/CrewManifest/UI/CrewManifestSection.cs
  Content.Client/SS220/UserInterface/CopyableRichTextLabel.cs
Labels: Changes: C#

#2821 Mc Q'Lich
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/kulich.yml
  Resources/Prototypes/SS220/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/SS220/Objects/Consumable/Food/kulich.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Food/kulich.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Consumable/Food/kulich.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Consumable/Food/kulich.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2822 TaRaKaCheCki
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: Prototypes

#2826 Stamina fix
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: Changes: C#

#2833 Добавлен крафт мусорного ведра
  Resources/Prototypes/SS220/Entities/Structures/Storage/trash_bin.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/storage/trashbin.yml
  Resources/Prototypes/SS220/Recipes/Construction/Storage/trashbin.yml
Labels: Changes: Prototypes

#2762 BS Operative Disabler PowerGloves
  Resources/Locale/ru-RU/ss220/clothing/Hands/gloves.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Hand/hands.yml
  Resources/Prototypes/SS220/Roles/Jobs/CentComm/CentcomOperativeSRT.yml
  Resources/Textures/Clothing/Hands/Gloves/powerglove.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/powerglove.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/powerglove.rsi/off-inhand-right.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Need to be discussed

#2829 Fix DNA copy implant target gib interaction
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/SS220/PenScrambler/PenScramblerComponent.cs
  Content.Server/SS220/PenScrambler/PenScramblerSystem.cs
  Content.Server/SS220/PenScrambler/TransferIdentityComponent.cs
  Content.Server/SS220/PenScrambler/TransferIdentitySystem.cs
Labels: Changes: C#

#2837 Combat gloves resprite
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Changes: Prototypes

#2840 FIX: Practice disabler on suit slot
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: Prototypes

#2841 FIX: ERT Medic defib skill
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: Prototypes
