Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-01, with the labels that each got.

#2444 Add foots markings
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Resources/Locale/ru-RU/ss220/preferences/ui/markings-picker.ftl
  Resources/Prototypes/SS220/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Species/reptilian.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2443 SolidSecretReinforcedDoor
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/doors/secretdoor/secret_reinforced_door.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/SS220/Entities/Structures/Doors/secter_reinforced_door.yml
  Resources/Prototypes/SS220/Recipes/Construction/structures.yml
  Resources/Textures/SS220/Structures/Doors/secter_reinforced_door.rsi/assembly.png
  Resources/Textures/SS220/Structures/Doors/secter_reinforced_door.rsi/closed.png
  Resources/Textures/SS220/Structures/Doors/secter_reinforced_door.rsi/closing.png
  Resources/Textures/SS220/Structures/Doors/secter_reinforced_door.rsi/meta.json
  Resources/Textures/SS220/Structures/Doors/secter_reinforced_door.rsi/open.png
  Resources/Textures/SS220/Structures/Doors/secter_reinforced_door.rsi/opening.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2449 Revenant sprite port
  Resources/Prototypes/Actions/revenant.yml
  Resources/Prototypes/Alerts/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/toys.yml
  Resources/Prototypes/Recipes/Crafting/toys.yml
  Resources/Textures/SS220/Interface/Actions/actions_revenant.rsi/defile.png
  Resources/Textures/SS220/Interface/Actions/actions_revenant.rsi/hallucinationaura.png
  Resources/Textures/SS220/Interface/Actions/actions_revenant.rsi/hauntobjects.png
  Resources/Textures/SS220/Interface/Actions/actions_revenant.rsi/malfunction.png
  Resources/Textures/SS220/Interface/Actions/actions_revenant.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/actions_revenant.rsi/overloadlight.png
  Resources/Textures/SS220/Interface/Actions/actions_revenant.rsi/togglenightvision.png
  Resources/Textures/SS220/Interface/Actions/actions_revenant.rsi/transmit.png
  Resources/Textures/SS220/Mobs/Ghosts/revenant.rsi/active.png
  Resources/Textures/SS220/Mobs/Ghosts/revenant.rsi/ectoplasm.png
  Resources/Textures/SS220/Mobs/Ghosts/revenant.rsi/harvesting.png
  Resources/Textures/SS220/Mobs/Ghosts/revenant.rsi/icon.png
  Resources/Textures/SS220/Mobs/Ghosts/revenant.rsi/idle.png
  Resources/Textures/SS220/Mobs/Ghosts/revenant.rsi/meta.json
  Resources/Textures/SS220/Mobs/Ghosts/revenant.rsi/stunned.png
Labels: Changes: Sprites, Changes: Prototypes

#2450 trackingimplanter-desc-fix
  Resources/Locale/ru-RU/ss220/hidden-description/hiddenDescription.ftl
Labels: Changes: Localization

#2453 delete-instructor-uniform-officer's
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Changes: Prototypes

#2448 fix-tajaran-ears-pixel
  Resources/Textures/SS220/Mobs/Customization/Tajaran/tajaran_parts.rsi/ears_common_inner.png
Labels: Changes: Sprites

#2447 debug-uplink-fix
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Prototypes, Status: Needs Review

#2451 dec-lux-shoes
  Resources/Locale/ru-RU/ss220/loadout-groups/detective.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: Changes: Localization, Changes: Prototypes

#2452 sec-boors-translation
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/items/misc.ftl
Labels: Changes: Localization

#2454 No AFK on any input
  Content.Client/SS220/Afk/AfkSystem220.cs
  Content.Server/SS220/Afk/AfkSystem220.cs
  Content.Shared/SS220/Afk/PlayerActivityMessage.cs
  Content.Shared/SS220/CCVars/CCVars220.cs
Labels: Status: Needs Review, Changes: C#

#2446 Cult hotfix 3
  Content.Server/SS220/CultYogg/Cultists/CultYoggPurifiedSystem.cs
  Content.Shared/SS220/CultYogg/Corruption/SharedCultYoggCorruptedSystem.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Content.Shared/SS220/CultYogg/Pod/CultYoggPodComponent.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_buildings.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_consumable.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggpod.yml
  Resources/Prototypes/SS220/GameRules/roundstart.yml
  Resources/Prototypes/SS220/Roles/Antags/CultYogg.yml
  Resources/Prototypes/SS220/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/SS220/game_presets.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2360 RCD Update
  Content.Client/RCD/RCDConstructionGhostSystem.cs
  Content.Client/RCD/RCDMenu.xaml
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/ru-RU/ss220/rcd/components/rcd-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/RCD/rcd.yml
  Resources/Prototypes/SS220/RCD/rcd.yml
  Resources/Textures/SS220/Interface/Radial/RCD/airlock.png
  Resources/Textures/SS220/Interface/Radial/RCD/catwalk.png
  Resources/Textures/SS220/Interface/Radial/RCD/conpipe-c.png
  Resources/Textures/SS220/Interface/Radial/RCD/conpipe-j1.png
  Resources/Textures/SS220/Interface/Radial/RCD/conpipe-j2.png
  Resources/Textures/SS220/Interface/Radial/RCD/conpipe-s.png
  Resources/Textures/SS220/Interface/Radial/RCD/conpipe-t.png
  Resources/Textures/SS220/Interface/Radial/RCD/conpipe-tagger.png
  Resources/Textures/SS220/Interface/Radial/RCD/conpipe-y.png
  Resources/Textures/SS220/Interface/Radial/RCD/directional.png
  Resources/Textures/SS220/Interface/Radial/RCD/directional_reinforced.png
  Resources/Textures/SS220/Interface/Radial/RCD/firelock.png
  Resources/Textures/SS220/Interface/Radial/RCD/glass_airlock.png
  Resources/Textures/SS220/Interface/Radial/RCD/pipeBend.png
  Resources/Textures/SS220/Interface/Radial/RCD/pipeFourway.png
  Resources/Textures/SS220/Interface/Radial/RCD/pipeStraight.png
  Resources/Textures/SS220/Interface/Radial/RCD/pipeTjunction.png
  Resources/Textures/SS220/Interface/Radial/RCD/pipes.png
  Resources/Textures/SS220/Interface/Radial/RCD/reinforced_wall.png
  Resources/Textures/SS220/Interface/Radial/RCD/scrub.png
  Resources/Textures/SS220/Interface/Radial/RCD/solid_wall.png
  Resources/Textures/SS220/Interface/Radial/RCD/vent_air.png
  Resources/Textures/SS220/Interface/Radial/RCD/vent_passive.png
  Resources/Textures/SS220/Interface/Radial/RCD/window.png
  Resources/Textures/SS220/Interface/Radial/RCD/window_reinforced.png
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2351 engineering-update-thermomachine
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/SS220/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/freezerOff.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/freezerOn-unshaded.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/freezerPanelOpen.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/heaterOff.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/heaterOn-unshaded.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/heaterPanelOpen.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/meta.json
  Resources/Textures/SS220/Structures/Piping/Atmospherics/hellfirethermomachine.rsi/pipe.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/thermomachine.rsi/freezerOff.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/thermomachine.rsi/freezerOn-unshaded.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/thermomachine.rsi/freezerPanelOpen.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/thermomachine.rsi/heaterOff.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/thermomachine.rsi/heaterOn-unshaded.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/thermomachine.rsi/heaterPanelOpen.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/thermomachine.rsi/meta.json
  Resources/Textures/SS220/Structures/Piping/Atmospherics/thermomachine.rsi/pipe.png
Labels: Changes: Sprites, Changes: Prototypes

#2445 2.5D Лесенки и Бордюры
  Resources/Locale/ru-RU/ss220/strucrure/walls.ftl
  Resources/Prototypes/SS220/Entities/Structures/Wall/railing.yml
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/left.png
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/meta.json
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/middle.png
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/right.png
  Resources/Textures/SS220/Structures/Floor/Stairs/dark_steel.rsi/solo.png
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/left.png
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/meta.json
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/middle.png
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/right.png
  Resources/Textures/SS220/Structures/Floor/Stairs/steel.rsi/solo.png
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/left.png
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/meta.json
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/middle.png
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/right.png
  Resources/Textures/SS220/Structures/Floor/Stairs/wood.rsi/solo.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbdarksteel.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbdarksteel_corner.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbdarksteel_round.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbdarksteel_small.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbsteel.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbsteel_corner.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbsteel_round.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbsteel_small.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbwood.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbwood_corner.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbwood_round.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/curbwood_small.png
  Resources/Textures/SS220/Structures/Walls/curb.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2458 engineering-update-hardsuit
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/atmospherics.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/atmospherics.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/atmospherics.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/atmospherics.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/atmospherics.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/atmospherics.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering-white.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering-white.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering-white.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering-white.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering-white.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/engineering.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2461 Paper auto form tweaks
  Content.Shared/SS220/CCVars/CCVars220.cs
  Content.Shared/SS220/Paper/PaperAutoFormDatasetPrototype.cs
  Content.Shared/SS220/Paper/PaperAutoFormSystem.cs
  Resources/Locale/ru-RU/ss220/datasets/paper_auto_form.ftl
  Resources/Prototypes/SS220/Datasets/paper_auto_form.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2441 ФИКС томатов убийц
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Changes: Prototypes, Status: Needs Review

#2463 telescopichka-resprite
  Resources/Locale/ru-RU/ss220/weapons/telescopichka.ftl
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/telescopichka.yml
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/off-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/off-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/on-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/on-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/telescope_off.png
  Resources/Textures/SS220/Objects/Weapons/Melee/telescopichka.rsi/telescope_on.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2466 cables-position-tweak
  Resources/Textures/SS220/Structures/Power/Cables/hv_cable.rsi/hvcable_5.png
  Resources/Textures/SS220/Structures/Power/Cables/hv_cable.rsi/hvcable_9.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_1.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_10.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_11.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_12.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_13.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_14.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_15.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_2.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_3.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_4.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_5.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_6.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_7.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_8.png
  Resources/Textures/SS220/Structures/Power/Cables/lv_cable.rsi/lvcable_9.png
Labels: Changes: Sprites

#2467 atmos-sprite-update
  Resources/Textures/SS220/Structures/Piping/Atmospherics/gascanisterport.rsi/gasCanisterPort.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/gascanisterport.rsi/meta.json
  Resources/Textures/SS220/Structures/Piping/Atmospherics/outletinjector.rsi/injector.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/pump.rsi/meta.json
  Resources/Textures/SS220/Structures/Piping/Atmospherics/pump.rsi/pumpVolume.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/pump.rsi/pumpVolumeBlocked.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/pump.rsi/pumpVolumeOn.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/tinyfan.rsi/icon.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/tinyfan.rsi/meta.json
  Resources/Textures/SS220/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: Changes: Sprites, Changes: Prototypes

#2462 engineering-update-atmosgase
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Textures/SS220/Effects/atmospherics.rsi/frezon.png
  Resources/Textures/SS220/Effects/atmospherics.rsi/meta.json
  Resources/Textures/SS220/Effects/atmospherics.rsi/miasma.png
  Resources/Textures/SS220/Effects/atmospherics.rsi/plasma.png
  Resources/Textures/SS220/Effects/atmospherics.rsi/tritium.png
  Resources/Textures/SS220/Effects/atmospherics.rsi/water_vapor.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/black-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/black.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/blue-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/blue.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/can-connector.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/can-o0.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/can-o1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/can-o2.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/can-o3.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/can-oa1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/can-open.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/darkblue-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/darkblue.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/frezon-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/frezon.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/green-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/green.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/greenys-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/greenys.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/grey-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/grey.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/locked.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/canister.rsi/orange-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/orange.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/red-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/red.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/redws-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/redws.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/scrubber-connector.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/scrubber-open.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/unlocked.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/water_vapor-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/water_vapor.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/yellow-1.png
  Resources/Textures/SS220/Structures/Storage/canister.rsi/yellow.png
Labels: Changes: Sprites, Changes: Prototypes

#2460 Респрайт пиратского плаща
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/SS220/Clothing/Neck/Cloaks/piratecap.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/piratecap.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/piratecap.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/piratecap.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/piratecap.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2468 fix-rukozhoposti
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering-white.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/engineering.rsi/icon.png
  Resources/Textures/SS220/Effects/atmospherics.rsi/meta.json
  Resources/Textures/SS220/Structures/Piping/Atmospherics/gasfilter.rsi/gasFilterFOn.png
  Resources/Textures/SS220/Structures/Piping/Atmospherics/gasmixer.rsi/gasMixerOn.png
Labels: Changes: Sprites

#2472 Add Id in ban message
  Content.Server/Database/ServerBanDef.cs
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
Labels: Changes: Localization, Changes: C#

#2473 Audio hater's PR
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Movement/Systems/MovementSoundSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/SS220/CCVars/CCVars220.Performance.cs
  Content.Shared/SS220/CCVars/CCVars220.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
Labels: Status: Needs Review, Changes: C#

#2471 Cult markings fix
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Shared/Humanoid/Markings/MarkingManager.cs
  Content.Shared/Humanoid/Markings/MarkingPrototype.cs
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/cultstages.yml
Labels: Changes: UI, Changes: Prototypes, Status: Needs Review, Changes: C#

#2476 Cult_hotfix_4
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/SS220/Bed/Cryostorage/BeingCryoDeletedEvent.cs
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Server/SS220/CultYogg/MiGo/MiGoReplacementSystem.cs
  Content.Server/SS220/CultYogg/Sacraficials/SacraficialReplacementEvent.cs
  Content.Server/SS220/CultYogg/Sacraficials/SacraficialReplacementSystem.cs
  Content.Server/SS220/GameTicking/Rules/Components/CultYoggRuleComponent.cs
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
  Content.Server/SS220/Objectives/Systems/CultYoggSummonConditionSystem.cs
  Content.Server/SS220/Telepathy/TelepathySystem.cs
  Content.Shared/SS220/CultYogg/Corruption/CultYoggCorruptedPrototype.cs
  Content.Shared/SS220/CultYogg/Corruption/SharedCultYoggCorruptedSystem.cs
  Content.Shared/SS220/CultYogg/Cultists/SharedCultYoggSystem.cs
  Content.Shared/SS220/CultYogg/Sacraficials/CultYoggSacrificialComponent.cs
  Content.Shared/SS220/CultYogg/Sacraficials/CultYoggSacrificialMindComponent.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_replacement_announces.ftl
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/corruption.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/cultstages.yml
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/antenna_moth.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/back_arachnid.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/back_human.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/moth.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/shrooms_arachnid.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/shrooms_diona.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/shrooms_human.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/shrooms_moth.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/shrooms_vox.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/wings_moth.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Changes: C#

#2482 Респрайт одежды детектива
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective_grey.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective_grey.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective_grey.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective_grey.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective_grey.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/detective_grey.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective_grey.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective_grey.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective_grey.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective_grey.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective_grey.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/detective_grey.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2484 CultYogg Pod DoAfter Tweak
  Content.Shared/SS220/CultYogg/Pod/CultYoggPodComponent.cs
  Content.Shared/SS220/CultYogg/Pod/SharedCultYoggPodSystem.cs
Labels: Changes: C#

#2483 Дополнительные аксессуары к комбинезону "Корпоративная одежда глав.врача"
  Resources/Locale/ru-RU/ss220/clothing/Eyes/glasses.ftl
  Resources/Locale/ru-RU/ss220/clothing/Shoes/boots.ftl
  Resources/Locale/ru-RU/ss220/loadout-groups/chef-medical-officer.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Eyes/cmocorporate_glasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/SS220/Clothing/Eyes/cmocorporate_glasses.rsi/equipped-EYES-vox.png
  Resources/Textures/SS220/Clothing/Eyes/cmocorporate_glasses.rsi/equipped-EYES.png
  Resources/Textures/SS220/Clothing/Eyes/cmocorporate_glasses.rsi/icon.png
  Resources/Textures/SS220/Clothing/Eyes/cmocorporate_glasses.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Eyes/cmocorporate_glasses.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Eyes/cmocorporate_glasses.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/cmocorporateboots.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/cmocorporateboots.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/cmocorporateboots.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/cmocorporateboots.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/cmocorporateboots.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2487 Plushie Mi-Go
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/fun/toys.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/corruption.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/migo.yml
  Resources/Textures/SS220/Objects/Fun/migo.rsi/meta.json
  Resources/Textures/SS220/Objects/Fun/migo.rsi/migo-plushie.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2493 Fix secure windoor
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: Changes: Prototypes

#2490 New hairs
  Resources/Locale/ru-RU/ss220/markings/human_hair.ftl
  Resources/Prototypes/SS220/Entities/Mobs/Customization/Markings/human.yml
  Resources/Textures/SS220/Mobs/Customization/human_hair.rsi/bob6.png
  Resources/Textures/SS220/Mobs/Customization/human_hair.rsi/frieren.png
  Resources/Textures/SS220/Mobs/Customization/human_hair.rsi/long5.png
  Resources/Textures/SS220/Mobs/Customization/human_hair.rsi/longwavy.png
  Resources/Textures/SS220/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/SS220/Mobs/Customization/human_hair.rsi/shortwavy.png
  Resources/Textures/SS220/Mobs/Customization/human_hair.rsi/uraraka.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2470 Last lost last lost last lost last... lost soul fix
  Resources/Maps/SS220/Shuttles/lostSoul/traveling_china_cuisine.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Map, Changes: Prototypes, Status: Needs Review

#2495 SoupFix
  Resources/Prototypes/Corvax/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: Changes: Prototypes

#2496 FixMatchBox
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Labels: Changes: Prototypes

#2497 Изменение цвета частоты Юр. отдела и должности КМД
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/SS220/radio_channels.yml
Labels: Changes: Prototypes, Status: Needs Review

#2499 Дебаг коробки (защищённый кейс для револьвера)
  Resources/Prototypes/SS220/Entities/Objects/Storage/unika_box.yml
Labels: Changes: Prototypes, Status: Needs Review

#2502 ResponsibilityUpdate
  Resources/Locale/ru-RU/ss220/clothing/Shoes/shoes.ftl
  Resources/Locale/ru-RU/ss220/clothing/Uniforms/jumpsuit.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Textures/SS220/Clothing/Shoes/Boots/medical_shoes_responsibility.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/medical_shoes_responsibility.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/medical_shoes_responsibility.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/medical_shoes_responsibility.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/medical_shoes_responsibility.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/medical_responsibility.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/medical_responsibility.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/medical_responsibility.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/medical_responsibility.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/medical_responsibility.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/medical_responsibility.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2491 Bacchus' blessing!
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/SS220/Flavors/flavors.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/SS220/Recipes/Reactions/drinks.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/bacchus_blessing.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bacchus_blessing.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bacchus_blessing.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bacchus_blessing.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bacchus_blessing.rsi/icon_empty.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/bacchus_blessing.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2503 Book Space Law Replace
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/migration.yml
Labels: Changes: Prototypes

#2505 New Emergency Shuttle | Axioma
  Resources/Maps/SS220/Shuttles/emergency/emergency_axioma.yml
Labels: Changes: Map, Status: Needs Review

#2510 Trash Obj Collision Enhanc
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/SS220/Entities/Structures/Specific/boxes.yml
  Resources/Prototypes/SS220/Entities/Structures/Specific/scaffolding.yml
  Resources/Prototypes/SS220/Entities/Structures/Specific/trash.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/trashcan.yml
Labels: Changes: Prototypes

#2492 Autoform refactor
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/SS220/Paper/Systems/DocumentHelperSystem.cs
  Content.Client/SS220/Paper/UI/DocumentHelperWindow.xaml
  Content.Client/SS220/Paper/UI/DocumentHelperWindow.xaml.cs
  Content.Client/SS220/StyleTools/StylesheetBuilder.cs
  Content.Server/SS220/Paper/DocumentHelperSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Paper/PaperComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/SS220/Paper/PaperAutoFormDatasetPrototype.cs
  Content.Shared/SS220/Paper/PaperAutoFormSystem.cs
  Content.Shared/SS220/Paper/SharedDocumentHelperSystem.cs
  Resources/Locale/ru-RU/ss220/paper/document-helper.ftl
  Resources/Prototypes/SS220/Datasets/paper_auto_form.yml
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2514 Winter boots resprite 2
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterboots.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssecmed.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssecmed.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssecmed.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssecmed.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssyndicate.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsweb.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-right.png
Labels: Changes: Sprites

#2404 Craftable desword
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/desword.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Melee/soldiers_weapon.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Merge Conflict, Changes: Prototypes, Status: Needs Review

#2516 Okroshka medals resprite
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
  Resources/Textures/SS220/Clothing/Neck/Medals/bronzeheart.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/bronzeheart.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/bronzeheart.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/cargomedal.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/cargomedal.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/cargomedal.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/clownmedal.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/clownmedal.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/clownmedal.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/engineermedal.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/engineermedal.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/engineermedal.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/gold.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/gold.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/gold.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/medicalmedal.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/medicalmedal.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/medicalmedal.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/sciencemedal.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/sciencemedal.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/sciencemedal.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Medals/securitymedal.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Medals/securitymedal.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Medals/securitymedal.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2521 Id card hotfix
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/SS220/Paper/SharedDocumentHelperSystem.cs
Labels: Changes: C#
