Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-06, with the labels that each got.

#3005 Nighshift rebase
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/SS220/Shuttles/emergency/emergency_nightshift.yml
  Resources/Maps/SS220/nightshift.yml
  Resources/Prototypes/SS220/Maps/nightshift.yml
  Resources/Prototypes/SS220/Parallaxes/nightshift.yml
  Resources/Textures/SS220/Parallaxes/licences.txt
  Resources/Textures/SS220/Parallaxes/sParallax_background.png
  Resources/Textures/SS220/Parallaxes/sParallax_dust1.png
  Resources/Textures/SS220/Parallaxes/sParallax_dust2.png
  Resources/Textures/SS220/Parallaxes/sParallax_stars1.png
  Resources/Textures/SS220/Parallaxes/sParallax_stars2.png
  Resources/Textures/SS220/ViewableMaps/nightshift.png
Labels: Changes: Map, Changes: Prototypes, Changes: C#

#2982 ADD: Fully hidden items in pockets
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/corpse_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/diona_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/holoclown_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/kangaroo_inventory_template.yml
  Resources/Prototypes/SS220/InventoryTemplates/Animals/joe_inventory_template.yml
Labels: Changes: Prototypes, Changes: C#

#3000 StuckOnEqip_fix
  Content.Shared/SS220/StuckOnEquip/SharedStuckOnEquipSystem.cs
Labels: Changes: C#

#3006 Brain_dmg_zombie_fix
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
Labels: Changes: C#

#2994 FIX: Cryo manifest
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
Labels: Changes: C#

#3010 Обновление гайдбука "Безопасность 101"
  Resources/Prototypes/Guidebook/security.yml
Labels: Changes: Prototypes

#2986 Fix: Спрайт inhand у магазинов 45 магнум
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rubber.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/inhand-left-mag.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/inhand-left-stripe.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/inhand-right-mag.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/inhand-right-stripe.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#3014 TTS Upstream
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Changes: Prototypes

#3019 CBURN leader infection fix
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Changes: Prototypes

#3018 FIX: stunbaton decrease energy
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
Labels: Changes: C#

#3020 fix moth name autogenerator
  Resources/Locale/ru-RU/ss220/datasets/names/moth_female.ftl
  Resources/Locale/ru-RU/ss220/datasets/names/moth_last.ftl
  Resources/Locale/ru-RU/ss220/datasets/names/moth_male.ftl
  Resources/Prototypes/Datasets/Names/moth.yml
Labels: Changes: Localization, Changes: Prototypes

#3036 [Post upstream fix-ish] Heavy-features
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
Labels: Changes: Prototypes

#3017 Fix BulletBlaster
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/Ammunitions/projectiles.yml
Labels: Changes: Prototypes

#3027 Cult hotfix 9
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Server/SS220/CultYogg/Sacraficials/SacraficialReplacementSystem.cs
  Content.Server/SS220/EntityEffects/EntityEffectSystem.SS220.CultYogg.cs
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
  Content.Server/SS220/Objectives/Components/CultYoggSummonConditionComponent.cs
  Content.Server/SS220/Objectives/Systems/CultYoggSummonConditionSystem.cs
  Content.Shared/SS220/CultYogg/Corruption/SharedCultYoggCorruptedSystem.cs
  Content.Shared/SS220/CultYogg/Cultists/CultYoggActions.cs
  Content.Shared/SS220/CultYogg/Cultists/CultYoggComponent.cs
  Content.Shared/SS220/CultYogg/Cultists/CultYoggEvents.cs
  Content.Shared/SS220/CultYogg/Cultists/SharedCultYoggSystem.cs
  Content.Shared/SS220/StuckOnEquip/SharedStuckOnEquipSystem.cs
  Resources/Prototypes/SS220/Entities/Clothing/CultYogg/CultYoggSuits.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/actions.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/cultstages.yml
Labels: Changes: Prototypes, Changes: C#

#2978 TrapSystem
  Content.Shared/SS220/CultYogg/FruitTrap/CultYoggTrapComponent.cs
  Content.Shared/SS220/CultYogg/FruitTrap/CultYoggTrapSystem.cs
  Content.Shared/SS220/SS220SharedTriggers/DamageOnTrigger/DamageOnTriggerComponent.cs
  Content.Shared/SS220/SS220SharedTriggers/DamageOnTrigger/DamageOnTriggerSystem.cs
  Content.Shared/SS220/SS220SharedTriggers/Events/SharedTriggerEvent.cs
  Content.Shared/SS220/SS220SharedTriggers/InjectionOnTrigger/InjectionOnTriggerComponent.cs
  Content.Shared/SS220/SS220SharedTriggers/InjectionOnTrigger/InjectiontOnTriggerSystem.cs
  Content.Shared/SS220/SS220SharedTriggers/System/TriggerSystem.cs
  Content.Shared/SS220/Trap/TrapComponent.cs
  Content.Shared/SS220/Trap/TrapSystem.cs
  Content.Shared/SS220/Trap/TrapVisuals.cs
  Resources/Audio/SS220/Items/CultYogg/attributions.yml
  Resources/Audio/SS220/Items/CultYogg/sound_trapCult_defuse.ogg
  Resources/Audio/SS220/Items/CultYogg/sound_trapCult_hit.ogg
  Resources/Audio/SS220/Items/CultYogg/sound_trapCult_set.ogg
  Resources/Audio/SS220/Items/Trap/attributions.yml
  Resources/Audio/SS220/Items/Trap/sound_trap_defuse.ogg
  Resources/Audio/SS220/Items/Trap/sound_trap_hit.ogg
  Resources/Audio/SS220/Items/Trap/sound_trap_set.ogg
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_consumable.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_seeds.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_trap.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/trap/bearTrap.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/trap/trapComponent.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/CultYogg/MikoTrapShroom.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/fungus.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/trap.yml
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/dead.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/harvest.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/icon.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/produce.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/seed.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/stage-1.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/stage-2.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/stage-3.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/stage-4.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/stage-5.png
  Resources/Textures/SS220/Objects/CultYogg/miko_trap_shroom.rsi/trap-armed.png
  Resources/Textures/SS220/Objects/Devices/traps/bearTrap.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Devices/traps/bearTrap.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Devices/traps/bearTrap.rsi/meta.json
  Resources/Textures/SS220/Objects/Devices/traps/bearTrap.rsi/trap-armed.png
  Resources/Textures/SS220/Objects/Devices/traps/bearTrap.rsi/trap-unarmed.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Changes: C#

#3047 Fix antag bans
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Commands/RoleBanCommand.cs
Labels: Changes: C#

#3050 small fix for ghost hearing
  Content.Server/SS220/GhostHearing/GhostHearingSystem.cs
Labels: Changes: C#

#3039 goliath-sprite-pixel-delete
  Resources/Textures/SS220/Mobs/Aliens/Asteroid/goliath.rsi/goliath_dead.png
Labels: Changes: Sprites

#2858 Wizard getting used to
  Resources/Locale/ru-RU/ss220/pda.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/misk/identification_cards.ftl
  Resources/Locale/ru-RU/ss220/store/categories.ftl
  Resources/Locale/ru-RU/ss220/store/spellbook-catalog.ftl
  Resources/Prototypes/Actions/polymorph.yml
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Magic/event_spells.yml
  Resources/Prototypes/Magic/forcewall_spells.yml
  Resources/Prototypes/Magic/knock_spell.yml
  Resources/Prototypes/Magic/mindswap_spell.yml
  Resources/Prototypes/Magic/projectile_spells.yml
  Resources/Prototypes/Magic/recall_spell.yml
  Resources/Prototypes/Magic/repulse_spell.yml
  Resources/Prototypes/Magic/smoke_spell.yml
  Resources/Prototypes/Magic/teleport_spells.yml
  Resources/Prototypes/Magic/touch_spells.yml
  Resources/Prototypes/Magic/utility_spells.yml
  Resources/Prototypes/Objectives/wizard.yml
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/blink.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/charge.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/cluwne.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/fireball.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/gib.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/jaunt.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/knock.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/magicmissile.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/shield.png
  Resources/Textures/SS220/Interface/Actions/magic_spells.rsi/slippery.png
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/ghost.png
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/gun.png
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/item_recall.png
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/mind.png
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/nullrod.png
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/repulse.png
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/smoke.png
  Resources/Textures/SS220/Interface/Actions/magic_spells_other.rsi/spell_default.png
  Resources/Textures/SS220/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/SS220/Objects/Devices/pda.rsi/pda-wizard.png
  Resources/Textures/SS220/Objects/Misc/books_goon.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/books_goon.rsi/spellbooks.png
  Resources/Textures/SS220/Objects/Misc/id_cards.rsi/idwizard.png
  Resources/Textures/SS220/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/SS220/Objects/Misc/id_cards.rsi/wizard.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Need to add Wiki220

#2884 Revenant less grief more scary
  Content.Client/SS220/Hallucination/HallucinationSystem.cs
  Content.Server/Revenant/EntitySystems/CorporealSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Server/SS220/Hallucination/HallucinationSourceComponent.cs
  Content.Server/SS220/Hallucination/HallucinationSystem.cs
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Content.Shared/SS220/Damage/Components/DamageOnStunContactComponent.cs
  Content.Shared/SS220/Damage/Components/StunsContactsComponent.cs
  Content.Shared/SS220/Damage/Systems/StunsContactsSystem.cs
  Resources/Locale/ru-RU/revenant/revenant.ftl
  Resources/Prototypes/Actions/revenant.yml
  Resources/Prototypes/Alerts/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/SS220/Entities/Effects/Hallucinations/revenant.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#3080 Cult marking fix
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Shared/SS220/CultYogg/Cultists/CultYoggEvents.cs
Labels: Changes: C#

#3078 Фикс линка лазерного станка к material silo
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: Prototypes

#3043 Cult_Update_2.1
  Content.Client/SS220/Pinpointer/UI/PinpointerBoundUserInterface.cs
  Content.Server/SS220/Pinpointer/PinpointerSystem.cs
  Content.Shared/Pinpointer/PinpointerComponent.cs
  Content.Shared/SS220/Pinpointer/PinpointerEvents.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_items.ftl
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/corruption.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/pinpointer.yml
  Resources/Textures/SS220/Objects/CultYogg/pinpointer.rsi/bug.png
  Resources/Textures/SS220/Objects/CultYogg/pinpointer.rsi/eye_close.png
  Resources/Textures/SS220/Objects/CultYogg/pinpointer.rsi/eye_direct.png
  Resources/Textures/SS220/Objects/CultYogg/pinpointer.rsi/eye_far.png
  Resources/Textures/SS220/Objects/CultYogg/pinpointer.rsi/eye_medium.png
  Resources/Textures/SS220/Objects/CultYogg/pinpointer.rsi/eye_null.png
  Resources/Textures/SS220/Objects/CultYogg/pinpointer.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Changes: C#

#2903 Сине-жёлтый комбинезон для пассажира
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/fallout.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/fallout.rsi/equipped-INNERCLOTHING-resomi.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/fallout.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/fallout.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/fallout.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/fallout.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/fallout.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#3089 FIX: Shuttle FTL Visual rotation
  Resources/Prototypes/Entities/Effects/shuttle.yml
Labels: Changes: Prototypes

#3084 Окончательное добавление комплекта Урагана Вэша и револьверов детективу.
  Resources/Locale/ru-RU/ss220/clothing/Hands/gloves.ftl
  Resources/Locale/ru-RU/ss220/clothing/Outerclothing/misc.ftl
  Resources/Locale/ru-RU/ss220/clothing/Shoes/boots.ftl
  Resources/Locale/ru-RU/ss220/clothing/Uniforms/jumpsuit.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/belt/belt.ftl
  Resources/Locale/ru-RU/ss220/weapons/guns/revolvers/revolvers.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/SS220/Catalog/Fills/Items/holsters.yml
  Resources/Prototypes/SS220/Entities/Clothing/Hand/hands.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/SS220/Entities/Clothing/Uniforms/Jumpsuit/jumpsuits.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Hands/Gloves/stormgloves.rsi/equipped-HAND-vox.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/stormgloves.rsi/equipped-HAND.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/stormgloves.rsi/icon.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/stormgloves.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/stormgloves.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Hands/Gloves/stormgloves.rsi/meta.json
  Resources/Textures/SS220/Clothing/Shoes/Boots/wanderer_boots.rsi/equipped-FEET-vox.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/wanderer_boots.rsi/equipped-FEET.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/wanderer_boots.rsi/icon.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/wanderer_boots.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/wanderer_boots.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Shoes/Boots/wanderer_boots.rsi/meta.json
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/wasteland_suit.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/wasteland_suit.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/wasteland_suit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/wasteland_suit.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/wasteland_suit.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/wasteland_suit.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/wasteland_suit.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/black_angel.rsi/bolt-open.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/black_angel.rsi/equipped-BELT.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/black_angel.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/black_angel.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/black_angel.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/black_angel.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/legendary_marksman.rsi/bolt-open.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/legendary_marksman.rsi/equipped-BELT.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/legendary_marksman.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/legendary_marksman.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/legendary_marksman.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Revolvers/legendary_marksman.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#3056 Cult_Update_2.2
  Content.Client/SS220/ChameleonStructure/ChameleonStructureSystem.cs
  Content.Client/SS220/ChameleonStructure/UI/ChameleonStructureBoundUserInterface.cs
  Content.Client/SS220/ChameleonStructure/UI/ChameleonStructureMenu.xaml
  Content.Client/SS220/ChameleonStructure/UI/ChameleonStructureMenu.xaml.cs
  Content.Server/SS220/ChameleonStructure/ChameleonStructureSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/SS220/AccessWhitelist/AccessWhitelistComponent.cs
  Content.Shared/SS220/AccessWhitelist/SharedAccessWhitelistSystem.cs
  Content.Shared/SS220/ChameleonStructure/ChameleonStructureComponent.cs
  Content.Shared/SS220/ChameleonStructure/SharedChameleonStructureSystem.cs
  Content.Shared/SS220/Doors/DoorEvents.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_buildings.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/hidden_description.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/bolted_open_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/bolted_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/closed.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/closed_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/closing.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/closing_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/deny_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/emergency_open_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/emergency_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/meta.json
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/open.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/open_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/opening.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/opening_unlit.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/panel_closed.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/panel_closing.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/panel_open.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/panel_opening.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/sparks.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/sparks_broken.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/sparks_damaged.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/sparks_open.png
  Resources/Textures/SS220/Structures/CultYogg/airlock.rsi/welded.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization, Changes: Prototypes, Changes: C#

#3106 ADD: Syndie UI requires access
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: Prototypes, Changes: C#
