Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-09, with the labels that each got.

#3306 Food sequence fix
  Content.Shared/Nutrition/EntitySystems/FoodSequenceSystem.cs
Labels: Changes: C#

#3297 Adding the work sections for the service administrator in uplink
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Prototypes

#3296 Adding an energy shotgun to the warden
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: Prototypes

#3295 Food carts lock
  Resources/Prototypes/Entities/Objects/Specific/Kitchen/foodcarts.yml
Labels: Changes: Prototypes

#3307 Fixing law airlock glass view
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: Prototypes

#3281 ADD: Shape button
  Content.Client/SS220/UserInterface/ShapeButton.cs
  Resources/Prototypes/SS220/Shaders/shape_button.yml
  Resources/Textures/SS220/Shaders/shape_button.swsl
Labels: Changes: Prototypes, Changes: Shaders, Changes: C#

#3332 Happens
  Resources/Audio/SS220/Jukebox/attributions.yml
  Resources/Prototypes/SS220/Catalog/Jukebox/standard.yml
Labels: Changes: Prototypes

#3331 Cherry-Pick wizards PR`s with crawl fixes
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Server/Gravity/GravitySystem.cs
  Content.Server/Stunnable/Systems/StunOnCollideSystem.cs
  Content.Shared/Clothing/ClothingSpeedModifierComponent.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Clothing/EntitySystems/AntiGravityClothingSystem.cs
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/Friction/TileFrictionController.cs
  Content.Shared/Gravity/FloatingVisualsComponent.cs
  Content.Shared/Gravity/GravityAffectedComponent.cs
  Content.Shared/Gravity/GravityComponent.cs
  Content.Shared/Gravity/SharedFloatingVisualizerSystem.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Morgue/EntityStorageLayingDownOverrideSystem.cs
  Content.Shared/Movement/Components/MovementIgnoreGravityComponent.cs
  Content.Shared/Movement/Systems/FrictionContactsSystem.cs
  Content.Shared/Movement/Systems/MovementIgnoreGravitySystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Movement/Systems/SpeedModifierContactsSystem.cs
  Content.Shared/Physics/CollisionGroup.cs
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.Knockdown.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/nyarlathotep.yml
Labels: Changes: Prototypes, Changes: C#

#3328 BlueShield jet buff
  Resources/Prototypes/SS220/Entities/Objects/Tools/jetpacks.yml
Labels: Changes: Prototypes

#3337 Nightshift | First Update
  Resources/Maps/SS220/nightshift.yml
  Resources/Prototypes/SS220/Maps/nightshift.yml
Labels: Changes: Map, Changes: Prototypes

#3334 Holopad fixes
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
Labels: Changes: C#

#3358 Add ghost-clown uplink
  Resources/Maps/SS220/Shuttles/lostSoul/honki.yml
Labels: Changes: Map

#3352 ADD: Icons and Search for Pin Pointer
  Content.Client/SS220/Pinpointer/UI/PinpointerMenu.xaml.cs
  Content.Server/SS220/Pinpointer/PinpointerSystem.cs
  Content.Shared/SS220/Pinpointer/PinpointerEvents.cs
Labels: Changes: UI, Changes: C#

#3241 Заговор кириллической С: раскрыто
  Content.Client/SS220/CriminalRecords/UI/RecordDetails.xaml
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Physics/Components/RandomWalkComponent.cs
  Content.Server/Physics/Controllers/RandomWalkController.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveComponent.cs
  Content.Server/SS220/SmartFridge/SmartFridgeSystem.cs
  Content.Server/SS220/TeleportAFKtoCryoSystem/TeleportAFKtoCryoSystem.cs
  Content.Shared/Medical/DefibrillatorComponent.cs
  Content.Shared/SS220/ChameleonStructure/ChameleonStructureComponent.cs
  Content.Shared/SS220/Detective/Camera/DetectiveCameraAttachComponent.cs
  Resources/Audio/SS220/Ambience/Antag/attributions.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Damage/groups.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/SS220/Damage/types.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/corruptedAnimals.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/actions.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggpod.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/SS220/Reagents/medicine.yml
  Resources/Prototypes/SS220/Recipes/Reactions/drinks.yml
  Resources/migration.yml
Labels: Changes: UI, Changes: Prototypes, Changes: C#

#3363 Add all access settings for AI sentry panel
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
Labels: Changes: Prototypes

#3362 Empty chat messages fix
  Content.Server/Speech/SpeechNoiseSystem.cs
  Content.Shared/SS220/Language/Systems/SharedLanguageSystem.Sanitizer.cs
Labels: Changes: C#

#3378 ADD: Jugs and Large Beakers for Spawn Menu
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/specific/medical/chemical_containers.ftl
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Medical/chemical-containers.yml
Labels: Changes: Localization, Changes: Prototypes

#3383 Tweak shuttle collision damage
  Content.Shared/CCVar/CCVars.Shuttle.cs
Labels: Changes: C#

#3380 ADD: Sec Hud can change record status (Part of Security Second Itr
  Content.Client/SS220/CriminalRecords/UI/CharacterVisualisation.xaml.cs
  Content.Client/SS220/SecHudRecords/EUI/SecHudRecordsEui.cs
  Content.Client/SS220/SecHudRecords/EUI/SecHudRecordsMenu.xaml
  Content.Client/SS220/SecHudRecords/EUI/SecHudRecordsMenu.xaml.cs
  Content.Client/SS220/SecHudRecords/SecHudRecordsSystem.cs
  Content.Server/SS220/CriminalRecords/CriminalRecordSystem.cs
  Content.Server/SS220/SecHudRecords/EUI/SecHudRecordsEui.cs
  Content.Server/SS220/SecHudRecords/SecHudRecordsSystem.cs
  Content.Shared/SS220/CriminalRecords/CriminalRecordsConsoleComponent.cs
  Content.Shared/SS220/SecHudRecords/SecHudRecordsComponent.cs
  Content.Shared/SS220/SecHudRecords/SecHudRecordsEuiState.cs
  Content.Shared/SS220/SecHudRecords/SharedSecHudRecordsSystem.cs
  Resources/Locale/ru-RU/ss220/clothing/Eyes/hud.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Textures/SS220/Interface/VerbIcons/ATTRIBUTIONS.txt
  Resources/Textures/SS220/Interface/VerbIcons/protection_glasses.png
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Changes: C#

#3335 Cognizine languages fix
  Content.Client/SS220/UserInterface/System/Chat/Controls/LanguageSettings/LanguageSettingsPopup.xaml.cs
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Server/SS220/Commands/LanguageCommands.cs
  Content.Server/SS220/Language/LanguageSystem.cs
  Content.Shared/SS220/Language/Components/LanguageComponent.cs
  Content.Shared/SS220/Language/Systems/SharedLanguageSystem.Sanitizer.cs
  Content.Shared/SS220/Language/Systems/SharedLanguageSystem.cs
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/SS220/Entities/Mobs/Cyborgs/borg_chassis_clown_mime.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/SS220/Geras/slime.yml
Labels: Changes: UI, Changes: Prototypes, Changes: C#

#3399 [add] Winterdrobe inventory change
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
Labels: Changes: Prototypes

#3402 Tweak Carp Damage
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: Changes: Prototypes

#3376 Centcome ai modules
  Resources/Locale/ru-RU/ss220/prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/ss220/station-laws/laws.ftl
  Resources/Prototypes/SS220/Entities/Objects/Devices/Circuitboards/law_boards.yml
  Resources/Prototypes/SS220/silicon-laws.yml
Labels: Changes: Localization, Changes: Prototypes
