Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-02, with the labels that each got.

#2519 TTS Optimization
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/SS220/TTS/TTSManager.cs
  Content.Client/SS220/TTS/TTSSystem.Announce.cs
  Content.Client/SS220/TTS/TTSSystem.cs
  Content.Server/SS220/TTS/TTSManager.cs
  Content.Server/SS220/TTS/TTSSystem.cs
  Content.Shared/SS220/AnnounceTTS/AnnounceTTSEvent.cs
  Content.Shared/SS220/TTS/MsgPlayAnnounceTts.cs
  Content.Shared/SS220/TTS/MsgPlayTts.cs
  Content.Shared/SS220/TTS/PlayTTSEvent.cs
  Content.Shared/SS220/TTS/TtsAudioData.cs
  Content.Shared/SS220/TTS/TtsKind.cs
  ToolsSS220/ttsServer/tts_processor.py
  ToolsSS220/ttsServer/tts_server.py
Labels: Status: Needs Review, Changes: C#

#2511 Temp Anoncement Enhanc
  Resources/Audio/SS220/Announcements/greytide.ogg
  Resources/Audio/SS220/Announcements/i-storm1.ogg
  Resources/Audio/SS220/Announcements/i-storm2.ogg
  Resources/Audio/SS220/Announcements/i-storm3.ogg
  Resources/Audio/SS220/Announcements/infestation.ogg
  Resources/Audio/SS220/Announcements/licenses.txt
  Resources/Audio/SS220/Announcements/lifesigns.ogg
  Resources/Audio/SS220/Announcements/radiation.ogg
  Resources/Audio/SS220/Announcements/radpassed.ogg
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/random_sentience.yml
Labels: Changes: Prototypes, Status: Needs Review

#2507 Cult_hotfix_5
  Content.Server/SS220/CultYogg/Pod/CultYoggPodSystem.cs
  Content.Shared/SS220/CultYogg/Pod/SharedCultYoggPodSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_building_ability.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/corruptedAnimals.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/corruption.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/cultstages.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/spikegun.yml
  Resources/Prototypes/SS220/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/SS220/StatusIcon/antag.yml
  Resources/Textures/SS220/Mobs/CultYogg/nyarlathotep.rsi/meta.json
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2522 Pallets Fix
  Resources/Prototypes/SS220/Entities/Structures/Specific/pallets.yml
Labels: Changes: Prototypes

#2526 Add discord changelogger
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/discord-changelogger.yml
Labels: Status: Needs Review

#2520 New Freezer
  Resources/Locale/ru-RU/ss220/prototypes/structures/storage/lockers/lockers.ftl
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/closet.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/double_closet.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Lockers/mini_closet.yml
  Resources/Textures/SS220/Structures/Storage/closet.rsi/freezer.png
  Resources/Textures/SS220/Structures/Storage/closet.rsi/freezer_door.png
  Resources/Textures/SS220/Structures/Storage/closet.rsi/freezer_open.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/freezer.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/freezer_door.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/freezer_open.png
  Resources/Textures/SS220/Structures/Storage/double_closet.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/bounty.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/captains_paper.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/invoice.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/locked.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/minifreezer.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/minifreezer_door.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/minifreezer_open.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/paper.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/unlocked.png
  Resources/Textures/SS220/Structures/Storage/mini_closet.rsi/welded.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2525 Плащ для редакторов вики
  Resources/Prototypes/SS220/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/Head/hoods.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/Neck/cloaks.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/sponsor_loadout_group.yml
  Resources/Prototypes/SS220/Loadouts/sponsor_loadouts.yml
  Resources/Textures/SS220/Clothing/Sponsor/Head/Hoods/wikihood.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Sponsor/Head/Hoods/wikihood.rsi/icon.png
  Resources/Textures/SS220/Clothing/Sponsor/Head/Hoods/wikihood.rsi/meta.json
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/wikicloak.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/wikicloak.rsi/hood.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/wikicloak.rsi/icon.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/wikicloak.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/wikicloak.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/wikicloak.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2528 fix changelogger
  .github/workflows/discord-changelogger.yml
Labels: Status: Needs Review

#2527 FixShoesCorporate
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/chief_medical_officer.yml
Labels: Changes: Prototypes

#2500 [Merge] RatKing Tweaks and Changes
  Content.Server/SS220/StationEvents/Components/RegalRatRuleComponent.cs
  Content.Server/SS220/StationEvents/Components/RegalRatSpawnLocationComponent.cs
  Content.Server/SS220/StationEvents/Events/RegalRatRule.cs
  Content.Shared/RatKing/RatKingComponent.cs
  Content.Shared/RatKing/SharedRatKingSystem.cs
  Content.Shared/SS220/RatKing/RatKingActions.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/mobs/npcs/regalrat.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/SS220/Entities/Structures/Specific/trash.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/trashcan.yml
  Resources/Textures/SS220/Clothing/Head/Misc/fancycrown.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Misc/fancycrown.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Misc/fancycrown.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/ratKingArmy.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/ratKingDomain.png
  Resources/Textures/SS220/Interface/Actions/actions_rat_king.rsi/ratKingRummage.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2530 Spider queen no implant
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/spider_queen.yml
Labels: Changes: Prototypes

#2398 Возможность вызова эвакуации
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Changes: Prototypes

#2532 Workflow permissions fix
  .github/workflows/labeler-approve.yml
  .github/workflows/labeler-changes.yml
Labels: Status: Needs Review

#2494 ToolsForGateDungeon
  Content.Server/SS220/GateDungeon/GateDungeonComponent.cs
  Content.Server/SS220/GateDungeon/GateDungeonSystem.cs
  Content.Shared/SS220/GateGunDungeon/GateDungeonMapComponent.cs
  Content.Shared/SS220/GateGunDungeon/GateGunDungeonComponent.cs
  Content.Shared/SS220/GateGunDungeon/GateGunDungeonSystem.cs
  Resources/Locale/ru-RU/ss220/gate-dungeon/gate-dungeon.ftl
  Resources/Prototypes/SS220/Entities/Structures/Machines/gate_dungeon.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Structures/Machines/gate_dungeon.rsi/framebroken.png
  Resources/Textures/SS220/Structures/Machines/gate_dungeon.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Changes: C#

#2529 ADD Касадор ебать (ЩИТСПАУН)
  Resources/Locale/ru-RU/ss220/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss220/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/mobs/npcs/animals.ftl
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
  Resources/Prototypes/SS220/Mobs/giantfly.yml
  Resources/Textures/SS220/Mobs/Animals/giant_fly.rsi/dead.png
  Resources/Textures/SS220/Mobs/Animals/giant_fly.rsi/giant_fly.png
  Resources/Textures/SS220/Mobs/Animals/giant_fly.rsi/icon.png
  Resources/Textures/SS220/Mobs/Animals/giant_fly.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2533 Changelogger inputs update
  .github/workflows/discord-changelogger.yml
Labels: Status: Needs Review

#2536 TTS Upstream
  Resources/Prototypes/Corvax/tts-voices.yml
Labels: Changes: Prototypes

#2538 Add prohibited characters filter
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/SS220/Chat/ChatManager.Censorship.cs
  Resources/Locale/ru-RU/ss220/chat/managers/chat-manager.ftl
Labels: Changes: Localization, Status: Needs Review, Changes: C#

#2539 Магические перчатки теперь меняют вид
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Changes: Prototypes, Status: Needs Review

#2544 Atmos isolated gloves
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
Labels: Changes: Prototypes

#2534 Бомбер для ГСБ
  Resources/Locale/ru-RU/ss220/clothing/OuterClothing/coats.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bomberhos.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bomberhos.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bomberhos.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bomberhos.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bomberhos.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Coats/bomberhos.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review

#2543 Remove holiday presents
  Resources/migration.yml
Labels: Status: Needs Review

#2542 Lost souls Quantity fix and QoL update
  Resources/Maps/SS220/Shuttles/lostSoul/civil.yml
  Resources/Maps/SS220/Shuttles/lostSoul/traveling_china_cuisine.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/SS220/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Map, Changes: Prototypes, Status: Needs Review

#2546 Variantize Execute add in Resave concommand
  Content.Server/Maps/ResaveCommand.cs
Labels: Status: Needs Review, Changes: C#

#2548 Tiles menu 220 fix
  Content.Client/SS220/MapEditor/TileSpawningUIController220.cs
  Content.Shared/Maps/ContentTileDefinition.cs
Labels: Changes: C#

#2555 Переименование туалета в унитаз
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/furniture/toilet.ftl
Labels: Changes: Localization, Status: Needs Review

#2556 Tiles Fix
  Resources/Locale/ru-RU/ss220/tiles/tiles.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/SS220/Recipes/Lathes/tiles.yml
  Resources/Prototypes/SS220/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/SS220/Tiles/floors.yml
  Resources/Textures/SS220/Tiles/tech_maint_drain.png
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2552 Респрайты иконок для нинзди
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Toggleable/ToggleActionEvent.cs
  Resources/Prototypes/Actions/ninja.yml
  Resources/Textures/SS220/Interface/Actions/ninja.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/ninja.rsi/ninjaEMP.png
  Resources/Textures/SS220/Interface/Actions/ninja.rsi/ninjaGlovesOff.png
  Resources/Textures/SS220/Interface/Actions/ninja.rsi/ninjaGlovesOn.png
  Resources/Textures/SS220/Interface/Actions/ninja.rsi/ninjaInvisible.png
  Resources/Textures/SS220/Interface/Actions/ninja.rsi/ninjaTeleport.png
  Resources/Textures/SS220/Interface/Actions/ninja.rsi/ninjaThrowingStar.png
  Resources/Textures/SS220/Interface/Actions/ninja.rsi/ninjadash.png
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review, Changes: C#

#2550 Headphones resprite
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/equipped-NECK-vox.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/icon-on.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/on-equipped-NECK-vox.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/on-equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/on-inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Misc/headphones.rsi/on-inhand-right.png
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2561 Фикс локали суффикса маленького паучка
  Resources/Locale/ru-RU/ss220/mobs/spider-queen.ftl
Labels: Changes: Localization

#2563 rechargeable crayon
  Content.Server/SS220/CrayonRechargeable/CrayonRechargeableSystem.cs
  Content.Shared/SS220/CrayonRechargeable/CrayonRechargeableComponent.cs
Labels: Changes: C#

#2568 Fix RSI Validator
  Resources/Textures/Objects/Storage/boxes.rsi/shellbeanbag.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellflare.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellflash.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellincendiary.png
  Resources/Textures/Objects/Storage/boxes.rsi/shelllethal.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellpractice.png
  Resources/Textures/Objects/Storage/boxes.rsi/shellslug.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag10-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/equipped-BACKPACK.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/broken.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/normal.png
  Resources/Textures/Structures/Power/Generation/solar_panel.rsi/static.png
Labels: Changes: Sprites, Status: Needs Review

#2558 Revenant TTS change
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/SS220/Voice/random_voices_lists.yml
Labels: Changes: Prototypes, Status: Needs Review

#2560 Создание киборга для клоуна и мимика
  Resources/Locale/ru-RU/ss220/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/ss220/paper/paper-misc.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/fun/crayons.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/misk/paper.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/tools/crowbars.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/guns/pneumatic_cannon.ftl
  Resources/Locale/ru-RU/ss220/station-laws/laws.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/SS220/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/SS220/Entities/Mobs/Cyborgs/base_borg_chassis_speech.yml
  Resources/Prototypes/SS220/Entities/Mobs/Cyborgs/borg_chassis_clown_mime.yml
  Resources/Prototypes/SS220/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/baguette.yml
  Resources/Prototypes/SS220/silicon-laws.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Interface/Actions/actions_borg.rsi/ClownMime-module.png
  Resources/Textures/SS220/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/SS220/Mobs/Silicon/chassis.rsi/ClownMime.png
  Resources/Textures/SS220/Mobs/Silicon/chassis.rsi/ClownMime_e.png
  Resources/Textures/SS220/Mobs/Silicon/chassis.rsi/ClownMime_e_r.png
  Resources/Textures/SS220/Mobs/Silicon/chassis.rsi/ClownMime_l.png
  Resources/Textures/SS220/Mobs/Silicon/chassis.rsi/meta.json
  Resources/Textures/SS220/Objects/Fun/crayons.rsi/icon.png
  Resources/Textures/SS220/Objects/Fun/crayons.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/Robotics/borgmodule.rsi/ClownMime.png
  Resources/Textures/SS220/Objects/Specific/Robotics/borgmodule.rsi/icon-ClownMime.png
  Resources/Textures/SS220/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Need to add Wiki220

#2565 фикс бага с станбатоном (двойной расход на лкм)
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
Labels: Status: Needs Review, Changes: C#

#2148 Ninja targets update
  Content.Server/SS220/CriminalRecords/CriminalRecordSystem.cs
  Content.Server/SS220/CriminalRecords/CriminalRecordsEvent.cs
  Content.Server/SS220/Objectives/Components/FramePersonConditionComponent.cs
  Content.Server/SS220/Objectives/Components/IntimidatePersonConditionComponent.cs
  Content.Server/SS220/Objectives/Systems/FramePersonConditionSystem.cs
  Content.Server/SS220/Objectives/Systems/IntimidatePersonConditionSystem.cs
  Content.Server/SS220/Trackers/Components/CriminalStatusTrackerComponent.cs
  Content.Server/SS220/Trackers/Components/DamageReceivedTrackerComponent.cs
  Content.Server/SS220/Trackers/Systems/CriminalStatusTrackerSystem.cs
  Content.Server/SS220/Trackers/Systems/DamageReceivedTrackerSystem.cs
  Resources/Locale/ru-RU/ss220/objectives/ninja.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/SS220/Objectives/ninja.yml
  Resources/Prototypes/SS220/Objectives/ninjaGroup.yml
  Resources/Textures/SS220/Objectives/frame.rsi/meta.json
  Resources/Textures/SS220/Objectives/frame.rsi/snake_cian.png
  Resources/Textures/SS220/Objectives/frame.rsi/snake_green.png
  Resources/Textures/SS220/Objectives/frame.rsi/snake_white.png
  Resources/Textures/SS220/Objectives/intimidate.rsi/brute.png
  Resources/Textures/SS220/Objectives/intimidate.rsi/burn.png
  Resources/Textures/SS220/Objectives/intimidate.rsi/meta.json
  Resources/Textures/SS220/Objectives/intimidate.rsi/toxin.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2559 RCD to CE
  Resources/Locale/ru-RU/ss220/objectives/steal-target-groups.ftl
  Resources/Locale/ru-RU/ss220/objectives/traitor.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/tools/rcd-ce.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/rcd-ce.yml
  Resources/Prototypes/SS220/Objectives/stealTargetGroups.yml
  Resources/Prototypes/SS220/Objectives/traitor.yml
  Resources/Textures/SS220/Objects/Tools/RCDCE.rsi/equipped-BELT.png
  Resources/Textures/SS220/Objects/Tools/RCDCE.rsi/icon.png
  Resources/Textures/SS220/Objects/Tools/RCDCE.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Tools/RCDCE.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Tools/RCDCE.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Need to add Wiki220

#2305 ADD: Handheld radio now attached to Outer Clothing
  Resources/Locale/ru-RU/ss220/clothing/Outerclothing/misc.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/mechClothing.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/specific.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2572 Wheelchair Size Fix
  Resources/Prototypes/SS220/Entities/Objects/Vehicles/buckleable.yml
Labels: Changes: Prototypes, Status: Needs Review

#2573 FIX: Chameleon Menu icons
  Content.Client/Clothing/UI/ChameleonMenu.xaml.cs
Labels: Changes: UI, Changes: C#

#2578 ADD: Confirmable message for DNA Scrambler Implant
  Resources/Locale/ru-RU/actions/actions/suicide.ftl
  Resources/Prototypes/Actions/types.yml
Labels: Changes: Localization, Changes: Prototypes

#2581 Eat sigarettes
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
Labels: Changes: Prototypes

#2589 fix duplicate doafters for lockpick
  Content.Server/SS220/LockPick/Systems/LockpickSystem.cs
Labels: Status: Needs Review, Changes: C#

#2590 FIX: Formatting time in lobby
  Content.Shared/Localizations/ContentLocalizationManager.cs
Labels: Changes: C#

#2593 Fix starting gear inharitance
  Content.Shared/Roles/StartingGearPrototype.cs
Labels: Status: Needs Review, Changes: C#

#2588 FIX: Visual state unlit for airlocks
  Content.Server/SS220/AirlockVisuals/AirlockVisualsComponent.cs
  Content.Server/SS220/AirlockVisuals/AirlockVisualsSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: Changes: Prototypes, Status: Needs Review, Changes: C#

#2594 Фикс раздражительности клоунборга
  Resources/Locale/ru-RU/ss220/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss220/paper/paper-misc.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/SS220/Entities/Mobs/Cyborgs/borg_chassis_clown_mime.yml
  Resources/Prototypes/SS220/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Localization, Changes: Prototypes

#2597 ADD: Cloning Entity now copy DNA from source
  Content.Server/Forensics/Systems/ForensicsSystem.cs
Labels: Changes: C#

#2604 ADD: Emagging nanomed now contains stimpack mini
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
Labels: Changes: Prototypes, Status: Needs Review, Need to add Wiki220

#2603 ADD: Beer can to survival kit for Dwarf
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/survival.yml
Labels: Changes: Localization, Changes: Prototypes, Status: Needs Review

#2605 ADD: Change voice in voice mask when clicking on target
  Content.Server/VoiceMask/VoiceMaskSystem.cs
Labels: Status: Needs Review, Changes: C#

#2598 ADD: Pacified component to clone entity
  Content.Shared/CombatMode/Pacification/PacificationSystem.cs
Labels: Status: Needs Review, Changes: C#

#2617 ФИКС визуального отображения наушников
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
Labels: Changes: Prototypes

#2602 Add browser link tag
  Content.Client/SS220/Guidebook/Richtext/BrowserLinkTag.cs
Labels: Status: Needs Review, Changes: C#

#2622 PumpkinLantern
  Resources/Prototypes/Entities/Objects/Decoration/jackolantern.yml
  Resources/Prototypes/SS220/Recipes/Crafting/Graphs/pumpkinlantern.yml
  Resources/Prototypes/SS220/Recipes/Crafting/pumpkinlantern.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Prototypes

#2601 ADD: DNA Copy Implant for Uplink
  Content.Client/SS220/PenScrambler/ClientPenScramblerSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/SS220/PenScrambler/PenScramblerComponent.cs
  Content.Server/SS220/PenScrambler/PenScramblerSystem.cs
  Content.Server/SS220/PenScrambler/TransferIdentityComponent.cs
  Content.Server/SS220/PenScrambler/TransferIdentitySystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/SS220/PenScrambler/SetScaleFromTargetComponent.cs
  Content.Shared/SS220/PenScrambler/SharedPenScramblerEvents.cs
  Resources/Locale/ru-RU/ss220/hidden-description/hiddenDescription.ftl
  Resources/Locale/ru-RU/ss220/paper/paper-misc.ftl
  Resources/Locale/ru-RU/ss220/pen-scrambler/pen-scrambler.ftl
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/DnaCopyImplanter/dnaimplanter.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Textures/SS220/Objects/Specific/Medical/implant-dna-copy.rsi/dna-copy.png
  Resources/Textures/SS220/Objects/Specific/Medical/implant-dna-copy.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2579 ADD: Adrenal Implanter
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Resources/Locale/ru-RU/ss220/hidden-description/hiddenDescription.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/AdrenalImplant/adrenalimplant.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Textures/SS220/Objects/Specific/Medical/implant-adrenal.rsi/adrenal.png
  Resources/Textures/SS220/Objects/Specific/Medical/implant-adrenal.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Status: Needs Review, Changes: C#

#2621 ADD : Добавление в паракузию звуки жнеца ( самые страшные )
  Resources/Prototypes/SoundCollections/traits.yml
Labels: Changes: Prototypes

#2627 FIX: Name cyborg's in radio
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Changes: C#

#2629 Curse Dungeon Tiles Fix
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/haunted.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/Dungeon/maints.yml
  Resources/Maps/Dungeon/mineshaft.yml
  Resources/Maps/Dungeon/snowy_labs.yml
Labels: Changes: Map

#2630 Monkey wearable fix
  Resources/Prototypes/SS220/InventoryTemplates/Animals/monkey_inventory_template.yml
Labels: Changes: Prototypes

#2631 noknifeinmigo
  Content.Server/SS220/CultYogg/MiGo/MiGoSystem.cs
Labels: Status: Needs Review, Changes: C#

#2635 Респрайт аптечек
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/advkit-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/advkit-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/advkit.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/blackkit-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/blackkit-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/blackkit.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/brutekit-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/brutekit-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/brutekit.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/burnkit-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/burnkit-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/burnkit.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/firstaid-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/firstaid-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/firstaid.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/o2kit-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/o2kit-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/o2kit.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/radkit-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/radkit-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/radkit.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/toxinkit-inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/toxinkit-inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Medical/firstaidkits.rsi/toxinkit.png
Labels: Changes: Sprites, Changes: Prototypes, Status: Needs Review

#2486 Nukeops Gamma
  Content.Server/Fax/FaxSystem.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Shared/Fax/Components/FaxMachineComponent.cs
Labels: Changes: C#
