Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-05, with the labels that each got.

#2857 [Upstream fix] TTS hot-reload skissue
  Content.Client/SS220/TTS/TTSSystem.cs
  Content.IntegrationTests/Tests/Lobby/CharacterCreationTest.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  ToolsSS220/ttsServer/README.md
Labels: Changes: C#

#2854 ADD: ID Card name for Random Humanoid
  Content.Server/Humanoid/Systems/RandomHumanoidSystem.cs
Labels: Changes: C#

#2853 ADD: Plasteel and RGlass in borg module
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/materials/sheets/sheets.ftl
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/SS220/Entities/Objects/Materials/Sheets/plasteel.yml
  Resources/Prototypes/SS220/Entities/Objects/Materials/Sheets/rglass.yml
Labels: Changes: Localization, Changes: Prototypes

#2849 FIX: Uplink Implant avoid conditions
  Content.Server/Store/Systems/StoreSystem.cs
Labels: Changes: C#

#2861 Portal Resprite
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/SS220/CryopodSSD/cryo.yml
  Resources/Textures/SS220/Effects/portal.rsi/meta.json
  Resources/Textures/SS220/Effects/portal.rsi/portal-artifact.png
  Resources/Textures/SS220/Effects/portal.rsi/portal-blue.png
  Resources/Textures/SS220/Effects/portal.rsi/portal-red.png
Labels: Changes: Sprites, Changes: Prototypes

#2860 Uranuim Wall Resprite
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/full.png
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/meta.json
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/uranium0.png
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/uranium1.png
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/uranium2.png
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/uranium3.png
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/uranium4.png
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/uranium5.png
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/uranium6.png
  Resources/Textures/SS220/Structures/Walls/uranium.rsi/uranium7.png
Labels: Changes: Sprites, Changes: Prototypes

#2867 ntbaton-widerotation-fix
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/ntbaton.yml
Labels: Changes: Prototypes

#2848 FIX: Dupe Solution in puddle's
  Content.Server/Destructible/Thresholds/Behaviors/SpillBehavior.cs
Labels: Changes: C#

#2844 FIX: QM Digi-board in Pinpointer Syndi
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: Prototypes

#2843 FIX: Crusher healing if target is dead
  Content.Shared/Weapons/Marker/SharedDamageMarkerSystem.cs
Labels: Changes: C#

#2842 FIX: Dark Reaper shows on Medical Huds
  Content.Client/StatusIcon/StatusIconSystem.cs
Labels: Changes: C#

#2832 Removing formal dress from lathes
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
Labels: Changes: Prototypes

#2850 ADD: Detector AI in Uplink
  Content.Client/SS220/LocateAi/LocateAiSystem.cs
  Content.Server/SS220/LocateAi/LocateAiSystem.cs
  Content.Shared/SS220/LocateAi/LocateAiComponent.cs
  Content.Shared/SS220/LocateAi/SharedLocateAiSystem.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/tools.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2846 ADD: Alert Level in lobby
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Resources/Locale/ru-RU/game-ticking/game-ticker.ftl
Labels: Changes: Localization, Changes: C#

#2878 Исправление коллизии направленных окон
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Changes: Prototypes

#2855 ADD: Transfer Items in storage
  Content.Shared/SS220/TransferMaterialsInStorage/TransferItemsInStorageComponent.cs
  Content.Shared/SS220/TransferMaterialsInStorage/TransferItemsInStorageSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
Labels: Changes: Prototypes, Changes: C#

#2839 ADD: Species Loadout
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/SS220/Loadouts/SpeciesLoadout/SpeciesLoadoutSystem.cs
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Species/dwarf.yml
Labels: Changes: Prototypes, Changes: C#

#2883 FIX: Naked Women
  Resources/Prototypes/Shaders/displacement.yml
Labels: Changes: Prototypes

#2891 FIX: Remove reporter from specific department
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Prototypes

#2890 FIX: Multitool syndie use in hand
  Content.Server/SS220/LocateAi/LocateAiSystem.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/tools/tools.ftl
Labels: Changes: Localization, Changes: C#

#2834 Battle medkit update
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Prototypes

#2851 Cult update 1.1
  Content.Server/SS220/CultYogg/Lamp/CultYoggLampSystem.cs
  Content.Shared/SS220/CultYogg/Lamp/CultYoggLampComponent.cs
  Content.Shared/SS220/CultYogg/Lamp/SharedCultYoggLampSystem.cs
  Content.Shared/SS220/StealthProvider/ProvidedStealthComponent.cs
  Content.Shared/SS220/StealthProvider/SharedProvidedStealthSystem.cs
  Content.Shared/SS220/StealthProvider/SharedStealthProviderSystem.cs
  Content.Shared/SS220/StealthProvider/StealthProviderComponent.cs
  Resources/Audio/SS220/CultYogg/attributions.yml
  Resources/Audio/SS220/CultYogg/lamp_off.ogg
  Resources/Audio/SS220/CultYogg/lamp_on.ogg
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_items.ftl
  Resources/Prototypes/SS220/Entities/Clothing/CultYogg/CultYoggSuits.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/CultYogg/LubroShroom.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/CultYogg/MiGomycete.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/CultYogg/NullShroom.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/CultYogg/SidiusShroom.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/backpack.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/beach.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/burglarbug.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/claw.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/corruption.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/cultcocoon.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/duffel.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/fungus.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/handcuffs.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/lantern.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/pond.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/satchel.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/sedativesting.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/spikegun.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/spitballer.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/strangeFruit.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/venomancer.yml
  Resources/Prototypes/SS220/Entities/Objects/Materials/Sheets/tokl.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cables.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggaltar.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggpod.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/burnt.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/lantern-on.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/lantern_on.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Changes: C#

#2905 ADD: Freedom from Bola
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
Labels: Changes: C#

#2882 New feature KUS !
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/ru-RU/ss220/actions/SuicideIC.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2895 ADD: Slowness and Nervousness traits
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/SS220/ChangeSpeedDoAfters/ChangeSpeedDoAftersComponent.cs
  Content.Shared/SS220/ChangeSpeedDoAfters/ChangeSpeedDoAftersSystem.cs
  Content.Shared/SS220/ChangeSpeedDoAfters/Events/ChangeSpeedDoAftersEvent.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/ru-RU/ss220/traits/traits.ftl
  Resources/Prototypes/SS220/Traits/disabilities.yml
  Resources/Prototypes/SS220/trait_after_death.yml
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Changes: C#

#2875 Добавление Ррр-антомата и напитка Ррр-анты
  Resources/Locale/en-US/ss220/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/ss220/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/en-US/ss220/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/ss220/advertisements/vending/rrranta.ftl
  Resources/Locale/ru-RU/ss220/enteties/markers/spawners/rrranta_spawner.ftl
  Resources/Locale/ru-RU/ss220/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ss220/machine/rrranta.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/drinks.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/physical-desc.ftl
  Resources/Prototypes/SS220/Catalog/VendingMachines/Inventories/rrranta.yml
  Resources/Prototypes/SS220/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/SS220/Catalog/VendingMachines/goodbyes.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/Random/vending.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/SS220/Entities/Structures/Machines/rrranta.yml
  Resources/Prototypes/SS220/Flavors/flavors.yml
  Resources/Prototypes/SS220/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/SS220/Objects/Consumable/Drinks/rrranta.rsi/icon.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/rrranta.rsi/icon_open.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/rrranta.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/rrranta.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Consumable/Drinks/rrranta.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/VendingMachines/rrrantamat.rsi/broken.png
  Resources/Textures/SS220/Structures/Machines/VendingMachines/rrrantamat.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/VendingMachines/rrrantamat.rsi/normal-unshaded.png
  Resources/Textures/SS220/Structures/Machines/VendingMachines/rrrantamat.rsi/normal.png
  Resources/Textures/SS220/Structures/Machines/VendingMachines/rrrantamat.rsi/off.png
  Resources/Textures/SS220/Structures/Machines/VendingMachines/rrrantamat.rsi/panel.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2910 Pods, where are you ?
  Resources/Maps/SS220/Shuttles/escape_pod_small.yml
Labels: Changes: Map

#2887 Several New Hooks
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/meat_hooks.ftl
  Resources/Prototypes/SS220/Entities/Structures/meat_hooks.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/furniture/woodenhook.yml
  Resources/Textures/SS220/Structures/hook_dnd.rsi/hook_dnd.png
  Resources/Textures/SS220/Structures/hook_dnd.rsi/meta.json
  Resources/Textures/SS220/Structures/hook_dnd.rsi/trash_stolb_monk.png
  Resources/Textures/SS220/Structures/hook_dnd.rsi/trash_stolb_xeno.png
  Resources/Textures/SS220/Structures/hooks.rsi/meta.json
  Resources/Textures/SS220/Structures/hooks.rsi/wood.png
  Resources/Textures/SS220/Structures/hooks.rsi/woodbloody.png
  Resources/Textures/SS220/Structures/hooks.rsi/woodbloodygreen.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2904 FIX: Lathes announcement spam
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
Labels: Changes: C#

#2893 FIX: Activated Jetpack in container
  Content.Shared/Movement/Components/JetpackComponent.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
Labels: Changes: C#

#2902 ADD: Filter For Headset
  Content.Client/SS220/Headset/HeadsetBoundUserInterface.cs
  Content.Client/SS220/Headset/HeadsetToggledSystem.cs
  Content.Client/SS220/Headset/HeadsetWindow.xaml
  Content.Client/SS220/Headset/HeadsetWindow.xaml.cs
  Content.Server/SS220/Headset/HeadsetToggledSystem.cs
  Content.Shared/SS220/Headset/HeadsetEvents.cs
  Content.Shared/SS220/Headset/HeadsetToggledComponent.cs
  Content.Shared/SS220/Headset/SharedHeadsetToggledSystem.cs
  Resources/Locale/ru-RU/ss220/headset-ui/headset_ui.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Changes: C#

#2907 FIX: Implant draw popup name
  Content.Server/Implants/ImplanterSystem.cs
  Resources/Locale/ru-RU/ss220/implant/injector-component.ftl
Labels: Changes: Localization, Changes: C#

#2153 Cluwne comms
  Content.Client/SS220/CluwneComms/UI/CluwneCommsConsoleBoundUserInterface.cs
  Content.Client/SS220/CluwneComms/UI/CluwneCommsConsoleMenu.xaml
  Content.Client/SS220/CluwneComms/UI/CluwneCommsConsoleMenu.xaml.cs
  Content.Client/SS220/CluwneComms/UI/CluwneCommsConsoleStyle.cs
  Content.Client/SS220/StyleTools/QuickStyle.cs
  Content.Client/SS220/UserInterface/ExtendedStringEditBase.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/SS220/CluwneComms/CluwneCommsConsoleSystem.cs
  Content.Server/SS220/DarkReaper/DarkReaperSystem.cs
  Content.Shared/SS220/CluwneComms/CluwneCommsConsoleComponent.cs
  Content.Shared/SS220/CluwneComms/MemeAlertLevelPrototype.cs
  Resources/Audio/SS220/Announcements/attributions.yml
  Resources/Audio/SS220/Announcements/cluwne_comm_announce.ogg
  Resources/Audio/SS220/Announcements/hehelta.ogg
  Resources/Audio/SS220/Announcements/pepsilon.ogg
  Resources/Audio/SS220/Announcements/rzhamma.ogg
  Resources/Audio/SS220/Machines/CluwneComm/attributions.yml
  Resources/Audio/SS220/Machines/CluwneComm/boom_button_fail.ogg
  Resources/Audio/SS220/Machines/CluwneComm/ui_cancel.ogg
  Resources/Fonts/SS220/BalsamiqSans/BalsamiqSans-Regular.ttf
  Resources/Fonts/SS220/BalsamiqSans/OFL.txt
  Resources/Locale/ru-RU/ss220/cluwne-communications-console-component.ftl
  Resources/Locale/ru-RU/ss220/joke-lerts-level.ftl
  Resources/Prototypes/SS220/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/SS220/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/SS220/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/SS220/meme_alert_levels.yml
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_button.png
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_button_pressed.png
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_comms_big_button.rsi/hover.png
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_comms_big_button.rsi/meta.json
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_comms_big_button.rsi/normal.png
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_comms_big_button.rsi/pressed.png
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_comms_body.png
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_square_border.png
  Resources/Textures/SS220/Interface/CluwneComms/cluwne_square_pressed.png
  Resources/Textures/SS220/Objects/Misc/module.rsi/cpu_clown.png
  Resources/Textures/SS220/Objects/Misc/module.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/cluwneComms.rsi/cluwne_computer.png
  Resources/Textures/SS220/Structures/Machines/cluwneComms.rsi/cluwne_keyboard.png
  Resources/Textures/SS220/Structures/Machines/cluwneComms.rsi/cluwne_keys.png
  Resources/Textures/SS220/Structures/Machines/cluwneComms.rsi/cluwne_screen.png
  Resources/Textures/SS220/Structures/Machines/cluwneComms.rsi/generic_panel_open.png
  Resources/Textures/SS220/Structures/Machines/cluwneComms.rsi/meta.json
Labels: Changes: Sprites, Changes: UI, Changes: Localization, Changes: Prototypes, Changes: C#

#2917 Fix for merging role in ghost role UI
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
Labels: Changes: C#

#2911 ADD: Origami Arts for Uplink
  Content.Server/SS220/OrigamiBook/OrigamiBookSystem.cs
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/SS220/OrigamiBook/OrigamiBookComponent.cs
  Content.Shared/SS220/OrigamiBook/OrigamiUserComponent.cs
  Content.Shared/SS220/OrigamiBook/OrigamiWeaponComponent.cs
  Content.Shared/SS220/OrigamiBook/SharedOrigamiSystem.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/misc/books.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/SS220/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/books.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/paper.yml
Labels: Changes: Localization, Changes: Prototypes, Need to add Wiki220, Changes: C#

#2918 FIX: KUS, some tweaks
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Changes: Prototypes, Changes: C#

#2920 [DNM] FIX: Suit textures.
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2582 new forms
  Resources/PhotocopierForms/FormIndex.yml
  Resources/PhotocopierForms/nanotrasen_station/law/law_exc.xml
  Resources/PhotocopierForms/nanotrasen_station/law/law_pic.xml
  Resources/PhotocopierForms/nanotrasen_station/law/law_rec.xml
  Resources/PhotocopierForms/nanotrasen_station/law/law_zap.xml
  Resources/PhotocopierForms/nanotrasen_station/science/rnd_dfct.xml
  Resources/PhotocopierForms/nanotrasen_station/security/sec_ssl.xml
Labels: Need to add Wiki220

#2896 Added caramelny petushok
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/consumable/food/caramel_rooster.ftl
  Resources/Prototypes/SS220/Entities/Objects/Consumable/Food/caramel_rooster.yml
  Resources/Prototypes/SS220/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/green_caramel_rooster.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/inhand-left-green.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/inhand-left-red.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/inhand-left-yellow.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/inhand-right-green.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/inhand-right-red.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/inhand-right-yellow.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/meta.json
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/red_caramel_rooster.png
  Resources/Textures/SS220/Objects/Consumable/Food/caramel_rooster.rsi/yellow_caramel_rooster.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2921 ADD: Cудейский молоток и подставка
  Content.Shared/SS220/GavelStand/GavelStandComponent.cs
  Content.Shared/SS220/GavelStand/GavelStandSystem.cs
  Resources/Audio/SS220/Effects/judge_gavel/attributions.yml
  Resources/Audio/SS220/Effects/judge_gavel/gavel_hitting.ogg
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/melee/judge_gavel.ftl
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/law.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/judge_gavel.yml
  Resources/Prototypes/SS220/SoundCollections/judge_gavel_hits.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/SS220/Objects/Weapons/Melee/judge_gavel.rsi/gavel-stand.png
  Resources/Textures/SS220/Objects/Weapons/Melee/judge_gavel.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/judge_gavel.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/judge_gavel.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/judge_gavel.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Changes: C#

#2932 FIX: Удаление неиспользуемых призраков
  Content.Server/Mind/MindSystem.cs
Labels: Changes: C#

#2922 Fix: Borgs job ID
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/SS220/Events/GetInsteadIdCardNameEvent.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Shared/Silicons/Borgs/BorgTypePrototype.cs
  Resources/Locale/ru-RU/ss220/borgs/borgs_type.ftl
  Resources/Prototypes/borg_types.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2916 Revive limit fix
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveComponent.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveEvents.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/SS220/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/ert/jobs_ERT.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/iron/jobs_IronSquad.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/ussp/jobs_sssp.yml
Labels: Changes: Prototypes, Changes: C#

#2874 Add admin-logs on movement mode changed
  Content.Server/SS220/Administration/LogSprintChangeSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/SS220/Movement/Events/SprintChangedEvent.cs
Labels: Changes: C#

#2927 Parade coat and parade cap for the CMO
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Locale/ru-RU/ss220/clothing/Neck/cloaks.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Textures/SS220/Clothing/Head/Hats/cmo_parade_cap.rsi/equipped-HELMET-dog.png
  Resources/Textures/SS220/Clothing/Head/Hats/cmo_parade_cap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/cmo_parade_cap.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/cmo_parade_cap.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/cmo_parade_cap.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/cmo_parade_cap.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/cmo_parade_cap.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Cloaks/cmo_parade_cloak.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/cmo_parade_cloak.rsi/flipped-equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/cmo_parade_cloak.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/cmo_parade_cloak.rsi/icon_flipped.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/cmo_parade_cloak.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/cmo_parade_cloak.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/cmo_parade_cloak.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2939 Colorful sensors dots
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
Labels: Changes: UI, Changes: C#

#2940 FIX: Активация предметов в руках слаймолюдов
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Changes: C#

#2936 Респрайт смирительной рубашки
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/straight_jacket.rsi/body-overlay-2-rezomi.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/straight_jacket.rsi/body-overlay-2-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/straight_jacket.rsi/body-overlay-2.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/straight_jacket.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/straight_jacket.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/straight_jacket.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/straight_jacket.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2935 Paramedic softsuit resprite
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/paramed.rsi/equipped-head-light-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/paramed.rsi/equipped-head-light.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/paramed.rsi/equipped-head-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/paramed.rsi/equipped-head.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/paramed.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/paramed.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon-siren.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2925 Telepathy tweaks
  Content.Server/SS220/TTS/TTSManager.cs
  Content.Server/SS220/TTS/TTSSystem.cs
  Content.Server/SS220/Telepathy/TelepathySystem.cs
  Content.Shared/SS220/TTS/SharedTtsEvents.cs
  Content.Shared/SS220/TTS/TtsKind.cs
Labels: Changes: C#

#2943 stupid mistake
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
Labels: Changes: C#

#2944 Owl Cloak
  Resources/Locale/ru-RU/ss220/clothing/Head/hoods.ftl
  Resources/Locale/ru-RU/ss220/clothing/Neck/cloaks.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/SS220/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/SS220/Clothing/Head/Hoods/owl.rsi/equipped-HELMET-resomi.png
  Resources/Textures/SS220/Clothing/Head/Hoods/owl.rsi/equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hoods/owl.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hoods/owl.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hoods/owl.rsi/meta.json
  Resources/Textures/SS220/Clothing/Neck/Cloaks/owl.rsi/equipped-NECK-resomi.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/owl.rsi/equipped-NECK-vox.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/owl.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/owl.rsi/icon.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/owl.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/owl.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Neck/Cloaks/owl.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2947 FIX: Origami damage w/o glasses
  Content.Shared/SS220/OrigamiBook/OrigamiWeaponComponent.cs
  Content.Shared/SS220/OrigamiBook/SharedOrigamiSystem.cs
Labels: Changes: C#

#2950 Drozd, Lecter, Kammerer resprite.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/base.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/bolt-open.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/mag-0.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/suppressor.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/SMGs/drozd.rsi/wielded-inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump.rsi/bolt-open.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump.rsi/equipped-BACKPACK.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Changes: Prototypes

#2954 TWEAK: Filter Telepathy channel for normal player
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Changes: C#

#2946 FIX: Пополнение вендомата по предметам
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
Labels: Changes: C#

#2956 KRS теперь имеет нормальный боезапас
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/gun/battery.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/SS220/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/command.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/powercells.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/Ammunitions/powercells.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/Weapons/Guns/blasters.yml
Labels: Changes: Localization, Changes: Prototypes

#2965 FIX: Locale for SMES Window
  Content.Client/Power/Battery/BatteryMenu.xaml
  Resources/Locale/ru-RU/_lib.ftl
  Resources/Locale/ru-RU/ss220/power/battery.ftl
Labels: Changes: UI, Changes: Localization

#2969 FIX: Empty container while deconstructing
  Resources/Prototypes/Recipes/Construction/Graphs/machines/machine.yml
Labels: Changes: Prototypes

#2973 FIX: Interact with 'E' with UI
  Resources/Prototypes/Entities/Objects/Devices/base_handheld.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
Labels: Changes: Prototypes

#2975 Fix: отображение Job ID в чате
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Server/PAI/PAISystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
Labels: Changes: C#

#2964 Cult update 2
  Content.Server/SS220/CultYogg/Corruption/CultYoggCocoonSystem.cs
  Content.Server/SS220/CultYogg/Corruption/CultYoggWeaponComponent.cs
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Server/SS220/GameTicking/Rules/Components/CultYoggRuleComponent.cs
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
  Content.Server/SS220/Objectives/Components/MiGoAliveConditionComponent.cs
  Content.Server/SS220/Objectives/Systems/MiGoAliveConditionSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Interaction/Components/UnremoveableComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/SS220/InnerHandToggleable/InnerHandToggleableComponent.cs
  Content.Shared/SS220/InnerHandToggleable/SharedInnerHandToggleableSystem.cs
  Content.Shared/SS220/StuckOnEquip/SharedStuckOnEquipSystem.cs
  Content.Shared/SS220/StuckOnEquip/StuckOnEquipComponent.cs
  Resources/Locale/ru-RU/ss220/actions/inner-toggle.ftl
  Resources/Prototypes/SS220/Actions/toggle.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/sedativesting.yml
  Resources/Prototypes/SS220/Objectives/cult_yogg.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Interface/Actions/action_inner_toggle.rsi/in.png
  Resources/Textures/SS220/Interface/Actions/action_inner_toggle.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/action_inner_toggle.rsi/out.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Need to add Wiki220, Changes: C#

#2949 Fix stunbaton
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
Labels: Changes: C#

#2992 FIX: Any cultist cant be MiGo
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
Labels: Changes: C#

#3004 Nighshift rebase
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/SS220/Shuttles/emergency/emergency_nightshift.yml
  Resources/Maps/SS220/nightshift.yml
  Resources/Prototypes/SS220/Maps/nightshift.yml
  Resources/Prototypes/SS220/Parallaxes/nightshift.yml
  Resources/Textures/SS220/Parallaxes/licences.txt
  Resources/Textures/SS220/Parallaxes/sParallax_background.png
  Resources/Textures/SS220/Parallaxes/sParallax_dust1.png
  Resources/Textures/SS220/Parallaxes/sParallax_dust2.png
  Resources/Textures/SS220/Parallaxes/sParallax_stars1.png
  Resources/Textures/SS220/Parallaxes/sParallax_stars2.png
  Resources/Textures/SS220/ViewableMaps/nightshift.png
Labels: Changes: Map, Changes: Prototypes, Changes: C#

#3003 Fix: магазин приложений ПИИ
  Resources/Prototypes/SS220/Entities/Objects/Fun/pai.yml
Labels: Changes: Prototypes
