Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-07, with the labels that each got.

#3114 Security Departament PDA some fixes
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/SS220/Loadouts/role_loadouts.yml
  Resources/Prototypes/SS220/Roles/Jobs/Security/security_pilot.yml
Labels: Changes: Prototypes

#3127 Fix Ancestor Mob Blindable
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: Prototypes

#3113 Deathsquad suit resprite
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/deathsquad.rsi/equipped-INNERCLOTHING-rezomi.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/deathsquad.rsi/equipped-INNERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/deathsquad.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/deathsquad.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/deathsquad.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/deathsquad.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/deathsquad.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#3124 Resprite Buckets
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/cleanbot.yml
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/fill-1.png
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/fill-2.png
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/fill-3.png
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/fill-4.png
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/icon.png
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Tools/bucket.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#3129 Fix Weapon Module Desc
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
Labels: Changes: Localization

#3131 LimRev_fix_after_fix
  Content.Server/SS220/LimitationRevive/LimitationReviveComponent.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
Labels: Changes: C#

#3103 Add biological protection for resomi
  Resources/Textures/Clothing/OuterClothing/Bio/cmo.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Bio/cmo.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Bio/general.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Bio/general.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Bio/janitor.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Bio/janitor.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Bio/scientist.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Bio/scientist.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Bio/security.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Bio/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Bio/virology.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/Clothing/OuterClothing/Bio/virology.rsi/meta.json
Labels: Changes: Sprites

#3144 TWEAK: Delay ion storm announcement until event ends
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: Prototypes

#3143 Wiki updater + Json generators tweaks
  .github/workflows/wiki-updater.yml
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GuideGenerator/ChemistryJsonGenerator.cs
  Content.Server/GuideGenerator/ReactionJsonGenerator.cs
  Content.Server/GuideGenerator/UniversalJsonConverter.cs
  Content.Server/SS220/Wiki/Chemistry/EntityEffectWikiEntry.cs
  Content.Server/SS220/Wiki/Chemistry/MixingCategoryWikiEntry.cs
  Content.Server/SS220/Wiki/Chemistry/ReactionWikiEntry.cs
  Content.Server/SS220/Wiki/Chemistry/ReagentEffectsWikiEntry.cs
  Content.Server/SS220/Wiki/Chemistry/ReagentWikiEntry.cs
Labels: Changes: C#

#2044 TajaranNewEmotes+Sounds
  Resources/Audio/SS220/Emotes/Tajaran/annoyed_tajaran_meow.ogg
  Resources/Audio/SS220/Emotes/Tajaran/attribution.yml
  Resources/Audio/SS220/Emotes/Tajaran/tajaran_meow.ogg
  Resources/Locale/ru-RU/ss220/emotes.ftl
  Resources/Prototypes/SS220/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/SS220/SoundCollections/emotes.yml
  Resources/Prototypes/SS220/Voice/speech_emote_sounds.yml
  Resources/Prototypes/SS220/Voice/speech_emotes.yml
Labels: Changes: Localization, Changes: Prototypes

#2836 Прямая связь с Великой Хонк-Матерью
  Resources/Locale/ru-RU/ss220/ClownUplink/BananaUplinkClown.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/SS220/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/SS220/Entities/Objects/Fun/clownuplink.yml
Labels: Changes: Localization, Changes: Prototypes

#3159 Cult hotfix 11
  Content.Client/SS220/ChameleonStructure/ChameleonStructureSystem.cs
  Content.Client/SS220/ChameleonStructure/UI/ChameleonStructureBoundUserInterface.cs
  Content.Server/SS220/ChameleonStructure/ChameleonStructureSystem.cs
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Server/SS220/CultYogg/MiGo/MiGoSystem.cs
  Content.Server/SS220/CultYogg/Pond/CultPondComponent.cs
  Content.Server/SS220/CultYogg/Pond/CultPondSystem.cs
  Content.Server/SS220/GameTicking/Rules/Components/CultYoggRuleComponent.cs
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
  Content.Server/SS220/Telepathy/TelepathySystem.cs
  Content.Shared/SS220/ChameleonStructure/ChameleonStructureComponent.cs
  Content.Shared/SS220/ChameleonStructure/SharedChameleonStructureSystem.cs
  Content.Shared/SS220/CultYogg/Altar/CultYoggAltarComponent.cs
  Content.Shared/SS220/CultYogg/Cultists/CultYoggComponent.cs
  Content.Shared/SS220/CultYogg/MiGo/MiGoComponent.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Content.Shared/SS220/StuckOnEquip/SharedStuckOnEquipSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Locale/ru-RU/ss220/game-ticking/game-presets/preset-cult.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/pond.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#3166 REMOVE: Prevent Writing for Mime
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: Changes: Prototypes

#3136 Заколдованный белый пиксель который забыли убрать.
  Resources/Textures/Clothing/Uniforms/Jumpsuit/cmo_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/cmo_corp.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/salvage_specialist_experditor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/security_tacuniform.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/syndicate_tacticool.rsi/equipped-INNERCLOTHING.png
Labels: Changes: Sprites

#3176 Cult hotfix 12
  Content.Server/SS220/CultYogg/MiGo/CultYoggHealSystem.cs
  Content.Server/SS220/EntityEffects/EntityEffectSystem.SS220.CultYogg.cs
  Content.Server/SS220/EntityEffects/EntityEffectSystem.SS220.cs
  Content.Shared/SS220/EntityEffects/Effects/ChemMiGomyceliumEffect.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_buildings.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/hidden_description.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Reagents/cultYogg.yml
  Resources/Prototypes/SS220/game_presets.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#3150 Lim revive reagent
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/SS220/ChemicalAdaptation/ChemicalAdaptationSystem.cs
  Content.Server/SS220/EntityEffects/EntityEffectSystem.SS220.ChemicalAdaptation.cs
  Content.Server/SS220/EntityEffects/EntityEffectSystem.SS220.cs
  Content.Server/SS220/LimitationRevive/LimitationReviveSystem.cs
  Content.Shared/SS220/ChemicalAdaptation/ChemicalAdaptationComponent.cs
  Content.Shared/SS220/ChemicalAdaptation/SharedChemicalAdaptationSystem.cs
  Content.Shared/SS220/EntityEffects/Effects/BrainDamageTimerChange.cs
  Content.Shared/SS220/EntityEffects/Effects/ChemicalAdaptationEffect.cs
  Content.Shared/SS220/LimitationRevive/SharedLimitationReviveSystem.cs
  Resources/Locale/ru-RU/ss220/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/medicine.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/SS220/Reagents/medicine.yml
  Resources/Prototypes/SS220/Recipes/Reactions/medicine.yml
  Resources/Prototypes/SS220/status_effects.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#
