Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-08, with the labels that each got.

#3167 ADD: Editable title for War Declarator
  Content.Server/NukeOps/WarDeclaratorComponent.cs
Labels: Changes: C#

#3152 ADD: Electricity Armor for Uplink
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/SS220/StaminaConvertArmor/StaminaConvertArmorComponent.cs
  Content.Shared/SS220/StaminaConvertArmor/StaminaConvertArmorEvents.cs
  Content.Shared/SS220/StaminaConvertArmor/StaminaConvertArmorSystem.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/misc.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#3185 Fix HandheldRadio
  Content.Shared/SS220/Language/Components/LanguageComponent.cs
  Content.Shared/SS220/Language/Systems/SharedLanguageSystem.Sanitizer.cs
  Content.Shared/SS220/Language/Systems/SharedLanguageSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/radio.yml
Labels: Changes: Prototypes, Changes: C#

#3200 REMOVE: Duplicate sound when dumping trash
  Content.Shared/Disposal/Unit/SharedDisposalUnitSystem.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
Labels: Changes: C#

#3201 Phalanximine tweaks
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: Prototypes

#3199 Bandana fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/head/bandanas.ftl
Labels: Changes: Localization

#3211 бафф мелок в 2 раза
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
Labels: Changes: Prototypes, Changes: C#

#3204 Forcefield & navinfo optimization
  Content.Client/SS220/Forcefield/ForcefieldOverlay.cs
  Content.Client/SS220/Forcefield/Systems/ForcefieldOverlaySystem.cs
  Content.Client/SS220/Shuttles/UI/ShuttleNavInfoSystem.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/SS220/Forcefield/Systems/ForcefieldSystem.cs
  Content.Server/SS220/Shuttles/UI/ShuttleNavInfoSystem.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/SS220/Forcefield/Shapes/ForcefieldCircle.cs
  Content.Shared/SS220/Forcefield/Shapes/ForcefieldEllipse.cs
  Content.Shared/SS220/Forcefield/Shapes/ForcefieldParabola.cs
  Content.Shared/SS220/Forcefield/Shapes/IForcefieldFigure.cs
  Resources/Prototypes/SS220/Entities/Structures/Machines/forcefield.yml
Labels: Changes: UI, Changes: Prototypes, Changes: C#

#3186 Fix midround events?
  Resources/Prototypes/GameRules/cargo_gifts.yml
Labels: Changes: Prototypes

#3217 FIX: AI inside Disposal Unit
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: Changes: Prototypes

#3183 Bio chemistry for resomi
  Resources/Textures/SS220/Clothing/OuterClothing/Bio/chemistry.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/SS220/Clothing/OuterClothing/Bio/chemistry.rsi/meta.json
Labels: Changes: Sprites

#3219 TWEAK: Cryo Code Optimization
  Content.Server/SS220/TeleportAFKtoCryoSystem/TeleportAFKtoCryoSystem.cs
  Content.Shared/SS220/TeleportAFKtoCryoSystem/TeleportAFKtoCryoEvents.cs
Labels: Changes: C#

#3208 Fix SS220 Directional Uranium Window
  Resources/Prototypes/SS220/Entities/Structures/directionalwindows.yml
Labels: Changes: Prototypes

#3223 Реворк спавна пауков слуг
  Content.Server/SS220/SpiderQueen/Systems/SpiderEggSystem.cs
  Resources/Locale/ru-RU/ss220/misc/spider-eggs.ftl
  Resources/Prototypes/SS220/Entities/Objects/Misc/spider_eggs.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#3227 Прочная паутина останавливает кровотек и пытается вернуть кровь в норму
  Content.Client/SS220/Bloodstream/Systems/BloodstreamExtensionSystem.cs
  Content.Server/SS220/HealOnCollide/BloodstreamExtensionSystem.cs
  Content.Shared/Damage/Components/DamageContactsComponent.cs
  Content.Shared/Damage/Components/DamagedByContactComponent.cs
  Content.Shared/Damage/Systems/DamageContactsSystem.cs
  Content.Shared/SS220/HealOnCollide/Systems/SharedBlodstreamSystem.cs
  Resources/Prototypes/SS220/Entities/Objects/Misc/spider_web.yml
Labels: Changes: Prototypes, Changes: C#

#3240 Added the ability to unzip the paramedic's windbreaker.
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpsuit/paramedic_interdyne.rsi/icon.png
Labels: Changes: Sprites, Changes: Prototypes

#3202 blueshield-whitelist-storage-fix
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
Labels: Changes: Prototypes

#3146 Minor changes
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Roles/Jobs/Syndicate/syndicate.yml
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/bomb.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/bomb_unshaded.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/broken.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/fragile.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/icon.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/locked.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/postmark.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/priority.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/priority_inactive.png
  Resources/Textures/SS220/Objects/Specific/Cargo/mail_large.rsi/trash.png
Labels: Changes: Sprites, Changes: Prototypes

#3226 Animalistic languages fix
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/pets.yml
Labels: Changes: Prototypes

#3237 ADD: Station Map to trinkets in loadout
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/trinkets.yml
Labels: Changes: Prototypes

#3221 Add Mob Passive Collision
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/spider_queen.yml
  Resources/Prototypes/SS220/Entities/Mobs/base.yml
Labels: Changes: Prototypes

#3246 Airlocks_visual_fix
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: Changes: Prototypes

#3239 cleanup reagent effects
  Content.Shared/SS220/EntityEffects/Effects/BrainDamageTimerChange.cs
  Content.Shared/SS220/EntityEffects/Effects/ChemElixirOfLiberationEffect.cs
  Content.Shared/SS220/EntityEffects/Effects/ChemMiGomyceliumEffect.cs
  Content.Shared/SS220/EntityEffects/Effects/ChemicalAdaptationEffect.cs
  Content.Shared/SS220/EntityEffects/Effects/RemoveHallucinationsEffect.cs
  Content.Shared/SS220/EntityEffects/Effects/SaintWaterDrinkEffect.cs
  Resources/Locale/en-US/ss220/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/core.ftl
  Resources/Locale/ru-RU/ss220/guidebook/chemistry/effects.ftl
  Resources/Locale/ru-RU/ss220/reagents/meta/medicine.ftl
Labels: Changes: Localization, Changes: C#

#3261 ADD: Shutdown Nearest APC for Uplink
  Content.Server/SS220/ShutdownNearestApc/ShutdownNearestApcSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/StoreDiscount/Systems/StoreDiscountSystem.cs
  Content.Shared/SS220/ShutdownNearestApc/ShutdownNearestApcEvents.cs
  Content.Shared/SS220/Store/Listing/ListingEvents.cs
  Content.Shared/Store/ListingPrototype.cs
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#3242 МЕДВЕД
  Resources/Locale/ru-RU/ss220/entities/markers/spawners/rrranta_spawner.ftl
  Resources/Locale/ru-RU/ss220/entities/markers/spawners/space_spawner.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/mobs/npcs/space.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/space.yml
Labels: Changes: Localization, Changes: Prototypes

#3279 Logs copy and filter addition
  Content.Client/Administration/UI/CustomControls/AdminLogLabel.cs
  Content.Client/Administration/UI/Logs/AdminLogsControl.SS220.xaml.cs
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Content.Client/SS220/UserInterface/Utility/ConfirmableButton.cs
  Resources/Locale/en-US/ss220/administration/ui/admin-logs.ftl
Labels: Changes: UI, Changes: Localization, Changes: C#

#3287 Show player login ban fix
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Database/ServerBanDef.cs
Labels: Changes: C#

#3303 Fixed ingestion popup
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.Utensils.cs
Labels: Changes: C#

#3302 Addition to the description of NanoTrasen altar theft target
  Resources/Locale/ru-RU/objectives/conditions/steal-target-groups.ftl
Labels: Changes: Localization, Changes: Prototypes

#3299 Adding smartness to a swat and a blue shield gas mask
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/SS220/Entities/Clothing/Masks/masks.yml
Labels: Changes: Prototypes

#3298 Adding a pirate accent to a pirate tricord and coat
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
Labels: Changes: Prototypes
