Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-10, with the labels that each got.

#3410 [add] detective holster for administrators
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/detective.yml
Labels: Changes: Prototypes

#3364 Santa Suit Resprite
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/santa.rsi/equipped-OUTERCLOTHING-resomi.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/santa.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/santa.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/santa.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/santa.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/santa.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/santa.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#3417 Добавление стетоскопа всем врачам в лодаут
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
Labels: Changes: Prototypes

#3395 Changes Space Law in the Guidebook
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/SS220/Guidebook/Security/1xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/2xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/3xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/4xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/5xx.xml
  Resources/ServerInfo/SS220/Guidebook/Security/ArticleDirectory.xml
  Resources/ServerInfo/SS220/Guidebook/Security/LethalForce.xml
  Resources/ServerInfo/SS220/Guidebook/Security/Modificator.xml
  Resources/ServerInfo/SS220/Guidebook/Security/SpaceLaw.xml
Labels: Changes: Prototypes

#3419 Добавление возможности убить себя с помощью синди багета
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baguette.yml
Labels: Changes: Prototypes

#3425 Fix post job bans
  Content.Server/SS220/Discord/DiscordBanPostManager.cs
Labels: Changes: C#

#3203 A mannequin with limbs
  Resources/Locale/ru-RU/ss220/prototypes/body/parts/mannequin.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/decoration/mannequin.ftl
  Resources/Prototypes/Entities/Structures/Decoration/mannequin.yml
  Resources/Prototypes/SS220/Body/Parts/mannequin.yml
  Resources/Prototypes/SS220/Body/Prototypes/mannequin.yml
  Resources/Prototypes/SS220/Entities/Structures/Decorations/mannequin.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/furniture/mannequin.yml
  Resources/Prototypes/SS220/Recipes/Construction/furniture.yml
  Resources/Textures/SS220/Structures/Decorations/mannequin-limbs.rsi/mannequin-torso.png
  Resources/Textures/SS220/Structures/Decorations/mannequin-limbs.rsi/mannequin.png
  Resources/Textures/SS220/Structures/Decorations/mannequin-limbs.rsi/meta.json
  Resources/Textures/SS220/Structures/Decorations/mannequin.rsi/mannequin.png
  Resources/Textures/SS220/Structures/Decorations/mannequin.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#3405 [TWEAK] Minor fauna TTK resistance tweaks
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
Labels: Changes: Prototypes

#3430 TTS Request Clear Button And noSpam client console about audioTTS
  .github/workflows/publish.yml
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/SS220/TTS/TTSSystem.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Resources/clientCommandPerms.yml
Labels: Changes: UI, Changes: C#

#3394 TWEAK: Narcotic Event for Future
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/SS220/Narcotics/NarcoticsTest/NarcoticsTestComponent.cs
  Content.Server/SS220/Narcotics/NarcoticsTest/NarcoticsTestSystem.cs
  Content.Server/SS220/RecentlyUsedNarcotics/RecentlyUsedNarcoticsSystem.cs
  Content.Shared/SS220/Narcotics/NarcoticsEvent.cs
  Content.Shared/SS220/Narcotics/NarcoticsTest/NarcoticsTestEvents.cs
Labels: Changes: C#
