Repository SerbiaStrong-220/space-station-14, pull requests merged in 2025-03, with the labels that each got.

#2636 ADD: PDA and ID card painter
  Content.Client/SS220/PdaIdPainter/PdaIdPainter.xaml
  Content.Client/SS220/PdaIdPainter/PdaIdPainter.xaml.cs
  Content.Client/SS220/PdaIdPainter/PdaIdPainterBoundUserInterface.cs
  Content.Client/SS220/PdaIdPainter/PdaIdPainterSystem.cs
  Content.Server/SS220/PdaIdPainter/PdaIdPainterSystem.cs
  Content.Shared/SS220/PdaIdPainter/PdaIdPainterComponent.cs
  Content.Shared/SS220/PdaIdPainter/PdaIdPainterEvents.cs
  Content.Shared/SS220/PdaIdPainter/PdaIdPainterTargetComponent.cs
  Content.Shared/SS220/PdaIdPainter/SharedPdaIdPainterSystem.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/misk/identification_cards.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/machines/pda_id_painter.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/SS220/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/SS220/Entities/Structures/Machines/computers.yml
  Resources/Prototypes/SS220/Recipes/Lathes/electronics.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/ussp/new_Items_sssp.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Structures/Machines/pda_id_painter.rsi/default.png
  Resources/Textures/SS220/Structures/Machines/pda_id_painter.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/pda_id_painter.rsi/off.png
  Resources/Textures/SS220/Structures/Machines/pda_id_painter.rsi/on.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization, Changes: Prototypes, Changes: C#

#2648 Warden Skirt Fix
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/warden.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/warden.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/warden.rsi/icon.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/warden.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/warden.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Uniforms/Jumpskirt/warden.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2596 Smart gas mask
  Content.Client/SS220/SmartGasMask/SmartGasMaskBoundUserInterface.cs
  Content.Client/SS220/SmartGasMask/SmartGasMaskMenu.xaml
  Content.Client/SS220/SmartGasMask/SmartGasMaskMenu.xaml.cs
  Content.Server/SS220/SmartGasMask/SmartGasMaskSystem.cs
  Content.Shared/SS220/SmartGasMask/Events/SmartGasMaskEvents.cs
  Content.Shared/SS220/SmartGasMask/Prototype/AlertSmartGasMaskPrototype.cs
  Content.Shared/SS220/SmartGasMask/SmartGasMaskComponent.cs
  Resources/Audio/SS220/Items/SmartGasMask/attributions.yml
  Resources/Audio/SS220/Items/SmartGasMask/sound_voice_complionator_halt.ogg
  Resources/Locale/ru-RU/ss220/prototypes/entities/clothing/mask/smart_gas_mask.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/SS220/Actions/smart_gas_mask.yml
  Resources/Prototypes/SS220/Entities/Clothing/Masks/AlertSmartGasMask.yml
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Changes: C#

#2642 ADD: Briefcase with double bottom to Uplink
  Content.Shared/SS220/ToggleableItemSlot/ToggleableItemSlotComponent.cs
  Content.Shared/SS220/ToggleableItemSlot/ToggleableItemSlotSystem.cs
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/items/briefcases.ftl
  Resources/Locale/ru-RU/ss220/store/uplink-catalog.ftl
  Resources/Prototypes/SS220/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2652 UI fix pick
  Content.Client/PDA/PdaBoundUserInterface.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageWindow.cs
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Changes: C#

#2653 log tweaks&fix
  Content.Client/SS220/SuperMatter/Emitter/Ui/SuperMatterEmitterExtensionMenu.xaml.cs
  Content.Server/Administration/UI/AdminAnnounceEui.cs
  Content.Server/Fax/AdminUI/AdminFaxEui.cs
  Content.Server/SS220/SuperMatter/Crystal/SuperMatterSystem.Database.cs
  Content.Server/SS220/SuperMatter/Crystal/SuperMatterSystem.Delamination.cs
  Content.Server/SS220/SuperMatter/Crystal/SuperMatterSystem.EventHandlers.cs
  Content.Server/SS220/SuperMatter/Crystal/SuperMatterSystem.cs
  Resources/Prototypes/SS220/Entities/Structures/Power/Generation/Supermatter/crystal.yml
Labels: Changes: UI, Changes: Prototypes, Changes: C#

#2656 BlueShield Minor Fix
  Resources/Locale/ru-RU/ss220/clothing/Back/backpacks.ftl
  Resources/Locale/ru-RU/ss220/clothing/Belt/belts.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/gun/battery.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/SS220/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/SS220/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Ammunition/powercells.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/SS220/Recipes/Lathes/powercells.yml
  Resources/Prototypes/SS220/tags.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/blueshield_light.rsi/icon-flash.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2657 Free Syndicate scarves
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Prototypes

#2661 Adrenaline
  Resources/Prototypes/SS220/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: Prototypes

#2662 SeniorService Job Icons Tweak
  Resources/Textures/Interface/Misc/job_icons.rsi/SeniorService.png
Labels: Changes: Sprites

#2663 BukhloMat Resprite
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/SS220/Structures/Machines/VendingMachines/bruiseomat.rsi/broken.png
  Resources/Textures/SS220/Structures/Machines/VendingMachines/bruiseomat.rsi/deny-unshaded.png
  Resources/Textures/SS220/Structures/Machines/VendingMachines/bruiseomat.rsi/meta.json
  Resources/Textures/SS220/Structures/Machines/VendingMachines/bruiseomat.rsi/normal-unshaded.png
  Resources/Textures/SS220/Structures/Machines/VendingMachines/bruiseomat.rsi/off.png
  Resources/Textures/SS220/Structures/Machines/VendingMachines/bruiseomat.rsi/panel.png
Labels: Changes: Sprites, Changes: Prototypes

#2669 m-90gl in two hands
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/wielded-inhand-right.png
Labels: Changes: Sprites

#2666 modular-granate-sprite-fix
  Resources/Textures/Objects/Weapons/Grenades/modular.rsi/no-trigger.png
Labels: Changes: Sprites

#2667 Add centcom hardsuit
  Resources/Locale/ru-RU/ss220/clothing/Head/hardsuits.ftl
  Resources/Locale/ru-RU/ss220/clothing/OuterClothing/hardsuits.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/SS220/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/centcom.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/centcom.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/centcom.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/centcom.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/centcom.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/centcom.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/centcom.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/centcom.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/centcom.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/centcom.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/centcom.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/centcom.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/centcom.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2668 Paper Airplane
  Resources/Locale/ru-RU/ss220/prototypes/entities/misc/paper.ftl
  Resources/Prototypes/SS220/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/SS220/Recipes/Construction/Graphs/misc/paper.yml
  Resources/Prototypes/SS220/Recipes/Construction/Misc/paper.yml
Labels: Changes: Localization, Changes: Prototypes

#2658 Law Department Sprite Update 1
  Resources/Locale/ru-RU/ss220/clothing/Head/hats.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/iaa.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/magistrate.yml
  Resources/Prototypes/SS220/Loadouts/loadout_groups.yml
  Resources/Textures/SS220/Clothing/Head/Hats/beret_iaa.rsi/equipped-HELMET-hamster.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_iaa.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_iaa.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_iaa.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_iaa.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/beret_iaa.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/streetjudge.rsi/equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hats/streetjudge.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hats/streetjudge.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Head/Hats/streetjudge.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Head/Hats/streetjudge.rsi/meta.json
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/judge.rsi/equipped-OUTERCLOTHING-rezomi.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/judge.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/judge.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/judge.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/judge.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/judge.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/OuterClothing/Misc/judge.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2646 agent uplink raid armor be-gone
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Changes: Prototypes

#2659 Uplink discounts
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/ChemicalImplants/uplink.yml
Labels: Changes: Prototypes

#2137 [DNM] Survivability buff for mid-round antags
  Content.Shared/SS220/DarkReaper/DarkReaperComponent.cs
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
Labels: Changes: Prototypes, Need to be discussed, Changes: C#

#2481 Midround antag time req
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/SS220/DemonRofler/rune.yml
Labels: Changes: Prototypes

#2671 The implants are in new crates
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/storage/crates/crates.ftl
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/SS220/Entities/Structures/Storage/Crates/crates.yml
Labels: Changes: Localization, Changes: Prototypes

#2673 FakeMindShield fix
  Content.Server/Implants/ImplanterSystem.cs
Labels: Changes: C#

#2681 Brown Shoes
  Resources/Locale/ru-RU/ss220/clothing/Shoes/boots.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Shoes/color.yml
  Resources/Prototypes/SS220/Entities/Clothing/Shoes/boots.yml
Labels: Changes: Localization, Changes: Prototypes

#2676 Flower Head To Neck
  Resources/Prototypes/SS220/Entities/Clothing/Head/hats.yml
  Resources/Textures/SS220/Clothing/Head/Hats/sflowerhead.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Head/Hats/sflowerhead.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hats/wsflowerhead.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Head/Hats/wsflowerhead.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2677 Unlocked role time loadout things for roles
  Content.Server/SS220/TTS/TTSManager.cs
  Content.Shared/Preferences/Loadouts/Effects/GroupLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/Effects/LoadoutEffectGroupPrototype.cs
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Content.Shared/SS220/Discord/SponsorTier.cs
  Resources/Locale/ru-RU/ss220/loadout-effects/group-loadout-effects.ftl
  Resources/Prototypes/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/Miscellaneous/glasses.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/botanist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/clown.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/bluehsield.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Command/head_of_personal.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/iaa.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/InternalAffairs/magistrate.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/brigmedic.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Medical/psychologist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/research_assistant.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_cadet.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/SS220/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/SS220/Loadouts/Miscellaneous/instruments.yml
  Resources/Prototypes/SS220/Loadouts/sponsor_tier_requirements.yml
  Resources/Prototypes/SS220/RewardGroups/RewardGroups.yml
Labels: Changes: Localization, Changes: Prototypes, Changes: C#

#2686 Карта перемещения для обезьян
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/SS220/Mobs/Displacement/Animals/monkey.rsi/inHand.png
  Resources/Textures/SS220/Mobs/Displacement/Animals/monkey.rsi/jumpsuit.png
  Resources/Textures/SS220/Mobs/Displacement/Animals/monkey.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2690 AirlockFix
  Resources/Locale/ru-RU/ss220/door.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/devices/electronics/door_access.ftl
  Resources/Prototypes/SS220/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/SS220/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/SS220/Entities/Structures/doors.yml
Labels: Changes: Localization, Changes: Prototypes

#2650 Upp machine gun
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Changes: Prototypes

#2693 NukeOpsUplink
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
Labels: Changes: Prototypes

#2703 Исправлена максимальная длина имени персонажа
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
Labels: Changes: C#

#2707 Fix Monkey Displacement
  Resources/Textures/SS220/Mobs/Displacement/Animals/monkey.rsi/inHand.png
  Resources/Textures/SS220/Mobs/Displacement/Animals/monkey.rsi/jumpsuit.png
  Resources/Textures/SS220/Mobs/Displacement/Animals/monkey.rsi/meta.json
Labels: Changes: Sprites

#2698 kitten in hands
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: Prototypes

#2708 Shelf Rotation Fix
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/shelfs.yml
Labels: Changes: Prototypes

#2711 Мусорное ведро
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/storage/trash_bin.ftl
  Resources/Prototypes/SS220/Entities/Structures/Storage/trash_bin.yml
  Resources/Textures/SS220/Structures/Storage/trash_bin.rsi/base.png
  Resources/Textures/SS220/Structures/Storage/trash_bin.rsi/closed.png
  Resources/Textures/SS220/Structures/Storage/trash_bin.rsi/empty.png
  Resources/Textures/SS220/Structures/Storage/trash_bin.rsi/filled.png
  Resources/Textures/SS220/Structures/Storage/trash_bin.rsi/full.png
  Resources/Textures/SS220/Structures/Storage/trash_bin.rsi/icon.png
  Resources/Textures/SS220/Structures/Storage/trash_bin.rsi/meta.json
  Resources/Textures/SS220/Structures/Storage/trash_bin.rsi/open.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2712 GunSafe-View-Paper-Fix
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Changes: Prototypes

#2699 ERT human
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: Changes: Prototypes

#2715 Обновление звуков плюшевых игрушек (#2713)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: Prototypes

#2688 Micro_fibers
  Content.Client/Forensics/ForensicScannerMenu.xaml.cs
  Content.Server/Forensics/Components/ForensicScannerComponent.cs
  Content.Server/Forensics/Components/ForensicsComponent.cs
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/SS220/Forensics/Components/MicroFiberComponent.cs
  Content.Shared/Forensics/ForensicScannerEvent.cs
  Resources/Locale/en-US/ss220/forensics/forensics.ftl
  Resources/Locale/en-US/ss220/forensics/micro-fibers.ftl
  Resources/Locale/ru-RU/ss220/forensics/forensics.ftl
  Resources/Locale/ru-RU/ss220/forensics/micro-fibers.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
Labels: Changes: UI, Changes: Localization, Changes: Prototypes, Changes: C#

#2709 Scythe inhand right sprite
  Resources/Textures/Objects/Tools/Hydroponics/scythe.rsi/inhand-right.png
Labels: Changes: Sprites, Changes: Prototypes

#2717 Mentor Cloak
  Resources/Locale/ru-RU/ss220/clothing/Neck/cloaks.ftl
  Resources/Prototypes/SS220/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/Neck/cloaks.yml
  Resources/Prototypes/SS220/Entities/Clothing/Sponsor/base.yml
  Resources/Prototypes/SS220/Loadouts/sponsor_loadout_group.yml
  Resources/Prototypes/SS220/Loadouts/sponsor_loadouts.yml
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/mentor.rsi/equipped-NECK.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/mentor.rsi/icon.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/mentor.rsi/icon_other-shoulder.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/mentor.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/mentor.rsi/inhand-right.png
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/mentor.rsi/meta.json
  Resources/Textures/SS220/Clothing/Sponsor/Neck/Cloak/mentor.rsi/other-shoulder-equipped-NECK.png
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes

#2722 Languages tweaks
  Resources/Locale/ru-RU/ss220/language/language-name.ftl
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/SS220/Entities/Mobs/Cyborgs/borg_chassis_clown_mime.yml
  Resources/Prototypes/SS220/Language/language.yml
  Resources/Prototypes/SS220/Mobs/PetParrots.yml
Labels: Changes: Localization, Changes: Prototypes

#2723 Language hotfixes
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Chat/Managers/IChatSanitizationManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/SS220/Language/LanguageSystem.cs
  Content.Server/SS220/TTS/TTSSystem.cs
Labels: Changes: C#

#2564 Bingus Lowercase Fix
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/pets.ftl
Labels: Changes: Localization

#2726 Combat Med Fix
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: Prototypes

#2727 Цолор инцидент fix
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/SS220/Language/LanguageSystem.cs
Labels: Changes: C#

#2731 Добавлен общегалактический язык ботам
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/vehicle_npcs.yml
Labels: Changes: Prototypes

#2198 Goal_action
  Content.Server/SS220/Shout/ShoutSystem.cs
  Content.Shared/SS220/Shout/ShoutEvent.cs
  Resources/Audio/SS220/Voice/Goal/attributions.yml
  Resources/Audio/SS220/Voice/Goal/wycc_goal1.ogg
  Resources/Audio/SS220/Voice/Goal/wycc_goal2.ogg
  Resources/Audio/SS220/Voice/Goal/wycc_goal3.ogg
  Resources/Locale/ru-RU/ss220/datasets/goal.ftl
  Resources/Locale/ru-RU/ss220/prototypes/actions/types.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/SS220/Actions/types.yml
  Resources/Prototypes/SS220/Datasets/goal.yml
  Resources/Prototypes/SS220/SoundCollections/emotes.yml
  Resources/Textures/SS220/Interface/Actions/actions_meme.rsi/goal.png
  Resources/Textures/SS220/Interface/Actions/actions_meme.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, Changes: Prototypes, Need to be discussed, Changes: C#

#2733 NukeOutpost | Fix
  Resources/Maps/SS220/ss220-nukeoutpost.yml
Labels: Changes: Map

#2732 CombatMedfix2
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: Prototypes

#2742 Admin Test Arena Update
  Content.Server/Administration/Systems/AdminTestArenaSystem.cs
  Resources/Maps/SS220/Test/ATAM.yml
Labels: Changes: Map, Changes: C#

#2744 Sound_fix
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Server/SS220/Shout/ShoutSystem.cs
Labels: Changes: C#

#2737 Cooking Event
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/SS220/EventMaps/CookingEventMap.yml
  Resources/Prototypes/SS220/Maps/cooking_event.yml
  Resources/Prototypes/SS220/Shitspawn/CookingEvent/CookingEventStorages.yml
  Resources/Prototypes/game_presets.yml
Labels: Changes: Map, Changes: Prototypes, Changes: C#

#2724 Lang tweaks and fixes
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/pets.yml
Labels: Changes: Prototypes

#2599 Watches on Gloves
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/wristwatch.ftl
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/SS220/Entities/Clothing/Hand/watches.yml
  Resources/Prototypes/SS220/tags.yml
Labels: Changes: Localization, Changes: Prototypes

#2745 Translation
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/crates/cargo.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/ss220/prototypes/catalog/fills/crates/shuttle.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/consumable/drinks/drinks_cans.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/misc/improvised_gun_parts.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/power/lights.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/specific/security/evidence_marker.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/weapons/guns/ammunition/boxes/shotgun.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/power/generation/solar.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/power/smes.ftl
  Resources/Locale/ru-RU/ss220/prototypes/entities/structures/storage/closets/base_structureclosets.ftl
  Resources/Locale/ru-RU/ss220/tiles/tiles.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: Changes: Localization, Changes: Prototypes

#2741 Обновление метательного вооружения
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baguette.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/borgFireaxe.yml
  Resources/Prototypes/SS220/Entities/Objects/Weapons/Melee/sword.yml
Labels: Changes: Prototypes

#2740 TaipanHardsuit
  Resources/Prototypes/SS220/Shitspawn/Taipan/hardsuits_base.yml
  Resources/Prototypes/SS220/Shitspawn/Taipan/hardsuits_base_helmet.yml
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tnthelmet.rsi/icon-flash.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tnthelmet.rsi/icon.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tnthelmet.rsi/meta.json
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tnthelmet.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tnthelmet.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tsyndhelmet.rsi/icon-flash.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tsyndhelmet.rsi/icon.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tsyndhelmet.rsi/meta.json
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tsyndhelmet.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/Head/Hardsuits/tsyndhelmet.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tnt.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tnt.rsi/icon.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tnt.rsi/inhand-left.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tnt.rsi/inhand-right.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tnt.rsi/meta.json
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tsynd.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tsynd.rsi/icon.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tsynd.rsi/inhand-left.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tsynd.rsi/inhand-right.png
  Resources/Textures/SS220/Shitspawn/Taipan/Clothing/OuterClothing/Hardsuits/tsynd.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2747 Cult_hotfix_6
  Content.Server/SS220/CultYogg/BurglarBug/BurglarBugComponent.cs
  Content.Server/SS220/CultYogg/BurglarBug/BurglarBugServerSystem.cs
  Content.Shared/SS220/CultYogg/Cultists/CultYoggPurifiedComponent.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/strangeFruit.yml
Labels: Changes: Prototypes, Changes: C#

#2749 Новый лобби арт
  Resources/Prototypes/SS220/lobbyscreens.yml
  Resources/Textures/SS220/LobbyScreens/YouNoYou.png
  Resources/Textures/SS220/LobbyScreens/YouNoYou.png.yml
  Resources/Textures/SS220/LobbyScreens/attributions.yml
Labels: Changes: Prototypes

#2750 Langs tweaks 3
  Resources/Prototypes/SS220/AutoPetGhostRole/ghost_role_pets.yml
  Resources/Prototypes/SS220/Mobs/PetParrots.yml
  Resources/Prototypes/SS220/Mobs/SecurityKangaroo.yml
Labels: Changes: Prototypes

#2759 Clean & Med Bot Resprite
  Resources/Prototypes/Entities/Markers/Spawners/bots.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Textures/SS220/Mobs/Silicon/Bots/cleanbot.rsi/cleanbot.png
  Resources/Textures/SS220/Mobs/Silicon/Bots/cleanbot.rsi/meta.json
  Resources/Textures/SS220/Mobs/Silicon/Bots/medibot.rsi/medibot.png
  Resources/Textures/SS220/Mobs/Silicon/Bots/medibot.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2760 Goliath Hardsuit Repsrite
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/goliathhelm.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/goliathhelm.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/goliathhelm.rsi/meta.json
  Resources/Textures/SS220/Clothing/Head/Hardsuits/goliathhelm.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/goliathhelm.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/goliathhelm.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/goliathhelm.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/goliath.rsi/equipped-OUTERCLOTHING-rezomi.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/goliath.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/goliath.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/goliath.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/goliath.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2738 Clean Up Entities file
  Resources/Prototypes/SS220/Actions/types.yml
  Resources/Prototypes/SS220/Body/Prototypes/felinid.yml
  Resources/Prototypes/SS220/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/SS220/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/SS220/Catalog/uplink_catalog.yml
  Resources/Prototypes/SS220/Entities/AdrenalImplant/adrenalimplant.yml
  Resources/Prototypes/SS220/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/SS220/Entities/DnaCopyImplanter/dnaimplanter.yml
  Resources/Prototypes/SS220/Entities/Effects/Hallucinations/supermatter.yml
  Resources/Prototypes/SS220/Entities/JobSpawners/lawyer.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/Random/clothing.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/Random/pallet.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/Random/puddle.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/antag-markers.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/paramedic-atv.yml
  Resources/Prototypes/SS220/Entities/Markers/Spawners/vehicles.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/centcomm_newpda.yml
  Resources/Prototypes/SS220/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/SS220/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/SS220/Entities/Objects/Sponsor/items.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/instruments.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionGoogles/ThermalVisionProto.yml
  Resources/Prototypes/SS220/Entities/ThermalVisionImplant/ThermalVisionAction.yml
  Resources/Prototypes/SS220/Entities/markers/Spawners/jobs.yml
  Resources/Prototypes/SS220/Entities/pilot_goal.yml
  Resources/Prototypes/SS220/Shitspawn/Debugging/access_configurator_debug.yml
  Resources/Prototypes/SS220/Shitspawn/Debugging/debugKnife.yml
  Resources/Prototypes/SS220/Shitspawn/Debugging/debugTargets.yml
  Resources/Prototypes/SS220/Shitspawn/Debugging/id_card_debug.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/EventPointCapture/flags.yml
  Resources/Prototypes/SS220/Shitspawn/FractWarEbent/EventPointCapture/postament.yml
  Resources/Textures/SS220/Interface/Actions/implants.rsi/adrenal.png
  Resources/Textures/SS220/Interface/Actions/implants.rsi/dna-copy.png
  Resources/Textures/SS220/Interface/Actions/implants.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/implants.rsi/mindslave_fixer.png
  Resources/Textures/SS220/Interface/Actions/implants_cla.rsi/EyeOFF.png
  Resources/Textures/SS220/Interface/Actions/implants_cla.rsi/EyeON.png
  Resources/Textures/SS220/Interface/Actions/implants_cla.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/Medical/implant-dna-copy.rsi/meta.json
  Resources/Textures/SS220/Objects/Specific/Medical/implants.rsi/meta.json
Labels: Changes: Sprites, Changes: Prototypes

#2758 New defibrillator!
  Content.Server/Medical/DefibrillatorSystem.cs
  Resources/Locale/ru-RU/ss220/prototypes/entities/objects/specific/medical/defib.ftl
Labels: Changes: Localization, Changes: C#

#2761 Add admin action log
  Content.Server/Administration/Commands/AGhostCommand.cs
  Content.Server/GameTicking/Commands/ForceMapCommand.cs
  Content.Shared.Database/LogType.cs
Labels: Changes: C#
